{% extends '@Twig/Exception/error.html.twig' %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ 'luna.ui.front.error.410.title'|trans }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}

    {% set title = 'luna.ui.front.error.410.title'|trans %}
    {% set description = 'luna.ui.front.error.410.event.text'|trans %}
    {% set button_label = 'Retour au programme' %}
    {% set button_url = path('luna_page_show', { slug: under_pages_slug_by_code('events') }) %}

    {{ parent() }}

{% endblock %}