{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ 'luna.ui.front.error.default.title'|trans }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}

    {% if title is not defined %}
        {% set title = 'luna.ui.front.error.default.title'|trans %}
    {% endif %}
    {% if description is not defined %}
        {% set description = 'luna.ui.front.error.default.text'|trans %}
    {% endif %}
    {% if button_label is not defined %}
        {% set button_label = 'luna.ui.front.error.default.cta'|trans %}
    {% endif %}
    {% if button_url is not defined %}
        {% set button_url = path('sylius_shop_homepage') %}
    {% endif %}

    {# ***********************************************
    ** BANNER
    ************************************************** #}

    {% block banner %}

        <div class="l-main__head">
            {% include ui('banner') with {
                notched: true,
                title: title,
            } only %}
        </div>

    {% endblock %}


    {# ***********************************************
    ** MESSAGE
    ************************************************** #}

    {% block message %}
        <div class="l-main__body">
            <div class="l-stack">
                <div class="l-stack__item">
                    <div class="l-container l-container--xlarge">
                        <div class="l-container l-container--small l-container--right">

                            <div class="l-stack__element s-richtext">
                                <h2>Reprenez votre navigation</h2>
                                <p>{{ description }}</p>
                            </div>

                            <div class="l-stack__element">
                                {% include ui('button') with {
                                    icon: 'arrow-right',
                                    label: button_label,
                                    attributes: {
                                        href: button_url
                                    }
                                } only %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endblock %}
