{% extends '@Twig/Exception/error.html.twig' %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ 'luna.ui.front.error.500.title'|trans }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}

    {% set title = 'luna.ui.front.error.500.title'|trans %}
    {% set description = 'luna.ui.front.error.500.text'|trans %}

    {{ parent() }}

{% endblock %}