<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        {% for locale, translationForm in form.translations %}
            <div class="ui grid" data-locale="{{ locale }}">

                <div class="doubling two column row">
                    <div class="column">
                        {{ form_row(translationForm.titleable.title) }}
                    </div>
                    <div class="column">
                        {{ form_row(translationForm.titleable.slug) }}
                    </div>
                </div>

                <div class="doubling two column row">
                    <div class="column">
                        {{ form_row(translationForm.label) }}
                    </div>
                    <div class="column">
                        {{ form_row(translationForm.labelPlural) }}
                    </div>
                </div>

                <div class="doubling two column row">
                    <div class="column">
                        {{ form_row(translationForm.description) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.icon) }}
                    </div>
                </div>

            </div>
        {% endfor %}

        <h4 class="ui dividing header">Comportement des événements de cette catégorie</h4>

        <div class="ui grid segment">

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.searchDisplayPosition) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.eventAutoEnabled) }}
                </div>
                <div class="column">
                    {{ form_row(form.eventAutoDeletable) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.displayImages) }}
                </div>
                <div class="column">
                    {{ form_row(form.displayOccurrences) }}
                </div>
            </div>

        </div>

    </div>
</div>
