{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: "Programme",
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Programme",
                    href: "#"
                }
            ]
        } only %}



        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        <div class="v-search js-search">
            <div class="l-container l-container--large">
                <form class="v-search__form">



                    {# ***********************************************
                    ** MAIN
                    ************************************************** #}

                    <div class="v-search__main">
                        {% include ui('field') with {
                            id: "search-date",
                            label: "Quand ?",
                            hint: "Sélectionnez une date",
                            hint_inline: true,
                            control: {
                                component: "period",
                                attributes: {
                                    name: "search-date",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "aujourdhui", label: "Aujourd’hui" },
                                        { value: "ce-week-end", label: "Ce week-end" },
                                        { value: "cette-semaine", label: "Cette semaine" },
                                        { value: "date-personnalisee", label: "Date", custom: true }
                                    ],
                                    dates: {
                                        start_value: "",
                                        end_value: ""
                                    }
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-type",
                            label: "Type de rendez-vous",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-type",
                                    value: "tous",
                                    disabled: false,
                                    options: [
                                        { value: "tous", label: "Tous les rendez-vous" },
                                        { value: "expositions", label: "Expositions" },
                                        { value: "rencontres", label: "Rencontres" },
                                        { value: "evenements", label: "Événements" },
                                        { value: "ateliers-4c", label: "Ateliers 4C" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ADDITIONAL
                    ************************************************** #}

                    <div class="v-search__additional" id="search-additional" hidden>
                        {% include ui('field') with {
                            id: "search-rate",
                            label: "Tarif",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-rate",
                                    value: "Aucun filtre",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "gratuit", label: "Gratuit" },
                                        { value: "payant", label: "Payant" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-audience",
                            label: "Public",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-audience",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "tout-public", label: "Tout public" },
                                        { value: "famille", label: "Famille" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-accessibility",
                            label: "Accessibilité",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-accessibility",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "handicap-auditif", label: "Handicap auditif" },
                                        { value: "handicap-visuel", label: "Handicap visuel" },
                                        { value: "handicap-psychique", label: "Handicap psychique" },
                                        { value: "handicap-moteur", label: "Handicap moteur" },
                                        { value: "handicap-intellectuel", label: "Handicap intellectuel" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ACTIONS
                    ************************************************** #}

                    <div class="v-search__actions">
                        {% include ui('button') with {
                            mode: "link",
                            icon: 'chevron-down',
                            label: "Afficher plus de filtres",
                            attributes: {
                                type: "button",
                                class: "v-search__toggle js-search-toggle",
                                "aria-controls": "search-additional",
                                "aria-expanded": "false",
                                "data-expanded-label": "Masquer les filtres",
                                "data-shrank-label": "Afficher plus de filtres"
                            }
                        } only %}
                        {% include ui('button') with {
                            icon: 'zoom',
                            label: "Rechercher",
                            attributes: {
                                type: "submit",
                                class: "v-search__submit"
                            }
                        } only %}
                    </div>



                </form>
            </div>
        </div>



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">



            {# ***********************************************
            ** HIGHLIGHT
            ************************************************** #}

            {# {% if ... %} #}
                <div class="l-stack__item">
                    <div class="l-container l-container--large">
                        {# TODO: uncomment on dynamic page #}
                        {# {% include ui('cta') with {
                            color: element.color,
                            picture: element.image,
                            fullsize: (element.style == "full" ? true : false),
                            label: element.surtitle|default,
                            heading: {
                                title: element.title,
                                level: 2
                            },
                            description: element.content,
                            link: {
                                label: element.button.label,
                                href: element.button.url,
                                target: element.button.target
                            }
                        } only %} #}
                        {# TODO: remove on dynamic page #}
                        {% include ui('cta') with {
                            color: "blue",
                            picture: {
                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                            },
                            fullsize: false,
                            label: false,
                            heading: {
                                title: "Le festival Nos futurs est de retour !",
                                level: 2
                            },
                            description: "Lorem ipsum dolor sit amet consectetur. In felis integer nisl ac nunc. Non elementum sed faucibus eget elit sit. Facilisi porta sed nullam viverra eget leo fames eleifend sed.",
                            link: {
                                label: "Voir la programmation",
                                href: "#"
                            }
                        } only %}
                    </div>
                </div>
            {# {% endif %} #}



            {# ***********************************************
            ** A NE PAS MANQUER
            ************************************************** #}

            {# {% if ... %} #}
                <div class="l-stack__item">
                    <div class="l-container l-container--xlarge">
                        {% include ui('events') with {
                            title: "À ne pas manquer",
                            button: {
                                icon: "arrow-right",
                                label: "Voir toutes les rencontres",
                                attributes: { href: "#" }
                            },
                            items: [
                                {
                                    color: "green",
                                    picture: true,
                                    tag: "Rencontre",
                                    title: {
                                        level: 2,
                                        text: "L’Avenir en tête"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 14h" },
                                        { icon: "pin", text: "Auditorium" }
                                    ],
                                    link: "#"
                                },
                                {
                                    color: "blue",
                                    picture: true,
                                    tag: "Rencontre",
                                    title: {
                                        level: 2,
                                        text: "Dompter la lumière"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 20h30" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                },
                                {
                                    color: "red",
                                    picture: true,
                                    tag: "Rencontre",
                                    title: {
                                        level: 2,
                                        text: "Tisser les liens sociaux"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "20/09/23 à 15h", stroke: true, suffix: "Annulé" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                }
                            ]
                        } only %}
                    </div>
                </div>
            {# {% endif %} #}



            {# ***********************************************
            ** EXPOS DU MOMENT
            ************************************************** #}

            {# {% if ... %} #}
                <div class="l-stack__item">
                    <div class="l-container l-container--xlarge">
                        {% include ui('events') with {
                            label: "Zoom sur",
                            title: "Les expositions du moment",
                            button: {
                                icon: "arrow-right",
                                label: "Voir toutes les expositions",
                                attributes: { href: "#" }
                            },
                            items: [
                                {
                                    color: "yellow",
                                    picture: true,
                                    tag: "Exposition",
                                    title: {
                                        level: 2,
                                        text: "La vie en photographie - Mathieu Pernot"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 14h" },
                                        { icon: "pin", text: "Auditorium" }
                                    ],
                                    link: "#"
                                },
                                {
                                    color: "blue",
                                    picture: true,
                                    tag: "Exposition",
                                    title: {
                                        level: 2,
                                        text: "Voyage fantastique - Yann Peucat"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 20h30" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                },
                                {
                                    color: "green",
                                    picture: true,
                                    tag: "Exposition",
                                    title: {
                                        level: 2,
                                        text: "Les hautes solitudes - Nolwenn Brod"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "20/09/23 à 15h", stroke: true, suffix: "Annulé" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                }
                            ]
                        } only %}
                    </div>
                </div>
            {# {% endif %} #}



            {# ***********************************************
            ** PROCHAINS ATELIERS 4C
            ************************************************** #}

            {# {% if ... %} #}
                <div class="l-stack__item">
                    <div class="l-container l-container--xlarge">
                        {% include ui('events') with {
                            label: "Zoom sur",
                            title: "Les prochains Ateliers 4C",
                            button: {
                                icon: "arrow-right",
                                label: "Voir tous les Ateliers 4C",
                                attributes: { href: "#" }
                            },
                            items: [
                                {
                                    picture: false,
                                    tag: "Atelier 4C",
                                    title: {
                                        level: 2,
                                        text: "Tricot-T & Cie"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 14h" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                },
                                {
                                    picture: false,
                                    tag: "Atelier 4C",
                                    title: {
                                        level: 2,
                                        text: "Conversation en anglais"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "19/09/23 à 20h30" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                },
                                {
                                    picture: false,
                                    tag: "Atelier 4C",
                                    title: {
                                        level: 2,
                                        text: "Scrabble en allemand"
                                    },
                                    specs: [
                                        { icon: "calendar", text: "20/09/23 à 15h" },
                                        { icon: "pin", text: "Auditorium" },
                                        { icon: "ticket", text: "Gratuit" }
                                    ],
                                    link: "#"
                                }
                            ]
                        } only %}
                    </div>
                </div>
            {# {% endif %} #}



            {# ***********************************************
            ** RENDEZ-VOUS À DÉCOUVRIR
            ************************************************** #}

            {# {% if ... %} #}
                <div class="l-stack__item">
                    <div class="l-container l-container--full">
                        {% include ui('meetings') with {
                            title: "Une multitude de rendez-vous à découvrir",
                            description: "Plus de 500 événements sont programmés chaque année aux Champs Libres. Ateliers pour les enfants, concerts à écouter en famille, rencontres avec des artistes, conférences sur des sujets d’actualités... Une programmation variée toute l’année.",
                            items: [
                                {
                                    icon: 'group',
                                    title: "Rencontres",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'exposition',
                                    title: "Expositions",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'music',
                                    title: "Concerts",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'video',
                                    title: "Projections",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'stars',
                                    title: "Spectacles",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'calendar',
                                    title: "Évènements",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'flag',
                                    title: "Visites commentées",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'magic-wand',
                                    title: "Animations",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'talk',
                                    title: "Ateliers 4C",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                                {
                                    icon: 'workshop',
                                    title: "Ateliers",
                                    description: "Description rapide de la catégorie : lorem ipsum dolor sit amet consectetur.",
                                    link: {
                                        label: "Accéder à la catégorie",
                                        href: "#"
                                    }
                                },
                            ]
                        } only %}
                    </div>
                </div>
            {# {% endif %} #}



        </div>



        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {# {% if page.behavior.name|default == '' and page.blocks is not empty %}

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                {% endif %} #}


                {# PROTOTYPE #}
                {# FOR EXAMPLE ONLY #}

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-richtext">
                            <h2>Des activités pour ne plus s’ennuyer à Rennes</h2>
                            <p>Texte optimisé pour le SEO (mots clés : Activités, Sortie, Rennes,etc.) lorem ipsum dolor sit amet consectetur. Amet orci in auctor ut. Eu sed volutpat non sed. Urna mi facilisis risus risus proin neque ultricies pharetra varius. Fusce et tortor ut arcu tincidunt sit eget egestas egestas. Vulputate nisi tincidunt lacinia rhoncus. Faucibus nulla pretium sed justo vulputate auctor malesuada netus eget. Risus ut nulla sit gravida augue penatibus gravida nulla viverra. Vitae massa duis et morbi.</p>
                        </div>
                    </div>
                </div>

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-richtext">
                            <h2>Abonnez vous à l’agenda des Champs Libres</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Amet orci in auctor ut. Eu sed volutpat non sed. Urna mi facilisis risus risus proin neque ultricies pharetra varius. Fusce et tortor ut arcu tincidunt.</p>
                        </div>
                        <div class="l-stack__element">
                            {% include ui('button') with {
                                mode: "primary",
                                icon: 'arrow-right',
                                label: "S’abonner à l'agenda des Champs Libres",
                                attributes: {
                                    href: "#",
                                    target: "_self"
                                }
                            } only %}
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
