{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: "Cette semaine aux Champs Libres",
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Programme",
                    href: "#"
                },
                {
                    label: "Les rendez-vous à venir cette semaine",
                    href: "#"
                }
            ]
        } only %}



        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        <div class="v-search js-search">
            <div class="l-container l-container--large">
                <form class="v-search__form">



                    {# ***********************************************
                    ** MAIN
                    ************************************************** #}

                    <div class="v-search__main">
                        {% include ui('field') with {
                            id: "search-date",
                            label: "Quand ?",
                            hint: "Sélectionnez une date",
                            hint_inline: true,
                            control: {
                                component: "period",
                                attributes: {
                                    name: "search-date",
                                    value: "cette-semaine",
                                    disabled: false,
                                    options: [
                                        { value: "aujourdhui", label: "Aujourd’hui" },
                                        { value: "ce-week-end", label: "Ce week-end" },
                                        { value: "cette-semaine", label: "Cette semaine" },
                                        { value: "date-personnalisee", label: "Date", custom: true }
                                    ],
                                    dates: {
                                        start_value: "",
                                        end_value: ""
                                    }
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-type",
                            label: "Type de rendez-vous",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-type",
                                    value: "tous",
                                    disabled: false,
                                    options: [
                                        { value: "tous", label: "Tous les rendez-vous" },
                                        { value: "expositions", label: "Expositions" },
                                        { value: "rencontres", label: "Rencontres" },
                                        { value: "evenements", label: "Événements" },
                                        { value: "ateliers-4c", label: "Ateliers 4C" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ADDITIONAL
                    ************************************************** #}

                    <div class="v-search__additional" id="search-additional" hidden>
                        {% include ui('field') with {
                            id: "search-rate",
                            label: "Tarif",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-rate",
                                    value: "Aucun filtre",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "gratuit", label: "Gratuit" },
                                        { value: "payant", label: "Payant" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-audience",
                            label: "Public",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-audience",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "tout-public", label: "Tout public" },
                                        { value: "famille", label: "Famille" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-accessibility",
                            label: "Accessibilité",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-accessibility",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "handicap-auditif", label: "Handicap auditif" },
                                        { value: "handicap-visuel", label: "Handicap visuel" },
                                        { value: "handicap-psychique", label: "Handicap psychique" },
                                        { value: "handicap-moteur", label: "Handicap moteur" },
                                        { value: "handicap-intellectuel", label: "Handicap intellectuel" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ACTIONS
                    ************************************************** #}

                    <div class="v-search__actions">
                        {% include ui('button') with {
                            mode: "link",
                            icon: 'chevron-down',
                            label: "Afficher plus de filtres",
                            attributes: {
                                type: "button",
                                class: "v-search__toggle js-search-toggle",
                                "aria-controls": "search-additional",
                                "aria-expanded": "false",
                                "data-expanded-label": "Masquer les filtres",
                                "data-shrank-label": "Afficher plus de filtres"
                            }
                        } only %}
                        {% include ui('button') with {
                            icon: 'zoom',
                            label: "Rechercher",
                            attributes: {
                                type: "submit",
                                class: "v-search__submit"
                            }
                        } only %}
                    </div>



                </form>
            </div>
        </div>



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** EXPOSITIONS
                ************************************************** #}

                {# {% if ... %} #}
                    <section class="l-stack__item">

                        {# ATTENTION #}
                        {# Cet élément doit apparaître dans la première section de la page #}
                        {# S'il n'y a pas d'expositions, il doit être positionné dans la prochaine section #}
                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: 20, total: 76 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            <h2 class="c-title">Les expositions</h2>
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--closer">
                                {% for i in 1..4 %}
                                    <div class="l-grid__item">
                                        {% include ui('event') with {
                                            horizontal: true,
                                            color: "blue",
                                            picture: true,
                                            tag: "Exposition",
                                            title: {
                                                level: 2,
                                                text: "Titre"
                                            },
                                            specs: [
                                                { icon: "calendar", text: "jj/mm/aa" },
                                                { icon: "pin", text: "Lieu" },
                                                { icon: "ticket", text: "Gratuit" }
                                            ],
                                            link: "#"
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </section>
                {# {% endif %} #}



                {# ***********************************************
                ** À NE PAS MANQUER
                ************************************************** #}

                {# {% if ... %} #}
                    <section class="l-stack__item">

                        <div class="l-stack__element">
                            <h2 class="c-title">À ne pas manquer</h2>
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--closer">
                                {% for i in 1..8 %}
                                    <div class="l-grid__item">
                                        {% include ui('event') with {
                                            horizontal: true,
                                            color: "blue",
                                            picture: true,
                                            tag: "Événement",
                                            title: {
                                                level: 2,
                                                text: "Titre"
                                            },
                                            specs: [
                                                { icon: "calendar", text: "jj/mm/aa" },
                                                { icon: "pin", text: "Lieu" },
                                                { icon: "ticket", text: "Gratuit" }
                                            ],
                                            link: "#"
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </section>
                {# {% endif %} #}



                {# ***********************************************
                ** TOUS LES RDV
                ************************************************** #}

                {# {% if ... %} #}
                    <section class="l-stack__item">

                        <div class="l-stack__element">
                            <h2 class="c-title">Tous les rendez-vous</h2>
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--closer">
                                {% for i in 1..8 %}
                                    <div class="l-grid__item">
                                        {% include ui('event') with {
                                            horizontal: true,
                                            picture: false,
                                            tag: "Événement",
                                            title: {
                                                level: 2,
                                                text: "Titre du rendez-vous"
                                            },
                                            specs: [
                                                { icon: "calendar", text: "jj/mm/aa" },
                                                { icon: "pin", text: "Lieu" },
                                                { icon: "ticket", text: "Gratuit" }
                                            ],
                                            link: "#"
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: 20, total: 76 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('pagination') with {
                                items: [
                                    { number: 1, href: "#" },
                                    { number: 2, href: "#" },
                                    { number: 8, href: "#" },
                                ],
                                current: 1,
                                total: 8
                            } only %}
                        </div>

                    </section>
                {# {% endif %} #}



        </div>



        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {# {% if page.behavior.name|default == '' and page.blocks is not empty %}

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                {% endif %} #}


                {# PROTOTYPE #}
                {# FOR EXAMPLE ONLY #}

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-richtext">
                            <h2>Les rendez-vous de la semaine aux Champs Libres à Rennes</h2>
                            <p>Texte optimisé pour le SEO. Lorem ipsum dolor sit amet consectetur. Amet orci in auctor ut. Eu sed volutpat non sed. Urna mi facilisis risus risus proin neque ultricies pharetra varius. Fusce et tortor ut arcu tincidunt sit eget egestas egestas. Vulputate nisi tincidunt lacinia rhoncus. Faucibus nulla pretium sed justo vulputate auctor malesuada netus eget. Risus ut nulla sit gravida augue penatibus gravida nulla viverra. Vitae massa duis et morbi. Morbi aliquam quam commodo netus maecenas. Donec nullam tempus at nulla luctus nunc. Nisl ultrices adipiscing neque ullamcorper. Eget egestas egestas. Vulputate nisi tincidunt lacinia rhoncus.</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
