{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: "Résultats de votre recherche",
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Programme",
                    href: "#"
                },
                {
                    label: "Résultats de votre recherche",
                    href: "#"
                }
            ]
        } only %}



        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        <div class="v-search js-search">
            <div class="l-container l-container--large">
                <form class="v-search__form">



                    {# ***********************************************
                    ** MAIN
                    ************************************************** #}

                    <div class="v-search__main">
                        {% include ui('field') with {
                            id: "search-date",
                            label: "Quand ?",
                            hint: "Sélectionnez une date",
                            hint_inline: true,
                            control: {
                                component: "period",
                                attributes: {
                                    name: "search-date",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "aujourdhui", label: "Aujourd’hui" },
                                        { value: "ce-week-end", label: "Ce week-end" },
                                        { value: "cette-semaine", label: "Cette semaine" },
                                        { value: "date-personnalisee", label: "Date", custom: true }
                                    ],
                                    dates: {
                                        start_value: "",
                                        end_value: ""
                                    }
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-type",
                            label: "Type de rendez-vous",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-type",
                                    value: "expositions",
                                    disabled: false,
                                    options: [
                                        { value: "tous", label: "Tous les rendez-vous" },
                                        { value: "expositions", label: "Expositions" },
                                        { value: "rencontres", label: "Rencontres" },
                                        { value: "evenements", label: "Événements" },
                                        { value: "ateliers-4c", label: "Ateliers 4C" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ADDITIONAL
                    ************************************************** #}

                    <div class="v-search__additional" id="search-additional" hidden>
                        {% include ui('field') with {
                            id: "search-rate",
                            label: "Tarif",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-rate",
                                    value: "gratuit",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "gratuit", label: "Gratuit" },
                                        { value: "payant", label: "Payant" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-audience",
                            label: "Public",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-audience",
                                    value: "tout-public",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "tout-public", label: "Tout public" },
                                        { value: "famille", label: "Famille" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                        {% include ui('field') with {
                            id: "search-accessibility",
                            label: "Accessibilité",
                            hint: false,
                            control: {
                                component: "select",
                                attributes: {
                                    name: "search-accessibility",
                                    value: "",
                                    disabled: false,
                                    options: [
                                        { value: "", label: "Aucun filtre" },
                                        { value: "handicap-auditif", label: "Handicap auditif" },
                                        { value: "handicap-visuel", label: "Handicap visuel" },
                                        { value: "handicap-psychique", label: "Handicap psychique" },
                                        { value: "handicap-moteur", label: "Handicap moteur" },
                                        { value: "handicap-intellectuel", label: "Handicap intellectuel" }
                                    ]
                                }
                            },
                            optional: true,
                            hide_optional: true,
                            errors: false
                        } only %}
                    </div>



                    {# ***********************************************
                    ** ACTIONS
                    ************************************************** #}

                    <div class="v-search__actions">
                        {% include ui('button') with {
                            mode: "link",
                            icon: 'chevron-down',
                            label: "Afficher plus de filtres",
                            attributes: {
                                type: "button",
                                class: "v-search__toggle js-search-toggle",
                                "aria-controls": "search-additional",
                                "aria-expanded": "false",
                                "data-expanded-label": "Masquer les filtres",
                                "data-shrank-label": "Afficher plus de filtres"
                            }
                        } only %}
                        {% include ui('button') with {
                            icon: 'zoom',
                            label: "Rechercher",
                            attributes: {
                                type: "submit",
                                class: "v-search__submit"
                            }
                        } only %}
                    </div>



                </form>
            </div>
        </div>



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** TOUS LES RDV
                ************************************************** #}

                {# {% if ... %} #}
                    <section class="l-stack__item">

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: 8, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--closer">
                                {% for i in 1..8 %}
                                    <div class="l-grid__item">
                                        {% include ui('event') with {
                                            horizontal: true,
                                            picture: false,
                                            tag: "Événement",
                                            title: {
                                                level: 2,
                                                text: "Titre du rendez-vous"
                                            },
                                            specs: [
                                                { icon: "calendar", text: "jj/mm/aa" },
                                                { icon: "pin", text: "Lieu" },
                                                { icon: "ticket", text: "Gratuit" }
                                            ],
                                            link: "#"
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: 8, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('pagination') with {
                                items: [
                                    { number: 1, href: "#" },
                                    { number: 2, href: "#" },
                                    { number: 8, href: "#" },
                                ],
                                current: 1,
                                total: 8
                            } only %}
                        </div>

                    </section>
                {# {% endif %} #}



        </div>
    </div>



{% endblock %}
