{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{% block body_class %} page-event page-event-yellow{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% include ui('banner') with {
            type: "event",
            color: "yellow",
            notched: false,
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Programme",
                    href: "#"
                },
                {
                    label: "La vie en photographie - Mathieu Pernot",
                    href: "#"
                }
            ],
            title: "La vie en photographie - Mathieu Pernot",
            description: false,
            tag: "Exposition",
            specs: [
                {
                    icon: "calendar",
                    text: "Du 13/05/2023 au 03/12/2023",
                    stroke: true,
                    suffix: "Annulé"
                },
                {
                    icon: "timer",
                    text: "Durée : 1h"
                },
                {
                    icon: "pin",
                    text: "Musée de Bretagne"
                }
            ],
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                caption: "Photo : Arizona Production"
            }
        } only %}



        {# ***********************************************
        ** ENABLER
        ************************************************** #}

        {% include ui('enabler') with {
            picture: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            label: "Plein tarif :",
            value: "7€",
            helper: "D’autres tarifs disponibles",
            button: {
                icon: "ticket",
                label: "Acheter mon billet",
                href: "#"
            }
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-container l-container--xlarge">
            <div class="l-main__board">



                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                <div class="l-main__aside">
                    {% include ui('audience') with {
                        intending: {
                            icon: "check-circle",
                            text: "Tout public",
                            color: "green"
                        },
                        acceptance: "À partir de 4 ans",
                        accessibility: {
                            physical: true,
                            mental: true,
                            hearing: true,
                            visual: true
                        }
                    } only %}
                </div>



                {# ***********************************************
                ** MAIN
                ************************************************** #}

                <div class="l-main__main">
                    <div class="l-stack l-stack--narrow">
                        <div class="l-container l-container--small l-container--right">
                            {# {% for element in elements %}
                                {{ element|monsieurbiz_richeditor_render_element }}
                            {% endfor %} #}



                            {# PROTOTYPE: FOR EXAMPLE ONLY #}

                            <div class="l-stack__item">
                                <div class="l-container l-container--small l-container--right">

                                    <div class="l-stack__element s-introduction">
                                        <p>Pour cette exposition, Mathieu Pernot intervient en tant que photographe et commissaire d'exposition.</p>
                                        <p>Il nous invite à plonger dans l’âge d’or du métier de photographe, entre la fin du 19ème siècle et les années 1970. Chaque image était inscrite alors dans la matérialité d’un support. La photographie avait un usage social et commercial différent d’aujourd’hui.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="l-stack__item">
                                <div class="l-container l-container--small l-container--right">
                                    <div class="l-stack__element s-richtext">
                                        <p>À partir de ses propres clichés, d’objets et d’images choisis au sein des collections du Musée de Bretagne, Mathieu Pernot explore cette histoire. <strong>Il interroge ce monde disparu et la vie de celles et ceux qui ont posé devant ces photographes.</strong></p>
                                    </div>
                                </div>
                            </div>

                            <div class="l-stack__item">
                                <div class="l-container l-container--small l-container--right">
                                    <div class="l-stack__element s-richtext">
                                        <h2>Biographie de l’artiste</h2>
                                        <p>Né en 1970, Mathieu Pernot est diplômé de l’École Nationale Supérieure de la Photographie d’Arles. En s’appropriant les codes de la photographie documentaire, il propose depuis une vingtaine d’année des images par séries, fruits d’un <strong>travail qui s’apparente à une enquête</strong>, au plus près des individus vivant à la marge et des lieux se trouvant à la périphérie de la société. Il est lauréat de prix prestigieux : <strong>le Prix Niépce</strong> en 2014, et <strong>le Prix Henri Cartier-Bresson</strong> en 2019 pour son projet “ La ruine de sa demeure ”.</p>
                                    </div>
                                    <div class="l-stack__element">
                                        {% include ui('button') with {
                                            mode: "primary",
                                            icon: 'arrow-right',
                                            label: "Voir le site de l’artiste",
                                            attributes: {
                                                href: "#",
                                                target: "_self"
                                            }
                                        } only %}
                                    </div>
                                </div>
                            </div>

                            <div class="l-stack__item">
                                <div class="l-container l-container--large">
                                    <div class="l-grid">
                                        <div class="l-grid__item">
                                            {% include ui('figure') with {
                                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                                format: "gallery",
                                                alt: "",
                                                title: false,
                                                caption: "Portrait de bébé, négatif sur verre | Henri Rault"
                                            } only %}
                                        </div>
                                        <div class="l-grid__item">
                                            {% include ui('figure') with {
                                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                                format: "gallery",
                                                alt: "",
                                                title: false,
                                                caption: "Portrait de femme agée 2, négatif sur verre | Henri Rault"
                                            } only %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="l-stack__item">
                                <div class="l-container">
                                    {% include ui('further') with {
                                        title: "Pour aller plus loin",
                                        items: [
                                            {
                                                label: "Article du Mag : Mathieu Pernot, les conversations photographiques",
                                                href: "#",
                                                target: "_self"
                                            },
                                            {
                                                label: "Boutique vers le catalogue de l’exposition",
                                                href: "#",
                                                target: "_blank"
                                            }
                                        ]
                                    } only %}
                                </div>
                            </div>

                            <div class="l-stack__item">
                                <div class="l-container">
                                    {% include ui('timetable') with {
                                        title: "Programmation associée",
                                        description: "Lorem ipsum dolor sit amet, nulla blandit vestibulum elementum, arcu laoreet mauris.",
                                        items: [
                                            {
                                                id: "timetable-mardi-24-novembre-2023",
                                                label: "Mardi 24 novembre 2023",
                                                values: [
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "Terminé",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "16h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "17h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "18h",
                                                        href: "#"
                                                    }
                                                ]
                                            },
                                            {
                                                id: "timetable-mercredi-25-novembre-2023",
                                                label: "Mercredi 25 novembre 2023",
                                                values: [
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "15h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "16h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "17h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "18h",
                                                        href: "#"
                                                    }
                                                ]
                                            },
                                            {
                                                id: "timetable-jeudi-26-novembre-2023",
                                                label: "Jeudi 26 novembre 2023",
                                                values: [
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "10h",
                                                        href: "#"
                                                    },
                                                    {
                                                        title: "Nom du rendez-vous",
                                                        description: "Rencontre",
                                                        state: "11h",
                                                        href: "#"
                                                    }
                                                ]
                                            }
                                        ]
                                    } only %}
                                </div>
                            </div>



                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
