{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            notched: true,
            title: page.title,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            notched: true,
            title: "Séries",
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Explorer",
                    href: "#"
                },
                {
                    label: "Séries",
                    href: "#"
                }
            ]
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {# {% if ... %} #}
                    <section class="l-stack__item">

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: 9, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--narrow">
                                {% for i in 1..9 %}
                                    <div class="l-grid__item">
                                        {% include ui('series') with {
                                            color: "yellow",
                                            picture: {
                                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                            },
                                            title: {
                                                level: 2,
                                                text: "Manger"
                                            },
                                            description: "Une série sur le sujet de l'alimentation",
                                            href: "#"
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: 9, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            <strong>PAGINATION HERE</strong>
                        </div>

                    </section>
                {# {% endif %} #}

            </div>
        </div>



    </div>



{% endblock %}
