{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            type: "series",
            color: "yellow",
            notched: true,
            title: page.title|default,
            description: page.description|default,
            publication_date: "14/11/2023",
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            type: "series",
            color: "yellow",
            notched: true,
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Explorer",
                    href: "#"
                },
                {
                    label: "Séries",
                    href: "#"
                },
                {
                    label: "\"À table\"",
                    href: "#"
                }
            ],
            title: "Manger",
            description: "Une série sur le sujet de l'alimentation",
            publication_date: "14/11/2023",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                caption: "Photo : Arizona Production"
            }
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** BLOCK: INTRODUCTION
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-introduction">
                            <p>Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget <strong>feugiat viverra</strong> mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis. Arcu rissen pharetra.</p>
                        </div>
                    </div>
                </div>



                {# ***********************************************
                ** BLOCK: SIMPLE CARDS
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container l-container--large">

                        <div class="l-stack__element">
                            <div class="l-grid">
                                {% for i in 1..4 %}
                                    <div class="l-grid__item">
                                        {% include ui('card') with {
                                            large: true,
                                            picture: {
                                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                            },
                                            tag: {
                                                icon: "article",
                                                label: "Article"
                                            },
                                            title: {
                                                level: 2,
                                                text: "Un homme bien dans ses baskets, son assiette et sa tête"
                                            },
                                            description: "Description courte du media, lorem ipsum dolor sit amet consectetur. Diam bibendum volutpat lectus adipiscing. Interdum ultrices quisque elementum commodo diam vulputate.",
                                            link: {
                                                label: "Lire l'article",
                                                href: "#"
                                            }
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>



                {# ***********************************************
                ** BLOCK: SIMPLE CARDS
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container l-container--large">

                        <h2 class="l-stack__element c-title">Titre facultatif</h2>

                        <div class="l-stack__element">
                            <div class="l-grid">
                                {% for i in 1..4 %}
                                    <div class="l-grid__item">
                                        {% include ui('card') with {
                                            large: true,
                                            picture: false,
                                            tag: {
                                                icon: "headphones",
                                                label: "Podcast"
                                            },
                                            title: {
                                                level: 2,
                                                text: "Titre de la ressource"
                                            },
                                            description: "Description courte du media, lorem ipsum dolor sit amet.",
                                            link: {
                                                label: "Écouter le podcast",
                                                href: "#",
                                                target: "_blank"
                                            }
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>



                {# ***********************************************
                ** BLOCK: EXPLORE
                ************************************************** #}

                <div class="l-stack__item">
                    {% include ui('explore') with {
                        title: "Explorez d'autres séries",
                        description: "Courte description permettant d’introduire le concept des séries. Lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim.",
                        button: {
                            label: "Parcourir toutes les séries",
                            href: "#"
                        },
                        items: [
                            {
                                color: "green",
                                picture: {
                                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                },
                                title: "Produire",
                                description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                                href: "#"
                            },
                            {
                                color: "blue",
                                picture: {
                                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                },
                                title: "Cuisiner",
                                description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                                href: "#"
                            }
                        ]
                    } only %}
                </div>



            </div>
        </div>



    </div>



{% endblock %}
