{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            type: "centered",
            notched: false,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            type: "centered",
            notched: true,
            title: "Explorer",
            description: "Retrouvez ici une sélection de ressources à consulter en ligne, gratuitement et depuis chez vous ou partout ailleurs, sélectionnées avec soin par les équipes du Musée, de la Bibliothèque et de l’Espace des Sciences.",
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Explorer",
                    href: "#"
                }
            ]
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">



            {# ***********************************************
            ** SERIES
            ************************************************** #}

            <section class="l-stack__item l-stack__item--overlap">
                <div class="l-container l-container--xlarge">
                    <div class="l-grid l-grid--narrow">

                        {% for i in 1..8 %}
                            <div class="l-grid__item">
                                {% include ui('series') with {
                                    color: "yellow",
                                    picture: {
                                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                    },
                                    title: {
                                        level: 2,
                                        text: "Manger"
                                    },
                                    description: "Une série sur le sujet de l'alimentation",
                                    href: "#"
                                } only %}
                            </div>
                        {% endfor %}

                        <div class="l-grid__item">
                            {% include ui('browse') with {
                                title: {
                                    level: 2,
                                    text: "Découvrez toutes les séries"
                                },
                                description: "Lorem ipsum dolor sit amet esteau nobelum tussa gabor um litis havors.",
                                link: {
                                    label: "Parcourir toutes les séries",
                                    href: "#"
                                }
                            } only %}
                        </div>

                    </div>
                </div>
            </section>



            {# ***********************************************
            ** PODCASTS
            ************************************************** #}

            <section class="l-stack__item">
                <div class="l-container l-container--xlarge">

                    {% set post = {
                        color: "yellow",
                        title: {
                            level: 3,
                            text: "Les chouettes conférences"
                        },
                        tag: {
                            label: "Podcast"
                        },
                        link: {
                            label: "Accéder à la série",
                            href: "#"
                        }
                    } %}

                    {% include ui('events') with {
                        label: "Parcourez",
                        title: "Les séries de podcasts",
                        button: {
                            icon: "arrow-right",
                            label: "Parcourir tous les podcasts",
                            attributes: { href: "#" }
                        },
                        items_type: "post",
                        items: [
                            post,
                            post,
                            post
                        ]
                    } only %}

                </div>
            </section>



            {# ***********************************************
            ** BLOCK: IMMERSION
            ************************************************** #}

            <div class="l-stack__item">
                <div class="l-container">

                    {% set content %}
                        <p>Explorez un espace de découvertes, accessible à toutes et à tous, qui s'inscrit dans l'esprit des Champs Libres : permettre à chacune et chacun d’accéder librement à la culture, aux savoirs et de partager des idées.</p>
                    {% endset %}

                    {% include ui('immersive') with {
                        id: "immersive-1",
                        label: "Les articles du Mag",
                        content: content,
                        button: {
                            label: "Accéder au Mag",
                            href: "#"
                        }
                    } only %}

                </div>
            </div>



            {# ***********************************************
            ** BLOCK: COLOR CARDS
            ************************************************** #}

            <div class="l-stack__item">
                <div class="l-container l-container--xlarge">

                    <h2 class="l-stack__element c-title">Des ressources patrimoniales sur nos sites partenaires</h2>

                    <div class="l-stack__element">
                        <div class="l-grid">
                            <div class="l-grid__item">
                                {% include ui('cta') with {
                                    color: "green",
                                    heading: {
                                        title: "Tablettes Rennaises",
                                        level: 3
                                    },
                                    description: "Découvrez plus de 8000 images, livres et journaux numérisés des collections de la Bibliothèque de Rennes Métropole.",
                                    link: {
                                        label: "Accéder au site",
                                        href: "#",
                                        target: "_blank"
                                    }
                                } only %}
                            </div>
                            <div class="l-grid__item">
                                {% include ui('cta') with {
                                    color: "yellow",
                                    heading: {
                                        title: "Les Collections du Musée",
                                        level: 3
                                    },
                                    description: "Accédez à plus de 360 000 oeuvres et documents numérisés sur le portail documentaire du Musée de Bretagne et de l’Écomusée de la Bintinais.",
                                    link: {
                                        label: "Accéder au site",
                                        href: "#",
                                        target: "_blank"
                                    }
                                } only %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            {# ***********************************************
            ** BLOCK: MEETINGS
            ************************************************** #}

            <div class="l-stack__item">
                <div class="l-container l-container--full">

                    {% set meeting = {
                        icon: 'arrow-right',
                        title: "Titre de la catégorie",
                        description: "Description rapide de la catégorie.",
                        link: {
                            label: "Lien vers la catégorie",
                            href: "#"
                        }
                    } %}

                    {% include ui('meetings') with {
                        title: "Encore plus de ressources à explorer",
                        description: "Lorem ipsum dolor sit amet consectetur. Neque euismod habitant morbi pharetra praesent a enim. Mauris imperdiet molestie at faucibus aliquet nunc aenean. Convallis lectus leo faucibus et laoreet diam.",
                        items: [
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting,
                            meeting
                        ]
                    } only %}

                </div>
            </div>



        </div>



    </div>



{% endblock %}
