{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Show)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}



{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment & edit #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': article } %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed_title}}" href="{{ feed_url }}" />
{% endblock %} #}



{# ***********************************************
** BODY CLASS
************************************************** #}

{# {% block body_class %} page-article{{ article.color ? ' page-article-' ~ article.color.value }}{% endblock %} #}



{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-event-container-btn{% endblock %}



{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO @back : UNCOMMENT & EDIT #}
        {# {% include ui('banner') with {
            type: "post",
            color: article.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: article.title,
            description: false,
            tag: {
                icon: article.category.icon,
                label: article.category.title,
                href: "#"
            },
            mentions: [
                {
                    icon: "studies",
                    label: "Niveau",
                    value: "De la PS à la GS"
                }
            ]
        } only %} #}

        {# TODO @back : REMOVE #}
        {% include ui('banner') with {
            type: "post",
            color: "blue",
            notched: false,
            breadcrumb: false,
            title: "Animaux et compagnie",
            description: false,
            tag: {
                icon: "user",
                label: "En autonomie",
                href: "#"
            },
            mentions: [
                {
                    icon: "studies",
                    label: "Niveau",
                    value: "De la PS à la GS"
                }
            ]
        } only %}



        {# ***********************************************
        ** ENABLER
        ************************************************** #}

        {# TODO @back : manage variables and display condition #}
        {# {% if ... ??? %} #}
        {% include ui('enabler') with {
            alt: true,
            label: "Faire une réservation :",
            button: {
                mode: "primary",
                icon: "phone",
                label: "Tél. : 02 23 40 66 00",
                href: "tel:0223406600"
            }
        } only %}
        {# {% endif %} #}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** BLOCKS
                ************************************************** #}

                {# {% set elements = monsieurbiz_richeditor_get_elements(article.blocks) %}

                {% if elements|default %}
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                {% endif %} #}



                {# TODO: THIS IS ONLY AN EXAMPLE, TO REMOVE #}
                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-introduction">
                            <p>Ce parcours sur la thématique des animaux se compose des médiations suivantes que nous avons sélectionnées pour vous :</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
