{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Show)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}



{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment & edit #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': article } %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed_title}}" href="{{ feed_url }}" />
{% endblock %} #}



{# ***********************************************
** BODY CLASS
************************************************** #}

{# {% block body_class %} page-article{{ article.color ? ' page-article-' ~ article.color.value }}{% endblock %} #}



{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-event-container-btn{% endblock %}



{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO @back : UNCOMMENT & EDIT #}
        {# {% include ui('banner') with {
            type: "post",
            color: article.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: article.title,
            description: false,
            tag: {
                icon: article.category.icon,
                label: article.category.title
            },
            mentions: [
                {
                    icon: "write",
                    label: "Écrit par",
                    value: article.author
                },
                {
                    icon: "papers",
                    label: "Licence",
                    value: article.license
                },
                {
                    icon: "calendar",
                    label: "Publié le",
                    value: article.publishedAt|formatted_date
                }
            ],
            picture: article.mainImage
        } only %} #}

        {# TODO @back : REMOVE #}
        {% include ui('banner') with {
            type: "post",
            color: "green",
            notched: false,
            breadcrumb: false,
            title: "Des animaux au musée",
            description: false,
            tag: {
                icon: "user",
                label: "En autonomie"
            },
            mentions: [
                {
                    icon: "calendar",
                    label: "Quand",
                    value: "Toute l'année"
                }
            ],
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                caption: "Légende facultative : Lorem ipsum dolor sit."
            }
        } only %}



        {# ***********************************************
        ** ENABLER
        ************************************************** #}

        {# TODO @back : manage variables and display condition #}
        {# {% if ... ??? %} #}
        {% include ui('enabler') with {
            alt: true,
            label: "Faire une réservation :",
            button: {
                mode: "primary",
                icon: "phone",
                label: "Tél. : 02 23 40 66 00",
                href: "tel:0223406600"
            }
        } only %}
        {# {% endif %} #}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-container l-container--xlarge">
            <div class="l-main__board">



                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                <div class="l-main__aside">
                    {% include ui('audience') with {
                        alt: true,
                        accessibility: {
                            motor: true,
                            psychic: true,
                            intellectual: true,
                            hearing: true,
                            visual: true
                        }
                    } only %}
                </div>



                {# ***********************************************
                ** MAIN
                ************************************************** #}

                <div class="l-main__main">
                    <div class="l-stack l-stack--narrow">
                        <div class="l-container l-container--small l-container--right">



                            {# ***********************************************
                            ** INTRODUCTION
                            ************************************************** #}

                            <div class="l-stack__element s-introduction">
                                {# {{ event.description }} #}
                            </div>



                            {# ***********************************************
                            ** BLOCKS
                            ************************************************** #}

                            {# {% set elements = monsieurbiz_richeditor_get_elements(article.blocks) %}

                            {% if elements|default %}
                                {% for element in elements %}
                                    {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                    {{ element|monsieurbiz_richeditor_render_element }}
                                {% endfor %}
                            {% endif %} #}



                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



    {# ***********************************************
    ** FOOT
    ************************************************** #}

    {# {% if eventsSameCategory is not empty %} #}
        <div class="l-main__body">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** VARIABLES
                ************************************************** #}

                {# {% set events = [] %}

                {% for event in eventsSameCategory %}

                    {% if event.dateEnding is defined %}
                        {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
                    {% else %}
                        {% set date = event.dateStarting|formatted_date_time %}
                    {% endif %}

                    {% if event.status is defined and event.status != 1 %}
                        {% set stroke = true %}
                        {% set status = ('app.ui.resource.event.status.' ~ event.status)|trans %}
                    {% else %}
                        {% set stroke = false %}
                        {% set status = '' %}
                    {% endif %}

                    {% if event.location is defined %}
                        {% set location = ('app.ui.resource.event.location.' ~ event.location)|trans %}
                    {% else %}
                        {% set location = '' %}
                    {% endif %}

                    {% if event.pricing is defined %}
                        {% set pricing = event.pricing|capitalize %}
                    {% else %}
                        {% set pricing = '' %}
                    {% endif %}


                    {% set events = events|merge([{
                        picture: event.picture,
                        tag: event.tag,
                        title: {
                            level: 2,
                            text: event.title
                        },
                        specs: [
                            { icon: "calendar", text: date|capitalize, stroke: stroke|default, status: status|default },
                            { icon: "pin", text: location|default},
                            { icon: "ticket", text: pricing|default }
                        ],
                        link: event.href,
                        color: event.color.value|default
                    }]) %}

                {% endfor %} #}



                {# ***********************************************
                ** MARKUP
                ************************************************** #}

                {# <div class="l-main__foot">
                    {% include ui('events') with {
                        title: 'Les autres ' ~ event.category.labelPlural|lower ~ ' aux Champs Libres',
                        items: events
                    } %}
                </div> #}



            </div>
        </div>
    {# {% endif %} #}



{% endblock %}
