{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Show)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}



{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment & edit #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': article } %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed_title}}" href="{{ feed_url }}" />
{% endblock %} #}



{# ***********************************************
** BODY CLASS
************************************************** #}

{# {% block body_class %} page-article{{ article.color ? ' page-article-' ~ article.color.value }}{% endblock %} #}



{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-event-container-btn{% endblock %}



{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {# TODO @back : UNCOMMENT & EDIT #}
        {# {% include ui('banner') with {
            type: "post",
            color: article.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: article.title,
            description: false,
            tag: {
                icon: article.category.icon,
                label: article.category.title,
                href: "#"
            },
            mentions: [
                {
                    icon: "studies",
                    label: "Niveau",
                    value: "De la PS à la GS"
                }
            ]
        } only %} #}

        {# TODO @back : REMOVE #}
        {% include ui('banner') with {
            type: "post",
            color: "red",
            notched: true,
            breadcrumb: false,
            title: "La science sur les planches",
            description: false,
            mentions: [
                {
                    icon: "calendar",
                    value: "Avril 2024"
                },
                {
                    icon: "user",
                    value: "École Jean Monet, classe de CP"
                }
            ],
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                caption: "Légende facultative : Lorem ipsum dolor sit."
            }
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** BLOCKS
                ************************************************** #}

                {# {% set elements = monsieurbiz_richeditor_get_elements(article.blocks) %}

                {% if elements|default %}
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                {% endif %} #}



                {# TODO: THIS IS ONLY AN EXAMPLE, TO REMOVE #}
                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">
                        <div class="l-stack__element s-introduction">
                            <p><strong>Partez à la découverte des animaux présents dans les collections du musée</strong></p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
