{# OK #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            notched: true,
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Professionnels",
                    href: "#"
                },
                {
                    label: "Enseignants",
                    href: "#"
                }
            ],
            title: "Enseignants",
            description: "De la maternelle au lycée, vous trouverez ici... Lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim ullamcorper diam rhoncus. Dictum rutrum id in vitae id augue dignissim."
        } only %}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    {# TODO @back #}
    {# INSERT FLEXIBLE BLOCKS HERE WITH LOOP #}

    {# COPY AND UNCOMMENT THIS IN THE FINAL TEMPLATE: #}

    {# {% if page.blocks %}

        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

        {% if elements|default %}
            <div class="l-main__body">
                <div class="l-stack">
                    <div class="l-container l-container--xlarge">
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %} #}

    {# /!\ DO NOT COPY THE CONTENT BELOW: THIS IS ONLY A DEMO /!\ #}
    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                    <div class="l-stack__item">
                        <div class="l-container l-container--large">

                            {% include ui('cta') with {
                                color: "blue",
                                picture: {
                                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                },
                                fullsize: false,
                                label: "Des places disponibles le 28 avril",
                                heading: {
                                    title: "La découverte de l'art de la mosaïque par le jeu",
                                    level: 2
                                },
                                description: "Le crabe d’Odorico s’est échappé ! Partez à sa recherche. En observant ce drôle de crabe, les élèves appréhendent les formes, les couleurs et l’art de la mosaïque par des jeux de puzzles et de gommettes.",
                                link: {
                                    label: "Découvrir la médiation",
                                    href: "#",
                                    target: "_self"
                                }
                            } only %}

                        </div>
                    </div>

                    <div class="l-stack__item">
                        <h2 class="l-stack__element c-title">Sur place aux Champs Libres</h2>
                        <div class="l-stack__element">
                            <div class="l-grid l-grid--narrow">
                                {% for i in 1..3 %}
                                    <div class="l-grid__item">
                                        {% include ui('card') with {
                                            picture: {
                                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                            },
                                            title: {
                                                level: 3,
                                                text: "Les programmes de médiations à la carte"
                                            },
                                            description: "Visitiez les Champs Libres accompagné (visite avec un médiateur, atelier, animation, séance de planétarium...). Ou bien en autonomie dans certains espaces et sur réservation (préparée par vos soins à l'aide de la documentation proposée).",
                                            link: {
                                                label: "Explorer les médiations",
                                                href: "#",
                                                target: "_self"
                                            }
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="l-stack__item">
                        <h2 class="l-stack__element c-title">Les ressources pour les enseignants</h2>
                        <div class="l-stack__element">
                            <div class="l-grid l-grid--narrow">
                                {% for i in 1..3 %}
                                    <div class="l-grid__item">
                                        {% include ui('card') with {
                                            picture: {
                                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                            },
                                            title: {
                                                level: 3,
                                                text: "Dossiers pédagogiques"
                                            },
                                            description: "Lorem ipsum dolor sit amet consectetur. Elementum pellentesque euismod integer semper aliquam ipsum ut sapien. Commodo vulputate erat in vitae magna.",
                                            link: {
                                                label: "Parcourir les dossiers",
                                                href: "#",
                                                target: "_self"
                                            }
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="l-stack__item">
                        <h2 class="l-stack__element c-title">Infos pratiques</h2>
                        <div class="l-stack__element">
                            <div class="l-grid">
                                <div class="l-grid__item">
                                    {% include ui('cta') with {
                                        color: "green",
                                        heading: {
                                            title: "Comment venir en groupe ?",
                                            level: 3
                                        },
                                        description: "Réservation par téléphone du lundi au vendredi de 9h à 18h au 02 23 40 66 00. Ouverture des réservations pour la saison 2023 / 2024 le mardi 5 septembre. La visite est gratuite pour les groupes scolaires à la Bibliothèque, au musée de Bretagne et en salle Anita Conti.",
                                        link: {
                                            label: "Venir en groupe, mode d’emploi",
                                            href: "#",
                                            target: "_self"
                                        }
                                    } only %}
                                </div>
                                <div class="l-grid__item">
                                    {% include ui('cta') with {
                                        color: "blue",
                                        heading: {
                                            title: "Vous avez besoin d’être guidé(e) ? Contactez-nous",
                                            level: 3
                                        },
                                        description: "Les équipes de médiation et les professeurs conseillers relais sont à l'écoute de vos idées, projets, partages d'expériences... Retrouvez tous leurs contacts dans cette liste.",
                                        link: {
                                            label: "Contacter l’équipe de médiation",
                                            href: "#",
                                            target: "_self"
                                        }
                                    } only %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-stack__item">
                        <div class="l-container l-container--large">

                            {% include ui('cta') with {
                                color: "yellow",
                                picture: {
                                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                },
                                fullsize: false,
                                label: "L’infolettre enseignants",
                                heading: {
                                    title: "Soyez avertis des actualités enseignants",
                                    level: 2
                                },
                                description: "Abonnez-vous à l’infolettre enseignant des Champs Libres, pour ne pas manquer : les appels à projets, nouvelles ressources, activités, etc. ",
                                link: {
                                    label: "S’abonner à l’infolettre",
                                    href: "#",
                                    target: "_self"
                                }
                            } only %}

                        </div>
                    </div>

            </div>
        </div>
    </div>



{% endblock %}
