{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            notched: true,
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Professionnels",
                    href: "#"
                },
                {
                    label: "Enseignants",
                    href: "#"
                },
                {
                    label: "Projets",
                    href: "#"
                },
                {
                    label: "Projets passés",
                    href: "#"
                }
            ],
            title: "Les projets passés",
            description: "Description du contenu de la liste, lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim ullamcorper diam rhoncus. Dictum rutrum id in vitae id augue dignissim."
        } only %}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">


                {# Pour l'affichage ou non de l'encart "Aucun résultat" #}
                {% set no_result = true %}



                {# ***********************************************
                ** LISTE DE RÉSULTATS
                ************************************************** #}

                {# TODO @back #}
                {# UNCOMMENT AND EDIT THIS "IF" TEST #}
                {# {% if resources.data.currentPageResults|length %} #}

                    {% set no_result = false %}

                    <section class="l-stack__item">

                        {# TODO @back #}
                        {# UNCOMMENT AND EDIT THESE VARIABLES #}
                        {# {% set item_current = resources.data.currentPageResults|length %}
                        {% set item_total = resources.data.nbResults %}
                        {% set page_current = resources.data.currentPage %}
                        {% set page_total = resources.data.nbPages %} #}

                        <div class="l-stack__element">
                            {# TODO @back #}
                            {# UNCOMMENT THIS UI COMPONENT & REMOVE THE DEMO ONE BELOW #}
                            {# {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %} #}
                            {% include ui('results') with {
                                items: { current: 9, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--narrow l-grid--closer">
                                {# TODO @back #}
                                {# UNCOMMENT AND EDIT THIS LOOP #}
                                {# {% for resource in resources.data %} #}
                                    <div class="l-grid__item">
                                        {# TODO @back #}
                                        {# UNCOMMENT AND EDIT THIS CODE TO CALL THE CORRECT FILE WITH DATA #}

                                        {# USE THE COMPONENT "resource" AS SHOWN BELOW #}
                                        {#
                                            TAG ICONS:
                                            - "En autonomie" : icon "user"
                                            - "Accompagné" : icon "duo"
                                        #}

                                        {# {% if attribute(resource, 'event') is defined %}
                                            {{ include('@SyliusShop/Event/_event_from_occurrence.html.twig', { occurrence: resource }) }}
                                        {% else %}
                                            {{ include('@SyliusShop/Event/_event_from_event.html.twig', { event: resource }) }}
                                        {% endif %} #}


                                        {# TODO @back #}
                                        {# REMOVE THIS DEMO CODE #}
                                        {% include ui('resource') with {
                                            color: "red",
                                            picture: {
                                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                            },
                                            title: {
                                                level: 2,
                                                text: "Projet EACS avec l'illustratrice marylou chalon"
                                            },
                                            description: "Lorem ipsum dolor sit amet consectetur. Venenatis risus sit dolor quis ut ipsum pretium enim. ",
                                            specs: [
                                                { icon: "calendar", text: "Novembre 2023" },
                                                { icon: "user", text: "École Jean Monet, classe de CP" }
                                            ],
                                            link: {
                                                href: "#",
                                                target: "_self"
                                            }
                                        } only %}


                                    </div>
                                {# {% endfor %} #}
                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {# TODO @back #}
                            {# UNCOMMENT THIS UI COMPONENT & REMOVE THE DEMO ONE BELOW #}
                            {# {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %} #}
                            {% include ui('results') with {
                                items: { current: 9, total: 64 },
                                pages: { current: 1, total: 8 }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {# TODO @back #}
                            {# UNCOMMENT AND EDIT THIS PAGINATION #}
                            {# {{ pagination.simple(resources.data) }} #}
                        </div>

                    </section>

                {# {% endif %} #}


                {# ***********************************************
                ** AUCUN RÉSULTAT
                ************************************************** #}

                {% if no_result %}
                    <section class="l-stack__item">
                        <div class="l-stack__element l-stack__element--xlarge s-richtext u-text-align-center">
                            <h2>Aucun résultat</h2>
                            <p>
                                Aucun résultat ne correspond à votre recherche.<br />
                                Vous pouvez obtenir plus de résultats en <strong>modifiant votre recherche</strong> ou en découvrant toute notre programmation.
                            </p>
                        </div>
                        <div class="l-stack__element u-flex-align-center">
                            {% include ui('button') with {
                                mode: false,
                                icon: 'arrow-right',
                                label: "Voir toute la programmation",
                                attributes: {
                                    href: path('luna_page_show', { slug: under_pages_slug_by_code('events') }),
                                }
                            } only %}
                        </div>
                    </section>
                {% endif %}


            </div>
        </div>


    </div>



{% endblock %}
