{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{# TODO: uncomment on dynamic page #}
{# {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %} #}

{# ***********************************************
** BODY CLASS
************************************************** #}

{# TODO: wait for dynamic page to decide if it's useful or not #}
{# {% block body_class %} banner-notched{% endblock %} #}

{# ***********************************************
** TITLE
************************************************** #}

{# {% block title %}{% endblock %} #}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {# TODO: uncomment on dynamic page #}
        {# {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %} #}
        {# TODO: remove on dynamic page #}
        {% include ui('banner') with {
            notched: true,
            breadcrumb: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Professionnels",
                    href: "#"
                },
                {
                    label: "Enseignants",
                    href: "#"
                },
                {
                    label: "Projets",
                    href: "#"
                }
            ],
            title: "Projets",
            description: "Un projet peut être composé de différents temps de découverte, de pratique, de visites ou des interventions hors-les-murs, il peut être proposé par Les Champs Libres (appels à candidatures) ou par un.e enseignant.e."
        } only %}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    {# TODO @back #}
    {# INSERT FLEXIBLE BLOCKS HERE WITH LOOP #}

    {# COPY AND UNCOMMENT THIS IN THE FINAL TEMPLATE: #}

    {# {% if page.blocks %}

        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

        {% if elements|default %}
            <div class="l-main__body">
                <div class="l-stack">
                    <div class="l-container l-container--xlarge">
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %} #}

    {# /!\ DO NOT COPY THE CONTENT BELOW: THIS IS ONLY A DEMO /!\ #}
    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                <div class="l-stack__item">
                    <div class="l-container l-container--large">

                        {% include ui('cta') with {
                            color: "green",
                            picture: {
                                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                            },
                            fullsize: false,
                            label: "Les appels à candidatures",
                            heading: {
                                title: "Initiation à la presse",
                                level: 2
                            },
                            description: "Description rapide de l’appel : lorem ipsum dolor sit amet consectetur. Hendrerit lectus vulputate non at quis in pharetra nisl lobortis. Cursus nec fusce sed eget sit non eget sagittis purus. Scelerisque risus nunc vulputate felis at non bibendum et. Eu dui felis nunc.",
                            link: {
                                label: "Découvrir l’appel",
                                href: "#",
                                target: "_self"
                            }
                        } only %}

                    </div>
                </div>

                <div class="l-stack__item">
                    <h2 class="l-stack__element c-title">Les projets en cours</h2>
                    <div class="l-stack__element l-stack__element--xlarge">
                        <div class="l-grid l-grid--narrow">
                            {% for i in 1..3 %}
                                <div class="l-grid__item">
                                    {% include ui('resource') with {
                                        color: "yellow",
                                        picture: {
                                            image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                        },
                                        title: {
                                            level: 2,
                                            text: "RÉ.ELLES"
                                        },
                                        description: "Une projection-rencontre qui questionne l'égalité hommes-femmes et les stéréotypes de genre via le film documentaire.",
                                        specs: [
                                            { icon: "calendar", text: "Mars 2024" },
                                            { icon: "user", text: "École Jean Monet, classe de CP" }
                                        ],
                                        link: {
                                            href: "#",
                                            target: "_self"
                                        }
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="l-stack__item">
                    <div class="l-stack__element">
                        <div class="v-heading">
                            <h2 class="v-heading__title c-title">Les projets passés</h2>
                            {% include ui('button') with {
                                icon: 'arrow-right',
                                label: "Voir les projets passés",
                                attributes: {
                                    class: "v-heading__button",
                                    href: "#"
                                }
                            } only %}
                        </div>
                    </div>
                    <div class="l-stack__element l-stack__element--xlarge">
                        <div class="l-grid l-grid--narrow">
                            {% for i in 1..3 %}
                                <div class="l-grid__item">
                                    {% include ui('resource') with {
                                        color: "red",
                                        picture: {
                                            image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                                        },
                                        title: {
                                            level: 2,
                                            text: "Projet EACS avec l'illustratrice marylou chalon"
                                        },
                                        description: "Lorem ipsum dolor sit amet consectetur. Venenatis risus sit dolor quis ut ipsum pretium enim. ",
                                        specs: [
                                            { icon: "calendar", text: "Novembre 2023" },
                                            { icon: "user", text: "École Jean Monet, classe de CP" }
                                        ],
                                        link: {
                                            href: "#",
                                            target: "_self"
                                        }
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {# TODO @back #}
                <div class="l-stack__item">
                    <div class="l-container l-container--small">

                        <div class="l-stack__element s-richtext u-text-align-center">
                            <h2>Vous avez une idée de projet ? Contactez-nous</h2>
                            <p>Texte expliquant le déroulé/organisation des projets : Lorem ipsum dolor sit amet orci in auctor ut. Eu sed volutpat non sed. Urna mi facilisis risus risus proin neque ultricies pharetra varius.</p>
                        </div>

                        <div class="l-stack__element u-flex-align-center">
                            {% include ui('button') with {
                                mode: "primary",
                                icon: "arrow-right",
                                label: "Prendre contact",
                                attributes: {
                                    href: "#",
                                    target: "_self"
                                }
                            } only %}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
