{% use 'form_div_layout.html.twig' %}


{% block form_row -%}

    {% set row_attr = row_attr|merge({
        class: (row_attr.class|default('') ~ ' c-form-field')|trim,
        'data-field': form.vars.id
    }) %}

    {% if errors|length > 0 %}
        {% set row_attr = row_attr|merge({
            class: (row_attr.class ~ ' c-form-field--has-errors')|trim,
        }) %}
    {% endif %}

    {% if disabled %}
        {% set row_attr = row_attr|merge({
            class: (row_attr.class ~ ' c-form-field--disabled')|trim,
        }) %}
    {% endif %}

    <{{ element|default('div') }} {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    {% if not hide_label|default %}
        {{- form_label(form) -}}
    {% endif %}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block choice_row %}
    {% if form.vars.expanded %}
        {% set row_attr = row_attr|merge({
            class: (row_attr.class|default('') ~ ' c-form-field--optionlist'),
        }) %}
        {% set element = 'fieldset' %}
    {% endif %}
    {{ block('form_row') }}
{% endblock %}


{%- block form_label -%}

    {% if ('radio' in block_prefixes) or ('checkbox' in block_prefixes) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' c-form-label c-form-option__label')|trim}) %}
    {% else  %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' c-form-label c-form-field__label')|trim}) %}
    {% endif %}


    {% if expanded|default %}
        {% set element = 'legend' %}
    {% endif %}

    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}

        {% if not required|default %}
            <span class="c-form-label__indic">(Facultatif)</span>
        {% endif %}

        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="c-form-note c-form-note--error c-form-field__feedback">
            {% include ui("icon") with {
                icon: "info",
                attributes: {
                    class: "c-form-note__icon"
                }
            } %}
            <ul class="c-form-note__text">
                {%- for error in errors -%}
                    {{ error.message }}
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}


{% block form_help -%}
    {%- if help is not empty -%}
        <div class="c-form-note c-form-note--help c-form-field__hint">
            {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' c-form-note__text')|trim}) -%}
            <p id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
                {%- if translation_domain is same as(false) -%}
                    {%- if help_html is same as(false) -%}
                        {{- help -}}
                    {%- else -%}
                        {{- help|raw -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if help_html is same as(false) -%}
                        {{- help|trans(help_translation_parameters, translation_domain) -}}
                    {%- else -%}
                        {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                    {%- endif -%}
                {%- endif -%}
            </p>
        </div>
    {%- endif -%}
{%- endblock form_help %}


{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' c-form-input__control')|trim}) %}

    <div class="c-form-input c-form-field__control c-form-input--text{% if errors|default %} c-form-input--error{% endif %}">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple -%}


{% block textarea_widget -%}
    <div class="c-form-input c-form-field__control c-form-input--textarea{% if errors|default %} c-form-input--error{% endif %}">
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' c-form-input__control')|trim}) %}
        {{- parent() -}}
    </div>
{%- endblock textarea_widget %}


{%- block choice_widget_collapsed -%}
    <div class="c-form-input c-form-field__control c-form-input--select{% if errors|default %} c-form-input--error{% endif %}">
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' c-form-input__control')|trim}) %}
        {{- parent() -}}
    </div>
{%- endblock choice_widget_collapsed %}


{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' c-form-field__control')|trim}) %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_row(child, {
                vars: {
                    no_wrapper: true,
                    autocomplete: attr.autocomplete|default
                }
            }) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}


{% block checkbox_row %}

    {% if not vars.no_wrapper|default %}
        {% set row_attr = row_attr|merge({
            class: (row_attr.class|default('') ~ ' c-form-field')|trim,
            'data-field': form.vars.id
        }) %}
        <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="c-form-field__control">
    {% endif %}

    <div class="c-form-option c-form-option--checkbox{{ disabled ? " c-form-option--disabled" }}">
        <div class="c-form-option__control">
            {{- form_widget(form, {
                attr: {
                    class: 'c-form-option__input',
                    disabled: disabled
                }
            }) -}}
            <span class="c-form-option__doppel">
                {% include ui("icon") with {
                    icon: "checkmark",
                    attributes: {
                        class: "c-form-option__icon"
                    }
                } %}
            </span>
        </div>
        <div class="c-form-option__details">
            {{- form_label(form) -}}
            {{- form_help(form) -}}
            {% if vars.no_wrapper|default %}
                {{- form_errors(form) -}}
            {% endif %}
        </div>
    </div>

    {% if not vars.no_wrapper|default %}
        </div>
        </div>
    {% endif %}

{% endblock %}


{% block radio_row %}
    {% if not vars.no_wrapper|default %}
        {% set row_attr = row_attr|merge({
            class: (row_attr.class|default('') ~ ' c-form-field')|trim,
            'data-field': form.vars.id
        }) %}
        <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="c-form-field__control">
    {% endif %}

    <div class="c-form-option c-form-option--radio{{ disabled ? " c-form-option--disabled" }}">
        <div class="c-form-option__control">
            {{- form_widget(form, {
                attr: {
                    class: 'c-form-option__input',
                    disabled: disabled,
                    autocomplete: vars.autocomplete|default
                }
            }) -}}
            <span class="c-form-option__doppel">
            </span>
        </div>
        <div class="c-form-option__details">
            {{- form_label(form) -}}
            {{- form_help(form) -}}
            {% if vars.no_wrapper|default %}
                {{- form_errors(form) -}}
            {% endif %}
        </div>
    </div>

    {% if not vars.no_wrapper|default %}
        </div>
        </div>
    {% endif %}

{% endblock %}
