{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% set under_pages_code = app.request.attributes.get('_under_pages_code') %}
{% set page = find_by_composite_slug(app.request.locale , app.request.attributes.get('page_slug')) %}
{% set breadcrumb = under_page_breadcrumb_by_page(page)|merge([{
    label: resource.title,
    href: ''
}]) %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': resource } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} banner-notched{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ resource.title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: resource.title,
            description: false,
            picture: false,
            breadcrumb: breadcrumb|default,
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {{ render(url('app_mediation_partial_subject_mediations', { page_slug: page.compositeSlug, criteria: { subjects: resource.id }, page: app.request.get('page'), parent_route_params: app.request.attributes.get('_route_params') })) }}

            </div>
        </div>


        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% if resource.blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(resource.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
