{% set occurrence_over = (occurrence.endingAt|date("Y-m-d H-i-s") < "now"|date("Y-m-d H-i-s") or occurrence.event.status >= 20) %}

{% if occurrence_over %}
    {% set date = 'app.ui.resource.event.terminated'|trans %}
{% elseif occurrence.event.status != 1 %}
    {% set date = ('app.ui.resource.event.status.' ~ occurrence.event.status)|trans %}
{% else %}
    {% set date = get_event_occurrence_date(occurrence) %}
{% endif %}

{% include ui('event') with {
    horizontal: true,
    color: occurrence.event.color.value|default,
    picture: get_event_image(occurrence.event),
    tag: occurrence.event.category.label,
    title: {
        level: 2,
        text: occurrence.event.title
    },
    specs: [
        { icon: "calendar", label: "Date", text: date },
        { icon: "pin", label: "Lieu", text: ('app.ui.resource.event.location.' ~ occurrence.event.location)|trans },
        { icon: "ticket", label: "Tarif", text: occurrence.event.pricing|capitalize }
    ],
    link: path('app_event_show', {'slug': occurrence.event.slug, 'occurrence_id': occurrence.id, 'page_slug': under_pages_slug_by_code('events')})
} only %}
