{% set event_over = (event.endingAt|date("Y-m-d H-i-s") < "now"|date("Y-m-d H-i-s") or event.status >= 20) %}

{% if event_over %}
    {% set date = 'app.ui.resource.event.terminated'|trans %}
{% elseif event.status != 1 %}
    {% set date = ('app.ui.resource.event.status.' ~ event.status)|trans %}
{% else %}
    {% set date = get_event_date(event) %}
{% endif %}

{% include ui('event') with {
    horizontal: true,
    color: event.color.value|default,
    picture: get_event_image(event),
    tag: event.category.label,
    title: {
        level: 2,
        text: event.title
    },
    specs: [
        { icon: "calendar", label: "Date", text: date },
        { icon: "pin", label: "Lieu", text: ('app.ui.resource.event.location.' ~ event.location)|trans },
        { icon: "ticket", label: "Tarif", text: event.pricing|capitalize }
    ],
    link: path('app_event_show', {'slug': event.slug, 'page_slug': under_pages_slug_by_code('events')})
} only %}
