{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': category|default(page) } %}
{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% if category_page %}

    {% set title = category.title %}

    {% if resources.data.currentPageResults|length %}
        {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
    {% endif %}

    {% set title = title ~ ' - ' ~ page.title %}

{% else %}

    {% set criterias = event_occurrences.parameters.get('criteria') %}
    {% set filters = [] %}

    {% if event_occurrences.parameters.get('date') and event_occurrences.parameters.get('date') != 'date-personnalisee' %}
        {% set filters = filters|merge(['"' ~ event_occurrences.parameters.get('date')|capitalize ~ '"']) %}
    {% endif %}
    {% if criterias['category'] is defined and criterias['category'] is not empty and criterias['category'] is iterable %}
        {% set filters = filters|merge(['"' ~ get_category_labels_by_ids(criterias['category']) ~ '"']) %}
    {% endif %}
    {%  if criterias['pricing'] is defined and criterias['pricing'] is not empty %}
        {% set filters = filters|merge(['"' ~ criterias['pricing']|capitalize ~ '"'])%}
    {% endif %}
    {%  if criterias['audience'] is defined and criterias['audience'] is not empty %}
        {% set filters = filters|merge(['"' ~ ('app.ui.resource.event.audience.' ~ criterias['audience'])|trans ~ '"']) %}
    {% endif %}
    {% if criterias['accessibility'] is defined and criterias['accessibility'] is not empty %}
        {% set filters = filters|merge(['"' ~ ('app.ui.grid.filter.accessibility.choices.' ~ criterias['accessibility'])|trans ~ '"']) %}
    {% endif %}

    {% set title = "Au programme : résultats de recherche" %}

    {% if filters is not empty %}
        {% set title = title ~ " pour " ~ filters|join(", ") %}
    {% endif %}

    {% if resources.data.currentPageResults|length %}
        {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
    {% endif %}

{% endif %}

{% block title %}{{ title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% if category %}
            {% set title = category.title %}
            {% set description = category.description %}
            {% set picture = category.mainImage %}
        {% else %}
            {% set title = page.title %}
            {% set description = page.description %}
            {% set picture = page.mainImage %}
        {% endif %}

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: title,
            description: description,
            picture: picture,
            breadcrumb: breadcrumb|default,
        } only %}


        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        {% include '@SyliusShop/Event/_partials/_search.html.twig' %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body" id="resultats">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">


                {# Pour l'affichage ou non de l'encart "Aucun résultat" #}
                {% set no_result = true %}


                {# ***********************************************
                ** SECTIONS DE MISE EN AVANT
                ************************************************** #}

                {% if section_resources or section_resources %}

                    {% set section_titles = { 'first': 'À ne pas manquer', 'second': 'Les expositions'} %}

                    {% for section, resources in section_resources %}

                        {% if resources %}

                            {% set no_result = false %}

                            <section class="l-stack__item">

                                <div class="l-stack__element l-stack__element--large">
                                    <h2 class="c-title u-text-align-center-until-medium">{{ section_titles[section] }}</h2>
                                </div>

                                <div class="l-stack__element l-stack__element--xlarge">
                                    <div class="l-grid l-grid--closer">

                                        {% for resource in resources %}
                                            <div class="l-grid__item">
                                                {% if attribute(resource, 'event') is defined %}
                                                    {{ include('@SyliusShop/Event/_event_from_occurrence.html.twig', { occurrence: resource }) }}
                                                {% else %}
                                                    {{ include('@SyliusShop/Event/_event_from_event.html.twig', { event: resource }) }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </section>

                        {% endif %}

                    {% endfor %}

                {% endif %}



                {# ***********************************************
                ** TOUS LES RDV
                ************************************************** #}

                {% if resources.data.currentPageResults|length %}

                    {% set no_result = false %}

                    <section class="l-stack__item">

                        {% if section_resources %}
                            <div class="l-stack__element">
                                <h2 class="c-title">Tous les rendez-vous</h2>
                            </div>
                        {% endif %}

                        {% set item_current = resources.data.currentPageResults|length %}
                        {% set item_total = resources.data.nbResults %}
                        {% set page_current = resources.data.currentPage %}
                        {% set page_total = resources.data.nbPages %}

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--closer">
                                {% for resource in resources.data %}
                                    <div class="l-grid__item">
                                        {% if attribute(resource, 'event') is defined %}
                                            {{ include('@SyliusShop/Event/_event_from_occurrence.html.twig', { occurrence: resource }) }}
                                        {% else %}
                                            {{ include('@SyliusShop/Event/_event_from_event.html.twig', { event: resource }) }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {{ pagination.simple(resources.data) }}
                        </div>

                    </section>

                    <div class="l-stack__item l-stack__item--narrow v-back-to-top">
                        {% include ui('button') with {
                            mode: "primary",
                            icon: 'arrow-up',
                            label: "Retour en haut de page",
                            attributes: {
                                class: "v-back-to-top__button",
                                href: "#top"
                            }
                        } only %}
                    </div>
                {% endif %}


                {# ***********************************************
                ** AUCUN RÉSULTAT
                ************************************************** #}


                {% if no_result %}
                    <section class="l-stack__item">
                        <div class="l-stack__element l-stack__element--xlarge s-richtext u-text-align-center">
                            <h2>Aucun résultat</h2>
                            <p>
                                Aucun résultat ne correspond à votre recherche.<br />
                                Vous pouvez obtenir plus de résultats en <strong>modifiant votre recherche</strong> ou en découvrant toute notre programmation.
                            </p>
                        </div>
                        <div class="l-stack__element u-flex-align-center">
                            {% include ui('button') with {
                                mode: false,
                                icon: 'arrow-right',
                                label: "Voir toute la programmation",
                                attributes: {
                                    href: path('luna_page_show', { slug: under_pages_slug_by_code('events') }),
                                }
                            } only %}
                        </div>
                    </section>
                {% endif %}


            </div>
        </div>


        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% set blocks = category ? category.blocks : page.blocks %}

        {% if blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
