{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': event } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} page-event{{ event.color ? ' page-event-' ~ event.color.value }}{% endblock %}

{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-event-container-btn{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% set title = event.title %}

{# Éléments de metatitle et de bannière #}
{% if event.category.displayOccurrences and (isOccurrence or event.occurrences|length == 1) %}
    {% set eventOccurrence = isOccurrence ? eventOccurrence : event.occurrences|first %}
    {% set title = title ~ ' : le ' ~ get_event_occurrence_date(eventOccurrence) %}
    {% set date = get_event_occurrence_date(eventOccurrence) %}
    {% set duration = eventOccurrence.calculateDuration() %}
    {% set time = "Durée : " ~ duration|formatted_hours %}
{% else %}
    {% set date = get_event_date(event) %}
{% endif %}

{% block title %}{{ title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** JSON LD
************************************************** #}

{% block json_ld %}
    {% set _json_ld = {
        '@context': "https://schema.org",
        '@type': "Event",
        'name': event.title,
        "eventStatus": "https://schema.org/EventScheduled",
    } %}

    {% if event.startingAt|default %}
        {% set _json_ld = _json_ld|merge({
            'startDate': event.startingAt|date("c"),
        }) %}
    {% endif %}

    {% if event.endingAt|default %}
        {% set _json_ld = _json_ld|merge({
            'endDate': event.endingAt|date("c"),
        }) %}
    {% endif %}

    {% if event.location|default %}
        {% set _json_ld = _json_ld|merge({
            'location': ('app.ui.resource.event.location.' ~ event.location)|trans,
        }) %}
    {% endif %}

    {% if event.description|default %}
        {% set _json_ld = _json_ld|merge({
            'description': event.description,
        }) %}
    {% endif %}

    {% if event.mainImage|default %}
        {% set _json_ld = _json_ld|merge({
            'image': [ absolute_url(asset(event.mainImage.image)|imagine_filter('figure_large')) ],
        }) %}
    {% endif %}

    {% set json_ld = json_ld|default([])|merge([_json_ld]) %}

    {{ parent() }}
{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}
    {% set has_aside = true %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% set linkAllOccurrences = false %}
        {% if event.category.displayOccurrences and event.occurrences|length > 1 and occurrencesByMonths|first|length > 1 or occurrencesByMonths|length > 1 %}
            {% set linkAllOccurrences = true %}
        {% endif %}

        {% if event.status != 1 %}
            {% set stroke = true %}
            {% set status = ('app.ui.resource.event.status.' ~ event.status)|trans %}
        {% endif %}

        {% if event.mainImageCredits is not empty %}
            {% set caption = "Photo : " ~ event.mainImageCredits %}
        {% endif %}
        {% if event.mainImage is not null %}
            {% set image = asset(event.mainImage.image, 'app.shop') %}
        {% endif %}

        {% include ui('banner') with {
            type: "event",
            color: event.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: event.title,
            description: false,
            tag: event.category.label,
            specs: [
                {
                    icon: "calendar",
                    label: "Date",
                    text: date|default,
                    link: linkAllOccurrences|default,
                    stroke: stroke|default,
                    suffix: status|default
                },
                {
                    icon: "timer",
                    text: time|default
                },
                {
                    icon: "pin",
                    label: "Lieu",
                    text: ('app.ui.resource.event.location.' ~ event.location)|trans
                }
            ],
            picture: {
                image: image|default,
                caption: caption|default
            }
        } only %}



        {# ***********************************************
        ** ENABLER
        ************************************************** #}

        {% if event.pricing == 'gratuit' %}
            {% set pricing = event.pricing|capitalize %}
            {% set helper = 'Entrée libre & gratuite dans la limite des places disponibles' %}
        {% elseif event.pricing == 'payant' %}
            {% if event.price is not empty %}
                {% set pricing = 'Plein tarif : ' %}
                {% set value = event.price ~ '€' %}
                {% set helper = 'D’autres tarifs disponibles' %}
            {% endif %}
        {% endif %}
        {% if event.ticketing and (event.status == 1 or event.status == 4) %}
            {% set button = { icon: "ticket", label: 'app.ui.resource.event.booking.button'|trans, href: event.ticketing, target: "_blank" } %}
        {% endif %}

        {% include ui('enabler') with {
            picture: image|default,
            label: pricing|default,
            value: value|default,
            helper: helper|default,
            button: button|default
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-container l-container--xlarge">
            <div class="l-main__board">



                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                {% if event.ageMin is not null and event.ageMax is null %}
                    {% set acceptance =  "À partir de " ~ event.ageMin ~ " ans" %}
                {% elseif event.ageMin is null and event.ageMax is not null %}
                    {% set acceptance =  "Jusqu'à l'âge de " ~ event.ageMax ~ " ans" %}
                {% elseif event.ageMin is not null and event.ageMax is not null %}
                    {% set acceptance =  "De " ~ event.ageMin ~ " à " ~ event.ageMax ~ " ans" %}
                {% endif %}


                <div class="l-main__aside">
                    {% include ui('audience') with {
                        intending: {
                            icon: "check-circle",
                            text: ('app.ui.resource.event.audience.' ~ event.audience)|trans,
                            color: 'green'
                        },
                        acceptance: acceptance|default,
                        accessibility: {
                            motor: event.accessibilityMi,
                            psychic: event.accessibilityPi,
                            intellectual: event.accessibilityIi,
                            hearing: event.accessibilityHi,
                            visual: event.accessibilityVi
                        }
                    } only %}
                </div>



                {# ***********************************************
                ** MAIN
                ************************************************** #}

                <div class="l-main__main">
                    <div class="l-stack l-stack--narrow">
                        <div class="l-container l-container--small l-container--right">



                            {# ***********************************************
                            ** INTRODUCTION
                            ************************************************** #}

                            <div class="l-stack__item s-introduction">
                                {% set no_p_tags = not ('<p>' in event.description) %}
                                {% if no_p_tags %}
                                    <p>
                                {% endif %}
                                {{ event.description|html_safe }}
                                {% if no_p_tags %}
                                    </p>
                                {% endif %}
                            </div>



                            {# ***********************************************
                            ** FLEXIBLE BLOCKS
                            ************************************************** #}

                            {% set elements = monsieurbiz_richeditor_get_elements(event.blocks) %}

                            {% if elements|default %}
                                {% for element in elements %}
                                    {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                    {{ element|monsieurbiz_richeditor_render_element }}
                                {% endfor %}

                            {% endif %}

                            {% if linkAllOccurrences %}
                                <div class="l-stack__item">

                                        {% include ui('timetable') with {
                                            title: 'app.ui.resource.event.all_occurrences.title'|trans,
                                            items: occurrencesByMonths,
                                            nofollow: true,
                                        } only %}

                                </div>
                            {% endif %}



                            {% if relatedProgrammesByDays is not empty %}

                                <div class="l-stack__item">
                                    {% include ui('timetable') with {
                                        title: 'app.ui.resource.event.associated_programs.title'|trans,
                                        description: 'app.ui.resource.event.associated_programs.description'|trans,
                                        items: relatedProgrammesByDays
                                    } only %}
                                </div>

                            {% endif %}



                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>



    {# ***********************************************
    ** FOOT
    ************************************************** #}

    {% if eventsSameCategory is not empty %}
        <div class="l-main__body">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** VARIABLES
                ************************************************** #}

                {% set events = [] %}

                {% for event in eventsSameCategory %}

                    {% if event.dateEnding is defined %}
                        {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
                    {% else %}
                        {% set date = event.dateStarting|formatted_date_time %}
                    {% endif %}

                    {% if event.status is defined and event.status != 1 %}
                        {% set stroke = true %}
                        {% set status = ('app.ui.resource.event.status.' ~ event.status)|trans %}
                    {% else %}
                        {% set stroke = false %}
                        {% set status = '' %}
                    {% endif %}

                    {% if event.location is defined %}
                        {% set location = ('app.ui.resource.event.location.' ~ event.location)|trans %}
                    {% else %}
                        {% set location = '' %}
                    {% endif %}

                    {% if event.pricing is defined %}
                        {% set pricing = event.pricing|capitalize %}
                    {% else %}
                        {% set pricing = '' %}
                    {% endif %}


                    {% set events = events|merge([{
                        picture: event.picture,
                        tag: event.tag,
                        title: {
                            level: 3,
                            text: event.title
                        },
                        specs: [
                            { icon: "calendar", text: date|capitalize, stroke: stroke|default, status: status|default },
                            { icon: "pin", text: location|default},
                            { icon: "ticket", text: pricing|default }
                        ],
                        link: event.href,
                        color: event.color.value|default
                    }]) %}

                {% endfor %}



                {# ***********************************************
                ** MARKUP
                ************************************************** #}

                <div class="l-main__foot">
                    {% include ui('events') with {
                        title: 'Les autres ' ~ event.category.labelPlural|lower ~ ' aux Champs Libres',
                        items: events
                    } %}
                </div>



            </div>
        </div>
    {% endif %}



{% endblock %}
