{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui tab" data-tab="content">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.content'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        {% if form.article is defined %}
            {{ form_row(form.article) }}
        {% endif %}

        {% for locale, translationForm in form.translations %}
            <div data-locale="{{ locale }}">

                <div class="transition hidden">{{ form_row(translationForm.blockable.init_ckeditor)}}</div>
                {{ form_row(translationForm.blockable.blocks) }}

            </div>
        {% endfor %}

    </div>
</div>
