{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'sylius.ui.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui segment">
                    <h4 class="ui header">{{ 'luna.ui.trait.toggleable.enabled.title'|trans }}</h4>
                    {{ form_row(form.toggleable.enabled) }}
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    {{ form_row(form.parent) }}
                </div>
            </div>
        </div>

        <div class="ui one column stackable grid">
            <div class="column">

                <h4 class="ui dividing header">{{ 'luna.ui.resource.page.form.page_info'|trans }}</h4>

                {% for locale, translationForm in form.translations %}
                    <div data-locale="{{ locale }}">

                        {{ form_row(translationForm.titleable.title) }}

                        {% if form.vars.data.behavior is defined and form.vars.data.behavior.name != 'Homepage' %}
                            {{ form_row(translationForm.titleable.slug) }}
                        {% endif %}

                        {{ form_row(translationForm.describable.description) }}

                        {% set message_content = "Ajouter une image principale est <strong>consommateur de ressources</strong>. Il est recommandé d'en ajouter <strong>avec parcimonie</strong> dans un objectif <strong>d'éco-conception</strong>." %}
                        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig', {message_content: message_content}) }}
                        {{ form_row(translationForm.main_imageable.mainImage) }}

                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
