<div class="ui tab" data-tab="settings">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.settings'|trans }}</h3>

    <div class="ui attached segment">

        <div class="ui visible warning icon message">
            <i class="exclamation circle icon"></i>
            <div class="content">
                <div class="header">
                    Attention !
                </div>
                <p>
                    Ne modifiez ces paramètres que si vous savez ce que vous faites.
                    <br />Un mauvais paramétrage peut conduire à <strong>des dysfonctionnements sur le site</strong>.
                    <br /><em>De ce fait, cet onglet est accessible uniquement aux administratrices et administrateurs.</em>
                </p>
            </div>
        </div>

        {{ form_errors(form) }}

        {{ form_row(form.behavior) }}
        {{ form_row(form.template) }}
        {{ form_row(form.underPagesCode) }}
        {{ form_row(form.professional) }}
        {{ form_row(form.cacheMethod) }}
    </div>
</div>
