{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-audience</h1>
        <hr />

        {% include ui('audience') with {
            intending: {
                icon: "check-circle",
                text: "Tout public",
                color: "green"
            },
            acceptance: "À partir de 4 ans",
            accessibility: {
                physical: true,
                mental: true,
                hearing: true,
                visual: true
            }
        } only %}

    </div>

{% endblock %}
