{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-banner</h1>
        <hr />
    </div>

    {% include ui('banner') with {
        type: "large",
        notched: false,
        title: "Bienvenue aux Champs Libres",
        description: "Place publique de la culture et des savoirs composée d'une <a href=\"#\">bibliothèque</a>, du <a href=\"#\">musée de Bretagne</a>, de l'<a href=\"#\">Espace des sciences</a>, de lieux d'exposition et de rencontres.",
        picture: false
    } only %}

    <hr />

    {% include ui('banner') with {
        notched: true,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Les Champs Libres",
                href: "#"
            },
            {
                label: "Les Champs Libres c'est quoi ?",
                href: "#"
            }
        ],
        title: "Titre de la page",
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Légende facultative : Lorem ipsum dolor sit."
        }
    } only %}

    <hr />

    {% include ui('banner') with {
        notched: true,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Les Champs Libres",
                href: "#"
            },
            {
                label: "Les Champs Libres c'est quoi ?",
                href: "#"
            }
        ],
        title: "Titre de la page légèrement long",
        description: "Lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim ullamcorper diam rhoncus. Dictum rutrum id in vitae id augue dignissim. Donec sagittis mauris tempor placerat. Viverra pulvinar ornare aenean posuere.",
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Légende facultative : Lorem ipsum dolor sit."
        }
    } only %}

    <hr />

    {% include ui('banner') with {
        type: "centered",
        notched: true,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Explorer",
                href: "#"
            }
        ],
        title: "Explorer",
        description: "Retrouvez ici une sélection de ressources à consulter en ligne, gratuitement et depuis chez vous ou partout ailleurs, sélectionnées avec soin par les équipes du Musée, de la Bibliothèque et de l’Espace des Sciences.",
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Légende facultative : Lorem ipsum dolor sit."
        }
    } only %}

    <hr />

    {% include ui('banner') with {
        type: "event",
        color: "yellow",
        notched: false,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Programme",
                href: "#"
            },
            {
                label: "La vie en photographie - Mathieu Pernot",
                href: "#"
            }
        ],
        title: "La vie en photographie - Mathieu Pernot",
        description: false,
        tag: "Exposition",
        specs: [
            {
                icon: "calendar",
                text: "Du 13/05/2023 au 03/12/2023"
            },
            {
                icon: "pin",
                text: "Musée de Bretagne"
            }
        ],
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Photo : Arizona Production"
        }
    } only %}

    <hr />

    {% include ui('banner') with {
        type: "series",
        color: "yellow",
        notched: true,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Explorer",
                href: "#"
            },
            {
                label: "Séries",
                href: "#"
            },
            {
                label: "\"À table\"",
                href: "#"
            }
        ],
        title: "Manger",
        description: "Une série sur le sujet de l'alimentation",
        publication_date: "14/11/2023",
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Photo : Arizona Production"
        }
    } only %}

    <hr />

    {% include ui('banner') with {
        type: "post",
        color: "yellow",
        notched: true,
        breadcrumb: [
            {
                label: "Accueil",
                href: "/"
            },
            {
                label: "Le Mag",
                href: "#"
            },
            {
                label: "À lire",
                href: "#"
            },
            {
                label: "William Kentridge aux Champs Libres : la conquête (sonore) de l'espace",
                href: "#"
            }
        ],
        title: "William Kentridge aux Champs Libres : la conquête (sonore) de l'espace",
        description: false,
        tag: {
            icon: "book",
            label: "À lire"
        },
        mentions: [
            {
                icon: "write",
                label: "Écrit par",
                value: "Antoine Blanchet - Attaché de presse"
            },
            {
                icon: "papers",
                label: "Licence",
                value: "CC BY-SA"
            },
            {
                icon: "calendar",
                label: "Publié le",
                value: "14/09/2022"
            }
        ],
        picture: {
            image: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            caption: "Légende facultative : Lorem ipsum dolor sit."
        }
    } only %}

{% endblock %}
