{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-browse</h1>

        <hr />
    </div>

    <div class="l-container">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('browse') with {
                    title: {
                        level: 2,
                        text: "Découvrez toutes les séries"
                    },
                    description: "Lorem ipsum dolor sit amet esteau nobelum tussa gabor um litis havors.",
                    link: {
                        label: "Parcourir toutes les séries",
                        href: "#"
                    }
                } only %}
            </div>
        </div>
    </div>

{% endblock %}
