{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-card</h1>

        <hr />
    </div>

    <div class="l-container">

        <h2 class="c-title">With picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('card') with {
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "Espace des sciences"
                    },
                    description: "Centre de culture scientifique, technique et industrielle, il est composé d'un planétarium, d'une exposition de référence traitant du cerveau humain, et du Laboratoire de Merlin, espace dédié à la pratique et l'expérience scientifique des enfants.",
                    link: {
                        label: "Découvrir",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('card') with {
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "Espace des sciences"
                    },
                    description: "Centre de culture scientifique, technique et industrielle.",
                    link: {
                        label: "Accéder à l’Espace des sciences",
                        href: "#"
                    }
                } only %}
            </div>
        </div>

        <hr />

        <h2 class="c-title">Without picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('card') with {
                    title: {
                        level: 2,
                        text: "Espace des sciences"
                    },
                    description: "Centre de culture scientifique, technique et industrielle, il est composé d'un planétarium, d'une exposition de référence traitant du cerveau humain, et du Laboratoire de Merlin, espace dédié à la pratique et l'expérience scientifique des enfants.",
                    link: {
                        label: "Découvrir",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('card') with {
                    title: {
                        level: 2,
                        text: "Espace des sciences"
                    },
                    description: "Centre de culture scientifique, technique et industrielle.",
                    link: {
                        label: "Accéder à l’Espace des sciences",
                        href: "#"
                    }
                } only %}
            </div>
        </div>

        <hr />

    </div>

    <div class="l-container l-container--xlarge">

        <h2 class="c-title">Card large - With picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 600px; padding: 20px;">
                {% include ui('card') with {
                    large: true,
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: {
                        icon: "article",
                        label: "Article"
                    },
                    title: {
                        level: 2,
                        text: "Un homme bien dans ses baskets, son assiette et sa tête"
                    },
                    description: "Description courte du media, lorem ipsum dolor sit amet consectetur. Diam bibendum volutpat lectus adipiscing. Interdum ultrices quisque elementum commodo diam vulputate.",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 600px; padding: 20px;">
                {% include ui('card') with {
                    large: true,
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: {
                        icon: "headphones",
                        label: "Podcast"
                    },
                    title: {
                        level: 2,
                        text: "Vers une nouvelle solidarité alimentaire"
                    },
                    description: "Description courte du media, lorem ipsum dolor sit amet consectetur. Diam bibendum volutpat lectus adipiscing. Interdum ultrices quisque elementum commodo diam vulputate.",
                    link: {
                        label: "Écouter le podcast",
                        href: "#",
                        target: "_blank"
                    }
                } only %}
            </div>
        </div>

        <hr />

        <h2 class="c-title">Card large - Without picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 600px; padding: 20px;">
                {% include ui('card') with {
                    large: true,
                    tag: {
                        icon: "article",
                        label: "Article"
                    },
                    title: {
                        level: 2,
                        text: "Un homme bien dans ses baskets, son assiette et sa tête"
                    },
                    description: "Description courte du media, lorem ipsum dolor sit amet consectetur. Diam bibendum volutpat lectus adipiscing. Interdum ultrices quisque elementum commodo diam vulputate.",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 600px; padding: 20px;">
                {% include ui('card') with {
                    large: true,
                    tag: {
                        icon: "headphones",
                        label: "Podcast"
                    },
                    title: {
                        level: 2,
                        text: "Vers une nouvelle solidarité alimentaire"
                    },
                    description: "Description courte du media, lorem ipsum dolor sit amet consectetur. Diam bibendum volutpat lectus adipiscing. Interdum ultrices quisque elementum commodo diam vulputate.",
                    link: {
                        label: "Écouter le podcast",
                        href: "#",
                        target: "_blank"
                    }
                } only %}
            </div>
        </div>

    </div>
{% endblock %}
