{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-cta</h1>
        <hr />

        <h2 class="c-title">Without picture</h2>

        {% include ui('cta') with {
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "yellow",
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "green",
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "red",
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "violet",
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        <h2 class="c-title">With picture</h2>

        {% include ui('cta') with {
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "yellow",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "green",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "red",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "violet",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        <h2 class="c-title">With picture (fullsize)</h2>

        {% include ui('cta') with {
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            fullsize: true,
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "yellow",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            fullsize: true,
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "green",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            fullsize: true,
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "red",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            fullsize: true,
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

        <hr />

        {% include ui('cta') with {
            color: "violet",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            fullsize: true,
            label: "Sur-titre",
            heading: {
                title: "Titre du bloc",
                level: 2
            },
            description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
            link: {
                label: "Découvrir",
                href: "#"
            }
        } only %}

    </div>

{% endblock %}
