{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-enabler</h1>
        <hr />

        <div>
            {% include ui('enabler') with {
                picture: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                label: "Plein tarif :",
                value: "7€",
                helper: "D’autres tarifs disponibles",
                button: {
                    icon: "ticket",
                    label: "Acheter mon billet",
                    href: "#"
                }
            } only %}
        </div>

        <hr />

        <div>
            {% include ui('enabler') with {
                picture: false,
                label: false,
                value: "Gratuit",
                helper: "Entrée libre & gratuite dans la limite des places disponibles"
            } only %}
        </div>

    </div>

{% endblock %}
