{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-event</h1>

        <hr />



        {# ***********************************************
        ** WITH PICTURE
        ************************************************** #}

        <h2 class="c-title">With picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "green",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "red",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "blue",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
        </div>

        <hr />



        {# ***********************************************
        ** WITHOUT PICTURE
        ************************************************** #}

        <h2 class="c-title">Without picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "yellow",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "green",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "red",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "blue",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
        </div>

        <hr />



        {# ***********************************************
        ** SPECIFIC CASES
        ************************************************** #}

        <h2 class="c-title">Specific cases</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "Du 12/12/23 au 25/12/23", stroke: true, suffix: "Annulé" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "Du 12/12/23 au 25/12/23", stroke: true, suffix: "Reporté" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 340px; padding: 10px;">
                {% include ui('event') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "Du XX/XX/XX au XX/XX/XX", prefix: "Prochainement" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
        </div>

        <hr />



        {# ***********************************************
        ** PICTURED & HORIZONTAL
        ************************************************** #}

        <h2 class="c-title">Pictured & Horizontal case</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "green",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "red",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "blue",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
        </div>

        <hr />



        {# ***********************************************
        ** HORIZONTAL WITHOUT PICTURE
        ************************************************** #}

        <h2 class="c-title">Horizontal without picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "yellow",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "green",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "red",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
            <div style="flex: 0 1 704px; padding: 10px;">
                {% include ui('event') with {
                    horizontal: true,
                    color: "blue",
                    tag: "Type",
                    title: {
                        level: 2,
                        text: "Titre"
                    },
                    specs: [
                        { icon: "calendar", text: "jj/mm/aa" },
                        { icon: "pin", text: "Musée de Bretagne" },
                        { icon: "ticket", text: "Gratuit" }
                    ],
                    link: "#"
                } only %}
            </div>
        </div>

        <hr />



    </div>
{% endblock %}
