{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-events</h1>
        <hr />
    </div>

    <div class="l-container l-container--xlarge">



        {# ***********************************************
        ** Variables
        ************************************************** #}

        {% set event = {
            picture: { image: asset('build/app/shop/images/share.png', 'app.shop') },
            tag: "Type",
            title: {
                level: 2,
                text: "Titre"
            },
            specs: [
                { icon: "calendar", text: "jj/mm/aa" },
                { icon: "pin", text: "Musée de Bretagne" },
                { icon: "ticket", text: "Gratuit" }
            ],
            link: "#"
        } %}



        {# ***********************************************
        ** EXAMPLE 1: 1 event
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 2: 2 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 3: 3 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 4: 4 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 5: 5 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event,
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 6: 6 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event,
                event,
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 7: 7 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event,
                event,
                event,
                event,
                event
            ]
        } only %}

        <hr />



        {# ***********************************************
        ** EXAMPLE 8: 8 events
        ************************************************** #}

        {% include ui('events') with {
            label: "Zoom sur",
            title: "Les expositions du moment",
            button: {
                icon: "arrow-right",
                label: "Voir toutes les expositions",
                attributes: { href: "#" }
            },
            items: [
                event,
                event,
                event,
                event,
                event,
                event,
                event,
                event
            ]
        } only %}

        <hr />



    </div>

{% endblock %}
