{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-explore</h1>
        <hr />
    </div>

    <div class="l-container l-container--xlarge">
        {% include ui('explore') with {
            title: "Explorez d'autres séries",
            description: "Courte description permettant d’introduire le concept des séries. Lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim.",
            button: {
                label: "Parcourir toutes les séries",
                href: "#"
            },
            items: [
                {
                    color: "green",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: "Produire",
                    description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                    href: "#"
                },
                {
                    color: "blue",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: "Cuisiner",
                    description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                    href: "#"
                }
            ]
        } only %}
    </div>

{% endblock %}
