{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-field</h1>
        <hr />

        {% include ui('field') with {
            id: "lastname",
            label: "Nom",
            control: {
                component: "input",
                attributes: {
                    type: "text"
                }
            },
            optional: false
        } only %}

        <hr />

        {% include ui('field') with {
            id: "lastname",
            label: "E-mail",
            hint: "Format attendu : nom@domaine.fr",
            control: {
                component: "input",
                attributes: {
                    type: "text",
                    value: "adresse&gmail.com"
                }
            },
            optional: true,
            error: true
        } only %}

    </div>

{% endblock %}
