{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-files</h1>
        <hr />

        {% include ui('files') with {
            title: "Documents téléchargeables",
            description: "Contexte facultatif : Lorem ipsum dolor sit amet consectetur. Aliquam vitae porttitor urna.",
            items: [
                {
                    title: "Infographie : l’agrobusiness en Bretagne",
                    description: "Document PDF : 223 ko",
                    href: "#"
                },
                {
                    title: "Chiffres sur l’agrobusiness en France",
                    description: "Document PDF : 73 ko",
                    href: "#"
                },
                {
                    title: "L’agrobusiness et ses contraintes",
                    description: "Document PDF : 125 ko",
                    href: "#"
                },
                {
                    title: "Rapport sur l’agrobusiness en Europe",
                    description: "Document PDF : 207 ko",
                    href: "#"
                }
            ]
        } only %}

    </div>

{% endblock %}
