{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-form</h1>
        <hr />



        {# ***********************************************
        ** EXAMPLE 1: contact
        ************************************************** #}

        <h2 class="c-title">Exemple 1 : formulaire de contact</h2>

        <form class="v-form">

            <h2 class="v-form__title c-title">Formulaire de contact</h2>
            <p class="v-form__description">Tous les champs sont obligatoires à l’exception de ceux spécifiés comme facultatifs.</p>

            <div class="v-form__fields">

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-lastname",
                        label: "Nom",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text"
                            }
                        },
                        optional: false
                    } only %}
                    {% include ui('field') with {
                        id: "contact-firstname",
                        label: "Prénom",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text"
                            }
                        },
                        optional: false
                    } only %}
                </div>

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-email",
                        label: "E-mail",
                        hint: "Format attendu : nom@domaine.fr",
                        control: {
                            component: "input",
                            attributes: {
                                type: "email"
                            }
                        },
                        optional: false
                    } only %}
                    {% include ui('field') with {
                        id: "contact-company",
                        label: "Société",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text"
                            }
                        },
                        optional: true
                    } only %}
                </div>

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-service",
                        label: "Service à contacter",
                        control: {
                            component: "select",
                            attributes: {
                                options: [
                                    { label: "option-1", value: "Option 1" },
                                    { label: "option-2", value: "Option 2" },
                                    { label: "option-3", value: "Option 3" }
                                ]
                            }
                        },
                        optional: false
                    } only %}
                    {% include ui('field') with {
                        id: "contact-subject",
                        label: "Objet",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text"
                            }
                        },
                        optional: false
                    } only %}
                </div>

                {% include ui('field') with {
                    id: "contact-message",
                    label: "Message",
                    control: {
                        component: "textarea"
                    },
                    optional: false
                } only %}

                {% include ui('field') with {
                    id: "contact-rgpd",
                    label: "[Texte RGPD]",
                    control: {
                        component: "checkbox",
                        attributes: {
                            value: "checkbox-value",
                            checked: false,
                            disabled: false
                        }
                    },
                    optional: false
                } only %}

            </div>

            <div class="v-form__actions">
                {% include ui('button') with {
                    icon: 'arrow-right',
                    label: "Envoyer le message",
                    attributes: { type: "submit" }
                } only %}
            </div>

        </form>

        <hr />



        {# ***********************************************
        ** EXAMPLE 1-b: contact (errors)
        ************************************************** #}

        <h2 class="c-title">Exemple 1-b : formulaire de contact (avec erreurs)</h2>

        <form class="v-form">

            <h2 class="v-form__title c-title">Formulaire de contact</h2>
            <p class="v-form__description">Tous les champs sont obligatoires à l’exception de ceux spécifiés comme facultatifs.</p>

            <div class="v-form__message" role="alert">
                {# Doc front-end : https://www.w3.org/WAI/tutorials/forms/notifications/ #}
            </div>

            <div class="v-form__fields">

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-2-lastname",
                        label: "Nom",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text",
                                value: "Luna"
                            }
                        },
                        optional: false
                    } only %}
                    {% include ui('field') with {
                        id: "contact-2-firstname",
                        label: "Prénom",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text"
                            }
                        },
                        optional: false,
                        error: "Ce champ est obligatoire"
                    } only %}
                </div>

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-2-email",
                        label: "E-mail",
                        hint: "Format attendu : nom@domaine.fr",
                        control: {
                            component: "input",
                            attributes: {
                                type: "email",
                                value: "adresse&gmail.com"
                            }
                        },
                        optional: false,
                        error: "Erreur sur le format"
                    } only %}
                    {% include ui('field') with {
                        id: "contact-2-company",
                        label: "Société",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text",
                                value: "LunaWeb"
                            }
                        },
                        optional: true
                    } only %}
                </div>

                <div class="v-form__row">
                    {% include ui('field') with {
                        id: "contact-2-service",
                        label: "Service à contacter",
                        control: {
                            component: "select",
                            attributes: {
                                options: [
                                    { label: "option-1", value: "Option 1" },
                                    { label: "option-2", value: "Option 2" },
                                    { label: "option-3", value: "Option 3" }
                                ]
                            }
                        },
                        optional: false
                    } only %}
                    {% include ui('field') with {
                        id: "contact-2-subject",
                        label: "Objet",
                        control: {
                            component: "input",
                            attributes: {
                                type: "text",
                                value: "Test"
                            }
                        },
                        optional: false
                    } only %}
                </div>

                {% include ui('field') with {
                    id: "contact-2-message",
                    label: "Message",
                    control: {
                        component: "textarea",
                        value: "Voici un exemple de message"
                    },
                    optional: false
                } only %}

                {% include ui('field') with {
                    id: "contact-2-rgpd",
                    label: "[Texte RGPD]",
                    control: {
                        component: "checkbox",
                        attributes: {
                            value: "checkbox-value",
                            checked: false,
                            disabled: false
                        }
                    },
                    optional: false,
                    error: "Ce champ est obligatoire"
                } only %}

            </div>

            <div class="v-form__actions">
                {% include ui('button') with {
                    icon: 'arrow-right',
                    label: "Envoyer le message",
                    attributes: { type: "submit" }
                } only %}
            </div>

        </form>

        <hr />



        {# ***********************************************
        ** EXAMPLE 2: newsletter
        ************************************************** #}

        <h2 class="c-title">Exemple 2 : formulaire newsletter</h2>

        <form class="v-form">

            <h2 class="v-form__title c-title">Inscription à la lettre d'information</h2>

            <div class="v-form__fields">
                {% include ui('field') with {
                    id: "newsletter-email",
                    label: "Votre adresse e-mail",
                    hint: "Format attendu : nom@domaine.fr",
                    control: {
                        component: "input",
                        attributes: {
                            type: "text"
                        }
                    },
                    optional: false
                } only %}
            </div>

            <p class="v-form__description s-richtext">
                <strong>Protection de vos données personnelles</strong>
                <br />
                Votre adresse de messagerie est uniquement utilisée pour vous envoyer les lettres d'information des Champs Libres. Vous pouvez à tout moment utiliser le lien de désabonnement intégré dans la newsletter. Afin de valider votre inscription, merci de bien vouloir cocher la case ci-dessous :
            </p>

            <div class="v-form__fields">
                {% include ui('field') with {
                    id: "newsletter-rgpd",
                    label: "Je souhaite recevoir la lettre d’information des Champs Libres",
                    control: {
                        component: "checkbox",
                        attributes: {
                            value: "newsletter-rgpd-accepted",
                            checked: false,
                            disabled: false
                        }
                    },
                    optional: false
                } only %}
            </div>

            <div class="v-form__actions">
                {% include ui('button') with {
                    icon: 'arrow-right',
                    label: "S’abonner à la newsletter",
                    attributes: { type: "submit" }
                } only %}
            </div>

        </form>

    </div>

{% endblock %}
