{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-illustrated</h1>
        <hr />

        {% set illustrated_content %}
            <h2>Titre de niveau 2</h2>
            <p>Nulla blandit vestibulum elementum, arcu laoreet mauris. Suspendisse est scelerisque pretium eu facilisis eu egestas ut eget. Sit neque elementum, <a href="#">lien textuel</a>. Non sapien, tortor, velit viverra mattis ut quis a semper.</p>
            <p>Mattis egestas auctor sit pellentesque nunc ac. <strong>Exemple de texte en gras</strong> et suspendisse volutpat facilisis purus sagittis. Volutpat tincidunt urna, purus tortor consectetur tincidunt augue.</p>
        {% endset %}

        <h2 class="c-title">Image à gauche</h2>

        {% include ui('illustrated') with {
            figure: {
                position: "left",
                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                format: "illustrated_aside",
                alt: "Texte alternatif ici",
                caption: "Légende de l'image ici"
            },
            label: "Sur-titre",
            content: illustrated_content,
            link: {
                label: "Bouton",
                href: "#"
            }
        } only %}

        <hr />

        <h2 class="c-title">Image à droite</h2>

        {% include ui('illustrated') with {
            figure: {
                position: "right",
                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                format: "illustrated_aside",
                alt: "Texte alternatif ici",
                caption: "Légende de l'image ici"
            },
            label: "Sur-titre",
            content: illustrated_content,
            link: {
                label: "Bouton",
                href: "#"
            }
        } only %}

        <hr />

        <h2 class="c-title">Image en haut</h2>

        {% include ui('illustrated') with {
            figure: {
                position: "full",
                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                format: "illustrated_full",
                alt: "Texte alternatif ici",
                caption: "Légende de l'image ici"
            },
            label: "Sur-titre",
            content: illustrated_content,
            link: {
                label: "Bouton",
                href: "#"
            }
        } only %}

    </div>

{% endblock %}
