{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-logos</h1>
        <hr />

        {% include ui('logos') with {
            title: {
                level: 2,
                text: "Galerie de logos"
            },
            big_items: [
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                },
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                }
            ],
            small_items: [
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                },
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                },
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                },
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                },
                {
                    source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                    format: "illustrated_aside",
                    alt: "Texte alternatif ici",
                    caption: "Légende de l'image ici"
                }
            ]
        } only %}

    </div>

{% endblock %}
