{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-meetings</h1>
        <hr />
    </div>

    <div class="l-container l-container--full">

        {% set meeting = {
            icon: 'arrow-right',
            title: "Titre de la catégorie",
            description: "Description rapide de la catégorie.",
            link: {
                label: "Lien vers la catégorie",
                href: "#"
            }
        } %}

        {% include ui('meetings') with {
            title: "Une multitude de rendez-vous à découvrir",
            description: "Plus de 500 événements sont programmés chaque année aux Champs Libres. Ateliers pour les enfants, concerts à écouter en famille, rencontres avec des artistes, conférences sur des sujets d’actualités... Une programmation variée toute l’année.",
            items: [
                meeting,
                meeting,
                meeting,
                meeting,
                meeting,
                meeting,
                meeting,
                meeting,
                meeting,
                meeting
            ]
        } only %}

    </div>

{% endblock %}
