{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-pagination</h1>
        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 2, href: "#" },
                { number: 3, href: "#" }
            ],
            current: 1,
            total: 3
        } only %}

        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 2, href: "#" },
                { number: 3, href: "#" }
            ],
            current: 2,
            total: 3
        } only %}

        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 2, href: "#" },
                { number: 3, href: "#" }
            ],
            current: 3,
            total: 3
        } only %}

        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 2, href: "#" },
                { number: 8, href: "#" }
            ],
            current: 1,
            total: 8
        } only %}

        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 4, href: "#" },
                { number: 5, href: "#" },
                { number: 6, href: "#" },
                { number: 8, href: "#" }
            ],
            current: 5,
            total: 8
        } only %}

        <hr />

        {% include ui('pagination') with {
            items: [
                { number: 1, href: "#" },
                { number: 7, href: "#" },
                { number: 8, href: "#" }
            ],
            current: 8,
            total: 8
        } only %}

        <hr />

    </div>

{% endblock %}
