{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-podcast</h1>
        <hr />

        {% include ui('podcast') with {
            id: "podcast1",
            title: "Titre du podcast",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            element: {
                title: "Titre du podcast",
                getMainImage: {
                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                },
                player: "ausha",
                href_extern: "https://podcast.ausha.co/prendre-soin-du-monde/ibn-al-haytem-alhazen-les-scientifiques-de-l-ombre-ep10",
                href_intern: "https://podcast.ausha.co/prendre-soin-du-monde/ibn-al-haytem-alhazen-les-scientifiques-de-l-ombre-ep10",
                transcript: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus quam pellentesque nec nam ut sem viverra aliquet eget sit amet tellus. Aliquet nec ullamcorper sit amet risus nullam. Id ornare arcu odio ut sem nulla pharetra diam sit. Netus et male sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Molestie nunc non blandit massa. Id neque aliquam vestibulum morbi blandit cursus. Viverra nam nisl nisi scelerisque eu ultrices vitae auctor. Nec dui nunc mattis enim ut tellus elementum sagittis. Sed augue lacus viverra vitae congue eu consequat ac. Nulla pharetra diam sit amet nisl suscipit adipiscing. In mollis nunc sed id semper risus in. Diam maecenas ultricies mi eget mauris pharetra et ultrices neq.</p>"
            }
        } only %}

    </div>

{% endblock %}
