{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-post</h1>

        <hr />
    </div>

    <div class="l-container l-container--xlarge">

        <h2 class="c-title">Vertical, pictured</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('post') with {
                    color: "green",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "Le blob, super-héros de la nature"
                    },
                    tag: {
                        icon: "eye",
                        label: "À voir"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('post') with {
                    color: "red",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "L'Ange anatomique"
                    },
                    tag: {
                        icon: "eye",
                        label: "À voir"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('post') with {
                    color: "blue",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "William Kentridge aux Champs Libres : la conquête (sonore) de l'espace"
                    },
                    tag: {
                        icon: "book",
                        label: "À lire"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
        </div>

        <hr />

        <h2 class="c-title">Vertical, not pictured</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 320px; padding: 10px;">
                {% include ui('post') with {
                    color: "yellow",
                    title: {
                        level: 2,
                        text: "Randos et couleurs fluos sur Yakushima"
                    },
                    tag: {
                        icon: "eye",
                        label: "À voir"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 320px; padding: 10px;">
                {% include ui('post') with {
                    color: "green",
                    title: {
                        level: 2,
                        text: "Faites-moi lire spécial Jardins d'hiver"
                    },
                    tag: {
                        icon: "book",
                        label: "À lire"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 320px; padding: 10px;">
                {% include ui('post') with {
                    color: "blue",
                    title: {
                        level: 2,
                        text: "Portraits d’ici portraits d’ailleurs"
                    },
                    tag: {
                        icon: "book",
                        label: "À lire"
                    },
                    publication_date: "29/06/2023",
                    link: {
                        label: "Lire l'article",
                        href: "#"
                    }
                } only %}
            </div>
        </div>

        <hr />

        <h2 class="c-title">Horizontal, pictured</h2>

        {% include ui('post') with {
            mode: "horizontal",
            color: "yellow",
            picture: {
                image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
            },
            title: {
                level: 2,
                text: "Mathieu Pernot, les conversations photographiques"
            },
            description: "À l'occasion de l'exposition La vie en photographie au Musée de Bretagne, focus avec le photographe Mathieu Pernot sur 3 projets qui témoignent des dialogues qu'il aime instaurer entre ses images et celles des autres.",
            tag: {
                icon: "eye",
                label: "À voir"
            },
            publication_date: "29/06/2023",
            link: {
                label: "Lire l'article",
                href: "#"
            }
        } only %}

        <hr />

        <h2 class="c-title">Horizontal, not pictured</h2>

        {% include ui('post') with {
            mode: "horizontal",
            color: "yellow",
            title: {
                level: 2,
                text: "Mathieu Pernot, les conversations photographiques"
            },
            description: "À l'occasion de l'exposition La vie en photographie au Musée de Bretagne, focus avec le photographe Mathieu Pernot sur 3 projets qui témoignent des dialogues qu'il aime instaurer entre ses images et celles des autres.",
            tag: {
                icon: "eye",
                label: "À voir"
            },
            publication_date: "29/06/2023",
            link: {
                label: "Lire l'article",
                href: "#"
            }
        } only %}

    </div>
{% endblock %}
