{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-resource</h1>

        <hr />



        {# ***********************************************
        ** WITH PICTURE
        ************************************************** #}

        <h2 class="c-title">With picture</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('resource') with {
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: {
                        icon: "user",
                        label: "En autonomie"
                    },
                    title: {
                        level: 2,
                        text: "Coucou l’Ankou"
                    },
                    description: "Visite contée / Exposition temporaire \"Mourir, quelle histoire !\"",
                    specs: [
                        { icon: "calendar", text: "Du 13/05/23 au 03/12/23" },
                        { icon: "studies", text: "Du CM1 au CM2" },
                        { icon: "ticket", text: "Gratuit (sur réservation)" }
                    ],
                    link: {
                        href: "#",
                        target: "_self"
                    }
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('resource') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    tag: {
                        icon: "user",
                        label: "En autonomie"
                    },
                    title: {
                        level: 2,
                        text: "Attention !"
                    },
                    description: "Animation liée à l'exposition Incroyable Cerveau",
                    specs: [
                        { icon: "calendar", text: "Du 13/05/23 au 03/12/23" },
                        { icon: "studies", text: "Du CE2 à la Terminale" },
                        { icon: "ticket", text: "Gratuit (sur réservation)" }
                    ],
                    link: {
                        href: "#",
                        target: "_self"
                    }
                } only %}
            </div>
        </div>



    </div>
{% endblock %}
