{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-rss</h1>
        <hr />
    </div>

    <div class="l-container l-container--xlarge">
        {% include ui('rss') with {
            label: "À lire",
            href: "#"
        } only %}
    </div>

{% endblock %}
