{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-search</h1>
        <hr />

        <form class="v-search js-search">



            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-search__main">
                {% include ui('field') with {
                    id: "search-date",
                    label: "Quand ?",
                    hint: "Sélectionnez une date",
                    hint_inline: true,
                    control: {
                        component: "period",
                        attributes: {
                            name: "search-date",
                            value: "",
                            disabled: false,
                            options: [
                                { value: "aujourdhui", label: "Aujourd’hui" },
                                { value: "ce-week-end", label: "Ce week-end" },
                                { value: "cette-semaine", label: "Cette semaine" },
                                { value: "date-personnalisee", label: "Date", custom: true }
                            ],
                            dates: {
                                start_value: "",
                                end_value: ""
                            }
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false
                } only %}
                {% include ui('field') with {
                    id: "search-type",
                    label: "Type de rendez-vous",
                    hint: false,
                    control: {
                        component: "select",
                        attributes: {
                            name: "search-type",
                            value: "tous",
                            disabled: false,
                            options: [
                                { value: "tous", label: "Tous les rendez-vous" },
                                { value: "expositions", label: "Expositions" },
                                { value: "rencontres", label: "Rencontres" },
                                { value: "evenements", label: "Événements" },
                                { value: "ateliers-4c", label: "Ateliers 4C" }
                            ]
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false
                } only %}
            </div>



            {# ***********************************************
            ** ADDITIONAL
            ************************************************** #}

            <div class="v-search__additional" id="search-additional" hidden>
                {% include ui('field') with {
                    id: "search-rate",
                    label: "Tarif",
                    hint: false,
                    control: {
                        component: "select",
                        attributes: {
                            name: "search-rate",
                            value: "Aucun filtre",
                            disabled: false,
                            options: [
                                { value: "", label: "Aucun filtre" },
                                { value: "gratuit", label: "Gratuit" },
                                { value: "payant", label: "Payant" }
                            ]
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false
                } only %}
                {% include ui('field') with {
                    id: "search-audience",
                    label: "Public",
                    hint: false,
                    control: {
                        component: "select",
                        attributes: {
                            name: "search-audience",
                            value: "",
                            disabled: false,
                            options: [
                                { value: "", label: "Aucun filtre" },
                                { value: "tout-public", label: "Tout public" },
                                { value: "famille", label: "Famille" }
                            ]
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false
                } only %}
                {% include ui('field') with {
                    id: "search-accessibility",
                    label: "Accessibilité",
                    hint: false,
                    control: {
                        component: "select",
                        attributes: {
                            name: "search-accessibility",
                            value: "",
                            disabled: false,
                            options: [
                                { value: "", label: "Aucun filtre" },
                                { value: "handicap-auditif", label: "Handicap auditif" },
                                { value: "handicap-visuel", label: "Handicap visuel" },
                                { value: "handicap-psychique", label: "Handicap psychique" },
                                { value: "handicap-moteur", label: "Handicap moteur" },
                                { value: "handicap-intellectuel", label: "Handicap intellectuel" }
                            ]
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false
                } only %}
            </div>



            {# ***********************************************
            ** ACTIONS
            ************************************************** #}

            <div class="v-search__actions">
                {% include ui('button') with {
                    mode: "link",
                    icon: 'chevron-down',
                    label: "Afficher plus de filtres",
                    attributes: {
                        type: "button",
                        class: "v-search__toggle js-search-toggle",
                        "aria-controls": "search-additional",
                        "aria-expanded": "false",
                        "data-expanded-label": "Masquer les filtres",
                        "data-shrank-label": "Afficher plus de filtres"
                    }
                } only %}
                {% include ui('button') with {
                    icon: 'zoom',
                    label: "Rechercher",
                    attributes: { type: "submit" }
                } only %}
            </div>



        </form>

    </div>

{% endblock %}
