{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-series</h1>

        <hr />



        {# ***********************************************
        ** VERTICAL
        ************************************************** #}

        <h2 class="c-title">Vertical</h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('series') with {
                    color: "yellow",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "Manger"
                    },
                    description: "Une série sur le sujet de l'alimentation",
                    href: "#"
                } only %}
            </div>
            <div style="flex: 0 1 460px; padding: 10px;">
                {% include ui('series') with {
                    color: "red",
                    picture: {
                        image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                    },
                    title: {
                        level: 2,
                        text: "Voyager en lisant"
                    },
                    description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                    href: "#"
                } only %}
            </div>
        </div>

        <hr />



        {# ***********************************************
        ** HORIZONTAL
        ************************************************** #}

        <h2 class="c-title">Horizontal</h2>
            {% include ui('series') with {
                horizontal: true,
                color: "yellow",
                picture: {
                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                },
                title: {
                    level: 2,
                    text: "Manger"
                },
                description: "Une série sur le sujet de l'alimentation",
                href: "#"
            } only %}
            {% include ui('series') with {
                horizontal: true,
                color: "red",
                picture: {
                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                },
                title: {
                    level: 2,
                    text: "Voyager en lisant"
                },
                description: "Description, lorem ipsum dolor sit amet esteau nobelum sit geranes",
                href: "#"
            } only %}
    </div>
{% endblock %}
