{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">v-topics</h1>
        <hr />
    </div>

    <div class="l-container l-container--xlarge">
        {% include ui('topics') with {
            title: "Explorez les articles du Mag par sujets",
            items: [
                { label: "La mort", href: "#" },
                { label: "Rire", href: "#" },
                { label: "Les vacances", href: "#" },
                { label: "Voyager", href: "#" },
                { label: "Lorem ipsum", href: "#" },
                { label: "Dolor sit amet", href: "#" },
                { label: "Esteau nobilis", href: "#" }
            ]
        } only %}
        {% include ui('topics') with {
            color: 'green',
            title: "Explorez les articles du Mag par sujets",
            items: [
                { label: "La mort", href: "#" },
                { label: "Rire", href: "#" },
                { label: "Les vacances", href: "#" },
                { label: "Voyager", href: "#" },
                { label: "Lorem ipsum", href: "#" },
                { label: "Dolor sit amet", href: "#" },
                { label: "Esteau nobilis", href: "#" }
            ]
        } only %}
        {% include ui('topics') with {
            color: 'red',
            title: "Explorez les articles du Mag par sujets",
            items: [
                { label: "La mort", href: "#" },
                { label: "Rire", href: "#" },
                { label: "Les vacances", href: "#" },
                { label: "Voyager", href: "#" },
                { label: "Lorem ipsum", href: "#" },
                { label: "Dolor sit amet", href: "#" },
                { label: "Esteau nobilis", href: "#" }
            ]
        } only %}
        {% include ui('topics') with {
            color: 'yellow',
            title: "Explorez les articles du Mag par sujets",
            items: [
                { label: "La mort", href: "#" },
                { label: "Rire", href: "#" },
                { label: "Les vacances", href: "#" },
                { label: "Voyager", href: "#" },
                { label: "Lorem ipsum", href: "#" },
                { label: "Dolor sit amet", href: "#" },
                { label: "Esteau nobilis", href: "#" }
            ]
        } only %}
        {% include ui('topics') with {
            color: 'blue',
            title: "Explorez les articles du Mag par sujets",
            items: [
                { label: "La mort", href: "#" },
                { label: "Rire", href: "#" },
                { label: "Les vacances", href: "#" },
                { label: "Voyager", href: "#" },
                { label: "Lorem ipsum", href: "#" },
                { label: "Dolor sit amet", href: "#" },
                { label: "Esteau nobilis", href: "#" }
            ]
        } only %}
    </div>

{% endblock %}
