{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} banner-notched{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}


    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description,
            picture: page.mainImage,
            breadcrumb: breadcrumb
        } only %}
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** FORM
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container">
                        <div class="v-form" id="newsletter">
                            <h2 class="v-form__title c-title">Merci pour votre inscription !</h2>
                            <p class="v-form__description v-form__description--centered">
                                Veuillez maintenant vérifier votre boîte de réception pour confirmer votre abonnement à notre newsletter.<br />
                            </p>
                            <div class="v-form__actions">
                                {% include ui('button') with {
                                    icon: 'arrow-right',
                                    label: "Retour à la page d'accueil",
                                    attributes: {
                                        href: path('sylius_shop_homepage')
                                    }
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>



                {# ***********************************************
                ** TEXT
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">

                        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                        {% if elements %}

                            {% for element in elements %}
                                {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                {{ element|monsieurbiz_richeditor_render_element }}
                            {% endfor %}

                        {% endif %}

                    </div>
                </div>



            </div>
        </div>
    </div>



{% endblock %}
