{# *****************************************************************************
** Type: TEMPLATE
** Name: Newsletter
******************************************************************************** #}


{% extends '@SyliusShop/Page/show.html.twig' %}


{% block content %}


    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            type: "large",
            notched: true,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %}
    </div>


    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">


                {# ***********************************************
                ** FORM
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container">



                        {# Doc front-end: https://symfony.com/doc/2.x/reference/forms/twig_reference.html#form-label-view-label-variables #}

                        {{ form_start(form, { 'attr': { 'class': 'v-form', 'id': 'newsletter', 'action': '#newsletter' } }) }}

                        {{ form_row(form._token) }}



                        {# ***********************************************
                            ** HEADING
                            ************************************************** #}

                        <h2 class="v-form__title c-title">Inscription à la lettre d'information</h2>


                        {# ***********************************************
                            ** MESSAGE
                            ** Doc front-end : https://www.w3.org/WAI/tutorials/forms/notifications/
                            ************************************************** #}

                        {% set errors = [] %}

                        {# Erreurs globales du formulaire #}

                        {% if form.vars.errors|default and form.vars.errors|length > 0 %}
                            {% for error in form.vars.errors %}
                                {% if errors is iterable %}
                                    {% set errors = errors|merge([error.message]) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# Erreurs spécifiques à un champ #}

                        {% if not form.vars.valid %}
                            {% for child in form.children %}
                                {% if child.vars.errors is defined %}
                                    {% for error in child.vars.errors %}
                                        {% if errors is iterable %}
                                            {% set errors = errors|merge([child.vars.label|trans ~ ' : ' ~ error.message]) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {# Affichage des erreurs #}

                        {% if errors|length > 0 %}
                            <div class="v-form__message">
                                {% set message_text %}
                                    <p><strong>Le formulaire contient {{ errors|length }} erreur{% if errors|length > 1 %}s{% endif %} :</strong></p>
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endset %}
                                {% include ui('message') with {
                                    type: "error",
                                    text: message_text
                                } only %}
                            </div>
                        {% endif %}



                        {# ***********************************************
                            ** FIELDS
                            ************************************************** #}

                        <div class="v-form__fields">




                            {# ***********************************************
                                ** ROW
                                ** Email
                                ************************************************** #}

                                {# EMAIL #}

                                {% include ui('field') with {
                                    id: form.email.vars.id,
                                    label: form.email.vars.label|trans,
                                    hint: form.email.vars.help|trans,
                                    control: {
                                        component: "input",
                                        attributes: {
                                            type: "email",
                                            name: form.email.vars.full_name,
                                            value: form.email.vars.value,
                                            autocomplete: "email",
                                            disabled: form.email.vars.disabled
                                        }
                                    },
                                    optional: (form.email.vars.required ? false : true),
                                    errors: form.email.vars.errors
                                } only %}



                            </div>



                        {# ***********************************************
                            ** FIELD
                            ** GDPR
                            ************************************************** #}

                        <p class="v-form__description">Votre adresse de messagerie est uniquement utilisée pour vous envoyer la lettre d'information mensuelle des Champs Libres.
                            Vous pouvez à tout moment cliquer sur le lien de désabonnement se trouvant en bas de page de chaque newsletter. Pour en savoir plus sur la gestion de vos données et vos droits,
                            rendez-vous sur <a href="{{ path('luna_page_show', { slug:under_pages_slug_by_code('gdpr') }) }}" target="_blank" title="cette page - nouvelle fenêtre">cette page</a>.
                            Afin de valider votre inscription, cochez la case et cliquez sur le bouton ci-dessous :
                        </p>




                        <div class="v-form__fields">

                            {% set label = "Je souhaite recevoir la lettre d'information des Champs Libres" %}

                            {% include ui('field') with {
                                id: form.gdpr.vars.id,
                                label: label,
                                hint: form.gdpr.vars.help|trans,
                                control: {
                                    component: "checkbox",
                                    attributes: {
                                        name: form.gdpr.vars.full_name,
                                        value: form.gdpr.vars.value,
                                        checked: form.gdpr.vars.checked,
                                        disabled: form.gdpr.vars.disabled
                                    }
                                },
                                optional: (form.gdpr.vars.required ? false : true),
                                errors: form.gdpr.vars.errors
                            } only %}



                        </div>



                        {# ***********************************************
                            ** ACTIONS
                            ************************************************** #}

                        <div class="v-form__actions">
                            {% include ui('button') with {
                                icon: 'arrow-right',
                                label: form.save.vars.label|trans,
                                attributes: {
                                    type: "submit",
                                    id: form.save.vars.id,
                                    name: form.save.vars.full_name
                                }
                            } only %}
                        </div>



                        {{ form_end(form, { 'render_rest': false }) }}



                    </div>
                </div>




                {% if page.blocks %}

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}

                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}

                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>

    {# ***********************************************
    ** SCRIPT CAPTCHA
    ************************************************** #}
    {{ script_captcha|html_safe }}
    {{ validator|html_safe }}

{% endblock %}
