{% extends '@LunaCore/Admin/Crud/show.html.twig' %}

{% block inner_content %}

    <h2 class="ui header"> Demande de contact n° {{ resource.id }}</h2>

    <table class="ui basic definition table">
        <tbody>
            <thead>
                <tr>
                    <th class="two wide">Champ</th>
                    <th class="six wide">Contenu renseigné</th>
                </tr>
            </thead>
            <tr>
                <td>À destination du service</td>
                <td>{{ resource.serviceName.value }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.last_name.label'|trans }}</td>
                <td>{{ resource.lastName }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.first_name.label'|trans }}</td>
                <td>{{ resource.firstName }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.email.label'|trans }}</td>
                <td>{{ resource.email }}</td>
            </tr>
            <tr>
                <td>{{ 'app.ui.resource.contact.form.company.label'|trans }}</td>
                <td>{{ contact.company }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.object.label'|trans }}</td>
                <td>{{ resource.object }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.message.label'|trans }}</td>
                <td>{{ resource.message }}</td>
            </tr>
            <tr>
                <td>{{ 'luna.ui.resource.contact.form.gdpr.label'|trans }}</td>
                <td>
                    {% if resource.gdpr == 1 %}
                        Accepté
                    {% else %}
                        Refusé
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'app.ui.resource.contact.sent_at'|trans }}</td>
                <td>{{ resource.createdAt|date("d-m-Y") }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
