<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        <div class="ui grid">
            <div class="doubling two column row">
                <div class="column">
                    <div class="ui segment">
                        <h4 class="ui header">{{ 'luna.ui.trait.titleable.title.label'|trans }}</h4>
                        <p>{{ event.title }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <h4 class="ui header">{{ 'luna.ui.trait.toggleable.enabled.title'|trans }}</h4>
                        {{ form_row(form.toggleable.enabled) }}
                    </div>
                </div>
            </div>
            <div class="doubling two column row">
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.color) }}
                        {{ form_row(form.childrenKeyword) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
