<div class="ui tab" data-tab="openagenda">
    <h3 class="ui top attached header">{{ 'app.ui.resource.event.tab.openagenda'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        {% for locale, translationForm in form.translations %}
            <div class="ui grid" data-locale="{{ locale }}">

                <div class="doubling two column row">
                    <div class="column">
                        {{ form_row(translationForm.title) }}
                    </div>
                    <div class="column">
                        {{ form_row(translationForm.slug) }}
                    </div>
                </div>

                <div class="doubling two column row">
                    <div class="column">
                        <div class="field">
                            <label>{{ 'app.ui.resource.event.form.category.label'|trans }}</label>
                            <input value="{{ event.category.title }}" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label>{{ 'app.ui.resource.event.form.keywords.label'|trans }}</label>
                            {% set keywords = '' %}
                            {% for keyword in event.keywords %}
                                {% set keywords = keywords ~ (not loop.first ? ", ") ~ keyword.title %}
                            {% endfor %}
                            <input value="{{ keywords }}" type="text" disabled="disabled">
                        </div>
                    </div>
                </div>

                <div class="doubling two column row">
                    <div class="column">
                        {{ form_row(translationForm.description) }}
                    </div>
                    <div class="column">
                        {{ form_row(translationForm.mainImage) }}
                    </div>
                </div>

            </div>
        {% endfor %}

        <div class="ui grid">

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.originAgenda) }}
                    {% if event.originAgenda %}
                        <div class="ui small message">{{ 'app.ui.resource.event.form.corresponding_value'|trans }} {{ ('app.ui.resource.event.originAgenda.' ~ event.originAgenda)|trans }}</div>
                    {% endif %}
                </div>
                <div class="column">
                    {{ form_row(form.location) }}
                    {% if event.location %}
                        <div class="ui small message">{{ 'app.ui.resource.event.form.corresponding_value'|trans }} {{ ('app.ui.resource.event.location.' ~ event.location)|trans }}</div>
                    {% endif %}
                </div>
            </div>


            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.pricing) }}
                </div>
                <div class="column">
                    {{ form_row(form.price) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.ticketing) }}
                </div>
                <div class="column">
                    {{ form_row(form.audience) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.ageMin) }}
                </div>
                <div class="column">
                    {{ form_row(form.ageMax) }}
                </div>
            </div>

            <div class="row">
                <div class="column">
                    Accessibilité
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.accessibilityIi) }}
                </div>
                <div class="column">
                    {{ form_row(form.accessibilityHi) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.accessibilityVi) }}
                </div>
                <div class="column">
                    {{ form_row(form.accessibilityPi) }}
                </div>
            </div>

            <div class="doubling two column row">
                <div class="column">
                    {{ form_row(form.accessibilityMi) }}
                </div>
                <div class="column">
                </div>
            </div>

        </div>

    </div>
</div>
