{# *****************************************************************************
** Type: BLOCK
** Name: Events automatic
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set from_is_defined = element.from.day|default is not empty and element.from.month|default is not empty and element.from.year|default is not empty %}
{% set to_is_defined = element.to.day|default is not empty and element.to.month|default is not empty and element.to.year|default is not empty %}
{% if from_is_defined %}
    {% set date_from = (element.from.day ~ '-' ~ element.from.month ~ '-' ~ element.from.year)|formatted_date %}
{% else %}
    {% set date_from = null %}
{% endif %}
{% if to_is_defined %}
    {% set date_to = (element.to.day ~ '-' ~ element.to.month ~ '-' ~ element.to.year)|formatted_date %}
{% else %}
    {% set date_to = null %}
{% endif %}


{# Il faut garder category pour assurer la rétrocompatibilité (choix d'une seule catégorie avant la modification pour pouvoir en sélectionner plusieurs) #}
{% set categories = element.categories|default(false) ? get_category_ids_from_block(element.categories) : (element.category|default(false) ? [element.category] : null) %}
{% set filters = { categories: categories, originAgenda: element.originAgenda, audience: element.audience, keyword: element.keyword, limit: element.limit, from: date_from, to: date_to, event: element.event|default(null)} %}
{% set eventsAuto = get_automatic_events(filters) %}

{% set events = [] %}

{% set event_horizontal = (element.generalForm.formatting|default == "line" ? true : false) %}

{% for event in eventsAuto %}

    {% if event.dateEnding is defined %}
        {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
    {% else %}
        {% set date = event.dateStarting|formatted_date_time %}
    {% endif %}

    {% if event.status is defined and event.status != 1 %}
        {% set stroke = true %}
        {% set status = ('app.ui.resource.event.status.' ~ event.status)|trans %}
    {% else %}
        {% set stroke = false %}
        {% set status = '' %}
    {% endif %}

    {% if event.location is defined %}
        {% set location = ('app.ui.resource.event.location.' ~ event.location)|trans %}
    {% else %}
        {% set location = '' %}
    {% endif %}

    {% if event.pricing is defined %}
        {% set pricing = event.pricing|capitalize %}
    {% else %}
        {% set pricing = '' %}
    {% endif %}

    {% set events = events|merge([{
        horizontal: event_horizontal,
        picture: element.generalForm.images ? event.picture : '',
        tag: event.tag,
        title: {
            level: 3,
            text: event.title
        },
        specs: [
            { icon: "calendar", label: "Date", text: date|capitalize, stroke: stroke|default, status: status|default },
            { icon: "pin", label: "Lieu", text: ('app.ui.resource.event.location.' ~ event.location)|trans },
            { icon: "ticket", label: "Tarif", text: event.pricing|capitalize|default }
        ],
        link: event.href,
        color: event.color.value|default
    }]) %}

{% endfor %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if events|default and events|length > 0 %}
    <div class="l-stack__item">
        <div class="l-container l-container--xlarge">

            {% if element.generalForm.formatting|default == "line" %}
                <div class="l-container l-container--small l-container--right">
            {% endif %}

            {% include ui('events') with {
                label: element.generalForm.overtitle,
                title: element.generalForm.title,
                button: {
                    icon: "arrow-right",
                    label: element.generalForm.button.label,
                    attributes: {
                        href: element.generalForm.button.url,
                        title: element.generalForm.button.attribut_title|default(null),
                    }
                },
                items: events,
                grid: has_aside|default(false) ? 'asided' : null,
            } %}

            {% if element.generalForm.formatting|default == "line" %}
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}
