{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Button
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__element">
    {% include ui('button') with {
        icon: (element.target == "_blank" ? 'external' : 'arrow-right'),
        label: element.label,
        attributes: {
            href: element.url,
            target: element.target,
            title: element.attribut_title|default(null),
        }
    } only %}
</div>
