{# *****************************************************************************
** Type: BLOCK
** Name: Color cards
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _color_cards = monsieurbiz_richeditor_get_elements(element.color_cards) %}

{% set is_alone = _color_cards|length == 1 ? true : false %}
{% set need_container = (page.template|default == "series" or is_alone) ? true : false %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">

    {% if need_container %}
        <div class="l-container l-container--{{ is_alone ? 'xsmall' : 'xlarge' }}">
    {% endif %}



    {# ***********************************************
    ** TITLE
    ************************************************** #}

    {% if element.title|default %}
        <h2 class="l-stack__element c-title">{{ element.title }}</h2>
    {% endif %}



    {# ***********************************************
    ** CARDS
    ************************************************** #}

    {% if _color_cards|default %}
        <div class="l-stack__element">

            {% if not is_alone|default %}
                <div class="l-grid">
            {% endif %}

                {{ _color_cards|monsieurbiz_richeditor_render_elements }}

            {% if not is_alone|default %}
                </div>
            {% endif %}

        </div>
    {% endif %}



    {% if need_container %}
        </div>
    {% endif %}

</div>
