{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Color card (depending on Color cards)
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

{% if not is_alone|default %}
    <div class="l-grid__item">
{% endif %}

    {% include ui('cta') with {
        color: element.color,
        heading: {
            title: element.title|default,
            level: 3
        },
        description: element.content,
        link: {
            label: element.button.label,
            href: element.button.url,
            target: element.button.target|default('_self'),
            title: element.button.attribut_title|default(null),
        }
    } only %}

{% if not is_alone|default %}
    </div>
{% endif %}
