{# *****************************************************************************
** Type: BLOCK
** Name: Downloads
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set items = [] %}

{% for download in monsieurbiz_richeditor_get_elements(element.downloads) %}

    {% set download = download.data %}
    {% set path = monsieur_biz_media_manager_path(download.file) %}
    {% set infos = get_file_informations(path) %}

    {% set items = items|merge([{
        title: download.title,
        description: "Document " ~ infos.extension|upper ~ " : " ~ infos.size,
        href: asset(path)
    }]) %}

{% endfor %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">
        {% include ui('files') with {
            title: element.title,
            description: element.description,
            items: items
        } only %}
    </div>
</div>
