{# *****************************************************************************
** Type: BLOCK
** Name: Explore
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _series = monsieurbiz_richeditor_get_elements(element.series) %}
{% set items = get_series(_series, element.images, element.formatting) %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if items|default %}
    <div class="l-stack__item">
        <div class="l-container l-container--xlarge">

            {% if element.formatting|default == "line" %}
                <div class="l-container l-container--small l-container--right">
            {% endif %}

            {% include ui('explore') with {
                label: element.overtitle,
                title: element.title,
                description: element.description,
                button: {
                    label: element.button.label,
                    href: element.button.url,
                    attribut_title: element.button.attribut_title|default(null),
                },
                items: items
            } only %}

            {% if element.formatting|default == "line" %}
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}
