{# *****************************************************************************
** Type: BLOCK
** Name: Explore
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _series = monsieurbiz_richeditor_get_elements(element.series) %}
{% set items = get_series(_series) %}



{# ***********************************************
** MARKUP
************************************************** #}


<section class="l-stack__item l-stack__item--overlap">
    <div class="l-container l-container--xlarge">
        <div class="l-grid l-grid--narrow">

            {% for serie in items %}

                {% if serie %}

                    <div class="l-grid__item">
                        {% include ui('series') with {
                            color: serie.color,
                            picture: {
                                image: serie.picture.image
                            },
                            title: {
                                level: 2,
                                text: serie.title
                            },
                            description: serie.description,
                            href: serie.href
                        } only %}
                    </div>

                {% endif %}

            {% endfor %}

            <div class="l-grid__item">
                {% include ui('browse') with {
                    title: {
                        level: 2,
                        text: "Toutes les séries"
                    },
                    description: "Plongez-vous dans les ressources des Champs Libres.",
                    link: {
                        label: "Parcourir",
                        href: path('app_serie_index', { page_slug: under_pages_slug_by_code('series') })
                    }
                } only %}
            </div>

        </div>
    </div>
</section>
