{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Further
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _links = monsieurbiz_richeditor_get_elements(element.links) %}

{% set links = generate_links(_links) %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
	<div class="l-container{{ element.formatting|default == 'oneColomn' ? " l-container--small l-container--right" : " l-container--xlarge" }}">
        {% include ui('further') with {
            title: element.title,
            large: element.formatting|default == 'oneColomn' ? false : true,
            items: links,
            color: element.color|default
        } only %}
    </div>
</div>
