{# *****************************************************************************
** Type: BLOCK
** Name: Gallery
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _images = monsieurbiz_richeditor_get_elements(element.images) %}
{% set is_grid = true %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--large">
        <div class="l-grid">

            {{ _images|monsieurbiz_richeditor_render_elements }}

        </div>
    </div>
</div>
