{# *****************************************************************************
** Type: BLOCK
** Name: Immersion
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% if element.style|default == "large" %}
    {% set container_class = " l-container--large" %}
    {% set picture_style = "image_large" %}
{% else %}
    {% set container_class = " l-container--small l-container--right" %}
    {% set picture_style = "image_medium" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container{{ container_class }}">
        {% include ui('figure') with {
            source: element.image.image|default,
            format: picture_style,
            alt: element.image.alt|default,
            title: element.image.title|default,
            caption: element.image.caption|default
        } only %}
    </div>
</div>
