{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Image
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

{% if is_grid|default %}
    <div class="l-grid__item">
{% endif %}

    {% include ui('figure') with {
        source: element.image.image,
        format: (is_grid|default ? "gallery" : "figure"),
        alt: element.image.alt,
        title: element.image.title,
        caption: element.image.caption
    } only %}

{% if is_grid|default %}
    </div>
{% endif %}
