{# *****************************************************************************
** Type: BLOCK
** Name: Image + Text
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set format = "illustrated_aside" %}

{% if element.style == "above" %}
    {% set format = "illustrated_full" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--switch">

        {% include ui('illustrated') with {
            figure: {
                position: element.style,
                source: element.image.image,
                format: format,
                alt: element.image.alt,
                title: element.image.title,
                caption: element.image.caption
            },
            label: element.surtitle|default,
            content: element.content,
            link: {
                label: element.button.label|default,
                href: element.button.url|default,
                target: element.button.target|default,
                title: element.button.attribut_title|default(null),
            }
        } only %}

    </div>
</div>
