{# *****************************************************************************
** Type: BLOCK
** Name: Immersion
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container">

        {% include ui('immersive') with {
            id: element.surtitle|default|slug('-', 'fr')|lower,
            label: element.surtitle|default,
            content: element.content,
            button: {
                label: element.button.label,
                href: element.button.url,
                target: element.button.target|default('_self'),
                title: element.button.attribut_title|default(null),
            }
        } only %}

    </div>
</div>
