{# *****************************************************************************
** Type: BLOCK
** Name: Immersion
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">

        {% set id = element.title|slug('-', 'fr')|lower %}

        {% include ui('handy') with {
            type: element.style|default("grey"),
            title: element.title|default ? {
                text: element.title,
                level: 2
            } : false,
            picture: (element.image|default and element.image.image|default) ? {
                source: element.image,
                logo: (element.image_style == "logo") ? true : false,
                caption: element.image.caption|default
            } : false,
            table: element.table|default,
            content: element.content|default,
            id: id
        } only %}

    </div>
</div>
