{# *****************************************************************************
** Type: BLOCK
** Name: Push
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">

        <div class="l-stack__element s-introduction">
            {{ element.content|html_safe }}
        </div>

    </div>
</div>
