{# *****************************************************************************
** Type: BLOCK
** Name: List-resources
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _resources = monsieurbiz_richeditor_get_elements(element.resources) %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if _resources|default %}
    <div class="l-stack__item">
        <div class="l-container l-container--large">

            {% if element.title|default %}
                <div class="l-stack__element">
                    <h2 class="c-title">{{ element.title }}</h2>
                </div>
            {% endif %}

            <div class="l-stack__element l-stack__element--large">
                <div class="l-grid">
                    {% for _resource in _resources %}
                        <div class="l-grid__item">
                            {% include ui('card') with {
                                large: true,
                                picture: element.images ? _resource.data.getMainImage : false,
                                tag: {
                                    icon: _resource.data.type,
                                    label: ('app.ui.block.list_resource.form.type.choices.' ~_resource.data.type)|trans,
                                },
                                title: {
                                    level: 3,
                                    text: _resource.data.title
                                },
                                description: _resource.data.description,
                                link: {
                                    label: _resource.data.link.label,
                                    href: _resource.data.link.url,
                                    target: _resource.data.link.target,
                                    title: _resource.data.link.attribut_title|default(null),
                                }
                            } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endif %}
