{# *****************************************************************************
** Type: BLOCK
** Name: Logos
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _big_logos = monsieurbiz_richeditor_get_elements(element.big_logos) %}
{% set _small_logos = monsieurbiz_richeditor_get_elements(element.small_logos) %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--large">

        {% include ui('logos') with {
            title: element.title|default ? {
                level: 2,
                text: element.title
            } : false,
            big_items: _big_logos|default,
            small_items: _small_logos|default
        } only %}

    </div>
</div>
