{# *****************************************************************************
** Type: BLOCK
** Name: Events manual
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _events = monsieurbiz_richeditor_get_elements(element.events) %}
{% set events = [] %}

{% set event_horizontal = (element.generalForm.formatting|default == "line" ? true : false) %}

{% for event in _events %}
    {% set from = element.from.day ~ '-' ~ element.from.month ~ '-' ~ element.from.year %}
    {% set to = element.to.day ~ '-' ~ element.to.month ~ '-' ~ element.to.year %}
    {% set event = get_event_by_id_and_date(event.data.event, from, to) %}
    {% if event is not empty %}
        {% if event.terminated|default(false) %}
            {% set date = 'app.ui.resource.event.terminated'|trans %}
        {% elseif event.dateEnding is defined %}
            {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
        {% else %}
            {% set date = event.dateStarting|formatted_date_time %}
        {% endif %}

        {% if event.status is defined and event.status != 1 %}
            {% set stroke = true %}
            {% set status = ('app.ui.resource.event.status.' ~ event.status)|trans %}
        {% else %}
            {% set stroke = false %}
            {% set status = '' %}
        {% endif %}

        {% if event.location is defined %}
            {% set location = ('app.ui.resource.event.location.' ~ event.location)|trans %}
        {% else %}
            {% set location = '' %}
        {% endif %}

        {% if event.pricing is defined %}
            {% set pricing = event.pricing|capitalize %}
        {% else %}
            {% set pricing = '' %}
        {% endif %}

        {% set events = events|merge([{
            horizontal: event_horizontal,
            picture: element.generalForm.images ? event.picture : '',
            tag: event.tag,
            title: {
                level: 3,
                text: event.title
            },
            specs: [
                { icon: "calendar", label: "Date", text: date|capitalize, stroke: stroke|default, status: status|default },
                { icon: "pin", label: "Lieu", text: location|default},
                { icon: "ticket", label: "Tarif", text: pricing|default }
            ],
            link: event.href|default,
            color: event.color.value|default
        }]) %}
    {% endif %}
{% endfor %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if events|default and events|length > 0 %}
    <div class="l-stack__item">
        <div class="l-container l-container--xlarge">

            {% if element.generalForm.formatting|default == "line" %}
                <div class="l-container l-container--small l-container--right">
            {% endif %}

            {% include ui('events') with {
                label: element.generalForm.overtitle,
                title: element.generalForm.title,
                button: {
                    icon: "arrow-right",
                    label: element.generalForm.button.label,
                    attributes: {
                        href: element.generalForm.button.url,
                        title: element.generalForm.button.attribut_title|default(null)
                    }
                },
                items: events,
                grid: has_aside|default(false) ? 'asided' : null,
            } %}

            {% if element.generalForm.formatting|default == "line" %}
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}
