{% set professional = get_professional_by_id(element.professional) %}
{% set page = find_one_by_code_and_professional(app.request.locale, 'mediations', professional.code) %}
{% set _mediations = monsieurbiz_richeditor_get_elements(element.mediations) %}
{% set button = element.button %}

<div class="l-stack__item">

    {% if element.formatting == "line" %}
        <div class="l-container l-container--small l-container--right">
    {% endif %}

    <div class="l-stack__element">
        <div class="v-heading">

            {% if element.surtitle %}
                <p class="v-heading__suptitle">{{ element.surtitle }}</p>
            {% endif %}

            <h2 class="v-heading__title c-title">{{ element.title }}</h2>

            {% if element.formatting == "column" and button and button.label and button.url %}
                {% include ui('button') with {
                    icon: button.icon|default('arrow-right'),
                    label: button.label|default("En savoir plus"),
                    attributes: {
                        href: button.url,
                        class: 'v-heading__button',
                        title: button.attribut_title|default(null),
                    },
                } only %}
            {% endif %}
        </div>
    </div>

    <div class="l-stack__element l-stack__element--{{ element.formatting == "column" ? "xlarge" : "small" }}">
        <div class="{{ element.formatting == "column" ? "l-grid l-grid--narrow" :  "l-stack l-stack--small" }}">
            {% for _mediation in _mediations %}

                {% set resource = get_mediation_by_id(_mediation.data.mediation) %}

                {% if resource %}

                    {% set supervision_icon = (resource.supervision.value == "autonomie") ? "user" : "duo" %}

                    <div class="l-{{ element.formatting == "column" ? 'grid' : 'stack' }}__item">

                        {% include ui('resource') with {
                            horizontal: element.formatting == "line",
                            color: resource.color.value|default,
                            picture: {
                                image: resource.mainImage.image,
                            },
                            tag: {
                                icon: supervision_icon,
                                label: ("app.ui.resource.mediation.enum.supervision." ~ resource.supervision.value)|trans
                            },
                            title: {
                                level: 2,
                                text: resource.title
                            },
                            description: resource.description,
                            specs: [
                                { icon: "calendar", text: resource.period },
                                { icon: professional.audienceIcon, text: resource.audience },
                                { icon: "ticket", text: resource.price }
                            ],
                            link: {
                                href: path('app_mediation_show', { page_slug: page.compositeSlug, slug: resource.slug }),
                                target: "_self"
                            }
                        } only %}

                    </div>

                {% endif %}

            {% endfor %}
        </div>
    </div>

    {% if element.formatting == "line" %}
        {% if button and button.label and button.url %}
            <div class="l-stack__element">
                {% include ui('button') with {
                    icon: button.icon|default('arrow-right'),
                    label: button.label|default("En savoir plus"),
                    attributes: { href: button.url, class: 'v-heading__button' },
                } only %}
            </div>
        {% endif %}

        </div>
    {% endif %}

</div>
