{# *****************************************************************************
** Type: BLOCK
** Name: Medias
******************************************************************************** #}


{# ***********************************************
** VARIABLES
************************************************** #}

{% set medias = [] %}

{% set _medias = monsieurbiz_richeditor_get_elements(element.medias) %}



{% for _media in _medias %}
    {% set medias = medias|merge([{
        color: _media.data.color.value|default,
        title: {
            level: 3,
            text: _media.data.title
        },
        tag: {
            label: _media.data.type
        },
        link: {
            icon: (_media.data.button.target|default == "_blank" ? "external" : "arrow-right"),
            label: _media.data.button.label|default,
            href: _media.data.button.url|default,
            target: _media.data.button.target|default,
            title: _media.data.button.attribut_title|default(null)
        }
    }]) %}
{% endfor %}



{# ***********************************************
** MARKUP
************************************************** #}

<section class="l-stack__item">
    <div class="l-container l-container--xlarge">

        {% include ui('events') with {
            label: element.overtitle|default,
            title: element.title,
            button: {
                icon: (element.button.target|default == "_blank" ? "external" : "arrow-right"),
                label: element.button.label|default,
                attributes: {
                    href: element.button.url|default,
                    target: element.button.target|default,
                    title: element.button.attribut_title|default(null)
                }
            },
            items_type: "post",
            items: medias,
            grid: has_aside|default(false) ? 'asided' : null,
        } only %}

    </div>
</section>
