{# *****************************************************************************
** Type: BLOCK
** Name: Meetings
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

{% set categories = get_meetings_block_categories() %}

<div class="l-stack__item">
    <div class="l-container l-container--full">
        {% include ui('meetings') with {
            title: element.title,
            description: element.description,
            items: categories,
        } only %}
    </div>
</div>
