{# *****************************************************************************
** Type: BLOCK
** Name: Logos
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--large">

        {% include ui('opac') only %}

    </div>
</div>
