{# *****************************************************************************
** Type: BLOCK
** Name: Posts
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _posts = monsieurbiz_richeditor_get_elements(element.articles) %}
{% set posts = [] %}

{% if element.button|default and element.button.url|default %}
    {% set events_button = {
        icon: "arrow-right",
        label: element.button.label|default,
        attributes: {
            href: element.button.url,
            target: element.button.target|default("_self"),
            title: element.button.attribut_title|default(null)
        }
    } %}
{% endif %}

{% if _posts|default %}
    {% set page_slug = under_pages_slug_by_code('articles') %}
    {% for _post in _posts %}
        {% set post = get_article_by_id(_post.data.article) %}
        {% if post is not empty %}
            {% set posts = posts|merge([{
                color: post.color.value|default,
                picture: element.images ? post.getMainImage : null,
                title: {
                    level: 3,
                    text: post.title
                },
                tag: {
                    icon: post.category.icon|default,
                    label: post.category.title
                },
                publication_date: post.publishedAt|formatted_date,
                link: {
                    label: "Lire l'article",
                    href: path('app_article_show', {'slug': post.slug, 'page_slug': page_slug, 'category_slug': post.category.slug}),
                }
            }]) %}
        {% endif %}
    {% endfor %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if posts|default and posts|length > 0 %}
    <div class="l-stack__item">
        <div class="l-container l-container--xlarge">

            {% include ui('events') with {
                title: element.title|default,
                description: element.description|default,
                button: events_button|default,
                items: posts,
                items_type: "post",
                grid: has_aside|default(false) ? 'asided' : null,
            } only %}

        </div>
    </div>
{% endif %}
