{% set professional = get_professional_by_id(element.professional) %}

{% set pages = {
    dossier: find_one_by_code_and_professional(app.request.locale, 'dossiers', professional.code),
    tool: find_one_by_code_and_professional(app.request.locale, 'tools', professional.code),
    exhibit: find_one_by_code_and_professional(app.request.locale, 'exhibits', professional.code),
} %}

{% set _resources = monsieurbiz_richeditor_get_elements(element.professionalResources) %}

{% set button = element.button %}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">

        <div class="l-stack__element v-heading">
            {% if element.surtitle %}
                <p class="v-heading__subptitle">{{ element.surtitle }}</p>
            {% endif %}

            <h2 class="v-heading__title c-title">{{ element.title }}</h2>
        </div>

        {% for _resource in _resources %}
            {% set resource_type = _resource.data|keys|first %}

            {% if resource_type == "dossier" %}

                {% set resource = get_dossier_by_id(_resource.data.dossier) %}
                {% if resource %}
                    {% set specs = [
                        { icon: professional.audienceIcon, text: resource.audience },
                    ] %}
                    {% set href = path('app_dossier_show', { page_slug: pages[resource_type].compositeSlug, slug: resource.slug }) %}
                {% endif %}

            {% elseif resource_type == "tool" %}

                {% set resource = get_tool_by_id(_resource.data.tool) %}
                {% if resource %}
                    {% set specs = [
                        { icon: professional.audienceIcon, text: resource.audience },
                    ] %}
                    {% set href = path('app_tool_show', { page_slug: pages[resource_type].compositeSlug, slug: resource.slug }) %}
                {% endif %}

            {% elseif resource_type == "exhibit" %}

                {% set resource = get_exhibit_by_id(_resource.data.exhibit) %}
                {% if resource %}
                    {% set specs = [
                        { icon: professional.audienceIcon, text: resource.audience },
                        { icon: "ticket", text: resource.pricing ? ("app.ui.resource.dossier.enum.pricing." ~ resource.pricing.value)|trans : false }
                    ] %}
                    {% set href = path('app_exhibit_show', { page_slug: pages[resource_type].compositeSlug, slug: resource.slug }) %}
                {% endif %}

            {% endif %}

            {% if resource %}
                <div class="l-stack__element">

                    {% include ui('resource') with {
                        horizontal: true,
                        color: resource.color.value|default,
                        picture: {
                            image: resource.mainImage.image
                        },
                        title: {
                            level: 2,
                            text: resource.title
                        },
                        description: resource.description,
                        specs: specs,
                        link: {
                            href: href,
                            target: "_self"
                        }
                    } only %}

                </div>
            {% endif %}

        {% endfor %}

        {% if button and button.label and button.url %}
            <div class="l-stack__element">
                {% include ui('button') with {
                    icon: button.icon|default('arrow-right'),
                    label: button.label|default("En savoir plus"),
                    attributes: { href: button.url, title: button.attribut_title|default(null) },
                } only %}
            </div>
        {% endif %}

    </div>
</div>
