{% set professional = get_professional_by_id(element.professional) %}
{% set page = find_one_by_code_and_professional(app.request.locale, 'projects', professional.code) %}
{% set _projects = monsieurbiz_richeditor_get_elements(element.projects) %}
{% set button = element.button %}

<div class="l-stack__item">

    <div class="l-stack__element">
        <div class="v-heading">

            {% if element.surtitle %}
                <p class="v-heading__suptitle">{{ element.surtitle }}</p>
            {% endif %}

            <h2 class="v-heading__title c-title">{{ element.title }}</h2>

            {% if button and button.label and button.url %}
                {% include ui('button') with {
                    icon: button.icon|default('arrow-right'),
                    label: button.label|default("En savoir plus"),
                    attributes: {
                        href: button.url,
                        class: 'v-heading__button',
                        title: button.attribut_title|default(null),
                        },
                } only %}
            {% endif %}
        </div>
    </div>

    <div class="l-stack__element l-stack__element--xlarge">
        <div class="l-grid l-grid--narrow">
            {% for _project in _projects %}

                {% set resource = get_project_by_id(_project.data.project) %}

                {% if resource %}

                    <div class="l-grid__item">

                        {% include ui('resource') with {
                            color: resource.color.value|default,
                            picture: {
                                image: resource.mainImage.image
                            },
                            title: {
                                level: 2,
                                text: resource.title
                            },
                            description: resource.description,
                            specs: [
                                { icon: "calendar", text: resource.date },
                                { icon: "user", text: resource.school }
                            ],
                            link: {
                                href: path('app_project_show', { page_slug: page.compositeSlug, slug: resource.slug }),
                                target: "_self"
                            }
                        } only %}

                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
