{# *****************************************************************************
** Type: BLOCK
** Name: Push
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--large">

        {% include ui('cta') with {
            color: element.color,
            picture: element.image,
            fullsize: (element.style == "full" ? true : false),
            label: element.surtitle|default,
            heading: {
                title: element.title,
                level: 2
            },
            description: element.content,
            link: {
                label: element.button.label,
                href: element.button.url,
                target: element.button.target,
                title: element.button.attribut_title|default(null),
            }
        } only %}

    </div>
</div>
