{# *****************************************************************************
** Type: BLOCK
** Name: Questions
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _questions = monsieurbiz_richeditor_get_elements(element.questions) %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">

        {{ _questions|monsieurbiz_richeditor_render_elements }}

    </div>
</div>
