{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Question
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__element">
    {% include ui('details') with {
        id: element.question|slug('-', 'fr')|lower,
        title: element.question|default,
        content: element.content|default
    } only %}
</div>
