{# *****************************************************************************
** Type: BLOCK
** Name: Quote
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container">

        {% include ui('quote') with {
            content: element.content,
            author: element.author,
            more: element.more
        } only %}

    </div>
</div>
