{# *****************************************************************************
** Type: BLOCK
** Name: Resources
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _resources = monsieurbiz_richeditor_get_elements(element.resources) %}
{% set resources = generate_resources(_resources)%}



{# ***********************************************
** MARKUP
************************************************** #}

{% if resources|default %}
    <div class="l-stack__item">
        <div class="l-container l-container--full">
            {% include ui('meetings') with {
                title: element.title,
                description: element.description,
                color: element.color,
                items: resources
            } only %}
        </div>
    </div>
{% endif %}
