{# *****************************************************************************
** Type: BLOCK
** Name: Simple cards
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _simple_cards = monsieurbiz_richeditor_get_elements(element.simple_cards) %}

{% set is_alone = false %}
{% set container_class = false %}

{% if _simple_cards|length == 1 %}
    {% set is_alone = true %}
    {% set container_class = "l-container l-container--tiny" %}
{% elseif _simple_cards|length == 2 %}
    {% set container_class = "l-container" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">

    {% if container_class|default %}
        <div class="{{ container_class }}">
    {% endif %}



    {# ***********************************************
    ** TITLE
    ************************************************** #}

    {% if element.title %}
        <h2 class="l-stack__element c-title">{{ element.title }}</h2>
    {% endif %}



    {# ***********************************************
    ** CARDS
    ************************************************** #}

    {% if _simple_cards|default %}
        <div class="l-stack__element">

            {% if not is_alone|default %}
                <div class="l-grid{% if _simple_cards|length > 2 %} l-grid--narrow{% endif %}">
            {% endif %}

                {{ _simple_cards|monsieurbiz_richeditor_render_elements }}

            {% if not is_alone|default %}
                </div>
            {% endif %}

        </div>
    {% endif %}



    {% if container_class|default %}
        </div>
    {% endif %}

</div>
