{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Simple card (depending on Simple cards)
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

{% if not is_alone|default %}
    <div class="l-grid__item">
{% endif %}

    {% include ui('card') with {
        picture: element.image|default,
        title: element.title|default ? {
            level: 3,
            text: element.title
        } : false,
        description: element.content|default,
        link: {
            label: element.button.label,
            href: element.button.url,
            target: element.button.target|default("_self"),
            title: element.button.attribut_title|default(null),
        }
    } only %}

{% if not is_alone|default %}
    </div>
{% endif %}
