{# *****************************************************************************
** Type: BLOCK
** Name: Push
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _buttons = monsieurbiz_richeditor_get_elements(element.buttons) %}



{# ***********************************************
** MARKUP
************************************************** #}

{% if element.content|default %}
    <div class="l-stack__item">
        <div class="l-container l-container--xlarge">
            <div class="l-container l-container--small l-container--right">



                {# ***********************************************
                ** RICHTEXT
                ************************************************** #}

                <div class="l-stack__element s-richtext">
                    {{ element.content|html_safe }}
                </div>



                {# ***********************************************
                ** BUTTONS
                ************************************************** #}

                {% if _buttons|default %}
                    {{ _buttons|monsieurbiz_richeditor_render_elements }}
                {% endif %}



            </div>
        </div>
    </div>
{% endif %}
