{# *****************************************************************************
** Type: SUB-BLOCK
** Name: Further
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _links = monsieurbiz_richeditor_get_elements(element.links) %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
	<div class="l-container">
        {% include ui('further') with {
            title: element.title,
            items: _links
        } only %}    
    </div>
</div>
