{# *****************************************************************************
** Type: BLOCK
** Name: Topics
******************************************************************************** #}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set _topics = monsieurbiz_richeditor_get_elements(element.articleSubjects) %}
{% set items = get_article_subjects_by_id(_topics) %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--large">

        {% include ui('topics') with {
            title: element.title,
            items: items,
            color: element.color
        } only %}

    </div>
</div>
