{# *****************************************************************************
** Type: BLOCK
** Name: Video
******************************************************************************** #}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="l-stack__item">
    <div class="l-container l-container--small l-container--right">
        {% include ui('video') with {
            id: loop_element_id,
            title: element.title,
            picture: element.getMainImage,
            element: element
        } only %}
    </div>
</div>
