{% extends '@SyliusShop/_layouts/front.html.twig' %}


{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}


{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} banner-notched{% endblock %}


{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}


    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description,
            picture: page.mainImage,
            breadcrumb: breadcrumb
        } only %}
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** FORM
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container">



                        {# Doc front-end: https://symfony.com/doc/2.x/reference/forms/twig_reference.html#form-label-view-label-variables #}

                        {{ form_start(form, { 'attr': { 'class': 'v-form', 'id': 'contact', 'action': '#contact' } }) }}

                            {{ form_row(form._token) }}



                            {# ***********************************************
                            ** HEADING
                            ************************************************** #}

                            <h2 class="v-form__title c-title">Formulaire de contact</h2>
                            <p class="v-form__description">Tous les champs sont obligatoires à l’exception de ceux spécifiés comme facultatifs.</p>



                            {# ***********************************************
                            ** MESSAGE
                            ** Doc front-end : https://www.w3.org/WAI/tutorials/forms/notifications/
                            ************************************************** #}

                            {% set errors = [] %}

                            {# Erreurs globales du formulaire #}

                            {% if form.vars.errors|default and form.vars.errors|length > 0 %}
                                {% for error in form.vars.errors %}
                                    {% if errors is iterable %}
                                        {% set errors = errors|merge([error.message]) %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {# Erreurs spécifiques à un champ #}

                            {% if not form.vars.valid %}
                                {% for child in form.children %}
                                    {% if child.vars.errors is defined %}
                                        {% for error in child.vars.errors %}
                                            {% if errors is iterable %}
                                                {% set errors = errors|merge([child.vars.label|trans ~ ' : ' ~ error.message]) %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {# Affichage des erreurs #}

                            {% if errors|length > 0 %}
                                <div class="v-form__message">
                                    {% set message_text %}
                                        <p><strong>Le formulaire contient {{ errors|length }} erreur{% if errors|length > 1 %}s{% endif %} :</strong></p>
                                        <ul>
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endset %}
                                    {% include ui('message') with {
                                        type: "error",
                                        text: message_text
                                    } only %}
                                </div>
                            {% endif %}



                            {# ***********************************************
                            ** FIELDS
                            ************************************************** #}

                            <div class="v-form__fields">



                                {# ***********************************************
                                ** ROW
                                ** Last Name, First Name
                                ************************************************** #}

                                <div class="v-form__row">


                                    {# LAST NAME #}

                                    {% include ui('field') with {
                                        id: form.lastName.vars.id,
                                        label: form.lastName.vars.label|trans,
                                        hint: form.lastName.vars.help|trans,
                                        control: {
                                            component: "input",
                                            attributes: {
                                                type: "text",
                                                name: form.lastName.vars.full_name,
                                                value: form.lastName.vars.value,
                                                autocomplete: "family-name",
                                                disabled: form.lastName.vars.disabled
                                            }
                                        },
                                        optional: (form.lastName.vars.required ? false : true),
                                        errors: form.lastName.vars.errors
                                    } only %}


                                    {# FIRST NAME #}

                                    {% include ui('field') with {
                                        id: form.firstName.vars.id,
                                        label: form.firstName.vars.label|trans,
                                        hint: form.firstName.vars.help|trans,
                                        control: {
                                            component: "input",
                                            attributes: {
                                                type: "text",
                                                name: form.firstName.vars.full_name,
                                                value: form.firstName.vars.value,
                                                autocomplete: "given-name",
                                                disabled: form.firstName.vars.disabled
                                            }
                                        },
                                        optional: (form.firstName.vars.required ? false : true),
                                        errors: form.firstName.vars.errors
                                    } only %}


                                </div>



                                {# ***********************************************
                                ** ROW
                                ** Email, Company
                                ************************************************** #}

                                <div class="v-form__row">


                                    {# EMAIL #}

                                    {% include ui('field') with {
                                        id: form.email.vars.id,
                                        label: form.email.vars.label|trans,
                                        hint: form.email.vars.help|trans,
                                        control: {
                                            component: "input",
                                            attributes: {
                                                type: "email",
                                                name: form.email.vars.full_name,
                                                value: form.email.vars.value,
                                                autocomplete: "email",
                                                disabled: form.email.vars.disabled
                                            }
                                        },
                                        optional: (form.email.vars.required ? false : true),
                                        errors: form.email.vars.errors
                                    } only %}


                                    {# COMPANY #}

                                    {% include ui('field') with {
                                        id: form.company.vars.id,
                                        label: form.company.vars.label|trans,
                                        hint: form.company.vars.help|trans,
                                        control: {
                                            component: "input",
                                            attributes: {
                                                type: "text",
                                                name: form.company.vars.full_name,
                                                value: form.company.vars.value,
                                                autocomplete: "organization",
                                                disabled: form.company.vars.disabled
                                            }
                                        },
                                        optional: (form.company.vars.required ? false : true),
                                        errors: form.company.vars.errors
                                    } only %}


                                </div>



                                {# ***********************************************
                                ** ROW
                                ** Service Name, Object
                                ************************************************** #}

                                <div class="v-form__row">
                                    {% set allOptions = [] %}
                                    {% for _options in objects %}
                                        {% for _option in _options %}
                                            {% set hasAlready = allOptions|filter((v, k) => v.label == _option) %}
                                            {% if hasAlready|length == 0 %}
                                                {% set allOptions = allOptions|merge([{ value: _option, label: _option }]) %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="v-form__row">


                                    {# SERVICE NAME #}

                                    {% include ui('field') with {
                                        id: form.serviceName.vars.id,
                                        label: form.serviceName.vars.label|trans,
                                        hint: form.serviceName.vars.help|trans,
                                        placeholder: form.serviceName.vars.placeholder|trans,
                                        control: {
                                            component: "select",
                                            attributes: {
                                                name: form.serviceName.vars.full_name,
                                                value: form.serviceName.vars.value,
                                                disabled: form.serviceName.vars.disabled,
                                                options: form.serviceName.vars.choices
                                            }
                                        },
                                        optional: (form.serviceName.vars.required ? false : true),
                                        errors: form.serviceName.vars.errors,
                                        data: {
                                            'data-dynamic-select': {
                                                values: objects,
                                                select: form.serviceName.vars.id,
                                                target: form.object.vars.id ~ '_select',
                                                targetField: form.object.vars.id ~ '_select-field',
                                                fallback: form.object.vars.id,
                                                fallbackField: form.object.vars.id ~ '-field',
                                                name: form.object.vars.full_name,
                                                placeholder: 'app.ui.resource.contact.form.object.placeholder'|trans,
                                                placeholder_select: 'app.ui.resource.contact.form.object.placeholder_select'|trans
                                            }
                                        }
                                    } only %}


                                    {# OBJECT #}

                                    {% include ui('field') with {
                                        id: form.object.vars.id,
                                        label: form.object.vars.label|trans,
                                        hint: form.object.vars.help|trans,
                                        control: {
                                            component: "input",
                                            attributes: {
                                                type: "text",
                                                name: 'disabled',
                                                value: form.object.vars.value,
                                                disabled: form.object.vars.disabled
                                            }
                                        },
                                        optional: (form.object.vars.required ? false : true),
                                        errors: form.object.vars.errors,
                                        hidden: true,
                                    } only %}

                                    {% include ui('field') with {
                                        id: form.object.vars.id ~ '_select',
                                        label: form.object.vars.label|trans,
                                        hint: form.object.vars.help|trans,
                                        placeholder: 'app.ui.resource.contact.form.object.placeholder'|trans,
                                        control: {
                                            component: "select",
                                            attributes: {
                                                type: "choice",
                                                name: 'disabled',
                                                value: form.object.vars.value,
                                                disabled: true,
                                                options: allOptions,
                                            }
                                        },
                                        optional: (form.object.vars.required ? false : true),
                                        errors: form.object.vars.errors,
                                    } only %}

                                </div>



                                {# ***********************************************
                                ** FIELD
                                ** Message
                                ************************************************** #}


                                {% include ui('field') with {
                                    id: form.message.vars.id,
                                    label: form.message.vars.label|trans,
                                    hint: form.message.vars.help|trans,
                                    control: {
                                        component: "textarea",
                                        attributes: {
                                            name: form.message.vars.full_name,
                                            value: form.message.vars.value,
                                            disabled: form.message.vars.disabled
                                        }
                                    },
                                    optional: (form.message.vars.required ? false : true),
                                    errors: form.message.vars.errors
                                } only %}



                                {# ***********************************************
                                ** FIELD
                                ** GDPR
                                ************************************************** #}


                                {% set label = "J'autorise Les Champs Libres à utiliser ces données en respect de sa <a href=\"#{path('luna_page_show', { slug: under_pages_slug_by_code('gdpr') })}\" target=\"_blank\" title=\"politique de gestion des données personnelles - nouvelle fenêtre\">politique de gestion des données personnelles</a>." %}

                                {% include ui('field') with {
                                    id: form.gdpr.vars.id,
                                    label: label,
                                    hint: form.gdpr.vars.help|trans,
                                    control: {
                                        component: "checkbox",
                                        attributes: {
                                            name: form.gdpr.vars.full_name,
                                            value: form.gdpr.vars.value,
                                            checked: form.gdpr.vars.checked,
                                            disabled: form.gdpr.vars.disabled
                                        }
                                    },
                                    optional: (form.gdpr.vars.required ? false : true),
                                    errors: form.gdpr.vars.errors
                                } only %}



                            </div>



                            {# ***********************************************
                            ** ACTIONS
                            ************************************************** #}

                            <div class="v-form__actions">
                                {% include ui('button') with {
                                    icon: 'arrow-right',
                                    label: "Envoyer le message",
                                    attributes: {
                                        type: "submit",
                                        id: form.save.vars.id,
                                        name: form.save.vars.full_name
                                    }
                                } only %}
                            </div>



                        {{ form_end(form, { 'render_rest': false }) }}



                    </div>
                </div>



                {# ***********************************************
                ** TEXT
                ************************************************** #}

                <div class="l-stack__item">
                    <div class="l-container l-container--small l-container--right">

                        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                        {% if elements %}

                            {% for element in elements %}
                                {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                {{ element|monsieurbiz_richeditor_render_element }}
                            {% endfor %}

                        {% endif %}

                    </div>
                </div>



            </div>
        </div>
    </div>

    {# ***********************************************
    ** SCRIPT CAPTCHA
    ************************************************** #}
    {{ script_captcha|html_safe }}
    {{ validator|html_safe }}

{% endblock %}
