/*******************************************************************************
 * EDITOR SCSS
*******************************************************************************/

@use "front/settings/vendors";

/**
 * Generic
*******************************************************************************/

@use "front/generic/box-sizing";
// @use "normalize.css/normalize";
@use "reset-css/reset";
@use "front/generic/focus";
@use "front/generic/fonts";

/**
 * Elements
*******************************************************************************/

@use "front/elements/document";
@use "front/elements/anchor";

/**
 * Scopes
*******************************************************************************/

@use "front/scopes/richtext";


/**
 * Styles
*******************************************************************************/

.cke_editable {
  padding: 1em;
  background-color: #fff;

  [lang] {
    display: inline-block;
    padding: 0 0.25em;
    border: 1px dashed;
    border-radius: 0.25em;

    &::after {
      content: attr(lang);
      margin-left: 0.5ch;
      font-size: 0.65em;
      vertical-align: top;
    }
  }
}
