{# Affichage uniquement lorsque la ressource existe (et donc pas sur une page de création) #}
{% if resource.id %}
    {% if resource.enabled %}

        {# SHOW #}

        <div class="ui segment">

            Voir sur le site pour :

            <ul>

                {# Pour tous les professionnels associés au dossier #}
                {% for dossierProfessional in resource.dossierProfessionals %}

                    {% set professional = dossierProfessional.professional %}

                    {# Récupération de la page racine des dossiers pour le professionnel en cours #}

                    {% set page = find_one_by_code_and_professional('fr_FR', 'dossiers', professional.code) %}

                    {% if page %}

                        {# Création et affichage du lien "Voir sur le site" #}

                        {% set href = path('app_dossier_show', { page_slug: page.compositeSlug, slug: resource.slug }) %}

                        <li>
                            <a href="{{ href }}" target="_blank">
                                {{ professional.title }}
                            </a>
                        </li>

                    {% else %}

                        <li>
                            {{ professional.title }} : publiez une page racine pour pouvoir afficher ce dossier pour ce type de professionnel
                        </li>

                    {% endif %}

                {% endfor %}

            </ul>

        </div>

    {% else %}

        {# PREVIEW #}

        <div class="ui segment">

            Prévisualiser sur le site pour :

            <ul>

                {# Pour tous les professionnels associés à ce dossier #}
                {% for professional in resource.professionals %}

                    {# Récupération de la page racine des dossiers pour le professionnel en cours #}

                    {% set page = find_one_by_code_and_professional('fr_FR', 'dossiers', professional.code) %}

                    {% if page %}

                        {# Création et affichage du lien "Voir sur le site" #}

                        {% set href = path('app_admin_dossier_preview', { page_slug: page.compositeSlug, id: resource.id }) %}

                        <li>
                            <a href="{{ href }}" target="_blank">
                                {{ professional.title }}
                            </a>
                        </li>

                    {% else %}

                        <li>
                            {{ professional.title }} : publiez une page racine pour pouvoir afficher ce dossier pour ce type de professionnel
                        </li>

                    {% endif %}

                {% endfor %}

            </ul>

        </div>

    {% endif %}
{% endif %}
