{% include ui('field') with {
    id: "search-audience",
    label: form.vars.label|trans,
    hint: form.vars.help|trans|default(false),
    placeholder: form.vars.placeholder|trans|default(false),
    control: {
        component: "select",
        attributes: {
            name: form.vars.full_name,
            value: form.vars.value,
            disabled: false,
            options: form.vars.choices
        }
    },
    optional: true,
    hide_optional: true,
    errors: false
} only %}