{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% set default_value = '' %}
{% if grid.parameters.get('criteria') and grid.parameters.get('criteria')[filter.name] is defined %}
    {% set default_value = grid.parameters.get('criteria')[filter.name] %}
{% endif %}

{% include ui('field') with {
    id: 'criteria_' ~ filter.name,
    label: filter.label|trans,
    hint: form.vars.help|trans|default(false),
    placeholder: form.vars.placeholder|trans|default(false),
    options: form.children,
    options_type: "checkbox",
    name: form.vars.full_name,
    control: {
        component: "customselect",
        attributes: {
            value: form.vars.value|default(default_value),
            disabled: false,
        }
    },
    optional: true,
    hide_optional: true,
    is_group: true,
    errors: false,
} only %}
