{% include ui('field') with {
    id: (id|default ? id ~ "-custom-start-date" : "custom-start-date"),
    label: "Date de début",
    hint: "Format attendu : jj/mm/aaaa",
    control: {
        component: "input",
        attributes: {
            type: "date",
            name: form.vars.full_name ~ "[from]",
            value: form.vars.value.from ? form.vars.value.from|date('Y-m-d') : null,
            disabled: false,
            labelledby: (id|default ? id ~ "-custom-start-date-label" : "custom-start-date-label"),
        }
    },
    optional: true,
    hide_optional: true,
    errors: false,
    as: 'fieldset'
} only %}

{% include ui('field') with {
    id: (id|default ? id ~ "-custom-end-date" : "custom-end-date"),
    label: "Date de fin",
    hint: "Format attendu : jj/mm/aaaa",
    control: {
        component: "input",
        attributes: {
            type: "date",
            name: form.vars.full_name ~ "[to]",
            value: form.vars.value.to ? form.vars.value.to|date('Y-m-d') : null,
            disabled: false,
            labelledby: (id|default ? id ~ "-custom-end-date-label" : "custom-end-date-label"),
        }
    },
    optional: true,
    hide_optional: true,
    errors: false,
    as: 'fieldset'
} only %}
