{% set default_value = '' %}
{% if grid.parameters.get('criteria') and grid.parameters.get('criteria')[filter.name] is defined %}
    {% set default_value = grid.parameters.get('criteria')[filter.name] %}
{% endif %}

{% include ui('field') with {
    id: "search-type",
    label: filter.label|trans,
    hint: form.vars.help|trans|default(false),
    placeholder: form.vars.placeholder|trans|default(false),
    control: {
        component: "select",
        attributes: {
            name: form.vars.full_name,
            value: form.vars.value|default(default_value),
            disabled: false,
            options: form.vars.choices
        }
    },
    optional: true,
    hide_optional: true,
    errors: false
} only %}