{# vendor/pagerfanta/pagerfanta/lib/Twig/templates/default.html.twig #}
{%- extends '@Pagerfanta/default.html.twig' -%}

{%- block pager -%}
    {# First Page Link #}
    {%- if start_page > 1 -%}
        {%- set page = 1 -%}
        {%- set path = route_generator.route(page) -%}
        {{- block('page_link') -}}
    {%- endif -%}

    {# Second Page Link, displays if we are on page 3 #}
    {%- if start_page == 3 -%}
        {%- set page = 2 -%}
        {%- set path = route_generator.route(page) -%}
        {{- block('page_link') -}}
    {%- endif -%}

    {# Separator, creates a "..." separator to limit the number of items if we are starting beyond page 3 #}
    {%- if start_page > 3 -%}
        {{- block('ellipsis') -}}
    {%- endif -%}

    {# Page Links #}
    {%- for page in range(start_page, end_page) -%}
        {%- set path = route_generator.route(page) -%}
        {%- if page == current_page -%}
            {{- block('current_page_link') -}}
        {%- else -%}
            {{- block('page_link') -}}
        {%- endif -%}
    {%- endfor -%}

    {# Separator, creates a "..." separator to limit the number of items if we are over 3 pages away from the last page #}
    {%- if end_page < (nb_pages - 2) -%}
        {{- block('ellipsis') -}}
    {%- endif -%}

    {# Second to Last Page Link, displays if we are on the third from last page #}
    {%- if end_page == (nb_pages - 2) -%}
        {%- set page = (nb_pages - 1) -%}
        {%- set path = route_generator.route(page) -%}
        {{- block('page_link') -}}
    {%- endif -%}

    {# Last Page Link #}
    {%- if nb_pages > end_page -%}
        {%- set page = nb_pages -%}
        {%- set path = route_generator.route(page) -%}
        {{- block('page_link') -}}
    {%- endif -%}
{%- endblock pager -%}

{%- block pager_widget -%}
    <nav class="v-pagination {{ options.classes|default }}" aria-label="Pagination">
        {# Previous Page Link #}
        {%- if pagerfanta.hasPreviousPage() -%}
            {%- set path = route_generator.route(pagerfanta.getPreviousPage()) -%}
            {{- block('previous_page_link') -}}
        {%- else -%}
            {{- block('previous_page_link_disabled') -}}
        {%- endif -%}

        <ol class="v-pagination__items">
            {{- block('pager') -}}
        </ol>

        {# Next Page Link #}
        {%- if pagerfanta.hasNextPage() -%}
            {%- set path = route_generator.route(pagerfanta.getNextPage()) -%}
            {{- block('next_page_link') -}}
        {%- else -%}
            {{- block('next_page_link_disabled') -}}
        {%- endif -%}
    </nav>
{%- endblock pager_widget -%}

{%- block page_link -%}
    {% set nofollow = '' %}
    {% if app.request.get('criteria') is not empty %}
        {% set nofollow = "nofollow" %}
    {% endif %}
    <li class="v-pagination__item">
        <a class="v-pagination__link" href="{{ path }}" aria-label="Aller à la page {{ page }}" rel="{{ nofollow }}">
            {{- page -}}
        </a>
    </li>
{%- endblock page_link -%}

{%- block current_page_link -%}
    {% set nofollow = '' %}
    {% if app.request.get('criteria') is not empty %}
        {% set nofollow = "nofollow" %}
    {% endif %}
    <li class="v-pagination__item">
        <a class="v-pagination__link" href="{{ path }}" aria-label="Page courante, page {{ page }}" aria-current="true" rel="{{ nofollow }}">
            {{- page -}}
        </a>
    </li>
{%- endblock current_page_link -%}

{%- block previous_page_link -%}
    {% set nofollow = '' %}
    {% if app.request.get('criteria') is not empty %}
        {% set nofollow = " nofollow" %}
    {% endif %}
    <li class="v-pagination__item">
        {% include ui('button') with {
            iconOnly: true,
            icon: 'arrow-left',
            attributes: {
                href: path,
                class: "v-pagination__button",
                disabled: false,
                "aria-label": "Aller à la page précédente",
                rel: "prev" ~ nofollow
            }
        } only %}
    </li>
{%- endblock previous_page_link -%}

{%- block previous_page_link_disabled -%}
    <div class="v-pagination__item">
        {% include ui('button') with {
            iconOnly: true,
            icon: 'arrow-left',
            attributes: {
                class: "v-pagination__button",
                disabled: true,
                "aria-label": "Aller à la page précédente",
            }
        } only %}
    </div>
{%- endblock previous_page_link_disabled -%}

{%- block next_page_link -%}
    <div class="v-pagination__item">
        {% set nofollow = '' %}
        {% if app.request.get('criteria') is not empty %}
            {% set nofollow = " nofollow" %}
        {% endif %}
        {% include ui('button') with {
            iconOnly: true,
            icon: 'arrow-right',
            attributes: {
                href: path,
                class: "v-pagination__button",
                disabled: false,
                "aria-label": "Aller à la page suivante",
                rel: "next" ~ nofollow
            }
        } only %}
    </div>
{%- endblock next_page_link -%}

{%- block next_page_link_disabled -%}
    <li class="v-pagination__item">
        {% include ui('button') with {
            iconOnly: true,
            icon: 'arrow-right',
            attributes: {
                class: "v-pagination__button",
                disabled: true,
                "aria-label": "Aller à la page suivante",
            }
        } only %}
    </li>
{%- endblock next_page_link_disabled -%}

{%- block ellipsis -%}
    <li class="v-pagination__item">
        <span class="v-pagination__ellipsis" aria-hidden="true">…</span>
        <span class="u-visually-hidden">Points de suspension</span>
    </li>
{%- endblock ellipsis -%}
