{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}

{# ***********************************************
** MÉDIATIONS
************************************************** #}

{% if resources.data.currentPageResults|default|length %}

    <section class="l-stack__item">

        {% set item_current = resources.data.currentPageResults|length %}
        {% set item_total = resources.data.nbResults %}
        {% set page_current = resources.data.currentPage %}
        {% set page_total = resources.data.nbPages %}

        <div class="l-stack__element">
            {% include ui('results') with {
                items: { current: item_current, total: item_total },
                pages: { current: page_current, total: page_total }
            } only %}
        </div>

        <div class="l-stack__element l-stack__element--xlarge">
            <div class="l-grid l-grid--narrow">
                {% for resource in resources.data %}
                    <div class="l-grid__item">

                        {% set supervision_icon = (resource.supervision.value == "autonomie") ? "user" : "duo" %}

                        {% set audience = get_audience_by_professional(page.professional.id, resource.mediationProfessionals) %}

                        {% include ui('resource') with {
                            color: resource.color.value|default,
                            picture: {
                                image: resource.mainImage.image,
                            },
                            tag: {
                                icon: supervision_icon,
                                label: ("app.ui.resource.mediation.enum.supervision." ~ resource.supervision.value)|trans
                            },
                            title: {
                                level: 2,
                                text: resource.title
                            },
                            description: resource.description,
                            specs: [
                                { icon: "calendar", text: resource.period },
                                { icon: page.professional.audienceIcon, text: audience },
                                { icon: "ticket", text: resource.price }
                            ],
                            link: {
                                href: path('app_mediation_show', { page_slug: page.compositeSlug, slug: resource.slug }),
                                target: "_self"
                            }
                        } only %}

                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="l-stack__element l-stack__element--large">
            {% include ui('results') with {
                items: { current: item_current, total: item_total },
                pages: { current: page_current, total: page_total }
            } only %}
        </div>

        <div class="l-stack__element l-stack__element--large">
            {{ pagination.simple(resources.data, { route_configuration: route_configuration|default(false) }) }}
        </div>

    </section>

    <div class="l-stack__item l-stack__item--narrow v-back-to-top">
        {% include ui('button') with {
            mode: "primary",
            icon: 'arrow-up',
            label: "Retour en haut de page",
            attributes: {
                class: "v-back-to-top__button",
                href: "#top"
            }
        } only %}
    </div>


{# ***********************************************
** AUCUN RÉSULTAT
************************************************** #}


{% else %}

    <section class="l-stack__item">
        <div class="l-stack__element l-stack__element--xlarge s-richtext u-text-align-center">
            <h2>Aucun résultat</h2>
            <p>
                Aucun résultat ne correspond à votre recherche.<br />
                Vous pouvez obtenir plus de résultats en <strong>modifiant votre recherche</strong> ou en découvrant toutes nos médiations.
            </p>
        </div>
    </section>

{% endif %}
