<div class="v-search v-search--classic js-search">
    <div class="l-container l-container--large">
        {% set page = find_one_by_code_and_professional(app.request.locale, 'mediations', 'enseignants') %}
        <form class="v-search__form" method="get" action="{{ path('app_mediation_search', { 'page_slug': page.compositeSlug }) }}#resultats">


            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-search__main">

                {{ sylius_grid_render_filter(resources, resources.definition.filters.level) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.subjects) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.supervision) }}

            </div>


            {# ***********************************************
            ** ADDITIONAL
            ************************************************** #}

            {% set criteria = configuration.request.query.all.criteria|default %}
            {% set additional_is_hidden = true %}
            {% if criteria and (criteria.pricing|default or criteria.audience|default or criteria.accessibility|default) %}
                {% set additional_is_hidden = false %}
            {% endif %}

            <div class="v-search__additional" id="search-additional"{% if additional_is_hidden %} hidden{% endif %}>

                {{ sylius_grid_render_filter(resources, resources.definition.filters.month) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.pricing) }}

            </div>


            {# ***********************************************
            ** ACTIONS
            ************************************************** #}

            <div class="v-search__actions">
                {% include ui('button') with {
                    mode: "link",
                    icon: 'chevron-down',
                    label: "Afficher plus de filtres",
                    attributes: {
                        type: "button",
                        class: "v-search__toggle js-search-toggle",
                        "aria-controls": "search-additional",
                        "aria-expanded": "false",
                        "data-expanded-label": "Masquer les filtres",
                        "data-shrank-label": "Afficher plus de filtres"
                    }
                } only %}
                {% include ui('button') with {
                    icon: 'zoom',
                    label: "Rechercher",
                    attributes: {
                        type: "submit",
                        class: "v-search__submit"
                    }
                } only %}
            </div>


        </form>
    </div>
</div>
