{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}

{% set page = find_by_composite_slug(app.request.locale , app.request.query.get('page_slug')) %}
{% set route_configuration = {routeName: 'app_mediation_subject_show', routeParams: app.request.get('parent_route_params')} %}

{# ***********************************************
** MÉDIATIONS
************************************************** #}

{% include '@SyliusShop/Mediation/_partials/_mediations.html.twig' %}
