{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

 {% block metatags %}
     {{ parent() }}
     {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': resource } %}
 {% endblock %}

{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-event-container-btn{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ resource.title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% set supervision_icon = (resource.supervision.value == "autonomie") ? "user" : "duo" %}

        {% set audience = get_audience_by_professional(page.professional.id, resource.thematicTourProfessionals) %}

        {% include ui('banner') with {
            type: "post",
            color: resource.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: resource.title,
            description: false,
            tag: {
                icon: supervision_icon,
                label: ("app.ui.resource.mediation.enum.supervision." ~ resource.supervision.value)|trans
            },
            mentions: [
                {
                    icon: audience ? page.professional.audienceIcon : false,
                    label: audience ? page.professional.audienceLabel : false,
                    value: audience ? audience : false
                }
            ]
        } only %}

        {% if resource.phone %}
            {% include ui('enabler') with {
                alt: true,
                label: "Faire une réservation :",
                button: {
                    mode: "primary",
                    icon: "phone",
                    label: "Tél. : " ~ resource.phone,
                    href: "tel:" ~ resource.phone|replace({' ': '', '-': ''})
                }
            } only %}
        {% endif %}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {% set elements = monsieurbiz_richeditor_get_elements(resource.blocks) %}

                {% if elements|default %}
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>



    </div>



{% endblock %}
