{% set categories = get_article_categories() %}
{% set page_slug = page.slug|default(under_pages_slug_by_code('articles')) %}
{% set items = [] %}

{% for category in categories %}
    {% set items = items|merge([{
        icon: category.icon,
        label: category.title,
        href: path('app_article_category_show', {'slug': category.slug, 'page_slug': page_slug}),
        active: category.slug == taxon.slug|default ? true : false
    }]) %}
{% endfor %}

{% set current_under_pages_code = app.request.attributes.get('_under_pages_code') %}
{% set is_all_articles = ('articles_index' == current_under_pages_code) %}

{% set items = items|merge([{
    icon: "folder",
    label: "Tous les articles",
    href: path('app_article_index', { page_slug: under_pages_slug_by_code('articles_index') }),
    active: (is_all_articles and not taxon) ? true : false
}]) %}

{% include ui('filters') with {
    items: items
} only %}
