{% if taxon %}
    {% set feed_label = ('app.ui.resource.article_' ~ taxon_type|default('category') ~ '.front.feed.link_label')|trans ~ ' "' ~ taxon.title ~ '"' %}
{% else %}
    {% set feed_label = 'du Mag' %}
{% endif %}

{% include ui('rss') with {
    label: feed_label,
    href: feed_url
} only %}
