/**********************************************************************************
** CORE
***********************************************************************************/


/**
** Fonts imports
***********************************************************************************/

// Local
// @include font-face("Tex Gyre Heros", "texgyreheros-regular", 400, normal);

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/**
** Global
***********************************************************************************/

:root {}

@-ms-viewport { width: device-width; }

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}


/**
** Focus
***********************************************************************************/

/* Remove outline for non-keyboard :focus */
.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  outline: rem(2px) solid $color-outline;
  outline-offset: rem(2px);
}


/**
** Page
***********************************************************************************/

html {
  min-height: 100%; /* [3] */
  overflow-y: scroll; /* [2] */
  background: $color-background none;
  color: $color-foreground;
  font-family: $font-default;
  @include normal-text;
  // font-size: ($global-font-size / 16px) * 1em; /* [1] */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // line-height: $global-line-height; /* [1] */
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include mq($until: large) {

    &.menu-active {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
  }
}

body {
  @include normal-text;

  @include mq($until: large) {

    html.menu-active & {
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;

      &.admin-bar {
        height: calc(100vh - #{rem(50px)});
        top: rem(50px);
      }
    }
  }
}


@media print {
  @page {
    margin: 1cm 1.5cm;
  }

  html,
  body {
    height: auto;
  }

  html {
    @include rem-baseline(90%);
  }

  *,
  *::before,
  *::after {
    border-color: #000 !important;
    background: transparent none !important;
    box-shadow: none !important;
    color: #000 !important;
  }
}


/**
** Form
***********************************************************************************/

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  float: left;
}


/**
** Medias
***********************************************************************************/

img,
video,
iframe {
  max-width: 100%; /* [1] */
  height: auto;
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}


@media print {
  img,
  svg {
    filter: grayscale(100%) !important;
  }
}


/**
** Typography
***********************************************************************************/

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: $font-bold;
}

hr {
  margin: 2em 0;
  border-top: 1px dashed currentColor;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  color: inherit;
}


@media print {
  a {
    color: #000 !important;
    text-decoration: none;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}
