/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Animation
 * Description: Helpers to create animations or transitions related stuff.
**/

/*******************************************************************************
 * Dependencies
*******************************************************************************/

@use "sass:string";

/*******************************************************************************
 * Settings
*******************************************************************************/

/// Default duration used for transitions.
/// @type Number
$transition-duration: 0.25s !default;

/// Default easing used for transitions.
/// @type String
$transition-easing: ease !default;

/// Default delay used for transitions.
/// @type Number
$transition-delay: 0s !default;

/*******************************************************************************
 * Helpers
*******************************************************************************/

/// Creates a simple `transition` declaration.
/// @param {List} $properties
/// @param {Number} $duration [$transition-duration] - The duration of the transitions.
/// @param {String} $easing [$transition-easing] - The easing of the transitions.
/// @param {Number} $delay [$transition-delay] - The delay before the transitions starts.
/// @param {Boolean} $respect-motion-pref [false] - Should we insert the transition only for peaople who have no motion preferences.
/// @example scss
///   @use '../../vega/tools/animation';
///   @include animation.transition(transform);
///   @include animation.transition(background color transform, 0.5s, ease-out, 0.25s);
@mixin
  transition(
    $properties,
    $duration: $transition-duration,
    $easing: $transition-easing,
    $delay: $transition-delay,
    $respect-motion-pref: false,
  ) {
  $r: "";

  @each $property in $properties {
    $r: $r + "#{$property} #{$duration} #{$easing} #{$delay}, ";
  }

  @if $respect-motion-pref {
    @media (prefers-reduced-motion: no-preference) {
      transition: string.slice(#{$r}, 0, -3);
    }
  } @else {
    transition: string.slice(#{$r}, 0, -3);
  }
}
