/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Hide
 * Description: Helpers to hide stuff.
**/

/*******************************************************************************
 * Helpers
*******************************************************************************/

/// Visually hides elements, while still keeping it accessible.
/// @example scss
///   @use '../../vega/tools/hide';
///   @include hide.visually;
/// @see https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
@mixin visually() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
