/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Objects
 * Type: Tols
**/

/*******************************************************************************
 * Dependencies
*******************************************************************************/

@use "sass-rem/rem";

/*******************************************************************************
 * Default styles
*******************************************************************************/

@mixin wrapper($size: 1200px, $gutter: 24px) {
  --size: #{ rem.convert($size) };
  --gutter: #{ rem.convert($gutter) };

  box-sizing: content-box;
  width: calc(100% - ( var(--gutter) * 2 ));
  max-width: var(--size);
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}
