/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: String
 * Description: String helpers.
**/

/*******************************************************************************
 * Dependencies
*******************************************************************************/

@use "sass:list";
@use "sass:string";

/*******************************************************************************
 * Helpers
*******************************************************************************/

/// Replace some characters by other ones
/// @author Kitty Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
/// @example scss
///   @use '../../vega/tools/string';
///   string.replace("Hello user", "user", "John Doe");
/// @see https://css-tricks.com/snippets/sass/str-replace-function/
@function replace($string, $search, $replace: "") {
  $index: string.index($string, $search);

  @if $index {
    $start: string.slice($string, 1, $index - 1);
    $end: replace(string.slice($string, $index + string.length($search)), $search, $replace);

    @return $start + $replace + $end;
  }

  @return $string;
}

/// Encode string's symbols.
/// @param {String} $string - Initial string
/// @return {String} $string - URL encoded string
/// @example scss
///   @use '../../vega/tools/string';
///   string.url-encode("foo bar");
/// @see https://gist.github.com/JacobDB/0ffffaf8e772c12acf7102edb8a302be
@function url-encode($string) {
  $map: (
      "%": "%25",
      "<": "%3C",
      ">": "%3E",
      " ": "%20",
      "!": "%21",
      "*": "%2A",
      "'": "%27",
      '"': "%22",
      "(": "%28",
      ")": "%29",
      ";": "%3B",
      ":": "%3A",
      "@": "%40",
      "&": "%26",
      "=": "%3D",
      "+": "%2B",
      "$": "%24",
      ",": "%2C",
      "/": "%2F",
      "?": "%3F",
      "#": "%23",
      "[": "%5B",
      "]": "%5D"
  );

  $new: $string;

  @each $search, $replace in $map {
      $new: replace($new, $search, $replace);
  }

  @return $new;
}

/// Check if `$string` contains the given `$substring`.
/// @author Sindre Sorhus
/// @parameter {String} $string - String to check
/// @parameter {String} $search - Substring to search for in `$string`
/// @return {Boolean}
/// @example
///   @use '../../vega/tools/string';
///   string.contains('foo bar baz', 'bar');
/// @see https://github.com/sindresorhus/sass-extras

@function contains($string, $search) {
  @return string.index($string, $search) != null;
}

/// @alias contains
@function includes($string, $search) {
  @return contains($string, $search);
}

/// Check if `$string` starts with the given `$substring`.
/// @author Sindre Sorhus
/// @parameter {String} $string - String to check
/// @parameter {String} $search - Substring to search for at the start of `$string`
/// @return {Boolean}
/// @example
///   @use '../../vega/tools/string';
///   string.starts-with('foo bar baz', 'bar');
/// @see https://github.com/sindresorhus/sass-extras
@function starts-with($string, $search) {
  @return string.index($string, $search) == 1;
}

/// Check if `$string` ends with the given `$substring`.
/// @author Sindre Sorhus
/// @parameter {String} $string - String to check
/// @parameter {String} $search - Substring to search for at the end of `$string`
/// @return {Boolean}
/// @example
///   @use '../../vega/tools/string';
///   string.ends-with('foo bar baz', 'bar');
/// @see https://github.com/sindresorhus/sass-extras
@function ends-with($string, $search) {
  @return string.slice($string, (string.length($string) - string.length($search) + 1)) == $search;
}
