/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Appearance
 * Type: Tools
**/

/*******************************************************************************
 * Helpers
*******************************************************************************/

// Reset appearance of an element
@mixin appearance {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: top;
  appearance: none;
  color: inherit;
  background: none;
  border: 0;
  border-radius: 0;
}
