{# Pour forcer la locale des admins #}
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.preferences'|trans }}</h4>
    {{ form_row(form.localeCode, {'value': 'fr_FR'}) }}
</div>