<div class="ui tab" data-tab="content">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.content'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        {% for locale, translationForm in form.translations %}
            <div data-locale="{{ locale }}">
                <div class="ui content{% if loop.first %} active{% endif %}">
                    <div class="transition hidden">{{ form_row(translationForm.blockable.init_ckeditor)}}</div>
                    {{ form_row(translationForm.blockable.blocks) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
