{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        <div class="ui segment">
            <div class="ui two column stackable grid">
                <div class="column">
                    <h4 class="ui header">{{ 'luna.ui.trait.toggleable.enabled.title'|trans }}</h4>

                    {{ form_row(form.toggleable.enabled) }}
                </div>
                <div class="column">
                    {{ form_row(form.publishedAt) }}
                </div>
            </div>
        </div>

        <div class="ui one column stackable grid">
            <div class="column">

                <h4 class="ui dividing header">{{ 'luna.ui.resource.page.form.page_info'|trans }}</h4>

                {{ form_row(form.color) }}

                {% for locale, translationForm in form.translations %}
                    <div data-locale="{{ locale }}">

                        {{ form_row(translationForm.titleable.title) }}

                        {{ form_row(translationForm.titleable.slug) }}

                        {{ form_row(translationForm.describable.description) }}

                        {{ form_row(translationForm.mainImage) }}

                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
