{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}

    Nouvelle demande de contact - {{ contact.serviceName.value }}

{% endblock %}

{% block body %}

   <div> Voici une nouvelle demande de contact pour le service {{ contact.serviceName.value }}.

       <p> Nom - prénom : {{ contact.lastName }} {{ contact.firstName}} </p>

       {% if contact.company is not null %}
       <p> Société : {{ contact.company }} </p>
       {% endif %}

       <p> Email : {{ contact.email }} </p>

       <p> RGPD :
       {% if contact.gdpr == 1 %}
           Accepté
       {% else %}
           Refusé
       {% endif %}
       </p>

   </div>
   <div>

        <p> Objet : {{ contact.object }} </p>

       <p> Message : {{ contact.message }} </p>

   </div>

{% endblock %}
