{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% set under_pages_code = app.request.attributes.get('_under_pages_code') %}
{% set page = find_by_composite_slug(app.request.locale , app.request.attributes.get('page_slug')) %}
{% set breadcrumb = under_page_breadcrumb_by_page(page) %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% set title = page.title %}

{% if resources.data.currentPageResults|length %}
    {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
{% endif %}

{% block title %}{{ title }}{% endblock %}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %}


        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        {% if "enseignants" == page.professional.code %}
            {% include '@SyliusShop/Mediation/_partials/_search.html.twig' %}
        {% endif %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body" id="resultats">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {% include '@SyliusShop/Mediation/_partials/_mediations.html.twig' %}

            </div>
        </div>


        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% if page.blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
