{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% set under_pages_code = app.request.attributes.get('_under_pages_code') %}
{% set page = find_by_composite_slug(app.request.locale , app.request.attributes.get('page_slug')) %}
{% set breadcrumb = under_page_breadcrumb_by_page(page) %}
{% set breadcrumb = breadcrumb|merge([{
    label: "Résultats de votre recherche",
    href: '',
}]) %}


{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} banner-notched{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% set title = page.title ~ " : résultats de recherche" %}

{% set criterias = configuration.request.get('criteria') %}
{% set filters = [] %}

{% if criterias['level'] is defined and criterias['level'] is not empty %}
    {% set filters = filters|merge(['"' ~ ('app.ui.resource.mediation.enum.level.' ~ criterias['level'])|trans ~ '"']) %}
{% endif %}
{%  if criterias['subjects'] is defined and criterias['subjects'] is not empty %}
    {% set filters = filters|merge(['"' ~ get_subject_by_id(criterias['subjects']).title ~ '"']) %}
{% endif %}
{%  if criterias['supervision'] is defined and criterias['supervision'] is not empty %}
    {% set filters = filters|merge(['"' ~ ('app.ui.resource.mediation.enum.supervision.' ~ criterias['supervision'])|trans ~ '"']) %}
{% endif %}
{% if criterias['month'] is defined and criterias['month'] is not empty %}
    {% set filters = filters|merge(['"' ~ ('app.ui.resource.mediation.enum.month.' ~ criterias['month'])|trans ~ '"']) %}
{% endif %}
{% if criterias['pricing'] is defined and criterias['pricing'] is not empty %}
    {% set filters = filters|merge(['"' ~ ('app.ui.resource.mediation.enum.pricing.' ~ criterias['pricing'])|trans ~ '"']) %}
{% endif %}

{% if filters is not empty %}
    {% set title = title ~ " pour " ~ filters|join(", ") %}
{% endif %}


{% if resources.data.currentPageResults|length %}
    {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
{% endif %}

{% block title %}{{ title }}{% endblock %}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: "Résultats de votre recherche",
            description: false,
            picture: false,
            breadcrumb: breadcrumb|default,
        } only %}


        {# ***********************************************
        ** SEARCH
        ************************************************** #}

        {% include '@SyliusShop/Mediation/_partials/_search.html.twig' %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {% include '@SyliusShop/Mediation/_partials/_mediations.html.twig' %}

            </div>
        </div>


        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% if page.blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}
