{% extends '@SyliusShop/_layouts/front.html.twig' %}


{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': mediation } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} page-mediation{{ mediation.color ? ' page-mediation-' ~ mediation.color.value }}{% endblock %}

{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-mediation-container-btn{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ resource.title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}
    {% set has_aside = true %}

    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">


        {# ***********************************************
    ** Banner
    ************************************************** #}

        {% if mediation.subjects|length > 0 %}
            {% set subjects_label = mediation.subjects|length == 1  ? "Thématique" : "Thématiques" %}
            {% set subjects = '' %}
            {% for subject in mediation.subjects %}
                {% set subjects = subjects ~ '<a href="' ~ path("app_mediation_subject_show", {page_slug: page_slug, slug: subject.slug}) ~ '">' ~ subject.title ~ '</a>'%}
                {% if not loop.last %}
                    {% set subjects = subjects ~ ', ' %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% set supervision_icon = (resource.supervision.value == "autonomie") ? "user" : "duo" %}

        {% set audience = get_audience_by_professional(page.professional.id, mediation.mediationProfessionals) %}

        {% include ui('banner') with {
            type: "event",
            color: mediation.color.value|default,
            notched: false,
            breadcrumb: breadcrumb,
            title: mediation.title,
            description: false,
            tag: {
                icon: supervision_icon,
                label: ("app.ui.resource.mediation.enum.supervision." ~ resource.supervision.value)|trans
            },
            mentions: [
                {
                    icon: mediation.period ? "calendar" : false,
                    label: mediation.period ? "Quand" : false,
                    value: mediation.period ? mediation.period : false
                },
                {
                    icon: mediation.schedule ? "clock" : false,
                    label: mediation.schedule ? "Horaires" : false,
                    value: mediation.schedule ? mediation.schedule : false
                },
                {
                    icon: mediation.duration ? "timer" : false,
                    label: mediation.duration ? "Durée" : false,
                    value: mediation.duration ? mediation.duration : false
                },
                {
                    icon: mediation.price ? "ticket" : false,
                    label: mediation.price ? "Prix" : false,
                    value: mediation.price ? mediation.price : false
                },
                {
                    icon: mediation.location ? "pin" : false,
                    label: mediation.location ? "Lieu" : false,
                    value: mediation.location ? mediation.location : false
                },
                {
                    icon: audience ? page.professional.audienceIcon : false,
                    label: audience ? page.professional.audienceLabel : false,
                    value: audience ? audience : false
                },
                {
                    icon: mediation.subjects|length > 0 ? "tag" : false,
                    label: mediation.subjects|length > 0 ? subjects_label : false,
                    value: mediation.subjects|length > 0 ? subjects : false
                },
            ],
            picture: {
                image: mediation.mainImage.image|default,
                caption: mediation.mainImage.caption|default
            }
        } only %}


        {# ***********************************************
        ** ENABLER
        ************************************************** #}

        {% if mediation.phone %}
            {% include ui('enabler') with {
                alt: true,
                label: "Faire une réservation :",
                button: {
                    mode: "primary",
                    icon: "phone",
                    label: "Tél. : " ~ mediation.phone,
                    href: "tel:" ~ mediation.phone|replace({' ': '', '-': ''})
                }
            } only %}
        {% endif %}


    </div>


    {# ***********************************************
    ** BODY
    ************************************************** #}


    <div class="l-main__body">
        <div class="l-container l-container--xlarge">
            <div class="l-main__board">


                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                {% if mediation.accessibility|length > 0 %}

                    <div class="l-main__aside">
                        {% include ui('audience') with {
                            alt: true,
                            accessibility: {
                                motor: "motor_impaired" in mediation.accessibility,
                                psychic: "psychic_impaired" in mediation.accessibility,
                                intellectual: "intellectually_impaired" in mediation.accessibility,
                                hearing: "hearing_impaired" in mediation.accessibility,
                                visual: "visually_impaired" in mediation.accessibility
                            }
                        } only %}
                    </div>

                {% endif %}


                {# ***********************************************
                ** MAIN
                ************************************************** #}

                <div class="l-main__main">
                    <div class="l-stack l-stack--narrow">
                        <div class="l-container l-container--small l-container--right">

                            {% if mediation.description %}
                                <div class="l-stack__element s-introduction">
                                    {{ mediation.description|html_safe }}
                                </div>
                            {% endif %}


                            {# Blocs #}
                            {# *********************************************** #}

                            {% set elements = monsieurbiz_richeditor_get_elements(mediation.blocks) %}

                            {% if elements|default %}

                                {% for element in elements %}
                                    {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                    {{ element|monsieurbiz_richeditor_render_element }}
                                {% endfor %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% if mediation.relatedMediations|length %}

        <div class="l-main__body">
            <div class="l-container l-container--xlarge">
                <div class="l-main__foot">

                    <div class="l-stack">
                        <div class="l-stack__item">

                            <div class="l-stack__element">
                                <div class="v-heading">
                                    <h2 class="v-heading__title c-title">Ces médiations peuvent aussi vous intéresser</h2>
                                </div>
                            </div>

                            <div class="l-stack__element l-stack__element--xlarge">
                                <div class="l-grid l-grid--narrow">
                                    {% for _related_mediation in mediation.relatedMediations %}
                                        <div class="l-grid__item">
                                            {% include ui('resource') with {
                                                horizontal: false,
                                                color: _related_mediation.color.value|default,
                                                picture: {
                                                    image: _related_mediation.mainImage.image,
                                                },
                                                tag: {
                                                    icon: supervision_icon,
                                                    label: ("app.ui.resource.mediation.enum.supervision." ~ _related_mediation.supervision.value)|trans
                                                },
                                                title: {
                                                    level: 2,
                                                    text: _related_mediation.title
                                                },
                                                description: _related_mediation.description,
                                                specs: [
                                                    { icon: "calendar", text: _related_mediation.period },
                                                    { icon: page.professional.audienceIcon, text: _related_mediation.audience },
                                                    { icon: "ticket", text: _related_mediation.price }
                                                ],
                                                link: {
                                                    href: path('app_mediation_show', { page_slug: page_slug, slug: _related_mediation.slug }),
                                                    target: "_self"
                                                }
                                            } only %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}
