{# *****************************************************************************
** Type: COMPONENT
** Name: Checkbox
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = " " %}

{% if error|default %}
    {% set classes = classes ~ " c-checkbox--error" %}
{% endif %}

{% if disabled|default %}
    {% set classes = classes ~ " c-checkbox--disabled" %}
{% endif %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}





{# ***********************************************
** MARKUP
************************************************** #}

<div class="c-checkbox{{ classes }}">

    <input
        type="checkbox"
        class="c-checkbox__control"

        {% if id|default %}
            id="{{ id }}"
        {% endif %}

        {% if name|default %}
            name="{{ name }}"
        {% elseif id|default %}
            name="{{ id }}"
        {% endif %}

        {% if value|default %}
            value="{{ value }}"
        {% endif %}

        {% if describedby|default %}
            aria-describedby="{{ describedby }}"
        {% endif %}

        {% if not optional|default %}
            aria-required="true"
            required
        {% endif %}

        {% if error|default %}
            aria-invalid="true"
        {% endif %}

        {% if checked|default %}
            checked
        {% endif %}

        {% if disabled|default %}
            disabled
        {% endif %}
    />

    <div class="c-checkbox__box">
        {% include ui('icon') with {
            icon: "checkmark",
            attributes: { class: "c-checkbox__icon", width: '16', height: '16', 'aria-hidden': 'true', focusable: 'false' }
        } only %}
    </div>

    {% if label|default or hint|default %}
        <div class="c-checkbox__text">

            {% if label|default %}
                <label class="c-checkbox__label" for="{{ id }}">{{ label|html_safe }}</label>
            {% endif %}

            {% if hint|default %}
                {% include ui('form/_hint') with {
                    text: hint,
                    id: (id ~ "-hint"),
                    class: "c-checkbox__hint"
                } only %}
            {% endif %}

        </div>
    {% endif %}

</div>
