{# ################################################################################
 # DROPDOWN
 ################################################################################ #}


{#
 # Arguments
 ################################################################################ #}

{#
  as: String
  attributes: Array
#}


{#
 # Variables
 ################################################################################ #}

{% set as = as|default("div") %}
{% set attributes = deep_merge({ class: "c-customselect c-customselect js-customselect" }, attributes|default({})) %}

{% if id|default %}
    {% set attributes = deep_merge({ id: id }, attributes) %}
{% endif %}

{% if class|default %}
    {% set attributes = deep_merge({ class: class }, attributes) %}
{% endif %}

{% if describedby|default %}
    {% set attributes = deep_merge({ 'aria-describedby': describedby }, attributes) %}
{% endif %}

{% if error|default %}
    {% set attributes = deep_merge({ class: 'c-form-input--error' }, attributes) %}
{% endif %}


{#
 # Markup
 ################################################################################ #}

<{{ as }} {{ html_attributes(attributes) }}>

    {% set _input_attr = {
        type: "button",
        id: attributes.id ~ '-control',
        class: "c-select c-select--customselect c-customselect__control js-customselect-control",
    } %}

    <button {{ html_attributes(_input_attr) }}><span class="js-customselect-label">{{ label }}</span></button>

    {% if block('popover') %}
        <div class="c-customselect__popover js-customselect-popover" id="{{ attributes.id }}-popover">
            {% block popover %}{% endblock %}
        </div>
    {% endif %}

</{{ as }}>
