{# *****************************************************************************
** Type: COMPONENT
** Name: Error
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="c-error{{ classes }}"{% if id|default %} id="{{ id }}"{% endif %}>
    {% include ui('icon') with {
        icon: "warning",
        attributes: { class: "c-error__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
    } only %}
    <p>{{ text }}</p>
</div>
