{# *****************************************************************************
** Type: COMPONENT
** Name: Hint
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<p class="c-hint{{ classes }}" id="{{ id|default('') }}">{{ text }}</p>
