{# *****************************************************************************
** Type: COMPONENT
** Name: Input
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = " c-input--#{type|default('text')}" %}

{% if error|default %}
    {% set classes = " c-input--error" %}
{% endif %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}





{# ***********************************************
** MARKUP
************************************************** #}

<input
    type="{{ type|default('text') }}"
    class="c-input{{ classes }}"

    {% if id|default %}
        id="{{ id }}"
    {% endif %}

    {% if name|default %}
        name="{{ name }}"
    {% elseif id|default %}
        name="{{ id }}"
    {% endif %}

    {% if value|default %}
        value="{{ value }}"
    {% endif %}

    {% if labelledby|default %}
        aria-labelledby="{{ labelledby }}"
    {% endif %}

    {% if describedby|default %}
        aria-describedby="{{ describedby }}"
    {% endif %}

    {% if placeholder|default %}
        placeholder="{{ placeholder }}"
    {% endif %}

    {% if autocomplete|default %}
        autocomplete="{{ autocomplete }}"
    {% endif %}

    {% if not optional|default %}
        aria-required="true"
        required
    {% endif %}

    {% if error|default %}
        aria-invalid="true"
    {% endif %}

    {% if disabled|default %}
        disabled
    {% endif %}
/>
