{# *****************************************************************************
** Type: COMPONENT
** Name: Label
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}
{% set as = as|default("label") %}



{# ***********************************************
** MARKUP
************************************************** #}

<{{ as }} class="c-label"{{ for|default ? ' for=' ~ for }}{{ id|default ? ' id=' ~ id }}>
    {{ text }}
    {% if optional|default %}
        <span class="c-label__suffix">(facultatif)</span>
    {% endif %}
</{{ as }}>
