{# *****************************************************************************
** Type: COMPONENT
** Name: Period
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if error|default %}
    {% set classes = " c-period--error" %}
{% endif %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}





{# ***********************************************
** MARKUP
************************************************** #}

<div class="c-period{{ classes }} js-period{% if value|default == "date-personnalisee" %} is-opened{% endif %}">



    {# ***********************************************
    ** OPTIONS
    ************************************************** #}

    <div class="c-period__options">
        {% for option in options %}
            <div class="c-period__option">



                {# ***********************************************
                ** RADIO
                ************************************************** #}

                <input
                    class="c-period__radio js-period-radio{% if option.custom|default %} js-period-custom{% endif %}{% if loop.index0 == 0 %} js-search-refocus{% endif %}"
                    type="radio"
                    value="{{ option.value }}"
                    aria-describedby="date-hint"

                    {% if id|default %}
                        id="{{ id }}-{{ option.value }}"
                    {% endif %}

                    {% if name|default %}
                        name="{{ name }}"
                    {% elseif id|default %}
                        name="{{ id }}"
                    {% endif %}

                    {% if option.custom|default %}
                        aria-controls="{{ id|default ? id ~ "-panel" : "panel" }}"
                    {% endif %}

                    {% if option.value == value|default %}
                        data-was-checked="true"
                        checked
                    {% else %}
                        data-was-checked="false"
                    {% endif %}
                />



                {# ***********************************************
                ** LABEL
                ************************************************** #}

                <label
                    class="c-period__label"

                    {% if id|default %}
                        for="{{ id }}-{{ option.value }}"
                    {% endif %}
                >

                    {% if option.custom|default %}
                        {% include ui('icon') with {
                            icon: 'calendar-alt',
                            attributes: { class: "c-period__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                    {% endif %}

                    {{ option.label }}

                </label>


            </div>
        {% endfor %}
    </div>



    {# ***********************************************
    ** PANEL
    ************************************************** #}

    <div class="c-period__panel js-period-panel" id="date-panel"{% if value|default != "date-personnalisee" %} hidden{% endif %}>
        {{ sylius_grid_render_filter(resources, dates_filter) }}
    </div>



</div>
