{# *****************************************************************************
** Type: COMPONENT
** Name: Select
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if error|default %}
    {% set classes = " c-select--error" %}
{% endif %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}





{# ***********************************************
** MARKUP
************************************************** #}

<select
    class="c-select{{ classes }}"

    {% if id|default %}
        id="{{ id }}"
    {% endif %}

    {% if name|default %}
        name="{{ name }}"
    {% elseif id|default %}
        name="{{ id }}"
    {% endif %}

    {% if describedby|default %}
        aria-describedby="{{ describedby }}"
    {% endif %}

    {% if not optional|default %}
        aria-required="true"
        required
    {% endif %}

    {% if error|default %}
        aria-invalid="true"
    {% endif %}

    {% if disabled|default %}
        disabled
    {% endif %}
>
    {% if placeholder %}
        <option value="">{{ placeholder }}</option>
    {% endif %}
    {% for option in options %}
        <option value="{{ option.value }}"{% if option.value == value|default %} selected{% endif %}>{{ option.label|trans }}</option>
    {% endfor %}
</select>
