{# *****************************************************************************
** Type: COMPONENT
** Name: Textarea
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if error|default %}
    {% set classes = " c-textarea--error" %}
{% endif %}

{% if class|default %}
    {% set classes = classes ~ " #{class}" %}
{% endif %}





{# ***********************************************
** MARKUP
************************************************** #}

<textarea
    class="c-textarea{{ classes }}"

    {% if id|default %}
        id="{{ id }}"
    {% endif %}

    {% if name|default %}
        name="{{ name }}"
    {% elseif id|default %}
        name="{{ id }}"
    {% endif %}

    {% if describedby|default %}
        aria-describedby="{{ describedby }}"
    {% endif %}

    {% if placeholder|default %}
        placeholder="{{ placeholder }}"
    {% endif %}

    {% if not optional|default %}
        aria-required="true"
        required
    {% endif %}

    {% if error|default %}
        aria-invalid="true"
    {% endif %}

    {% if disabled|default %}
        disabled
    {% endif %}
>{% if value|default %}{{ value }}{% endif %}</textarea>
