{% import '@LunaCore/Admin/Macro/buttons.html.twig' as buttons %}

{# Selon l'endroit d'où est appelé le template (grid ou toolbar), Sylius fourni l'objet dans resource ou data #}
{% set resource = resource ?? data %}

{% set published = (resource.publishedAt <= date('NOW')) %}

{% if published %}

    {{ include("@LunaCore/Admin/Grid/Action/show.html.twig") }}

{% endif %}
