<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        {% block metatags %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app-shop-entry', null, 'app.shop') }}
        {% endblock %}

        {{ sylius_template_event('sylius.shop.layout.head') }}
    </head>

    <body class="pushable">
        <div class="o-page pusher" data-route="{{ app.request.get('_route') }}">

            {% block top %}
            {% endblock %}

            {% block header %}
            {% endblock %}

            {% include '@SyliusShop/_flashes.html.twig' %}

            {{ sylius_template_event('sylius.shop.layout.before_content') }}

            {% block main %}
                <main id="main" class="o-page__main">
                    {% block content %}
                    {% endblock %}
                </main>
            {% endblock %}

        </div>

        {% block javascripts %}
            {% if app.environment|default('prod') == 'dev' %}
                <script id="__bs_script__">//<![CDATA[
                    (function() {
                        try {
                            var script = document.createElement('script');
                            if ('async') {
                                script.async = true;
                            }
                            script.src = 'http://localhost:3001/browser-sync/browser-sync-client.js?v=2.29.3';
                            if (document.body) {
                                document.body.appendChild(script);
                            } else if (document.head) {
                                document.head.appendChild(script);
                            }
                        } catch (e) {
                            console.error("Browsersync: could not append script tag", e);
                        }
                    })()
                //]]></script>
            {% endif %}

            {{ encore_entry_script_tags('app-shop-entry', null, 'app.shop') }}
        {% endblock %}

    </body>
</html>
