{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% form_theme form '@LunaCore/Admin/Form/theme.html.twig' %}

{{ form_errors(form) }}

<div class="ui content">

    <div class="ui segment">

        {{ form_row(form.toggleable.enabled) }}

        {{ form_row(form.startingAt) }}

        {{ form_row(form.endingAt) }}

        {{ form_row(form.level) }}

        {% for locale, translationForm in form.translations %}

            {{ form_row(translationForm.content) }}

        {% endfor %}

    </div>

</div>