/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Introduction
 * Type: Scope
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.s-introduction {
  @include fonts.large-text;

  p {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 6);
    }
  }

  a {

    &[target="_blank"] {
      display: inline-block;
      line-height: 1.45;

      &:after {
        content: '';
        display: inline-block;
        width: rem.convert(24px);
        height: rem.convert(24px);
        margin-left: rem.convert(layout.$gutter-size * 0.5);
        background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M12.9995 11.7502c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l8.2-8.19997c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-8.2 8.19997c-.15.15-.34.22-.53.22Z\" fill=\"%color%\"/><path d=\"M21.9992 7.55c-.41 0-.75-.34-.75-.75V2.75h-4.05c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.8c.41 0 .75.34.75.75v4.8c0 .41-.34.75-.75.75ZM15 22.75H9c-5.43 0-7.75-2.32-7.75-7.75V9c0-5.43 2.32-7.75 7.75-7.75h2c.41 0 .75.34.75.75s-.34.75-.75.75H9C4.39 2.75 2.75 4.39 2.75 9v6c0 4.61 1.64 6.25 6.25 6.25h6c4.61 0 6.25-1.64 6.25-6.25v-2c0-.41.34-.75.75-.75s.75.34.75.75v2c0 5.43-2.32 7.75-7.75 7.75Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
      }
    }
  }


  /**
  ** Inline
  ****************************************/

  strong,
  b {
    font-weight: fonts.$bold;
  }

  em,
  i {
    font-style: italic;
  }

  sup {
    vertical-align: super;
    font-size: 0.75em;
  }
}


/**
** Immersive
****************************************/

.s-introduction--immersive {
  @include fonts.huge-text;

  a {
    padding-right: rem.convert(layout.$gutter-size);
    padding-left: rem.convert(layout.$gutter-size);
    background-color: colors.get("pale-blue");
    border-radius: rem.convert(10px);
  }
}
