/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Richtext
 * Type: Scope
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";
@use "sass-em/em";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.s-richtext {


  /**
  ** All
  ****************************************/

  > *:not(:first-child) {
    margin-top: rem.convert(layout.$gutter-size * 3);
  }


  /**
  ** Headings
  ****************************************/

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fonts.title;
  }

  h2:not(:first-child) {
    margin-top: rem.convert(layout.$gutter-size * 5);
  }

  h3,
  h4,
  h5,
  h6 {
    @include fonts.title;
  }

  h3 {
    @include fonts.small-title;
  }

  h4 {
    @include fonts.xsmall-title;
  }

  h5 {
    @include fonts.tiny-title;
  }

  h6 {
    font-size: rem.convert(fonts.$size-regular);
    font-weight: fonts.$medium;
  }


  /**
  ** Blockquote
  ****************************************/

  blockquote {
    font-style: italic;
    padding-left: rem.convert(layout.$gutter-size * 3 - 3px);
    border-left: rem.convert(3px) solid colors.get("black");
  }


  /**
  ** Paragraph
  ****************************************/

  p {}


  /**
  ** Lists
  ****************************************/

  ul,
  ol {

    li {
      position: relative;
      padding-left: rem.convert(layout.$gutter-size * 4);

      &:before {
        position: absolute;
        left: 0;
      }

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size);
      }
    }

    ul,
    ol {
      margin-top: rem.convert(layout.$gutter-size);
    }
  }

  ol {
    counter-reset: orderedlist;

    li {
      counter-increment: orderedlist;

      &:before {
        content: counter(orderedlist) ".";
        width: rem.convert(layout.$gutter-size * 4);
        top: 0;
        font-weight: fonts.$bold;
      }
    }
  }

  ul {

    li {

      &:before {
        content: '';
        display: block;
        width: rem.convert(18px);
        height: rem.convert(18px);
        top: rem.convert(7px);
        background-image: svg.icon("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M10.82 14.11a.56.56 0 0 1-.4-.16.57.57 0 0 1 0-.8L14.58 9l-4.16-4.16a.57.57 0 0 1 0-.79.57.57 0 0 1 .8 0l4.55 4.55c.22.22.22.58 0 .8l-4.55 4.55a.56.56 0 0 1-.4.16Z\" fill=\"%color%\"/><path d=\"M15.25 9.56H2.62A.57.57 0 0 1 2.06 9c0-.3.26-.56.56-.56h12.63c.3 0 .56.25.56.56 0 .3-.26.56-.56.56Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }


  /**
  ** Link
  ****************************************/

  a {
    font-weight: fonts.$bold;

    &[target="_blank"] {
      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
        width: em.convert(15px, fonts.$size-regular);
        height: em.convert(15px, fonts.$size-regular);
        margin-left: 0.25ch;
        background-image: svg.icon("<svg viewBox=\"0 0 15 15\"  xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M8.12 7.34a.46.46 0 0 1-.33-.13.47.47 0 0 1 0-.67l5.13-5.12a.47.47 0 0 1 .66 0c.18.18.18.48 0 .66L8.46 7.21c-.1.09-.22.13-.34.13Z\" fill=\"%color%\"/><path d=\"M13.75 4.72a.47.47 0 0 1-.47-.47V1.72h-2.53a.47.47 0 0 1-.47-.47c0-.26.21-.47.47-.47h3c.26 0 .47.21.47.47v3c0 .26-.21.47-.47.47ZM9.38 14.22H5.62c-3.39 0-4.84-1.45-4.84-4.85V5.63C.78 2.23 2.23.78 5.62.78h1.25c.26 0 .47.21.47.47s-.2.47-.46.47H5.63c-2.89 0-3.91 1.02-3.91 3.9v3.75c0 2.89 1.02 3.91 3.9 3.91h3.75c2.89 0 3.91-1.02 3.91-3.9V8.12c0-.25.21-.46.47-.46s.47.2.47.46v1.26c0 3.39-1.45 4.84-4.85 4.84Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
      }
    }
  }


  /**
  ** Inline
  ****************************************/

  strong,
  b {
    font-weight: fonts.$bold;
  }

  em,
  i {
    font-style: italic;
  }

  sup {
    vertical-align: super;
    font-size: 0.75em;
  }
}
