{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-alert</h1>
        <hr />

        {% include ui('alert') with {
            color: "green",
            text: "Lorem ipsum dolor sit amet consectetur. <strong>Arcu scelerisque varius</strong> ante enim ullamcorper diam rhoncus. Dictum rutrum id in vitae id augue dignissim mauris tempor placerat varius.",
            link: {
                label: "Exemple de lien",
                href: "#",
                target: "_blank"
            }
        } only %}

        <hr />

        {% include ui('alert') with {
            color: "red",
            text: "Lorem ipsum dolor sit amet consectetur. Arcu scelerisque varius ante enim ullamcorper diam rhoncus. <strong>Dictum rutrum id in vitae</strong> id augue dignissim mauris tempor placerat varius.",
            link: {
                label: "Exemple de lien",
                href: "#",
                target: "_blank"
            }
        } only %}

        <hr />

    </div>
{% endblock %}
