{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-breadcrumb</h1>
        <p><a href="https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/examples/breadcrumb/">Source</a></p>
        <hr />

        {% include ui('breadcrumb') with {
            items: [
                {
                    label: "Accueil",
                    href: "/"
                },
                {
                    label: "Les Champs Libres",
                    href: "#"
                },
                {
                    label: "Les Champs Libres c'est quoi ?",
                    href: "#"
                }
            ]
        } only %}

    </div>
{% endblock %}
