{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-button</h1>
        <hr />
        <div class="o-blocks">
            <div class="o-blocks__item" id="button-default">
                <div class="o-wrapper">
                    <div class="o-stack">
                        <div class="s-richtext">
                            <h2>Default</h2>
                        </div>
                        <div class="o-cluster">
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    label: "Button",
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    label: "Link",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    iconOnly: true,
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { disabled: "" },
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="o-blocks__item" id="button-primary">
                <div class="o-wrapper">
                    <div class="o-stack">
                        <div class="s-richtext">
                            <h2>Primary</h2>
                        </div>
                        <div class="o-cluster">
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "primary",
                                    label: "Button",
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "primary",
                                    label: "Link",
                                    attributes: { href: "#button-primary" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "primary",
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-primary" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "primary",
                                    iconOnly: true,
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-primary" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "primary",
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { disabled: "" },
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="o-blocks__item" id="button-link">
                <div class="o-wrapper">
                    <div class="o-stack">
                        <div class="s-richtext">
                            <h2>Link</h2>
                        </div>
                        <div class="o-cluster">
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "link",
                                    label: "Button",
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "link",
                                    label: "Link",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "link",
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "link",
                                    iconOnly: true,
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { href: "#button-default" },
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('button') with {
                                    mode: "link",
                                    icon: 'arrow-right',
                                    label: "Button",
                                    attributes: { disabled: "" },
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
