{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-figure</h1>
        <hr />

        {% include ui('figure') with {
            source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
            format: "figure",
            alt: "Texte alternatif ici",
            caption: "Légende de l'image ici"
        } only %}

    </div>
{% endblock %}
