{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-filters</h1>
        <hr />

        {% include ui('filters') with {
            items: [
                { icon: "eye", label: "À voir", href: "#", active: false },
                { icon: "book", label: "À lire", href: "#", active: false },
                { icon: "sound", label: "À entendre", href: "#", active: false }
            ]
        } only %}

        <hr />

        {% include ui('filters') with {
            items: [
                { icon: "eye", label: "À voir", href: "#", active: true },
                { icon: "book", label: "À lire", href: "#", active: false },
                { icon: "sound", label: "À entendre", href: "#", active: false }
            ]
        } only %}

        <hr />

    </div>
{% endblock %}
