{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-further</h1>
        <hr />
    </div>

    <div class="l-container">

        <h2 class="c-title">Default</h2>

        {% include ui('further') with {
            title: "Pour aller plus loin",
            items: [
                {
                    data: {
                        label: "Article du Mag : Mathieu Pernot, les conversations photographiques",
                        href: "#",
                        target: "_self"
                    }
                },
                {
                    data: {
                        label: "Boutique vers le catalogue de l’exposition",
                        href: "#",
                        target: "_blank"
                    }
                }
            ]
        } only %}

        <hr />

    </div>

    <div class="l-container l-container--xlarge">

        <h2 class="c-title">Large</h2>

        {% include ui('further') with {
            large: true,
            color: "blue",
            title: "Quelques ressources pour aller plus loin",
            items: [
                {
                    data: {
                        label: "Article : La radio bientôt en plusieurs dimensions, article de Sciences-Ouest N°393, novembre 2021",
                        href: "#",
                        target: "_self"
                    }
                },
                {
                    data: {
                        label: "Podcast : Une expérience binaurale de l'Espace des Sciences",
                        href: "#",
                        target: "_blank"
                    }
                },
                {
                    data: {
                        label: "Comment fonctionne l'oreille ? Une interview de Michel Cabaret, directeur de l'Espace des Sciences",
                        href: "#",
                        target: "_blank"
                    }
                },
                {
                    data: {
                        label: "Article : Lorem ipsum dolor sit amet estau nobel itsar domis fics lista elis evrits",
                        href: "#",
                        target: "_self"
                    }
                }
            ]
        } only %}

        <hr />

    </div>

{% endblock %}
