{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-handy</h1>
        <hr />

        <h2 class="c-title">Exemple 1 : tableau et contenu</h2>

        {% set handy_content_1 %}
            <p>Les Champs Libres sont fermés au public le matin car les matinées sont dédiées à l'accueil des groupes. <a href="#">En savoir plus</a></p>
        {% endset %}

        {% include ui('handy') with {
            type: "grey",
            title: {
                text: "Horaires des Champs Libres",
                level: 2
            },
            picture: false,
            table: [
                {
                    column1: "Lundi",
                    column2: "Fermé"
                },
                {
                    column1: "Mardi",
                    column2: "de 12h à 19h"
                },
                {
                    column1: "Mercredi",
                    column2: "de 12h à 19h"
                },
                {
                    column1: "Jeudi",
                    column2: "de 12h à 19h"
                },
                {
                    column1: "Vendredi",
                    column2: "de 12h à 19h"
                },
                {
                    column1: "Samedi",
                    column2: "de 10h à 19h"
                },
                {
                    column1: "Dimanch",
                    column2: "de 10h à 19h"
                }
            ],
            content: handy_content_1
        } only %}

        <hr />

        <h2 class="c-title">Exemple 2 : contenu uniquement</h2>

        {% set handy_content_2 %}
            <p>
                Notre adresse : <strong>Champs Libres, 10 cours des Alliés 35000 Rennes</strong>
                <br />
                Vous pouvez venir aux Champs Libres via différents transports :
            </p>
            <ul>
                <li>
                    <strong>En métro</strong> avec la ligne A : <a href="#" target="_blank">Station Gare</a> ou <a href="#" target="_blank">Charles de Gaulle</a>
                </li>
                <li>
                    <strong>En métro</strong> avec la ligne B : <a href="#" target="_blank">Station Gare</a>
                </li>
                <li>
                    <strong>En bus</strong> avec les lignes du Réseau Star : <a href="#" target="_blank">C1</a>, <a href="#" target="_blank">C2</a> et <a href="#" target="_blank">11</a>
                </li>
                <li>
                    <strong>En voiture</strong>, vous pouvez vous garer dans le <a href="#" target="_blank">parking Charles de Gaulle</a>
                </li>
                <li>
                    <strong>En train</strong> via la <a href="#" target="_blank">Gare de Rennes</a> à proximité
                </li>
                <li>
                    <strong>En vélib</strong> via : <a href="#" target="_blank">la station Star les Champs Libres</a>
                </li>
            </ul>
        {% endset %}

        {% include ui('handy') with {
            type: "grey",
            title: {
                text: "Comment venir aux Champs Libres",
                level: 2
            },
            picture: false,
            content: handy_content_2
        } only %}

        <hr />

        {% set handy_content_3 %}
            <p><strong>L’accès aux Champs Libres est gratuit et ouverts à tous.</strong></p>
            <h3>Bibliothèque</h3>
            <ul>
                <li>Abonnement : <strong>gratuit</strong></li>
            </ul>
            <h3>Musée de Bretagne</h3>
            <ul>
                <li>Exposition permanente : <strong>gratuit</strong></li>
                <li>
                    Exposition temporaires :
                    <ul>
                        <li>Les hautes solitudes : gratuit</li>
                        <li>Anima Ex-Musica : gratuit</li>
                        <li>La vie en photographie : plein tarif 4€ - tarif réduit 2€ - tarif Carte Sortir gratuit</li>
                    </ul>
                </li>
            </ul>
            <h3>Espace des sciences</h3>
            <ul>
                <li>Expositions : plein tarif 7€ - tarif réduit 5€ - tarif Carte Sortir 2,50€</li>
                <li>Laboratoire de Merlin : plein tarif 5€ - tarif réduit 4€ - tarif Carte Sortir 1,50€</li>
                <li>Planétarium : plein tarif 7€ - tarif réduit 5€ - tarif Carte Sortir 2,50€</li>
                <li>Abonnement 1 an (accès tarif réduit aux expositions, au Laboratoire de Merlin et au Planétarium, hors séance Petit spationaute) : 19€</li>
            </ul>
            <p>L’Espace des sciences est gratuit pour les enfants de moins de 5 ans (hors Planétarium)</p>
            <h3>Tarifs réduits</h3>
            <ul>
                <li>Moins de 26 ans,</li>
                <li>Demandeurs d'emploi,</li>
                <li>Personnes handicapées jusqu'à 79% d'invalidité, sur présentation de la carte d'invalidité ou de la CMI,</li>
                <li>Détenteurs de la carte famille nombreuse</li>
            </ul>
            <p>Moyens de paiements acceptés :espèces, cartes bancaires, chèques, chèques vacances, chèques culture, pass culture (pour les groupes)</p>
        {% endset %}

        {% include ui('handy') with {
            type: "grey",
            title: {
                text: "Tarifs",
                level: 2
            },
            picture: false,
            content: handy_content_3
        } only %}

        <hr />

        {% set handy_content_4 %}
            <ul>
                <li>
                    <a href="#">En savoir plus sur l’accessibilité aux personnes en situation de handicap</a>
                </li>
                <li>
                    <a href="#">En savoir plus sur les visites en groupe</a>
                </li>
                <li>
                    <a href="#">En savoir plus sur les visites scolaires</a>
                </li>
                <li>
                    <a href="#">En savoir plus sur les visites guidées en langues étrangères</a>
                </li>
                <li>
                    <a href="#">Voir les contacts de chaque service</a>
                </li>
            </ul>
        {% endset %}

        {% include ui('handy') with {
            type: "grey",
            title: {
                text: "Besoins spécifiques pour votre visite",
                level: 2
            },
            picture: false,
            content: handy_content_4
        } only %}

        <hr />

        <h2 class="c-title">Exemple 3 : image (gris)</h2>

        {% include ui('handy') with {
            type: "grey",
            title: {
                text: "Lorem ipsum dolor sit",
                level: 2
            },
            picture: {
                source: { image: asset("build/app/shop/images/share.png", "app.shop")},
                caption: "Lorem ipsum dolor sit amet"
            }
        } only %}

        <hr />

        <h2 class="c-title">Exemple 3 : image et contenu (blanc)</h2>

        {% include ui('handy') with {
            type: "white",
            title: {
                text: "Plans des Champs Libres",
                level: 2
            },
            picture: {
                source: { image: asset("build/app/shop/images/share.png", "app.shop")},
            },
            content: "<p><a href=\"#\">Plan d’accès intérieur</a></p>"
        } only %}

        <hr />

        <h2 class="c-title">Exemple 4 : logo et contenu (blanc)</h2>

        {% include ui('handy') with {
            type: "white",
            title: {
                text: "Plans des Champs Libres",
                level: 2
            },
            picture: {
                source: { image: asset("build/app/shop/images/share.png", "app.shop")},
                logo: true
            },
            content: "<p>La marque Tourisme et Handicap est une réponse à la demande des personnes en situation de handicap qui veulent pouvoir choisir leurs vacances et leurs loisirs en toute liberté. La marque apporte une garantie d’un accueil efficace et adapté aux besoins indispensables des personnes handicapées.<br />Les documents utilisés pour l’évaluation qui précède la labellisation ont été élaborés en concertation entre les associations de prestataires du tourisme et les représentants des personnes handicapées.<br /><a href=\"#\">En savoir plus sur l’accessibilité aux personnes en situation de handicap</a></p>"
        } only %}

        <hr />

    </div>

{% endblock %}
