{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-headline</h1>
        <hr />
        <p class="c-headline">Nos différents types de visites</p>
    </div>
{% endblock %}
