{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    {% set icons = ['arrow-right'] %}

    <div class="o-blocks">
        <div class="o-blocks__item">
            <div class="o-wrapper">
                <div class="s-richtext">
                    <h1>Icon</h1>
                    <ul>
                        <li><a href="#icon-default">Default</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="o-blocks__item" id="icon-default">
            <div class="o-wrapper">
                <div class="o-stack">
                    <div class="s-richtext">
                        <h2>Default</h2>
                    </div>
                    <div class="o-cluster">
                        {% for _icon in icons %}
                            <div class="o-cluster__item" style="font-size: 4em;">
                                {% include ui('icon') with {
                                    icon: _icon,
                                    svg_attributes: { width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
