{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <h1 class="c-title c-title--large">Components</h1>
        <hr />
        <ul>
            <li><a href="title">c-title</a></li>
            <li><a href="headline">c-headline</a></li>
        </ul>
    </div>
{% endblock %}
