{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-meeting</h1>
        <hr />

        {% include ui('meeting') with {
            icon: 'arrow-right',
            title: "Titre de la catégorie",
            description: "Description rapide de la catégorie.",
            link: {
                label: "Lien vers la catégorie",
                href: "#"
            }
        } only %}

    </div>

{% endblock %}
