{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-quote</h1>
        <hr />

        {% include ui('quote') with {
            content: "<p><strong>Savoir, penser, rêver. <br> Tout est là.</strong> Tous les jours.</p>",
            author: "Victor Hugo",
            more: "Les rayons et les ombres"
        } only %}

    </div>

{% endblock %}
