{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-results</h1>
        <hr />

        {% include ui('results') with {
            items: {
                current: 17,
                total: 25
            },
            pages: {
                current: 1,
                total: 2
            }
        } only %}

    </div>
{% endblock %}
