{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-summary</h1>
        <hr />

        {% include ui('summary') with {
            title: "Sommaire",
            items: {
                "horaires-des-champs-libres": "Horaires des Champs Libres",
                "horaires-du-cafe": "Horaires du Café",
                "comment-venir-aux-champs-libres": "Comment venir aux Champs Libres",
                "plans-des-champs-libres": "Plans des Champs Libres",
                "tarifs": "Tarifs",
                "contact": "Contact",
                "besoins-specifiques-pour-votre-visite": "Besoins spécifiques pour votre visite",
                "tourisme-et-handicap": "Tourisme et Handicap",
                "vigipirate": "Vigipirate"
            }
        } only %}

    </div>
{% endblock %}
