{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-tag</h1>
        <hr />
        <div class="o-blocks">
            <div class="o-blocks__item" id="button-default">
                <div class="o-wrapper">
                    <div class="o-stack">
                        <div class="s-richtext">
                            <h2>Default</h2>
                        </div>
                        <div class="o-cluster">
                            <div class="o-cluster__item">
                                {% include ui('tag') with {
                                    label: "Tag",
                                } only %}
                            </div>
                            <div class="o-cluster__item">
                                {% include ui('tag') with {
                                    label: "Tag",
                                    iconStart: "external"
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="o-blocks__item" id="button-primary">
                <div class="o-wrapper">
                    <div class="o-stack">
                        <div class="s-richtext">
                            <h2>Primary</h2>
                        </div>
                        <div class="o-cluster">
                            TODO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
