{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-timetable</h1>
        <hr />

        {% include ui('timetable') with {
            title: "Programmation associée",
            description: "Lorem ipsum dolor sit amet, nulla blandit vestibulum elementum, arcu laoreet mauris.",
            items: {
                "2023-11": [
                    {
                        title: "2023-11-10",
                        description: "Rencontre",
                        state: "Terminé",
                        href: "#"
                    },
                    {
                        title: "2023-11-12",
                        description: "Rencontre",
                        state: "16:00",
                        href: "#"
                    },
                    {
                        title: "2023-11-13",
                        description: "Rencontre",
                        state: "17:00",
                        href: "#"
                    },
                    {
                        title: "2023-11-17",
                        description: "Rencontre",
                        state: "18:00",
                        href: "#"
                    }
                ],
                "2023-12": [
                    {
                        title: "2023-12-10",
                        description: "Rencontre",
                        state: "Terminé",
                        href: "#"
                    },
                    {
                        title: "2023-12-12",
                        description: "Rencontre",
                        state: "16:00",
                        href: "#"
                    },
                    {
                        title: "2023-12-13",
                        description: "Rencontre",
                        state: "17:00",
                        href: "#"
                    },
                    {
                        title: "2023-12-17",
                        description: "Rencontre",
                        state: "18:00",
                        href: "#"
                    }
                ],
                "2024-01": [
                    {
                        title: "2024-01-10",
                        description: "Rencontre",
                        state: "Terminé",
                        href: "#"
                    },
                    {
                        title: "2024-01-12",
                        description: "Rencontre",
                        state: "16:00",
                        href: "#"
                    }
                ]
            }
        } only %}

    </div>

{% endblock %}
