{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-title</h1>
        <hr />
        <h1 class="c-title c-title--large">Titre de <a href="#">niveau 1</a> (large)</h1>
        <h1 class="c-title">Titre de <a href="#">niveau 2</a></h1>
        <h1 class="c-title c-title--small">Titre de <a href="#">niveau 3</a> (small)</h1>
        <h1 class="c-title c-title--xsmall">Titre de <a href="#">niveau 4</a> (xsmall)</h1>
        <h1 class="c-title c-title--tiny">Titre de <a href="#">niveau 5</a> (tiny)</h1>
    </div>
{% endblock %}
