{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-util</h1>
        <hr />

        <h2 class="c-title">With text</h2>

        {% include ui('util') with {
            icon: "clock",
            color: "green",
            text: "Lundi - Vendredi : 12h-19h<br />Samedi - Dimanche : 10h-19h",
            link: {
                label: "À propos des horaires",
                href: "#"
            },
            additional_classes: "v-footer__util"
        } only %}

        <hr />

        <h2 class="c-title">Without text</h2>

        {% include ui('util') with {
            icon: "question-message",
            color: "red",
            link: {
                label: "Voir la FAQ",
                href: "#"
            },
            additional_classes: "v-footer__util"
        } only %}

    </div>
{% endblock %}
