{% form_theme form '@LunaCore/Admin/Form/theme.html.twig' %}

{% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': index_url}} %}

<div class="ui hidden divider"></div>

{% set menu = knp_menu_get('app.admin.article_subject_form', [], { 'article_subject': article_subject }) %}

{{ knp_menu_render(menu, {'template': 'app/Admin/ArticleSubject/_menu.html.twig', 'form': form, 'article_subject': article_subject}) }}
