{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% set from_is_defined = element.from.day|default is not empty and element.from.month|default is not empty and element.from.year|default is not empty %}
    {% set to_is_defined = element.to.day|default is not empty and element.to.month|default is not empty and element.to.year|default is not empty %}

    {% if from_is_defined %}
        {% set date_from = (element.from.day ~ '-' ~ element.from.month ~ '-' ~ element.from.year)|formatted_date %}
    {% else %}
        {% set date_from = null %}
    {% endif %}

    {% if to_is_defined %}
        {% set date_to = (element.to.day ~ '-' ~ element.to.month ~ '-' ~ element.to.year)|formatted_date %}
    {% else %}
        {% set date_to = null %}
    {% endif %}

    {% if from_is_defined and to_is_defined %}
        {% set date_range = 'du ' ~ date_from ~ ' au ' ~ date_to %}
    {% elseif from_is_defined %}
        {% set date_range = 'à partir du ' ~ date_from %}
    {% elseif to_is_defined %}
        {% set date_range = 'jusqu\'au ' ~ date_to %}
    {% else %}
        {% set date_range = 'aucune' %}
    {% endif %}

    {# Il faut garder category pour assurer la rétrocompatibilité (choix d'une seule catégorie avant la modification pour pouvoir en sélectionner plusieurs) #}
    {% set categories = element.categories|default(false) ? get_category_ids_from_block(element.categories) : (element.category|default(false) ? [element.category] : null) %}
    {% set filters = { categories: categories, originAgenda: element.originAgenda, audience: element.audience, keyword: element.keyword, limit: element.limit, from: date_from, to: date_to, event: element.event|default(null)} %}
    {% set eventsAuto = get_automatic_events(filters) %}

    {% if element.generalForm.overtitle %}
        <p>{{ element.generalForm.overtitle }}</p>
    {% endif %}

    <h2>{{ element.generalForm.title }}</h2>

    {% if element.generalForm.button.label and element.generalForm.button.url %}
        <div>
            <a href="{{ element.generalForm.button.url }}"
               class="ui secondary button">{{ element.generalForm.button.label }}</a>
        </div>
    {% endif %}


    <div class="ui hidden divider"></div>

    <div class="ui two column stackable grid">

        <div class="column">

            <div class="ui small compact visible message">

                <i class="info circle icon"></i>

                <strong>Affichage des événements</strong>

                <ul class="list">
                    <li>Période sélectionnée : {{ date_range }} </li>
                    <li>Nombre maximum d'événements : {{ element.limit }}</li>
                    <li>Affichage des cartes :
                        {% if element.generalForm.images %}
                            {{ 'app.ui.block.events.form.images.with'|trans }}
                        {% else %}
                            {{ 'app.ui.block.events.form.images.without'|trans }}
                        {% endif %}
                    </li>
                    {% if element.generalForm.formatting is defined %}
                        <li>Mise en forme :
                            {% if element.generalForm.formatting == 'column' %}
                                {{ "app.ui.block.events.form.formatting.choices.column"|trans }}
                            {% else %}
                                {{ "app.ui.block.events.form.formatting.choices.line"|trans }}
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

            </div>

        </div>

        <div class="column">

            <div class="ui small compact visible message">

                <i class="info circle icon"></i>

                <strong>Filtre(s) sélectionné(s):</strong>

                <ul class="list">
                    {% if element.event|default(null) is not null %}
                        <li>Événement à la une : {{ eventsAuto[0].title }}</li>
                    {% endif %}

                    {% if element.category|default(null) is null and categories|default(null) is null and element.originAgenda is null and element.audience is null and element.keyword is null %}
                        <li>Aucun</li>
                    {% endif %}

                    {% if categories|default(null) is not null %}
                        {% set category_labels = get_category_labels_by_ids(categories) %}
                        <li>Catégories : {{ category_labels }}</li>
                    {% endif %}

                    {% if element.originAgenda is not null %}
                        <li>Agenda : {{ ('app.ui.resource.event.originAgenda.' ~ element.originAgenda)|trans }}</li>
                    {% endif %}

                    {% if element.audience is not null %}
                        <li>Public : {{ ('app.ui.resource.event.audience.' ~ element.audience)|trans }}</li>
                    {% endif %}

                    {% if element.keyword is not null %}
                        {% set keyword = get_keyword_by_id(element.keyword) %}
                        <li>Mot-clé : {{ keyword }}</li>
                    {% endif %}

                </ul>

            </div>

        </div>

    </div>

    {% if element.generalForm.images %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}
    {% endif %}

    {% if eventsAuto is not empty %}
        <div class="ui hidden divider"></div>
        <div class="ui three cards">

            {% for event in eventsAuto %}

                {% if event.terminated is defined %}
                    {% set date = 'Terminé' %}
                {% elseif event.dateEnding is defined %}
                    {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
                {% else %}
                    {% set date = event.dateStarting|formatted_date_time %}
                {% endif %}

                <div class="ui card">

                    {% if event.picture is not null and element.generalForm.images %}
                        <div class="image">
                            <img class="ui image" src="{{ event.picture.image|imagine_filter('luna_admin_thumbnail') }}">
                        </div>
                    {% endif %}

                    <div class="content">

                        <div class="meta">
                            <span class="category"> {{ event.tag }}</span>
                        </div>

                        <div class="header">{{ event.title }}</div>

                        <div class="description">
                            {{ ('app.ui.resource.event.location.' ~ event.location)|trans }}
                        </div>

                        <div class="date">{{ date|capitalize }}</div>

                        {% if event.pricing == 'gratuit' %}
                            <div class="pricing">{{ event.pricing|capitalize }}</div>
                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        </div>

    {% endif %}


{% endblock %}
