{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    <h2>{{ element.title }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui two cards">
        {% set _color_cards = monsieurbiz_richeditor_get_elements(element.color_cards) %}
        {% for _color_card in _color_cards %}
            {{ _color_card|monsieurbiz_richeditor_render_element }}
        {% endfor %}
    </div>

{% endblock %}
