<div class="ui {{ element.color }} card">
    <div class="content">

        {% if element.title %}
            <div class="header">{{ element.title }}</div>
        {% endif %}

        <div class="description">{{ element.content }}</div>

        {% if element.button.url and element.button.label %}
            <div class="ui hidden divider"></div>
            <div>
                <a href="{{ element.button.url }}" class="ui secondary button" target="{{ element.button.target }}">{{ element.button.label }}</a>
            </div>
        {% endif %}

    </div>
</div>