{% set dossier = get_dossier_by_id(element.dossier) %}

<div class="ui {{ dossier.color.value|default }} card">

    {% if dossier %}

        {% if dossier.mainImage.image %}
            <div class="image">
                <img class="ui image" src="{{ dossier.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}

        <div class="content">

            <div class="header">{{ dossier.title }}</div>

            {% if dossier.description %}
                <div class="description">{{ dossier.description|html_safe }}</div>
            {% endif %}

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>