<div class="ui segment">

    <h3>{{ element.title }}</h3>

    {% set path = monsieur_biz_media_manager_path(element.file) %}
    {% set infos = get_file_informations(path) %}

    <p>Document {{ infos.extension|upper }} : {{ infos.size }}<p>

    <a href="{{ asset(path) }}" target="_blank" class="ui labeled icon button">
        <i class="download icon"></i>
        Télécharger
    </a>

</div>