{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% if element.title %}
        <h2>{{ element.title }}</h2>
    {% endif %}

    {% if element.description %}
        {{ element.description}}
    {% endif %}

    {% set _downloads = monsieurbiz_richeditor_get_elements(element.downloads) %}
    {% for _download in _downloads %}
        {{ _download|monsieurbiz_richeditor_render_element }}
    {% endfor %}

    <div class="ui hidden divider"></div>

{% endblock %}
