{% set element = get_event_by_id(element.event) %}

<div class="ui card">

    {% if element %}
        {% if element.startingAt and element.EndingAt %}
            {% if element.startingAt == element.EndingAt %}
                {% set date = element.startingAt|formatted_date_time %}
            {% else %}
                {% set date = get_occurrence_date(element.startingAt, element.endingAt) %}
            {% endif %}
        {% else %}
            {% set date = "Terminé" %}
        {% endif %}

        {% if element.getMainImage %}
            <div class="image">
                <img class="ui image" src="{{ element.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}
        <div class="content">
            <div class="meta">
                <span class="category"> {{ element.category.label }}</span>
            </div>
            <div class="header">{{ element.title }}</div>
            {% if element.location %}
                <div class="description">{{ ('app.ui.resource.event.location.' ~ element.location)|trans }}</div>
            {% endif %}
            <div class="date">{{ date|capitalize }}</div>
            {% if element.pricing == 'gratuit' %}
                <div class="pricing">{{ element.pricing|capitalize }}</div>
            {% endif %}
        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}

</div>