{% set exhibit = get_exhibit_by_id(element.exhibit) %}

<div class="ui {{ exhibit.color.value|default }} card">

    {% if exhibit %}

        {% if exhibit.mainImage.image %}
            <div class="image">
                <img class="ui image" src="{{ exhibit.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}

        <div class="content">

            <div class="header">{{ exhibit.title }}</div>

            {% if exhibit.description %}
                <div class="description">{{ exhibit.description|html_safe }}</div>
            {% endif %}

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>