{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    {% set _series = monsieurbiz_richeditor_get_elements(element.series) %}

    {% if _series is not empty %}

        <div class="ui three cards">
            {% for _serie in _series %}
                {% include 'bundles/LunaCoreBundle/Admin/Block/serie.html.twig' with { 'element' : _serie.data } %}
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
