{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set _series = monsieurbiz_richeditor_get_elements(element.series) %}

    {% if element.overtitle %}
        <p>{{ element.overtitle }}</p>
    {% endif %}

    <h2>{{ element.title }}</h2>

    {% if element.description %}
        <p>{{ element.description }}</p>
    {% endif %}

    {% if element.button.label and element.button.url %}
        <div>
            <a href="{{ element.button.url }}"
               class="ui secondary button">{{ element.button.label }}</a>
        </div>
    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        <strong>Affichage des séries</strong>
        <ul class="list">
            <li>Affichage des cartes :
                {% if element.images %}
                    {{ 'app.ui.block.explore.form.images.with'|trans }}
                {% else %}
                    {{ 'app.ui.block.explore.form.images.without'|trans }}
                {% endif %}
            </li>
            <li>
                {{ ("app.ui.block.explore.form.formatting.choices." ~ element.formatting)|trans }}
            </li>
        </ul>
    </div>

    {% if element.images %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}
    {% endif %}

    {% if _series is not empty %}
        <div class="ui hidden divider"></div>

        <div class="ui three cards">
            {% for _serie in _series %}
                {% include 'bundles/LunaCoreBundle/Admin/Block/serie.html.twig' with {'element' : _serie.data, 'getImages': element.images} %}
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
