{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set _links = monsieurbiz_richeditor_get_elements(element.links) %}

    <h2>{{ element.title }}</h2>

    {% if element.formatting == 'twoColumns' %}
        {% set number = 'two' %}
    {% else %}
        {% set number = 'one' %}
    {% endif %}

    <div class="ui {{ number }} column stackable grid">

        {% for _link in _links %}

            <div class="column">
                <div class="ui segment {{ element.color|default('grey') }}">
                    <a href="{{ _link.data.url }}" class="ui">{{ _link.data.label }}</a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}
