{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    {% set _images = monsieurbiz_richeditor_get_elements(element.images) %}

    <div class="ui doubling two column grid">

        {% for _image in _images %}
            <div class="column">
                <img class="ui small image" src="{{ _image.data.image.image|imagine_filter('luna_admin_thumbnail') }}">

                <div class="ui hidden divider"></div>

                {% if _image.data.image.caption|default %}
                    <p>{{ _image.data.image.caption }}</p>
                    <div class="ui hidden divider"></div>
                {% endif %}

                {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
                    title: _image.data.image.title,
                    alt: _image.data.image.alt
                }) }}
            </div>
        {% endfor %}

    </div>

{% endblock %}
