{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    <div class="ui stackable grid">

        <div class="six wide column">
            <img class="ui medium image" src="{{ element.image.image|imagine_filter('luna_admin_thumbnail') }}">
        </div>

        <div class="ten wide column">
            {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
                title: element.image.title,
                alt: element.image.alt,
                more: [('luna.ui.block.image_text.form.style.choices.' ~ element.style)|trans]
            }) }}
        </div>

        {% if element.image.caption|default %}
            <p>{{ element.image.caption }}</p>
        {% endif %}

    </div>

    <div class="ui hidden divider"></div>

    <p>{{ element.surtitle }}</p>


    {{ element.content|html_safe }}

    <div class="ui hidden divider"></div>

    {% if element.button.url|default and element.button.label|default %}
        <p>
            <a href="{{ element.button.url }}" class="ui primary button" target="{{ element.button.target }}">{{ element.button.label }}</a>
        </p>
    {% endif %}

{% endblock %}
