{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% if element.surtitle %}
        <strong>{{ element.surtitle }}</strong>
    {% endif %}

    <div class="ui hidden divider"></div>

    {{ element.content|html_safe }}

    {% if element.button.url and element.button.label %}

        <div class="ui hidden divider"></div>

        <a href="{{ element.button.url }}" class="ui button" target="{{ element.button.target }}">{{ element.button.label }}</a>

    {% endif %}

{% endblock %}
