{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% if element.image.image|default(false) %}
        {% set message_content = "<strong>L'ajout d'une image</strong> à ce bloc le rend davantage <strong>consommateur de ressources</strong>. Il est recommandé d'y ajouter des images <strong>avec parcimonie</strong> dans un objectif <strong>d'éco-conception</strong>." %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig', {message_content: message_content}) }}
    {% endif %}

    <h2>{{ element.title }}</h2>

    {% if element.image.image|default(false) %}

        <div class="ui hidden divider"></div>

        <div class="ui stackable grid">

            <div class="six wide column">
                <img class="{{ (element.image_style == 'logo') ? 'mini' : 'medium' }} ui tiny image" src="{{ element.image.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>

            <div class="ten wide column">
                {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
                    title: element.image.title,
                    alt: element.image.alt,
                }) }}
            </div>

            {% if element.image.caption|default %}
                <p>{{ element.image.caption }}</p>
            {% endif %}

        </div>

    {% endif %}

    {% if element.table|default(false) %}

        <div class="ui hidden divider"></div>

        <table class="ui table">
            <tbody>
                {% for _row in element.table %}
                    <tr>
                        <td>
                            <strong>{{ _row.column1 }}</strong>
                        </td>
                        <td>
                            {{ _row.column2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% if element.content|default(false) %}

        <div class="ui hidden divider"></div>

        {{ element.content|html_safe }}

    {% endif %}

{% endblock %}