{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set _resources = monsieurbiz_richeditor_get_elements(element.resources) %}

    <h2>{{ element.title }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        <strong>Affichage des ressources</strong>
        <ul class="list">
            <li>Affichage des cartes :
                {% if element.images %}
                    {{ 'app.ui.block.list_resources.form.images.with'|trans }}
                {% else %}
                    {{ 'app.ui.block.list_resources.form.images.without'|trans }}
                {% endif %}
            </li>
        </ul>
    </div>

    {% if element.images %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}
    {% endif %}

    {% if _resources is not empty %}
        <div class="ui hidden divider"></div>

        <div class="ui three cards">
            {% for _resource in _resources %}
                {% include 'bundles/LunaCoreBundle/Admin/Block/list_resource.html.twig' with {'element' : _resource.data, 'getImages': element.images} %}
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
