{% if getImages is not defined %}
    {% set getImages = true %}
{% endif %}

<div class="ui card">

    {% if element.getMainImage.image and getImages %}
        <div class="image">
            <img class="ui image" src="{{ element.getMainImage.image|imagine_filter('luna_admin_thumbnail') }}">
        </div>
    {% endif %}

    <div class="content">

        <div class="ui label">
            <span class="category">{{ ('app.ui.block.list_resource.form.type.choices.' ~ element.type)|trans }}</span>
        </div>

        <div class="header">{{ element.title }}</div>

        <div class="description">
            <p>{{ element.description }}</p>
        </div>

        <div>
            <a href="{{ element.link.url }}" class="ui">{{ element.link.label }}</a>
        </div>

    </div>

</div>
