{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    <img class="ui small image" src="{{ element.image.image|imagine_filter('luna_admin_thumbnail') }}">

    <div class="ui hidden divider"></div>

    {% if element.image.caption|default %}
        <p>{{ element.image.caption }}</p>
    {% endif %}

    {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
        title: element.image.title,
        alt: element.image.alt,
        more: [('URL associée au logo : ' ~ (element.url|default('aucune')))]
    }) }}

</div>

{% endblock %}