{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    {% if element.title %}
        <h2>{{ element.title }}</h2>
    {% endif %}

    {% set logo_lists = { 'small': element.big_logos, 'tiny': element.small_logos } %}

    {% for _size, _logo_list in logo_lists %}

        <div class="ui divider"></div>

        {% set _images = monsieurbiz_richeditor_get_elements(_logo_list) %}

        <div class="ui doubling three column grid">

            {% for _image in _images %}
                <div class="column">

                    <img class="ui {{ _size }} image" src="{{ _image.data.image.image|imagine_filter('luna_admin_thumbnail') }}">

                    <div class="ui hidden divider"></div>

                    {% if _image.data.image.caption|default %}
                        <p>{{ _image.data.image.caption }}</p>
                    {% endif %}

                    {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
                        title: _image.data.image.title,
                        alt: _image.data.image.alt,
                        more: [('URL associée au logo : ' ~ (_image.data.url|default('aucune')))]
                    }) }}

                </div>
            {% endfor %}

        </div>

    {% endfor %}

{% endblock %}
