{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% set _events = monsieurbiz_richeditor_get_elements(element.events) %}
    {% set from = element.from.day ~ '-' ~ element.from.month ~ '-' ~ element.from.year %}
    {% set to = element.to.day ~ '-' ~ element.to.month ~ '-' ~ element.to.year %}
    {% set dateFrom = from|formatted_date %}
    {% set dateTo = to|formatted_date %}
    {% set compareFrom = element.from.year ~ element.from.month ~ element.from.day %}
    {% set compareTo = element.to.year ~ element.to.month ~ element.to.day %}

    {% if element.generalForm.overtitle %}
        <p>{{ element.generalForm.overtitle }}</p>
    {% endif %}

    <h2>{{ element.generalForm.title }}</h2>

    {% if element.generalForm.button.label and element.generalForm.button.url %}
        <div>
            <a href="{{ element.generalForm.button.url }}"
            class="ui secondary button">{{ element.generalForm.button.label }}</a>
        </div>
    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        <strong>Affichage des événements</strong>
        <ul class="list">
            <li class="ui {{ compareFrom > compareTo ? 'red' }} tiny header">
                Période sélectionnée : du {{ dateFrom }} au {{ dateTo }}
                {{ compareFrom > compareTo ? '(attention, la date de début doit être avant la date de fin)' }}
            </li>
            <li>Affichage des cartes :
                {% if element.generalForm.images %}
                    {{ 'app.ui.block.events.form.images.with'|trans }}
                {% else %}
                    {{ 'app.ui.block.events.form.images.without'|trans }}
                {% endif %}
            </li>
            {% if element.generalForm.formatting is defined %}
                <li>Mise en forme :
                    {% if element.generalForm.formatting == 'column' %}
                        {{ "app.ui.block.events.form.formatting.choices.column"|trans }}
                    {% else %}
                        {{ "app.ui.block.events.form.formatting.choices.line"|trans }}
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>

    {% if element.generalForm.images %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}
    {% endif %}

    {% if _events is not empty %}

        <div class="ui hidden divider"></div>

        <div class="ui three cards">

            {% for _event in _events %}

                 {% set event = get_event_by_id_and_date(_event.data.event, from, to) %}

                {% if event is not empty %}

                    {% if event.terminated|default(false) %}
                        {% set date = 'Terminé' %}
                    {% elseif event.dateEnding is defined %}
                        {% set date = get_occurrence_date(event.dateStarting, event.dateEnding) %}
                    {% else %}
                        {% set date = event.dateStarting|formatted_date_time %}
                    {% endif %}

                    <div class="ui card">

                        {% if event.picture is not null and element.generalForm.images %}
                            <div class="image">
                                <img class="ui image" src="{{ event.picture.image|imagine_filter('luna_admin_thumbnail') }}">
                            </div>
                        {% endif %}

                        <div class="content">

                            <div class="meta">
                                <span class="category"> {{ event.tag }}</span>
                            </div>

                            <div class="header">{{ event.title }}</div>

                            {% if event.location|default %}
                                <div class="description">{{ ('app.ui.resource.event.location.' ~ event.location)|trans }}</div>
                            {% endif %}

                            <div class="date">{{ date|capitalize }}</div>

                            {% if event.pricing|default == 'gratuit' %}
                                <div class="pricing">{{ event.pricing|capitalize }}</div>
                            {% endif %}

                        </div>

                    </div>

                {% endif %}

            {% endfor %}

        </div>

    {% endif %}

    <div class="ui small compact visible info message">
        <i class="warning circle icon"></i>
        Les événements n'ayant pas d'occurrence se déroulant pendant la période renseignée ne sont pas affichés.
    </div>
{% endblock %}
