<div class="ui card {{ element.color }}">

    <div class="content">

        <div class="meta">
            <span class="category">{{ element.type }}</span>
        </div>

        <div class="header">{{ element.title }}</div>

        <div>
            <a href="{{ element.button.url }}" class="ui">{{ element.button.label }}</a>
        </div>

    </div>

</div>
