{% set mediation = get_mediation_by_id(element.mediation) %}

<div class="ui {{ mediation.color.value|default }} card">

    {% if mediation %}

        {% if mediation.mainImage.image %}
            <div class="image">
                <img class="ui image" src="{{ mediation.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}

        <div class="content">

            <div class="meta">
                <span class="category"> {{ ("app.ui.resource.mediation.enum.supervision." ~ mediation.supervision.value)|trans }}</span>
            </div>

            <div class="header">{{ mediation.title }}</div>

            {% if mediation.description %}
                <div class="description">{{ mediation.description|html_safe }}</div>
            {% endif %}

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>