{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% if element.overtitle %}

        <p>{{ element.overtitle }}</p>

    {% endif %}

    <h2>{{ element.title }}</h2>

    {% if element.button.label and element.button.url %}

        <div>
            <a href="{{ element.button.url }}" class="ui secondary button">{{ element.button.label }}</a>
        </div>

    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui two cards">

        {% set _medias = monsieurbiz_richeditor_get_elements(element.medias) %}

        {% for _media in _medias %}
            {{ _media|monsieurbiz_richeditor_render_element }}
        {% endfor %}

    </div>

{% endblock %}
