{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set categories = get_meetings_block_categories() %}

    <h2> {{ element.title }} </h2>
    {% if element.description %}
        <div class="ui hidden divider"></div>
        <div> {{ element.description }} </div>
    {% endif %}
    <div class="ui hidden divider"></div>
    <div class="ui three cards">
        {% for category in categories %}
        <div class="ui card">
            <div class="content">
                <h3> {{ category.title }} </h3>
                <div class="description"> {{ category.description }} </div>
                <div class="ui hidden divider"></div>
                <div>
                    <a href="{{ category.link.href }}" class="ui primary button">{{ category.link.label }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
