{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    <p>Ce bloc affiche en front un formulaire permettant de lancer une recherche précise dans le catalogue de l’OPAC.</p>

{% endblock %}
