{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        Lecteur du podcast : {{ ('app.ui.block.podcast.form.player.choices.'~ element.player)|trans }}
    </div>

    <div class="ui two cards">

        <div class="ui card">

            {% if element.getMainImage %}
                <div class="image">
                    <img class="ui image" src="{{ element.getMainImage.image|imagine_filter('luna_admin_thumbnail') }}">
                </div>
            {% endif %}

            <div class="content">

                {% if element.title %}
                    <h2> {{ element.title }} </h2>
                {% endif %}

                <div>
                    <a href="{{ element.href_extern }}" class="ui">{{ ('app.ui.block.podcast.form.player.choices.'~ element.player)|trans }}</a>
                </div>

            </div>


        </div>

        <div class="ui card">

            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="{{ element.href_intern}}"></iframe>

        </div>

    </div>

    {% if element.transcript %}
        <div class="ui hidden divider"></div>
        <div class="ui top attached header">Transcription</div>
        <div class="ui attached segment">{{ element.transcript|html_safe }}</div>
    {% endif %}

{% endblock %}
