{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set _articles = monsieurbiz_richeditor_get_elements(element.articles) %}

    <h2>{{ element.title }}</h2>

    {% if element.description %}
        <p>{{ element.description }}</p>
    {% endif %}

    {% if element.button.label and element.button.url %}
        <div>
            <a href="{{ element.button.url }}"
               class="ui secondary button">{{ element.button.label }}</a>
        </div>
    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        <strong>Affichage des articles</strong>
        <ul class="list">
            <li>Affichage des cartes :
                {% if element.images %}
                    {{ 'app.ui.block.posts.form.images.with'|trans }}
                {% else %}
                    {{ 'app.ui.block.posts.form.images.without'|trans }}
                {% endif %}
            </li>
        </ul>
    </div>

    {% if element.images %}
        {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}
    {% endif %}

    {% if _articles is not empty %}
        <div class="ui hidden divider"></div>

        <div class="ui three cards">
            {% for _article in _articles %}
                {% include 'bundles/LunaCoreBundle/Admin/Block/post.html.twig' with {'element' : _article.data, 'getImages': element.images} %}
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
