{% set element = get_article_by_id(element.article) %}

<div class="ui card">
    {% if element %}

        {% if getImages is not defined %}
            {% set getImages = true %}
        {% endif %}

        {% if element.getMainImage.image and getImages %}

            <div class="image">
                <img class="ui image" src="{{ element.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>

        {% endif %}

        <div class="content">

            <div class="meta">
                <span class="category">Publié le {{ element.publishedAt|formatted_date }}</span>
            </div>

            <div class="header">{{ element.title }}</div>

            <div class="description">{{ element.category.title }}</div>
        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>
