{% set professional = get_professional_by_id(element.professional) %}

{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    <div class="ui small compact visible message">
        <i class="info circle icon"></i>
        <strong>Affichage des ressources pour professionnels</strong>
        <ul class="list">
            <li>Type de professionnels sélectionné : {{ professional.title }} </li>
        </ul>
    </div>

    <div class="ui small compact visible warning message">
        <i class="exclamation circle icon"></i>
        <strong>Ne sélectionnez que des ressources associées au type de professionnels que vous avez choisi.</strong>
    </div>


    {% if element.surtitle %}
        <div class="header">{{ element.surtitle }}</div>
    {% endif %}

    <h2>{{ element.title }}</h2>

    <div class="ui hidden divider"></div>

    <div class="ui two cards">
        {% set _resources = monsieurbiz_richeditor_get_elements(element.professionalResources) %}
        {% for _resource in _resources %}
            {{ _resource|monsieurbiz_richeditor_render_element }}
        {% endfor %}
    </div>

    <div class="ui hidden divider"></div>

    {% if element.button.label and element.button.url %}
        <div>
            <a href="{{ element.button.url }}"
               class="ui secondary button">{{ element.button.label }}</a>
        </div>
    {% endif %}

{% endblock %}
