{% set project = get_project_by_id(element.project) %}

<div class="ui {{ project.color.value|default }} card">

    {% if project %}

        {% if project.mainImage.image %}
            <div class="image">
                <img class="ui image" src="{{ project.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}

        <div class="content">

            <div class="header">{{ project.title }}</div>

            {% if project.description %}
                <div class="description">{{ project.description|html_safe }}</div>
            {% endif %}

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>