{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig') }}

    <div class="ui {{ element.color }} fluid card">
        <div class="content ui grid">

            <div class="ten wide column">

                <p>{{ element.surtitle }}</p>
                <h2>{{ element.title }}</h2>
                <p>{{ element.content }}</p>

                <div class="ui hidden divider"></div>

                <div>
                    <a href="{{ element.button.url }}" class="ui secondary button" target="{{ element.button.target }}">{{ element.button.label }}</a>
                </div>

            </div>

            {% if element.image.image %}
                <div class="six wide column">
                    <img class="{{ element.style }} ui medium image" src="{{ element.image.image|imagine_filter('luna_admin_thumbnail') }}">
                </div>
            {% endif %}

        </div>
    </div>

    {{ include('@LunaCore/Admin/Utilities/_image_informations.html.twig', {
        title: element.image.title,
        alt: element.image.alt,
        more: [('app.ui.block.push.form.style.choices.' ~ element.style)|trans]
    }) }}

{% endblock %}