{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% set _questions = monsieurbiz_richeditor_get_elements(element.questions) %}
    {% for _question in _questions %}
        {{ _question|monsieurbiz_richeditor_render_element }}
        {% if not loop.last %}
            <div class="ui divider"></div>
        {% endif %}
    {% endfor %}

{% endblock %}
