{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}
    {% set _resources = monsieurbiz_richeditor_get_elements(element.resources) %}

    <div class="ui {{ element.color }} segment">

        <h2> {{ element.title }} </h2>

        <div class="ui hidden divider"></div>

        <div> {{ element.description }} </div>

        <div class="ui hidden divider"></div>

        <div class="ui three cards">

            {% for resource in _resources %}
                {{ resource|monsieurbiz_richeditor_render_element }}
            {% endfor %}

        </div>

    </div>
{% endblock %}
