<div class="ui card">
    <div class="content">

        <h3> {{ element.title }} </h3>

        <div class="description"> {{ element.description }} </div>

        <div class="ui hidden divider"></div>

        <div>
            <a href="{{ element.link.url }}" class="ui">{{ element.link.label }}</a>
        </div>

    </div>
</div>
