{% set element = get_serie_by_id(element.serie) %}

{% if getImages is not defined %}
    {% set getImages = true %}
{% endif %}

<div class="ui card">

    {% if element %}

        {% if element.getMainImage.image and getImages %}

            <div class="image">
                <img class="ui image" src="{{ element.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>

        {% endif %}

        <div class="content">

            <div class="ui label">
                <span class="category"> Série </span>
            </div>

            <div class="header">{{ element.title }}</div>

            <div class="description">{{ element.description|html_safe }}</div>

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}

</div>
