<div class="ui card">
    {% if element.image.image|default %}
        <div class="image">
            <img class="ui image" src="{{ element.image.image|imagine_filter('luna_admin_thumbnail') }}">
        </div>
    {% endif %}
    <div class="content">
        {% if element.title %}
            <div class="header">{{ element.title }}</div>
        {% endif %}
        <div class="description">{{ element.content }}</div>
        {% if element.button.url and element.button.label %}
            <div class="ui hidden divider"></div>
            <div>
                <a href="{{ element.button.url }}" class="ui primary button" target="{{ element.button.target }}">{{ element.button.label }}</a>
            </div>
        {% endif %}
        {% if element.image.image|default %}
            {% set message_content = "L'image ne favorise pas l'éco-conception." %}
            {{ include('@LunaCore/Admin/Utilities/_eco_warning.html.twig', {message_content: message_content}) }}
        {% endif %}
    </div>
</div>
