{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% if element.title %}
        <h2>{{ element.title }}</h2>
    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui three cards">
        {% set _simple_cards = monsieurbiz_richeditor_get_elements(element.simple_cards) %}
        {% for _simple_card in _simple_cards %}
            {{ _simple_card|monsieurbiz_richeditor_render_element }}
        {% endfor %}
    </div>

{% endblock %}
