{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    <div>{{ element.content|html_safe }}</div>
    <div class="ui hidden divider"></div>
    <div>{{ element.buttons|monsieurbiz_richeditor_render_field  }}</div>

{% endblock %}
