{% set tool = get_tool_by_id(element.tool) %}

<div class="ui {{ tool.color.value|default }} card">

    {% if tool %}

        {% if tool.mainImage.image %}
            <div class="image">
                <img class="ui image" src="{{ tool.mainImage.image|imagine_filter('luna_admin_thumbnail') }}">
            </div>
        {% endif %}

        <div class="content">

            <div class="header">{{ tool.title }}</div>

            {% if tool.description %}
                <div class="description">{{ tool.description|html_safe }}</div>
            {% endif %}

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}
</div>