{% set element = get_article_subject_by_id(element.articleSubject) %}

<div class="ui card">

    {% if element %}

        <div class="content">

            <div class="header">{{ element.title }}</div>

        </div>

    {% else %}

        <div class="content">
            <div class="description">{{ include('@LunaCore/Admin/Utilities/_deleted_resource.html.twig') }}</div>
        </div>

    {% endif %}

</div>
