{% extends '@LunaCore/Admin/Block/_layout.html.twig' %}

{% block content %}

    {% set _topics = monsieurbiz_richeditor_get_elements(element.articleSubjects) %}

    <div class="ui {{ element.color }} segment">

        <h2>{{ element.title }}</h2>

        {% if _topics is not empty %}
            <div class="ui hidden divider"></div>

            <div class="ui three cards">
                {% for topic in _topics %}
                        {{ topic|monsieurbiz_richeditor_render_element }}
                {% endfor %}
            </div>

        {% endif %}
    </div>

{% endblock %}
