/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Fonts
 * Type: Setting
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;

/*******************************************************************************
 * @font-face helpers
*******************************************************************************/

$folder: "../../../fonts/" !default;

/*******************************************************************************
 * Families
*******************************************************************************/

$default: "Arial", sans-serif;
$brand: "Oldschool Grotesk", "Arial", sans-serif;

/*******************************************************************************
 * Types
*******************************************************************************/

// $size-tiny: 12px;
// $size-small: 14px;
$size-regular: 16px;
// $size-medium: 20px;
// $size-large: 24px;

/*******************************************************************************
 * Weights
*******************************************************************************/

// $thin: 100;
// $extralight: 200;
// $light: 300;
$regular: 400;
$medium: 500;
// $semibold: 600;
$bold: 700;
// $extrabold: 800;
// $black: 900;

/*******************************************************************************
 * Texts
*******************************************************************************/

@mixin huge-text {
  font-family: $brand;
  line-height: 1.8;

  @include mq.mq($until: medium) {
    font-size: rem.convert(22px);
  }

  @include mq.mq($from: medium, $until: large) {
    font-size: rem.convert(26px);
  }

  @include mq.mq($from: large) {
    font-size: rem.convert(30px);
  }

  a,
  strong {
    font-weight: $medium;
  }
}

@mixin large-text {
  font-family: $brand;
  line-height: 1.8;
  font-size: rem.convert(25px);

  a,
  strong {
    font-weight: $medium;
  }
}

@mixin small-text {
  font-size: rem.convert(14px);
  line-height: 1.6;
}

@mixin medium-text {
  font-size: rem.convert(19px);
  line-height: 1.947;
}

/*******************************************************************************
 * Titles
*******************************************************************************/

@mixin title {
  font-family: $brand;
  line-height: 1.4;

  @include mq.mq($until: medium) {
    font-size: rem.convert(29px);
  }

  @include mq.mq($from: medium, $until: large) {
    font-size: rem.convert(34px);
  }

  @include mq.mq($from: large) {
    // font-size: rem.convert(40px);
    font-size: rem.convert(38px);
  }
}

@mixin large-title {

  @include mq.mq($until: medium) {
    font-size: rem.convert(36px);
  }

  @include mq.mq($from: medium, $until: large) {
    // font-size: rem.convert(46px);
    font-size: rem.convert(44px);
  }

  @include mq.mq($from: large) {
    // font-size: rem.convert(57px);
    font-size: rem.convert(52px);
    // font-size: rem.convert(50px);
  }
}

@mixin small-title {

  @include mq.mq($until: medium) {
    font-size: rem.convert(24px);
  }

  @include mq.mq($from: medium, $until: large) {
    font-size: rem.convert(28px);
  }

  @include mq.mq($from: large) {
    font-size: rem.convert(32px);
  }
}

@mixin xsmall-title {
  font-weight: $medium;

  @include mq.mq($until: medium) {
    font-size: rem.convert(21px);
  }

  @include mq.mq($from: medium, $until: large) {
    font-size: rem.convert(23px);
  }

  @include mq.mq($from: large) {
    font-size: rem.convert(25px);
  }
}

@mixin tiny-title {
  font-size: rem.convert(19px);
  font-weight: $medium;
}
