/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Layout
 * Type: Setting
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";

/*******************************************************************************
 * Container
*******************************************************************************/

$container-width: 920px;

$container-widths: (
  "xlarge": 1400px,
  "large": 1160px,
  "small": 800px,
  "xsmall": 680px,
  "tiny": 440px
);

/*******************************************************************************
 * Gutter
*******************************************************************************/

$gutter-size: 8px;
$gutter-large: $gutter-size * 2.5;
$gutter-xlarge: $gutter-size * 19;
