{% extends '@SyliusShop/_layouts/front.html.twig' %}


{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': resource } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} page-tool{{ resource.color ? ' page-tool-' ~ resource.color.value }}{% endblock %}

{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-tool-container-btn{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ resource.title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}

    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">


        {# ***********************************************
    ** Banner
    ************************************************** #}

        {% set audience = get_audience_by_professional(page.professional.id, resource.dossierProfessionals) %}

        {% include ui('banner') with {
            type: "event",
            color: resource.color.value|default,
            notched: true,
            breadcrumb: breadcrumb,
            title: resource.title,
            description: false,
            mentions: [
                {
                    icon: audience ? page.professional.audienceIcon : false,
                    label: audience ? page.professional.audienceLabel : false,
                    value: audience ? audience : false
                },
            ],
            picture: {
                image: resource.mainImage.image|default,
                caption: resource.mainImage.caption|default
            }
        } only %}




    </div>


    {# ***********************************************
    ** BODY
    ************************************************** #}


    <div class="l-main__body">

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                <div class="l-stack__element s-introduction">
                    {{ resource.description|html_safe }}
                </div>

                {% set elements = monsieurbiz_richeditor_get_elements(resource.blocks) %}

                {% if elements|default %}

                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}

                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}
