{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Mag)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}



{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" title="Le Mag des Champs Libres" href="{{ path('app_article_index_feed', { page_slug: under_pages_slug_by_code('articles') }) }}" />
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %}

        {{ include('@SyliusShop/Article/_partials/_categories.html.twig') }}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">
                <section class="l-stack__item">



                    {# ***********************************************
                    ** Mise en avant manuelle d'un article
                    ************************************************** #}

                    {% if page.article|default %}
                        <div class="l-stack__element">
                            {% include ui('post') with {
                                mode: "horizontal",
                                color: page.article.color.value|default,
                                picture: page.article.mainImage,
                                title: {
                                    level: 2,
                                    text: page.article.title
                                },
                                description: page.article.description,
                                tag: {
                                    icon: page.article.category.icon,
                                    label: page.article.category.title
                                },
                                publication_date: page.article.publishedAt|formatted_date,
                                link: {
                                    label: "Lire l'article",
                                    href: path('app_article_show', { page_slug: under_pages_slug_by_code('articles'), category_slug: page.article.category.slug, slug: page.article.slug })
                                }
                            } only %}
                        </div>
                    {% endif %}



                    {# ***********************************************
                    ** Derniers articles
                    ************************************************** #}

                    <div class="l-stack__element l-stack__element--xlarge">
                        <div class="l-grid l-grid--narrow">
                            {% for article in get_latest_articles() %}
                                <div class="l-grid__item">
                                    {% include ui('post') with {
                                        color: article.color.value|default,
                                        picture: article.mainImage,
                                        title: {
                                            level: 2,
                                            text: article.title
                                        },
                                        tag: {
                                            icon: article.category.icon,
                                            label: article.category.title
                                        },
                                        publication_date: article.publishedAt|formatted_date,
                                        link: {
                                            label: "Lire l'article",
                                            href: path('app_article_show', { page_slug: under_pages_slug_by_code('articles'), category_slug: article.category.slug, slug: article.slug })
                                        }
                                    } only %}
                                </div>
                            {% endfor %}

                            <div class="l-grid__item">
                                {% include ui('browse') with {
                                    title: {
                                        level: 2,
                                        text: "Parcourir tous les articles du Mag"
                                    },
                                    link: {
                                        label: "Accéder à tous les articles",
                                        href: path('app_article_index', { page_slug: under_pages_slug_by_code('articles_index') })
                                    }
                                } only %}
                            </div>

                        </div>
                    </div>



                </section>
            </div>
        </div>



        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% if page.blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}



    </div>

{% endblock %}
