{# *****************************************************************************
** Type: TEMPLATE
** Name: Events
******************************************************************************** #}


{% extends '@SyliusShop/Page/show.html.twig' %}



{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %}{% endblock %}




{# ***********************************************
** CONTENT
************************************************** #}


{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %}

        {{ render(url('app_event_partial_search')) }}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    {% if page.blocks %}

        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

        {% if elements|default %}
            <div class="l-main__body">
                <div class="l-stack">
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endif %}



{% endblock %}
