{# *****************************************************************************
** Type: TEMPLATE
** Name: Informations
******************************************************************************** #}


{% extends '@SyliusShop/Page/show.html.twig' %}


{% block content %}
    {% set has_aside = true %}

    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            type: "large",
            notched: true,
            title: page.title,
            description: page.description|default,
            picture: page.mainImage|default,
            breadcrumb: breadcrumb|default,
        } only %}
    </div>



    {% if page.blocks %}



        {# ***********************************************
        ** VARIABLES
        ************************************************** #}

        {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}
        {% set summary_items = {} %}

        {% if elements|default %}
            {% for _element in elements %}
                {% if _element.data.title|default %}
                    {% set summary_items = summary_items|merge({(_element.data.title|slug('-', 'fr')|lower): (_element.data.title)}) %}
                {% endif %}
            {% endfor %}
        {% endif %}



        {# ***********************************************
        ** MARKUP
        ************************************************** #}

        {% if summary_items|length > 0 %}
            <div class="l-main__body l-main__body--flex">
                <div class="l-container l-container--xlarge">
                    <div class="l-main__board">



                        {# SOMMAIRE #}

                        <div class="l-main__aside">
                            {% include ui('summary') with {
                                title: "Sommaire",
                                items: summary_items
                            } only %}
                        </div>



                        {# BLOCKS #}

                        <div class="l-main__main">
                            <div class="l-stack">
                                {% for element in elements %}
                                    {{ element|monsieurbiz_richeditor_render_element }}
                                {% endfor %}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        {% endif %}



    {% endif %}

{% endblock %}
