{# *****************************************************************************
** Type: TEMPLATE
** Name: Explore
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

 {% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}


         {% include ui('banner') with {
            type: "centered",
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default,
        } only %}



    </div>

    <div class="l-main__body">
        <div class="l-stack">

            {# Blocs de contenus flexibles #}

            {% if page.blocks %}

                {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                {% if elements|default %}
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                {% endif %}

            {% endif %}

        </div>
    </div>


{% endblock %}
