{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">s-introduction</h1>
        <hr />

        <div class="s-introduction">
            <p>
                Exemple d’introduction, lorem ipsum dolor sit amet consectetur. Nunc amet ut morbi quis risus vitae sagittis.
                <a href="#">Voici un exemple de lien interne</a>, lorem ipsum dolor sit amet consectetur.
                <strong>Voici un passage de texte en gras.</strong> Sed congue id neque aliquet et <a href="#" target="_blank">un lien externe</a> etis galess.
            </p>
        </div>

        <hr />

        <div class="s-introduction s-introduction--immersive">
            <p>
                Exemple d’introduction, lorem ipsum dolor sit amet consectetur. Nunc amet ut morbi quis risus vitae sagittis.
                <a href="#">Voici un exemple de lien interne</a>, lorem ipsum dolor sit amet consectetur.
                <strong>Voici un passage de texte en gras.</strong> Sed congue id neque aliquet et <a href="#" target="_blank">un lien externe</a> etis galess.
            </p>
        </div>

    </div>

{% endblock %}
