{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">s-richtext</h1>
        <hr />

        <div class="s-richtext">
            <h2>Titre de niveau 2</h2>
            <p>Ultima est per intervalla magna protenta, <strong>cultis abundans terris et nitidis et civitates habens quasdam egregias</strong>, nullam nulli cedentem sed sibi vicissim velut ad perpendiculum aemulas: Caesaream, quam ad honorem Octaviani principis exaedificavit Herodes, et Eleutheropolim et Neapolim itidemque Ascalonem Gazam aevo superiore exstructas.</p>
            <h3>Titre de niveau 3</h3>
            <p><em>Itaque verae amicitiae difficillime reperiuntur in iis qui in honoribus reque publica versantur;</em> ubi enim istum invenias qui honorem amici anteponat suo? Quid? Haec ut omittam, quam graves, quam difficiles plerisque videntur calamitatum societates! Ad quas non est facile inventu qui descendant. Quamquam Ennius recte.</p>
            <h4>Titre de niveau 4</h4>
            <p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit <a href="#">e vita aetatis</a> nono anno atque vicensimo cum quadriennio imperasset. natus apud <a href="#" target="_blank">Tuscos in Massa Veternensi</a>, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
            <h5>Titre de niveau 5</h5>
            <p>Vbi curarum abiectis ponderibus aliis tamquam nodum et codicem difficillimum Caesarem convellere nisu valido cogitabat, eique deliberanti cum proximis clandestinis conloquiis et nocturnis qua vi, quibusve commentis id fieret, antequam effundendis rebus pertinacius incumberet confidentia, acciri mollioribus scriptis per simulationem tractatus publici nimis urgentis eundem placuerat Gallum, ut auxilio destitutus sine ullo interiret obstaculo.</p>
            <h6>Titre de niveau 6</h6>
            <p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.</p>
            <h2>Titre de niveau 2 beaucoup plus long que les précédents</h2>
            <p>Le <strong>pôle performance et expérience clients</strong> a pour objectif de représenter et prendre en compte <em>la vision et les intérêts des clients</em> de la conception des logements <a href="https://lunaweb.fr">jusqu’à leur livraison</a>. Cette équipe est composée :</p>
            <ul>
                <li>Un <strong>Responsable Qualité Logements</strong> qui accompagne l’équipe programme dans l’optimisation des plans et garantie la qualité des logements.</li>
                <li>Un <strong>Responsable Relation Clients</strong> qui accompagne le client tout au long de son parcours d’acquisition en assurant la qualité de la communication et du service.</li>
                <li>Un <strong>Responsable Qualité des Opérations</strong> qui veille à la qualité des opérations et des process pour garantir la satisfaction client.</li>
                <li>Un <a href="https://lunaweb.fr" target="_blank">Directeur Performance Maitrise d’Ouvrage</a> qui accompagne les entités de maîtrise d’ouvrage dans leur organisation et leur performance.</li>
            </ul>
            <h2>Titre de niveau 2</h2>
            <h3>Titre de niveau 3 beaucoup plus long que les précédents</h3>
            <p>Quelques exemples d’actions : prendre en compte les évolutions liées à sa croissance rapide. Ces instances s’appuient sur des outils qui permettent de garantir la performance du groupe.</p>
            <blockquote>“Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet, non quo modo efficiatur concludaturque ratio tradit, non qua via captiosa solvantur ambigua distinguantur ostendit; iudicia rerum in sensibus ponit, quibus si semel aliquid falsi pro vero probatum sit, sublatum esse omne iudicium veri et falsi putat.”</blockquote>
            <p>Le groupe développe et met à jour régulièrement ses instances de gouvernance pour s’adapter et preHuman Essence est un ensemble immobilier à vocation médico-sociale qui met la nature au centre du dispositif de soin et de bien-être des futurs usagers. Il s’appuie sur les bénéfices santé apportés par la présence de la biodiversité. Au sein de cet espace naturel exceptionnel, l’objectif est de réaliser les ouvrages tout en protégeant et en valorisant la biodiversité locale. Ainsi, les partis pris (architectural et paysager) visent l’insertion la plus juste dans le paysage existant, qui ne doit pas être dénaturé. Ils ont également pour but de favoriser les connexions entre les îlots de biodiversité du site qui doivent rester intacts.</p>
            <h3>Titre de niveau 3</h3>
            <p>Le pôle performance et expérience clients a pour objectif de représenter et prendre en compte la vision et les intérêts des clients de la conception des logements jusqu’à leur livraison. Cette équipe est composée :</p>
            <ol>
                <li>Un Responsable Qualité Logements qui accompagne l’équipe programme dans l’optimisation des plans et garantie la qualité des logements.</li>
                <li>Un Responsable Relation Clients qui accompagne le client tout au long de son parcours d’acquisition en assurant la qualité de la communication et du service.</li>
                <li>Un Responsable Qualité des Opérations qui veille à la qualité des opérations et des process pour garantir la satisfaction client.</li>
                <li>Un Directeur Performance Maitrise d’Ouvrage qui accompagne les entités de maîtrise d’ouvrage dans leur organisation et leur performance.</li>
            </ol>
        </div>

    </div>
{% endblock %}
