{# Surcharge du template vendor/monsieurbiz/sylius-media-manager-plugin/src/Resources/views/Admin/MediaManager/Modal/Content/Files/_previewFile.html.twig,
pour modifier l'affichage des images et leur mise en cache, afin que la mise en cache soit compatible avec la fonctionnalité de nettoyage du cache #}

{% set filePath = folder is not empty ? folder ~ '/' ~ file.path : file.path %}
{% if file.isImage and file.mimeType != 'image/svg+xml' %}
    <a href="/media/{{ filePath }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ filePath|imagine_filter('monsieurbiz_sylius_media_manager_uploaded_image') }}?version={{ "now"|date('YmdHis') }}" alt="{{ filePath|escape('html_attr') }}" style="max-width: 300px;max-height: 30px;" />
    </a>
{% elseif file.isImage and file.mimeType == 'image/svg+xml' %}
    <a href="/media/{{ filePath }}" target="_blank" rel="noopener noreferrer">
        <img src="/media/{{ filePath }}?version={{ "now"|date('YmdHis') }}" alt="{{ filePath|escape('html_attr') }}" style="max-width: 300px;max-height: 30px; width: 100%; height: 100%" />
    </a>
{% elseif file.isFile %}
    <a href="/media/{{ filePath }}" target="_blank" rel="noopener noreferrer" class="ui button mini icon">
        <i class="eye icon"></i>
    </a>
{% endif %}