{# Affichage uniquement lorsque la ressource existe (et donc pas sur une page de création) #}
{% if resource.id %}
    {{ include('app/Admin/Grid/Action/Serie/preview.html.twig') }}
    {{ include('app/Admin/Grid/Action/Serie/show.html.twig') }}
{% endif %}
