<div class="ui tab" data-tab="seo">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.seo'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        <h4 class="ui dividing header">{{ 'luna.ui.trait.seoable.seo_header'|trans }}</h4>

        <div class="ui segment">
            {{ form_row(form.seoable.noIndex) }}
            {% for locale, translationForm in form.translations %}
                <div data-locale="{{ locale }}">
                    <div class="ui content{% if loop.first %} active{% endif %}">
                        {{ form_row(translationForm.seoable.metaTitle) }}
                        {{ form_row(translationForm.seoable.metaDescription) }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <h4 class="ui dividing header">{{ 'luna.ui.trait.seoable.open_graph_header'|trans }}</h4>

        <div class="ui segment">
            {% for locale, translationForm in form.translations %}
                <div data-locale="{{ locale }}">
                    <div class="ui content{% if loop.first %} active{% endif %}">
                        {{ form_row(translationForm.seoable.openGraphTitle) }}
                        {{ form_row(translationForm.seoable.openGraphDescription) }}
                        {{ form_row(translationForm.seoable.openGraphImage) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
