<div class="v-search js-search">
    <div class="l-container l-container--large">
        <form class="v-search__form" method="get" action="{{ path('app_event_occurrence_index', {'slug': app.request.attributes.get('slug'), 'page_slug': under_pages_slug_by_code('event_search')}) }}#resultats">


            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-search__main v-search__main--center">

                {% include ui('field') with {
                    id: "date",
                    label: "Quand ?",
                    is_group: true,
                    hint: "Sélectionnez une option ci-après",
                    hint_inline: true,
                    center: true,
                    control: {
                        component: "period",
                        attributes: {
                            name: "date",
                            value: resources.parameters.get('date')|default,
                            disabled: false,
                            options: [
                                { value: "aujourdhui", label: "Aujourd’hui" },
                                { value: "ce-week-end", label: "Ce week-end" },
                                { value: "cette-semaine", label: "Cette semaine" },
                                { value: "date-personnalisee", label: "Date", custom: true }
                            ],
                            dates: {
                                start_value: resources.parameters.get('criteria').dates.from|default(null),
                                end_value: resources.parameters.get('criteria').dates.to|default(null)
                            }
                        }
                    },
                    optional: true,
                    hide_optional: true,
                    errors: false,
                    resources: resources|default,
                    dates_filter: resources.definition.filters.dates|default
                } only %}
            </div>


            {# ***********************************************
            ** ADDITIONAL
            ************************************************** #}

            {% set criteria = configuration.request.query.all.criteria|default %}
            {% set additional_is_hidden = true %}
            {% if criteria and (criteria.pricing|default or criteria.audience|default or criteria.accessibility|default) %}
                {% set additional_is_hidden = false %}
            {% endif %}

            <div class="v-search__additional" id="search-additional"{% if additional_is_hidden %} hidden{% endif %}>

                {{ sylius_grid_render_filter(resources, resources.definition.filters.category) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.pricing) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.audience) }}
                {{ sylius_grid_render_filter(resources, resources.definition.filters.accessibility) }}

            </div>


            {# ***********************************************
            ** ACTIONS
            ************************************************** #}

            <div class="v-search__actions">
                {% include ui('button') with {
                    mode: "link",
                    icon: 'chevron-down',
                    label: "Afficher plus de filtres",
                    attributes: {
                        type: "button",
                        class: "v-search__toggle js-search-toggle",
                        "aria-controls": "search-additional",
                        "aria-expanded": "false",
                        "data-expanded-label": "Masquer les filtres",
                        "data-shrank-label": "Afficher plus de filtres"
                    }
                } only %}
                {% include ui('button') with {
                    label: "Rechercher",
                    attributes: {
                        type: "submit",
                        class: "v-search__submit",
                        title: "Rechercher avec ces filtres",
                    }
                } only %}
            </div>


        </form>
    </div>
</div>
