/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Anchor
 * Type: Element
 *
 * Description: Default anchor (link) styles.
**/

/*******************************************************************************
 * Default styles
*******************************************************************************/

a {
  text-decoration: underline;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
