{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">15-b. Cartes colorées</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">

                <h2 class="l-stack__element c-title">Titre de niveau 2</h2>

                <div class="l-stack__element">
                    <div class="l-grid">
                        <div class="l-grid__item">
                            {% include ui('cta') with {
                                color: "yellow",
                                heading: {
                                    title: "Titre de niveau 3",
                                    level: 3
                                },
                                description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                                link: {
                                    label: "Bouton",
                                    href: "#"
                                }
                            } only %}
                        </div>
                        <div class="l-grid__item">
                            {% include ui('cta') with {
                                color: "violet",
                                heading: {
                                    title: "Titre de niveau 3",
                                    level: 3
                                },
                                description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                                link: {
                                    label: "Bouton",
                                    href: "#"
                                }
                            } only %}
                        </div>
                        <div class="l-grid__item">
                            {% include ui('cta') with {
                                color: "red",
                                heading: {
                                    title: "Titre de niveau 3",
                                    level: 3
                                },
                                description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                                link: {
                                    label: "Bouton",
                                    href: "#"
                                }
                            } only %}
                        </div>
                        <div class="l-grid__item">
                            {% include ui('cta') with {
                                color: "green",
                                heading: {
                                    title: "Titre de niveau 3",
                                    level: 3
                                },
                                description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                                link: {
                                    label: "Bouton",
                                    href: "#"
                                }
                            } only %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
