{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">15-a. Carte colorée</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container l-container--xsmall">

                    {% include ui('cta') with {
                        color: "yellow",
                        heading: {
                            title: "Titre de niveau 3 (seul)",
                            level: 2
                        },
                        description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                        link: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
