{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">12. Mise en avant d’événements</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">



            {# ***********************************************
            ** Variables
            ************************************************** #}

            {% set event = {
                picture: {
                    image: asset('build/app/shop/images/lcl.jpg', 'app.shop')
                },
                tag: "Type",
                title: {
                    level: 2,
                    text: "Titre"
                },
                specs: [
                    { icon: "calendar", text: "jj/mm/aa" },
                    { icon: "pin", text: "Musée de Bretagne" },
                    { icon: "ticket", text: "Gratuit" }
                ],
                link: "#"
            } %}



            {# ***********************************************
            ** 1 EVENT
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 2 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 3 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 4 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 5 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 6 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event,
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 7 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event,
                        event,
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



            {# ***********************************************
            ** 8 EVENTS
            ************************************************** #}

            <div class="l-stack__item">
                {% include ui('events') with {
                    label: "Zoom sur",
                    title: "Les expositions du moment",
                    button: {
                        icon: "arrow-right",
                        label: "Voir toutes les expositions",
                        attributes: { href: "#" }
                    },
                    items: [
                        event,
                        event,
                        event,
                        event,
                        event,
                        event,
                        event,
                        event
                    ]
                } only %}
            </div>



        </div>
    </div>

{% endblock %}
