{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">06. Galerie d'images</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--large">
                    <div class="l-grid">

                        <div class="l-grid__item">
                            {% include ui('figure') with {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "gallery",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            } only %}
                        </div>

                        <div class="l-grid__item">
                            {% include ui('figure') with {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "gallery",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            } only %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
