{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">07. Texte + Image</h1>
        <hr />
    </div>

    {% set illustrated_content %}
        <h2>Titre de niveau 2</h2>
        <p>Nulla blandit vestibulum elementum, arcu laoreet mauris. Suspendisse est scelerisque pretium eu facilisis eu egestas ut eget. Sit neque elementum, <a href="#">lien textuel</a>. Non sapien, tortor, velit viverra mattis ut quis a semper.</p>
        <p>Mattis egestas auctor sit pellentesque nunc ac. <strong>Exemple de texte en gras</strong> et suspendisse volutpat facilisis purus sagittis. Volutpat tincidunt urna, purus tortor consectetur tincidunt augue.</p>
    {% endset %}

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--switch">
                    {% include ui('illustrated') with {
                        figure: {
                            position: "left",
                            source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                            format: "illustrated_aside",
                            alt: "Texte alternatif ici",
                            caption: "Légende de l'image ici"
                        },
                        label: "Sur-titre",
                        content: illustrated_content,
                        link: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}
                </div>
            </div>

            <div class="l-stack__item">
                <div class="l-container l-container--switch">
                    {% include ui('illustrated') with {
                        figure: {
                            position: "right",
                            source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                            format: "illustrated_aside",
                            alt: "Texte alternatif ici",
                            caption: "Légende de l'image ici"
                        },
                        label: "Sur-titre",
                        content: illustrated_content,
                        link: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}
                </div>
            </div>

            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">
                    {% include ui('illustrated') with {
                        figure: {
                            position: "full",
                            source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                            format: "illustrated_aside",
                            alt: "Texte alternatif ici",
                            caption: "Légende de l'image ici"
                        },
                        label: "Sur-titre",
                        content: illustrated_content,
                        link: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
