{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">05. Image</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">
                    {% include ui('figure') with {
                        source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                        format: "image_medium",
                        alt: "Texte alternatif ici",
                        caption: "Légende de l'image ici"
                    } only %}
                </div>
            </div>

            <div class="l-stack__item">
                <div class="l-container l-container--large">
                    {% include ui('figure') with {
                        source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                        format: "image_large",
                        alt: "Texte alternatif ici",
                        caption: "Légende de l'image ici"
                    } only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
