{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">09. Texte immersif</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container">

                    {% set content %}
                        <p>
                            Lorem <a href="#">ipsum</a> dolor sit amet, estau nobelum. 
                            Clas est arcu metus donec id dolor. Adipiscing imperdiet consetedur nullam sit ac etiam vel vestibulum nide erat adisciping <a href="#">esteau</a> id erat <a href="#">erat pellentesque</a> libero nec. 
                            At lorem morbi cras sed non.
                        </p>
                    {% endset %}

                    {% include ui('immersive') with {
                        id: "immersive-1",
                        label: "Sur-titre",
                        content: content,
                        button: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
