{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">03. Infos pratiques</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">
                    {% include ui('handy') with {
                        type: "grey",
                        title: {
                            text: "Titre de niveau 2",
                            level: 2
                        },
                        picture: {
                            source: true,
                            logo: false,
                            caption: "Légende facultative à compléter"
                        },
                        table: [
                            {
                                column1: "Ligne 1",
                                column2: "Contenu de la première ligne"
                            },
                            {
                                column1: "Ligne 2",
                                column2: "Contenu de la deuxième ligne"
                            },
                            {
                                column1: "Ligne 3",
                                column2: "Contenu de la troisième ligne"
                            }
                        ],
                        content: "<p>Non sapien, tortor, velit viverra mattis ut quis a semper. Mattis egestas auctor sit pellentesque nunc ac. Mauris nisl, amet, et suspendisse volutpat facilisis purus sagittis. Volutpat tincidunt urna, purus tortor consectetur tincidunt augue.</p><h3>Titre de niveau 3</h3><ul><li>Voici une liste à puces classique.</li><li>Nisl amet fames pulvinar sagittis facilisi viverra. Massa maecenas tincidunt nibh orci gravida libero neque venenatis penatibus.</li><li>Urna aenean odio fermentum aenean arcu tortor. Metus sollicitudin malesuada scelerisque maecenas.</li><li>Malesuada at elementum lacus.</li><li>Dapibus ac quam tortor sed in erat. Pharetra sodales risus tincidunt aenean.</li></ul>"
                    } only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
