{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">01. Introduction</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">

                    <div class="l-stack__element s-introduction">
                        <p>
                            Exemple d’introduction, lorem ipsum dolor sit amet consectetur. Nunc amet ut morbi quis risus vitae sagittis.
                            <a href="#">Voici un exemple de lien interne</a>, lorem ipsum dolor sit amet consectetur.
                            <strong>Voici un passage de texte en gras.</strong> Sed congue id neque aliquet et <a href="#" target="_blank">un lien externe</a> etis galess.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
