{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">08. Galerie de logos</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--large">
                    {% include ui('logos') with {
                        title: {
                            level: 2,
                            text: "Galerie de logos"
                        },
                        big_items: [
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            },
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            }
                        ],
                        small_items: [
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            },
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            },
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            },
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            },
                            {
                                source: asset('build/app/shop/images/lcl.jpg', 'app.shop'),
                                format: "illustrated_aside",
                                alt: "Texte alternatif ici",
                                caption: "Légende de l'image ici"
                            }
                        ]
                    } only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
