{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">10. Recherche OPAC</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                {% include ui('opac') only %}
            </div>

        </div>
    </div>

{% endblock %}
