{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">16. Push de contenu</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">



            {# PHOTO AEREE #}

            <div class="l-stack__item">
                {% include ui('cta') with {
                    color: "violet",
                    picture: true,
                    label: "Sur-titre",
                    heading: {
                        title: "Mise en avant avec photo aérée",
                        level: 2
                    },
                    description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                    link: {
                        label: "Bouton",
                        href: "#"
                    }
                } only %}
            </div>



            {# PHOTO PLEINE #}

            <div class="l-stack__item">
                {% include ui('cta') with {
                    color: "violet",
                    picture: true,
                    fullsize: true,
                    heading: {
                        title: "Mise en avant avec photo pleine",
                        level: 2
                    },
                    description: "Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.",
                    link: {
                        label: "Bouton",
                        href: "#"
                    }
                } only %}
            </div>



        </div>
    </div>

{% endblock %}
