{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">04-a. Question - Réponse</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">

            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">
                    {% include ui('details') with {
                        id: "details-1",
                        title: "Lorem ipsum dolor ?",
                        content: "<p>Lorem ipsum dolor sit amet consectetur. Sit in hendrerit et duis. At quis fermentum gravida tellus porta aliquet sed auctor. Aliquam et ut donec ullamcorper et urna. Rhoncus at ut neque ornare in urna semper adipiscing.</p><p>Pellentesque ornare fermentum nunc congue amet sem. Vitae a in quis est consectetur gravida arcu senectus. Imperdiet lorem elit netus in eu justo. Feugiat eu dui in sagittis ac nullam lectus. Facilisis phasellus pellentesque id euismod pellentesque cursus.</p>"
                    } only %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
