{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">11. Citation courte</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container">

                    {% include ui('quote') with {
                        content: "<p><strong>Savoir, penser, rêver. <br> Tout est là.</strong> Tous les jours.</p>",
                        author: "Victor Hugo",
                        more: "Les rayons et les ombres"
                    } only %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
