{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">14-b. Mise en avant de cartes</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">



            {# 5 CARTES #}

            <div class="l-stack__item">

                <h2 class="l-stack__element c-title">Mise en avant de 3 cartes et plus</h2>

                <div class="l-stack__element">
                    <div class="l-grid l-grid--narrow">
                        {% for i in 1..5 %}
                            <div class="l-grid__item">
                                {% include ui('card') with {
                                    picture: false,
                                    title: {
                                        level: 3,
                                        text: "Titre"
                                    },
                                    description: "Lorem ipsum dolor sit amet consectetur. Rhoncus fermentum eu massa quisque faucibus eget turpis ornare. Sodales amet etiam sed id nulla vel risus. In pretium elit vitae turpis ultrices tincidunt aliquet purus. Eros lacus nunc tristique nibh. Elit molestie est rhoncus est.",
                                    link: {
                                        label: "Bouton",
                                        href: "#"
                                    }
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>



            {# 2 CARTES #}

            <div class="l-stack__item">
                <div class="l-container">

                    <h2 class="l-stack__element c-title">Mise en avant de 2 cartes</h2>

                    <div class="l-stack__element">
                        <div class="l-grid">
                            {% for i in 1..2 %}
                                <div class="l-grid__item">
                                    {% include ui('card') with {
                                        picture: false,
                                        title: {
                                            level: 3,
                                            text: "Titre"
                                        },
                                        description: "Lorem ipsum dolor sit amet consectetur. Rhoncus fermentum eu massa quisque faucibus eget turpis ornare. Sodales amet etiam sed id nulla vel risus. In pretium elit vitae turpis ultrices tincidunt aliquet purus. Eros lacus nunc tristique nibh. Elit molestie est rhoncus est.",
                                        link: {
                                            label: "Bouton",
                                            href: "#"
                                        }
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>



            {# 5 CARTES #}

            <div class="l-stack__item">

                <h2 class="l-stack__element c-title">Mise en avant de 3 cartes et plus avec images</h2>

                <div class="l-stack__element">
                    <div class="l-grid l-grid--narrow">
                        {% for i in 1..5 %}
                            <div class="l-grid__item">
                                {% include ui('card') with {
                                    picture: true,
                                    title: {
                                        level: 3,
                                        text: "Titre"
                                    },
                                    description: "Lorem ipsum dolor sit amet consectetur. Rhoncus fermentum eu massa quisque faucibus eget turpis ornare. Sodales amet etiam sed id nulla vel risus. In pretium elit vitae turpis ultrices tincidunt aliquet purus. Eros lacus nunc tristique nibh. Elit molestie est rhoncus est.",
                                    link: {
                                        label: "Bouton",
                                        href: "#"
                                    }
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>



        </div>
    </div>

{% endblock %}
