{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">14-a. Mise en avant d'une carte</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container l-container--tiny">

                    {% include ui('card') with {
                        picture: true,
                        title: {
                            level: 2,
                            text: "Titre"
                        },
                        description: "Lorem ipsum dolor sit amet consectetur. Rhoncus fermentum eu massa quisque faucibus eget turpis ornare. Sodales amet etiam sed id nulla vel risus. In pretium elit vitae turpis ultrices tincidunt aliquet purus. Eros lacus nunc tristique nibh. Elit molestie est rhoncus est.",
                        link: {
                            label: "Bouton",
                            href: "#"
                        }
                    } only %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
