{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <p class="c-title c-title--xsmall">Bloc flexible</p>
        <h1 class="c-title c-title--large">02. Texte riche</h1>
        <hr />
    </div>

    <div class="l-stack">
        <div class="l-container l-container--xlarge">
            <div class="l-stack__item">
                <div class="l-container l-container--small l-container--right">

                    <div class="l-stack__element s-richtext">
                        <h2>Titre de niveau 2</h2>
                        <p>Nulla blandit vestibulum elementum, arcu laoreet mauris. Suspendisse est scelerisque pretium eu facilisis eu egestas ut eget. Sit neque elementum, <a href="#">lien interne</a>. Non sapien, tortor, velit viverra mattis ut qui <a href="#" target="_blank">lien externe</a> semper.</p>
                        <p>Mattis egestas auctor sit pellentesque nunc ac. Mauris nisl, amet, et suspendisse volutpat facilisis purus sagittis. Volutpat tincidunt urna, purus tortor consectetur tincidunt augue. <em>Voici un exemple de texte en italique.</em> Aliquam neque sed quis risus nunc <strong>exemple d’un passage de texte en gras</strong>. Nisl amet fames pulvinar sagittis facilisi viverra. Massa maecenas tincidunt nibh orci gravida libero neque venenatis penatibus.</p>
                        <p>Aliquam at pellentesque consequat non egestas adipiscing tempor. Urna aenean odio fermentum aenean arcu tortor. Metus sollicitudin malesuada scelerisque maecenas. Sed facilisis sed viverra vitae sed nisi. Commodo ullamcorper sed diam lectus. Non ultrices augue orci feugiat elementum laoreet. Nunc in id in lacinia ultrices sed in facilisi. Dapibus ac quam tortor sed in erat. Pharetra sodales risus tincidunt aenean. Egestas sed phasellus morbi aenean libero donec. Purus pharetra iaculis diam lacinia massa quis sit ac.</p>
                        <h3>Titre de niveau 3</h3>
                        <ul>
                            <li>Voici une liste à puces classique.</li>
                            <li>Nisl amet fames pulvinar sagittis facilisi viverra. Massa maecenas tincidunt nibh orci gravida libero neque venenatis penatibus.</li>
                            <li>Urna aenean odio fermentum aenean arcu tortor. Metus sollicitudin malesuada scelerisque maecenas.</li>
                            <li>Malesuada at elementum lacus.</li>
                            <li>Dapibus ac quam tortor sed in erat. Pharetra sodales risus tincidunt aenean.</li>
                        </ul>
                        <h4>Titre de niveau 4</h4>
                        <ol>
                            <li>Voici une liste à puces numérotés.</li>
                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra mi porttitor amet. Vitae etiam sit etiam sed pharetra convallis ut.</li>
                            <li>Lorem ipsum dolor sit amet consectetur. Vitae arcu risus eget feugiat viverra.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ol>
                        <h5>Titre de niveau 5</h5>
                        <blockquote>
                            “ Voici un exemple de citation embarquée dans un paragraphe WYSIWYG Lorem ipsum dolor sit amet at pellentesque consequat non egestas adipiscing tempor. Urna aenean odio fermentum aenean arcu tortor. Metus sollicitudin malesuada scelerisque maecenas. ”
                        </blockquote>
                    </div>

                    <div class="l-stack__element">
                        {% include ui('button') with {
                            icon: 'arrow-right',
                            label: "Bouton primaire interne",
                            attributes: { href: "#" }
                        } only %}
                    </div>

                    <div class="l-stack__element">
                        {% include ui('button') with {
                            icon: 'external',
                            label: "Bouton primaire externe",
                            attributes: { href: "#", target: "_blank" }
                        } only %}
                    </div>

                    <div class="l-stack__element">
                        {% include ui('button') with {
                            mode: "primary",
                            icon: 'arrow-right',
                            label: "Bouton secondaire interne",
                            attributes: { href: "#" }
                        } only %}
                    </div>

                    <div class="l-stack__element">
                        {% include ui('button') with {
                            mode: "primary",
                            icon: 'external',
                            label: "Bouton secondaire externe",
                            attributes: { href: "#", target: "_blank" }
                        } only %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
