/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Alert
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: (
  "green": "green-300",
  "red": "red"
);

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-alert {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: rem.convert(layout.$gutter-size * 2);
  padding-left: rem.convert(layout.$gutter-size * 2);

  @include mq.mq($until: small) {
    flex-direction: column;
    padding-top: rem.convert(layout.$gutter-size * 1.5);
    padding-bottom: rem.convert(layout.$gutter-size * 2);
  }

  @include mq.mq($from: small) {
    flex-direction: row;
    align-items: center;
    padding-top: rem.convert(layout.$gutter-size * 1.5);
    padding-bottom: rem.convert(layout.$gutter-size * 1.5);
  }

  @include mq.mq($until: large) {

    body.burger-active & {
      display: none;
    }
  }
}


/**
** Colors
****************************************/

@each $color, $key in $colors {
  .c-alert--#{$color} {
    background-color: colors.get($key);
  }
}


  /**
  ** Text
  ****************************************/

  .c-alert__text {

    @include mq.mq($until: small) {
      order: 2;
    }
  }


  /**
  ** Button
  ****************************************/

  .c-alert__button {
    @include appearance.appearance;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: rem.convert(layout.$gutter-size * 0.5);
    padding-bottom: rem.convert(layout.$gutter-size * 0.5);
    @include fonts.small-text;
    font-weight: fonts.$bold;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    @include mq.mq($until: small) {
      order: 1;
      margin-right: 0;
      margin-bottom: rem.convert(layout.$gutter-size * 0.5);
      margin-left: auto;
    }

    @include mq.mq($from: small) {
      margin-left: rem.convert(layout.$gutter-size * 2);
    }
  }


    /**
    ** Icon
    ****************************************/

    .c-alert__icon {
      margin-left: rem.convert(layout.$gutter-size);
    }



/**
** States
****************************************/

.c-alert.js-alert:not(.is-mounted) {
  display: none;
}
