/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Breadcrumb
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../../vega/tools/svg";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-breadcrumb {}


  /**
  ** Items
  ****************************************/

  .c-breadcrumb__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


    /**
    ** Item
    ****************************************/

    .c-breadcrumb__item {
      @include fonts.small-text;

      @include mq.mq($until: xlarge) {
        display: none;

        &:nth-last-child(2) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;

          &:before {
            content: '';
            flex: 0 0 auto;
            display: block;
            width: rem.convert(18px);
            height: rem.convert(18px);
            margin-right: rem.convert(layout.$gutter-size);
            background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M8.91059 20.67c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l6.52001-6.52c.48-.48.48-1.26 0-1.74L8.38059 4.61002c-.29-.29-.29-.77 0-1.06.29-.29.77-.29 1.06 0L15.9606 10.07c.51.51.8 1.2.8 1.93s-.28 1.42-.8 1.93l-6.52001 6.52c-.15.14-.34.22-.53.22Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(180deg);
            pointer-events: none;
          }
        }
      }

      @include mq.mq($from: xlarge) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &:not(:first-child) {
          margin-left: rem.convert(layout.$gutter-size);

          &:before {
            content: '';
            flex: 0 0 auto;
            display: block;
            width: rem.convert(18px);
            height: rem.convert(18px);
            margin-right: rem.convert(layout.$gutter-size);
            background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M8.91059 20.67c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l6.52001-6.52c.48-.48.48-1.26 0-1.74L8.38059 4.61002c-.29-.29-.29-.77 0-1.06.29-.29.77-.29 1.06 0L15.9606 10.07c.51.51.8 1.2.8 1.93s-.28 1.42-.8 1.93l-6.52001 6.52c-.15.14-.34.22-.53.22Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
            background-position: center;
            background-repeat: no-repeat;
            pointer-events: none;
          }
        }
      }
    }


      /**
      ** Link
      ****************************************/

      .c-breadcrumb__link {
        font-weight: fonts.$bold;
      }
