/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Burger
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

@use "../../vega/tools/svg";

@use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-burger {

  @include mq.mq($until: large) {
    @include appearance.appearance;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: rem.convert(66px);
    height: rem.convert(62px);
    border-radius: rem.convert(8px);

    &:active {
      background-color: rgba(map.get(colors.$usables, "black"), 0.1);
    }
  }

  @include mq.mq($from: large) {
    display: none;
  }
}


  /**
  ** Icon
  ****************************************/
  
  .c-burger__icon {
    margin-bottom: rem.convert(layout.$gutter-size * 0.25);
  }

  .c-burger__icon--open {

    body.burger-active & {
      display: none;
    }
  }

  .c-burger__icon--close {

    body:not(.burger-active) & {
      display: none;
    }
  }


  /**
  ** Label
  ****************************************/
  
  .c-burger__label {}

  .c-burger__label--open {

    body.burger-active & {
      display: none;
    }
  }

  .c-burger__label--close {

    body:not(.burger-active) & {
      display: none;
    }
  }
