/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Button
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:math";
@use "sass:color";
@use "sass-em/em";
@use "sass-rem/rem";
@use "../../vega/tools/animation";
@use "../../vega/tools/hide";
@use "../../vega/tools/unit";

@use "../settings/colors" as colors;
@use "../settings/fonts" as fonts;
@use "../settings/layout" as layout;

/*******************************************************************************
 * Variables
*******************************************************************************/

$button-font-size: fonts.$size-regular !default;
$button-line-height: fonts.$size-regular * 2 !default;
$button-padding-inline: layout.$gutter-size * 4 !default;
$button-padding-block: layout.$gutter-size * 2 !default;
$button-gap: layout.$gutter-size !default;
$button-border-width: 1px !default;
$button-radius: layout.$gutter-size * 3 !default;
$button-icon-size: 18px !default;

$button-has-big: false !default;
$button-big-font-size: 16px !default;

$button-has-small: true !default;
$button-small-padding-block: layout.$gutter-size * 1.5 !default;

$button-has-icon: true !default;
$button-has-revert: false !default;
$button-has-primary: true !default;
$button-has-link: true !default;
$button-has-dark: false !default;
$button-has-disabled: true !default;
$button-has-loading: false !default;

$button-transition-duration: 0.2s !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-button {
  --button-bg: #{colors.get("foreground")};
  --button-color: #{colors.get("background")};
  --button-border-color: #{colors.get("foreground")};

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding:
    em.convert(($button-padding-block - $button-border-width - math.div($button-gap, 2)), $button-font-size)
    em.convert(($button-padding-inline - $button-border-width - math.div($button-gap, 2)), $button-font-size);
  font-size: var(--button-font-size, #{ rem.convert($button-font-size) });
  font-weight: 600;
  line-height: math.div($button-line-height, $button-font-size);
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  color: var(--button-color, currentcolor);
  background: var(--button-bg, transparent);
  border: em.convert($button-border-width, $button-font-size) solid var(--button-border-color, var(--button-bg));
  border-radius: em.convert($button-radius, $button-font-size);
  @include animation.transition(background border border-radius color transform, $button-transition-duration);
}

  .c-button__icon {
    flex: 0 0 auto;
    margin-top: em.convert(2px, $button-icon-size);
    margin-right: em.convert(math.div($button-gap, 2), $button-icon-size);
    margin-bottom: em.convert(2px, $button-icon-size);
    margin-left: em.convert(math.div($button-gap, 2), $button-icon-size);
    font-size: em.convert($button-icon-size, $button-font-size);
    color: var(--button-icon-color, var(--button-color));
    @include animation.transition(color, $button-transition-duration);

    svg {
      display: block;
    }
  }

  .c-button__label {
    margin: em.convert(math.div($button-gap, 2), $button-font-size);
  }

/*******************************************************************************
 * Interactive
*******************************************************************************/

a.c-button,
button.c-button {
  cursor: pointer;

  &:hover,
  &:active,
  .u-button-within:hover &,
  .u-button-within:active & {
    border-radius: em.convert(30px, $button-font-size);
  }

  &:hover,
  .u-button-within:hover & {
    text-decoration: underline;
  }

  &:active,
  .u-button-within:active & {
    --button-bg: #{colors.get("grey-900")};

    text-decoration: none;
    transform: translateY(#{ rem.convert(1px) });
    transition-duration: 0s;

    .c-button__icon {
      transition-duration: 0s;
    }
  }
}

/*******************************************************************************
 * Variants
*******************************************************************************/

/**
 * Revert
*******************************************************************************/

@if $button-has-revert {
  .c-button--revert {
    .c-button__icon {
      order: 2;
    }
  }
}

/**
 * Icon
*******************************************************************************/

@if $button-has-icon {
  .c-button--icon {
    padding-right: em.convert((layout.$gutter-size * 3 - math.div($button-gap, 2)), $button-font-size);
    padding-left: em.convert((layout.$gutter-size * 3 - math.div($button-gap, 2)), $button-font-size);

    .c-button__label {
      @include hide.visually;
    }
  }
}

/**
 * Big
*******************************************************************************/

@if $button-has-big {
  .c-button--big {
    --button-font-size: #{ rem.convert($button-big-font-size) };
  }
}

/**
 * Big
*******************************************************************************/

@if $button-has-small {
  .c-button--small {
    padding-top: em.convert(($button-small-padding-block - $button-border-width - math.div($button-gap, 2)), $button-font-size);
    padding-bottom: em.convert(($button-small-padding-block - $button-border-width - math.div($button-gap, 2)), $button-font-size);
  }
}

/**
 * Primary
*******************************************************************************/

@if $button-has-primary {
  .c-button--primary {
    --button-color: #{colors.get("foreground")};
    --button-bg: #{colors.get("background")};
    border: 0 none;
  }

  a.c-button--primary,
  button.c-button--primary {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: em.convert($button-border-width, $button-font-size) solid var(--button-border-color, var(--button-bg));
      border-radius: inherit;
      z-index: 1;
      transition: border-color $button-transition-duration ease, border-width 0.1s ease, border-radius $button-transition-duration ease;
    }

    &:hover,
    .u-button-within:hover & {

      &:before {
        border-width: em.convert(3px, $button-font-size);
        border-radius: rem.convert(30px);
      }
    }

    &:active {
      --button-color: #{colors.get("grey-900")};
      --button-bg: #{colors.get("grey-400")};
      --button-border-color: #{colors.get("grey-900")};

      &:before {
        border-color: colors.get("grey-900");
        border-width: em.convert(2px, $button-font-size);
        border-radius: rem.convert(30px);
      }
    }
  }
}

/**
 * Link
*******************************************************************************/

@if $button-has-link {
  .c-button--link {
    --button-color: #{colors.get("foreground")};
    --button-bg: transparent;

    padding: 0;
    text-decoration: underline;
    border: 0;
  }

  a.c-button--link,
  button.c-button--link {

    &:hover,
    &:active,
    .u-button-within:hover &,
    .u-button-within:active & {
      --button-bg: transparent;

      text-decoration: none;
    }

    &:active {
      --button-color: #{colors.get("grey-900")};
    }
  }
}

/**
 * Dark
*******************************************************************************/

@if $button-has-dark {
  .c-button--dark {
    --button-color: #fff;
    --button-bg: transparent;
    --button-border-color: #{ rgba(#fff, 0.3) };

    @if $button-has-primary {
      &.c-button--primary {
        --button-color: #000;
        --button-bg: #efba1e;
        --button-border-color: transparent;
      }
    }

    @if $button-has-link {
      &.c-button--link {
        --button-color: #fff;
        --button-icon-color: inherit;
      }
    }
  }

  a.c-button--dark,
  button.c-button--dark {
    &:hover,
    .u-button-within:hover & {
      --button-color: #fff;
      --button-bg: transparent;
      --button-border-color: currentcolor;

      @if $button-has-primary {
        &.c-button--primary {
          --button-color: #000;
          --button-bg: #bf9518;
          --button-border-color: transparent;
        }
      }

      @if $button-has-link {
        &.c-button--link {
          --button-color: #{ rgba(#fff, 0.7) };
        }
      }
    }

    &:active {
      --button-color: #fff;
      --button-bg: transparent;
      --button-border-color: #{ rgba(#fff, 0.6) };

      @if $button-has-primary {
        &.c-button--primary {
          --button-color: #000;
          --button-bg: #8f7012;
          --button-border-color: transparent;
        }
      }

      @if $button-has-link {
        &.c-button--link {
          --button-color: #{ rgba(#fff, 0.5) };
        }
      }
    }
  }
}

/*******************************************************************************
 * Disabled
*******************************************************************************/

@if $button-has-disabled {
  .c-button,
  button.c-button,
  a.c-button {
    &[disabled],
    &[aria-disabled],
    &.is-disabled {
      --button-bg: initial;
      --button-color: #6c727f;
      --button-border-color: #d2d5da;

      pointer-events: none;

      @if $button-has-primary {
        &.c-button--primary {
          --button-bg: #d2d5da;
          --button-color: #4d5562;
          --button-border-color: #d2d5da;
        }
      }

      @if $button-has-link {
        &.c-button--link {
          --button-bg: initial;
          --button-color: #8f95a0;
          --button-border-color: initial;
          --button-icon-color: currentcolor;
        }
      }

      @if $button-has-dark {
        &.c-button--dark {
          --button-bg: initial;
          --button-color: #8f95a0;
          --button-border-color: #394150;
        }

        @if $button-has-primary {
          &.c-button--dark.c-button--primary {
            --button-bg: #394150;
            --button-color: #8f95a0;
            --button-border-color: initial;
          }
        }

        @if $button-has-link {
          &.c-button--dark.c-button--link {
            --button-color: #8f95a0;
          }
        }
      }
    }
  }
}

/*******************************************************************************
 * Loading
*******************************************************************************/

@if $button-has-loading {
  .c-button.is-loading {
    --rotate: 0deg;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: em.convert($button-icon-size, $button-font-size);
      height: em.convert($button-icon-size, $button-font-size);
      padding: em.convert(3px, $button-font-size);
      background: conic-gradient(from 0 at 50% 50%, transparent 0%, var(--button-color) 100%);
      border-radius: 50%;
      -webkit-mask: linear-gradient(#fff 0 0) content, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask: linear-gradient(#fff 0 0) content, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      transform: translate(-50%, -50%) rotate(0deg);
      animation: 0.8s loading linear infinite;
    }

    > * {
      opacity: 0;
      pointer-events: none;
    }
  }

  @keyframes loading {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(359deg);
    }
  }
}

/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-button {
    break-inside: avoid;
  }

    .c-button__icon {
      width: 1em;
      height: 1em;
      font-size: 1.125em;
    }
}
