/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Details
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-details {
  box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
  border-radius: rem.convert(24px);
  overflow: hidden;

  summary::-webkit-details-marker {
    display: none;
  }
}


  /**
  ** Summary
  ****************************************/

  .c-details__summary {
    @include appearance.appearance;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: rem.convert(layout.$gutter-size * 3);
    background-color: colors.get("background");
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: colors.get("grey-400");
    }
  }


    /**
    ** Title
    ****************************************/

    .c-details__title {
      @include fonts.medium-text;
    }


    /**
    ** Action
    ****************************************/

    .c-details__action {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: rem.convert(layout.$gutter-size * 3);
      @include fonts.small-text;
      pointer-events: none;
    }


      /**
      ** Label
      ****************************************/

      .c-details__label {
        font-weight: fonts.$bold;
        text-decoration: underline;
      }


      /**
      ** Icon
      ****************************************/

      .c-details__icon {
        flex: 0 0 auto;
        margin-left: rem.convert(layout.$gutter-size);

        .c-details[open] & {
          transform: rotate(180deg);
        }
      }


  /**
  ** Content
  ****************************************/

  .c-details__content {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);
    background-color: colors.get("background");
    border-top: rem.convert(1px) solid colors.get("grey-600");

    @include mq.mq($until: small) {
      padding-top: rem.convert(layout.$gutter-size * 2);
      padding-bottom: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: small) {
      padding-top: rem.convert(layout.$gutter-size * 3);
      padding-bottom: rem.convert(layout.$gutter-size * 3);
    }
  }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-details {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
