/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Figure
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass:math";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

/*******************************************************************************
 * Variables
*******************************************************************************/

// $figure-font-size: 14px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-figure {}


  /**
  ** Picture
  ****************************************/

  .c-figure__picture {
    border-radius: rem.convert(36px);
  }


  /**
  ** Caption
  ****************************************/

  .c-figure__caption {
    @include fonts.small-text;
    color: colors.get("grey-900");

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 2);
    }
  }


/*******************************************************************************
 * Media Queries
*******************************************************************************/

@media print {
  .c-figure {
    break-inside: avoid;
  }
}
