/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Filters
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-filters {
  position: relative;
  z-index: 1;

  @include mq.mq($until: medium) {
    margin-top: rem.convert(- layout.$gutter-size * 5);
  }

  @include mq.mq($from: medium) {
    margin-top: rem.convert(- layout.$gutter-size * 9);
  }
}


  /**
  ** Container
  ****************************************/

  .c-filters__container {
    padding: rem.convert(layout.$gutter-size * 2);
    background-color: colors.get("background");
    box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);

    @include mq.mq($until: small) {

      .l-container & {
        margin-right: rem.convert(- layout.$gutter-size * 3);
        margin-left: rem.convert(- layout.$gutter-size * 3);
      }
    }

    @include mq.mq($until: large) {
      border-radius: rem.convert(38px);
    }

    @include mq.mq($from: large) {
      border-radius: rem.convert(44px);
    }
  }


    /**
    ** Text
    ****************************************/

    .c-filters__text {
      text-align: center;

      @include mq.mq($until: medium) {
        max-width: rem.convert(268px);
        margin-right: auto;
        margin-left: auto;
        @include fonts.small-text;
      }
    }


    /**
    ** Items
    ****************************************/

    .c-filters__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-top: rem.convert(layout.$gutter-size * 2);
      padding-right: rem.convert(layout.$gutter-size * 0.5);
      padding-left: rem.convert(layout.$gutter-size * 0.5);
      background-color: colors.get("grey");

      @include mq.mq($until: large) {
        padding-top: rem.convert(layout.$gutter-size * 0.5);
        padding-bottom: rem.convert(layout.$gutter-size * 0.5);
        border-radius: rem.convert(26px);
      }

      @include mq.mq($from: large) {
        border-radius: rem.convert(56px);
      }
    }


      /**
      ** Item
      ****************************************/

      .c-filters__item {
        padding-right: rem.convert(layout.$gutter-size * 0.5);
        padding-left: rem.convert(layout.$gutter-size * 0.5);

      @include mq.mq($until: large) {
        padding-top: rem.convert(layout.$gutter-size * 0.5);
        padding-bottom: rem.convert(layout.$gutter-size * 0.5);
      }

      @include mq.mq($from: large) {
        padding-top: rem.convert(layout.$gutter-size);
        padding-bottom: rem.convert(layout.$gutter-size);
      }
      }

      .c-filters__item--active {}


        /**
        ** Link
        ****************************************/

        .c-filters__link {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          font-weight: fonts.$bold;
          text-decoration: underline;
          border-radius: rem.convert(24px);
          transition: background-color 0.2s ease;

          &:hover {
            text-decoration: none;
            background-color: rgba(map.get(colors.$descriptives, "grey-900"), 0.1);
          }

          .c-filters__item--active & {
            text-decoration: none;
            color: colors.get("background");
            background-color: colors.get("foreground");
          }

          @include mq.mq($until: medium) {
            @include fonts.small-text;
            padding-right: rem.convert(layout.$gutter-size * 1.5);
            padding-left: rem.convert(layout.$gutter-size * 1.5);
          }

          @include mq.mq($from: medium) {
            padding-right: rem.convert(layout.$gutter-size * 4);
            padding-left: rem.convert(layout.$gutter-size * 4);
          }

          @include mq.mq($until: large) {
            height: rem.convert(38px);
          }

          @include mq.mq($from: large) {
            height: rem.convert(48px);
          }
        }


          /**
          ** Icon
          ****************************************/

          .c-filters__icon {
            flex: 0 0 auto;
          }


          /**
          ** Label
          ****************************************/

          .c-filters__label {
            flex: 0 0 auto;
            margin-left: rem.convert(layout.$gutter-size * 0.5);
          }
