/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Further
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-further {
  padding-top: rem.convert(layout.$gutter-size * 6);
  padding-bottom: rem.convert(layout.$gutter-size * 6);
  background-color: colors.get("grey");

  @include mq.mq($until: small) {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small, $until: medium) {
    padding-right: rem.convert(layout.$gutter-size * 4);
    padding-left: rem.convert(layout.$gutter-size * 4);
    border-radius: rem.convert(44px);
  }

  @include mq.mq($from: medium) {
    padding-right: rem.convert(layout.$gutter-size * 6);
    padding-left: rem.convert(layout.$gutter-size * 6);
    border-radius: rem.convert(60px);
  }


  /**
  ** Colors
  ****************************************/

  @each $color in $colors {

    &.c-further--#{$color},
    body.page-event-#{$color} &,
    body.page-article-#{$color} & {
      background-color: colors.get("pale-#{$color}");
    }
  }
}


  /**
  ** Title
  ****************************************/

  .c-further__title {}


  /**
  ** Items
  ****************************************/

  .c-further__items {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Item
    ****************************************/

    .c-further__item {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }


      /**
      ** Link
      ****************************************/

      .c-further__link {
        display: block;
        padding: rem.convert(layout.$gutter-size * 4 - 6px);
        @include fonts.medium-text;
        font-weight: fonts.$bold;
        background-color: colors.get("background");
        border: rem.convert(3px) solid colors.get("background");
        border-radius: rem.convert(32px);
        transition: background-color 0.2s ease, border-color 0.2s ease;

        &[target="_blank"]:after {
          content: '';
          display: inline-block;
          width: rem.convert(18px);
          height: rem.convert(18px);
          margin-left: rem.convert(layout.$gutter-size);
          background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M12.9995 11.7502c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l8.2-8.19997c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-8.2 8.19997c-.15.15-.34.22-.53.22Z\" fill=\"%color%\"/><path d=\"M21.9992 7.55c-.41 0-.75-.34-.75-.75V2.75h-4.05c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.8c.41 0 .75.34.75.75v4.8c0 .41-.34.75-.75.75ZM15 22.75H9c-5.43 0-7.75-2.32-7.75-7.75V9c0-5.43 2.32-7.75 7.75-7.75h2c.41 0 .75.34.75.75s-.34.75-.75.75H9C4.39 2.75 2.75 4.39 2.75 9v6c0 4.61 1.64 6.25 6.25 6.25h6c4.61 0 6.25-1.64 6.25-6.25v-2c0-.41.34-.75.75-.75s.75.34.75.75v2c0 5.43-2.32 7.75-7.75 7.75Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
          background-position: center;
          background-repeat: no-repeat;
          vertical-align: middle;
        }

        &:hover {
          text-decoration: underline;
          background-color: colors.get("grey-400");
          border-color: colors.get("black");
        }
      }


/**
** Type: LARGE
****************************************/

.c-further--large {

  @include mq.mq($from: medium) {

    .c-further__title {
      text-align: center;
    }

    .c-further__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

      .c-further__item {
        flex: 0 0 50%;
        width: 50%;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
  }

  @include mq.mq($from: medium, $until: large) {

    .c-further__items {
      margin-top: rem.convert(- layout.$gutter-size * 1.5);
      margin-right: rem.convert(- layout.$gutter-size * 1.5);
      margin-bottom: rem.convert(- layout.$gutter-size * 1.5);
      margin-left: rem.convert(- layout.$gutter-size * 1.5);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3.5);
      }
    }

      .c-further__item {
        padding: rem.convert(layout.$gutter-size * 1.5);
      }
  }

  @include mq.mq($from: large) {

    .c-further__items {
      margin-top: rem.convert(- layout.$gutter-size * 2.5);
      margin-right: rem.convert(- layout.$gutter-size * 2.5);
      margin-bottom: rem.convert(- layout.$gutter-size * 2.5);
      margin-left: rem.convert(- layout.$gutter-size * 2.5);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2.5);
      }
    }

      .c-further__item {
        padding: rem.convert(layout.$gutter-size * 2.5);
      }
  }
}
