/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Handy
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-handy {
  max-width: rem.convert(800px);
  margin-right: auto;
  margin-left: auto;

  > *:not(:first-child) {
    margin-top: rem.convert(layout.$gutter-size * 3);
  }
}


/**
** Type: Grey
****************************************/

.c-handy--grey {
  padding-top: rem.convert(layout.$gutter-size * 6);
  padding-bottom: rem.convert(layout.$gutter-size * 6);
  background-color: colors.get("grey");

  @include mq.mq($until: small) {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small) {
    border-radius: rem.convert(60px);
  }

  @include mq.mq($from: small, $until: medium) {
    padding-right: rem.convert(layout.$gutter-size * 4.5);
    padding-left: rem.convert(layout.$gutter-size * 4.5);
  }

  @include mq.mq($from: medium) {
    padding-right: rem.convert(layout.$gutter-size * 6);
    padding-left: rem.convert(layout.$gutter-size * 6);
  }
}


/**
** Type: White
****************************************/

.c-handy--white {}


  /**
  ** Title
  ****************************************/

  .c-handy__title {}


  /**
  ** Illustration
  ****************************************/

  .c-handy__illustration {}


    /**
    ** Picture
    ****************************************/

    .c-handy__picture {

      &:not(.c-handy__picture--logo) {
        width: 100%;
        height: auto;

        .c-handy--grey & {
          border-radius: rem.convert(36px);
        }
      }
    }


    /**
    ** Caption
    ****************************************/

    .c-handy__caption {
      margin-top: rem.convert(layout.$gutter-size * 2);
      @include fonts.small-text;
    }


  /**
  ** List
  ****************************************/

  .c-handy__list {
    border-top: rem.convert(1px) solid colors.get("grey-700");

    @include mq.mq($from: medium) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }


    /**
    ** Label, Description
    ****************************************/

    .c-handy__label,
    .c-handy__description {

      @include mq.mq($from: medium) {
        flex: 0 0 50%;
        width: 50%;
        padding-top: rem.convert(layout.$gutter-size * 2);
        padding-bottom: rem.convert(layout.$gutter-size * 2);
        border-bottom: rem.convert(1px) solid colors.get("grey-700");
      }
    }

    .c-handy__label {
      font-weight: fonts.$bold;

      @include mq.mq($until: medium) {
        padding-top: rem.convert(layout.$gutter-size * 2);
      }
    }

    .c-handy__description {

      @include mq.mq($until: medium) {
        padding-bottom: rem.convert(layout.$gutter-size * 2);
        border-bottom: rem.convert(1px) solid colors.get("grey-700");
      }

      @include mq.mq($from: medium) {
        padding-left: rem.convert(layout.$gutter-size * 2);
        text-align: right;
      }
    }


  /**
  ** Content
  ****************************************/

  .c-handy__content {

  }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-handy {
    break-inside: avoid;
    background-color: #fff;
    color: #000;

    &.c-handy--grey {
      border: rem.convert(2px) solid;
    }
  }
}
