/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Headline
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-em/em";
@use "sass-rem/rem";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-headline {
  line-height: 1.5;
  letter-spacing: 0.03em;

  @include mq.mq($until: medium) {
    font-size: rem.convert(17px);
  }

  @include mq.mq($from: medium, $until: large) {
    font-size: rem.convert(19px);
  }

  @include mq.mq($from: large) {
    font-size: rem.convert(20px);
  }
}
