/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Icon
 * Type: Component
**/

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-icon {
  --icon-size: 1em;
  --icon-color: inherit;
  --icon-fill: currentcolor;

  display: inline-block;
  line-height: 0.8em;

  svg {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: -0.2em; // https://fvsch.com/svg-icons#section-styling
    color: var(--icon-color);
    fill: var(--icon-fill);
  }
}

/*******************************************************************************
 * Print
*******************************************************************************/

 @media print {
  .c-icon {
    break-inside: avoid;
  }
}
