/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Meeting
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

// @use "../tools/appearance";
// @use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-meeting {
  position: relative;

  .l-grid__item & {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: rem.convert(3px) solid rgba(map.get(colors.$functionals, "foreground"), 0.001);
    border-radius: rem.convert(24px);
    pointer-events: none;
    z-index: 1;
    transition: border-color 0.2s ease;
  }

  &:hover {

    &:before {
      border-color: rgba(map.get(colors.$functionals, "foreground"), 0.999);
    }
  }
}


  /**
  ** Heading
  ****************************************/

  .c-meeting__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: rem.convert(layout.$gutter-size * 1.5 layout.$gutter-size * 3);
    color: colors.get("background");
    background-color: colors.get("foreground");
    border-top-left-radius: rem.convert(24px);
    border-top-right-radius: rem.convert(24px);
  }


    /**
    ** Icon
    ****************************************/

    .c-meeting__icon {
      flex: 0 0 auto;
    }


    /**
    ** Title
    ****************************************/

    .c-meeting__title {
      flex: 1 1 auto;
      margin-left: rem.convert(layout.$gutter-size * 2);
      font-size: rem.convert(17px);
      line-height: 1.5;
      font-weight: fonts.$bold;
    }


      /**
      ** Link
      ****************************************/

      .c-meeting__link {
        text-decoration: none;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: rem.convert(24px);
          z-index: 1;
        }
      }


  /**
  ** Content
  ****************************************/

  .c-meeting__content {
    padding-top: rem.convert(layout.$gutter-size * 2);
    padding-right: rem.convert(layout.$gutter-size * 2);
    padding-bottom: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 2);
    background-color: colors.get("background");
    border-bottom-right-radius: rem.convert(24px);
    border-bottom-left-radius: rem.convert(24px);

    .l-grid__item & {
      flex: 1 0 auto;
    }
  }


    /**
    ** Description
    ****************************************/

    .c-meeting__description {
      @include fonts.small-text;
    }


    /**
    ** Button
    ****************************************/

    .c-meeting__button {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 0.5);
      }
    }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-meeting {
    break-inside: avoid;
  }

    .c-meeting__heading {
      border-bottom: rem.convert(1px) solid;
    }
}
