/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Menu
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:math";
@use "sass-em/em";
@use "sass-rem/rem";
@use "@lunaweb/vega-reactor-scss/src/tools/animation";
@use "../settings/colors" as colors;

/*******************************************************************************
 * Variables
*******************************************************************************/

$menu-font-size: 14px;
$menu-foreground: #{ colors.get("foreground") };
$menu-background: #{ colors.get("background") };
$menu-shadow: #000;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: rem.convert($menu-font-size);
  color: $menu-foreground;
  background-color: $menu-background;
}

  .c-menu__body {
    flex: 1 1 auto;
    overflow-y: auto;

    background:
      /* Shadow Cover TOP */
      linear-gradient(
        $menu-background 30%,
        rgba($menu-shadow, 0)
      ) center top,
      /* Shadow Cover BOTTOM */
      linear-gradient(
        rgba($menu-shadow, 0),
        $menu-background 70%
      ) center bottom,
      /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        rgba($menu-shadow, 0.1),
        rgba($menu-shadow, 0)
      ) center top,
      /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba($menu-shadow, 0.1),
        rgba($menu-shadow, 0)
      ) center bottom;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% rem.convert(20px), 100% rem.convert(20px), 100% rem.convert(8px), 100% rem.convert(8px);
  }

    .c-menu__header {
      display: flex;
      align-items: center;
      gap: em.convert(8px, $menu-font-size);
      padding: em.convert(16px, $menu-font-size);
      padding-bottom: 0;

      > * {
        margin: 0;
      }
    }

      .c-menu__title {
        flex: 1 1 auto;
        font-size: em.convert(16px, $menu-font-size);
        font-weight: 700;
      }

    /**
     * [1] Reset fieldset styles, read : https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
     */

    .c-menu__items {
      min-width: 0; /* [1] */
      padding: em.convert(8px, $menu-font-size); /* [1] */
      margin: 0; /* [1] */
      list-style: none;
      border: 0; /* [1] */

      body:not(:-moz-handler-blocked) & {
        display: table-cell; /* [1] */
      }
    }

      .c-menu__item {}

        .c-menu__control {
          display: flex;
          align-items: center;
          gap: em.convert(8px, $menu-font-size);
          padding: em.convert(9px, $menu-font-size) em.convert(12px, $menu-font-size);
          text-decoration: none;
          color: inherit;
          border-radius: em.convert(4px, $menu-font-size);
        }

          .c-menu__icon {
            font-size: em.convert(18px, $menu-font-size);
          }

          .c-menu__label {
            flex: 1 1 auto;
          }

  .c-menu__foot {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: em.convert(12px, $menu-font-size);
    padding: em.convert(12px, $menu-font-size);
    background-color: inherit;
  }


    .c-menu__action {
      padding: rem.convert(4px 12px);
      border-radius: rem.convert(16px);
    }
