/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Message
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

// @use "../tools/appearance";
@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: rem.convert(layout.$gutter-size * 2);
  background-color: colors.get("pale-blue-200");
  border-left: rem.convert(6px) solid colors.get("pale-blue-600");
  border-radius: rem.convert(4px);
}


/**
** Types
****************************************/

.c-message--error {
  background-color: colors.get("red-50");
  border-left: rem.convert(6px) solid colors.get("red-500");
}

.c-message--success {
  background-color: colors.get("green-50");
  border-left: rem.convert(6px) solid colors.get("green-500");
}


  /**
  ** Icon
  ****************************************/

  .c-message__icon {
    flex: 0 0 auto;
    margin-top: rem.convert(layout.$gutter-size * 0.25);
    margin-right: rem.convert(layout.$gutter-size);
    color: colors.get("pale-blue-800");

    .c-message--error & {
      color: colors.get("red-500");
    }

    .c-message--success & {
      color: colors.get("green-500");
    }
  }


  /**
  ** Text
  ****************************************/

  .c-message__text {
    @include fonts.small-text;

    ul {

      li {
        position: relative;
        padding-left: rem.convert(layout.$gutter-size * 3);

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: rem.convert(18px);
          height: rem.convert(18px);
          top: rem.convert(2px);
          left: 0;
          background-image: svg.icon("<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M10.82 14.11a.56.56 0 0 1-.4-.16.57.57 0 0 1 0-.8L14.58 9l-4.16-4.16a.57.57 0 0 1 0-.79.57.57 0 0 1 .8 0l4.55 4.55c.22.22.22.58 0 .8l-4.55 4.55a.56.56 0 0 1-.4.16Z\" fill=\"%color%\"/><path d=\"M15.25 9.56H2.62A.57.57 0 0 1 2.06 9c0-.3.26-.56.56-.56h12.63c.3 0 .56.25.56.56 0 .3-.26.56-.56.56Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    a {
      font-weight: fonts.$bold;

      &[target="_blank"] {
        display: inline-block;

        &:after {
          content: '';
          display: inline-block;
          width: rem.convert(15px);
          height: rem.convert(15px);
          margin-left: rem.convert(layout.$gutter-size * 0.5);
          background-image: svg.icon("<svg viewBox=\"0 0 15 15\"  xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M8.12 7.34a.46.46 0 0 1-.33-.13.47.47 0 0 1 0-.67l5.13-5.12a.47.47 0 0 1 .66 0c.18.18.18.48 0 .66L8.46 7.21c-.1.09-.22.13-.34.13Z\" fill=\"%color%\"/><path d=\"M13.75 4.72a.47.47 0 0 1-.47-.47V1.72h-2.53a.47.47 0 0 1-.47-.47c0-.26.21-.47.47-.47h3c.26 0 .47.21.47.47v3c0 .26-.21.47-.47.47ZM9.38 14.22H5.62c-3.39 0-4.84-1.45-4.84-4.85V5.63C.78 2.23 2.23.78 5.62.78h1.25c.26 0 .47.21.47.47s-.2.47-.46.47H5.63c-2.89 0-3.91 1.02-3.91 3.9v3.75c0 2.89 1.02 3.91 3.9 3.91h3.75c2.89 0 3.91-1.02 3.91-3.9V8.12c0-.25.21-.46.47-.46s.47.2.47.46v1.26c0 3.39-1.45 4.84-4.85 4.84Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
          background-position: center;
          background-repeat: no-repeat;
          vertical-align: middle;
        }
      }
    }
  }
