/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Quote
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-quote {
  max-width: rem.convert(400px);
  margin-right: auto;
  margin-left: auto;
  @include fonts.huge-text;
  text-align: center;
}


  /**
  ** Footer
  ****************************************/

  .c-quote__footer {
    margin-top: rem.convert(layout.$gutter-size * 3);
    @include fonts.small-text;

    cite {
      font-style: italic;
    }
  }
