/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Results
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

// @use "../tools/appearance";
// @use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-results {
  text-align: center;
}
