/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Summary
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "green", "red";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-summary {
  max-width: rem.convert(320px);
  margin-right: auto;
  margin-left: auto;
  padding-top: rem.convert(layout.$gutter-size * 3);
  padding-right: rem.convert(layout.$gutter-size * 3);
  padding-bottom: rem.convert(layout.$gutter-size * 2);
  padding-left: rem.convert(layout.$gutter-size * 3);
  background-color: colors.get("background");
  border-radius: rem.convert(28px);
  box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
}


  /**
  ** Title
  ****************************************/

  .c-summary__title {}


  /**
  ** Items
  ****************************************/

  .c-summary__items {
    margin-top: rem.convert(layout.$gutter-size);
    @include fonts.small-text;
  }


    /**
    ** Item
    ****************************************/

    .c-summary__item {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      &:before {
        content: '';
        flex: 0 0 auto;
        display: block;
        width: rem.convert(24px);
        height: rem.convert(24px);
        margin-right: rem.convert(layout.$gutter-size);
        background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M10.7397 16.2802c-.19 0-.38-.07-.53-.22-.29001-.29-.29001-.77 0-1.06l3-3-3-3.00004c-.29001-.29-.29001-.77 0-1.06.29-.29.77-.29 1.06 0l3.53 3.53004c.29.29.29.77 0 1.06l-3.53 3.53c-.15.15-.34.22-.53.22Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }


      /**
      ** Link
      ****************************************/

      .c-summary__link {
        padding-top: rem.convert(layout.$gutter-size);
        padding-bottom: rem.convert(layout.$gutter-size);
        text-decoration: none;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
        }

        &:hover {
          text-decoration: underline;
        }

        &[aria-current] {
          font-weight: fonts.$bold;
        }
      }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-summary {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
