/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Tag
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:math";
@use "sass-em/em";
@use "sass-rem/rem";
@use "@lunaweb/vega-reactor-scss/src/tools/animation";
@use "@lunaweb/vega-reactor-scss/src/tools/hide";
@use "@lunaweb/vega-reactor-scss/src/tools/unit";

/*******************************************************************************
 * Variables
*******************************************************************************/

$tag-font-size: 19px !default;
$tag-line-height: 29px !default;
$tag-padding-inline: 16px !default;
$tag-padding-block: 5px !default;
$tag-gap: 8px !default;
$tag-border-width: 0px !default;
$tag-radius: 20px !default;
$tag-icon-size: 18px !default;

$tag-has-primary: true !default;
$tag-has-disabled: false !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-tag {
  --tag-bg: #fff;
  --tag-color: #000;
  --tag-border-color: #8f95a0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: rem.convert($tag-padding-block - $tag-border-width - math.div($tag-gap, 2));
  padding-right: rem.convert($tag-padding-inline - $tag-border-width - math.div($tag-gap, 2));
  padding-bottom: rem.convert($tag-padding-block - $tag-border-width - math.div($tag-gap, 2));
  padding-left: rem.convert($tag-padding-inline - $tag-border-width - math.div($tag-gap, 2));
  font: inherit;
  font-size: var(--tag-font-size, #{ rem.convert($tag-font-size) });
  line-height: math.div($tag-line-height, $tag-font-size);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: var(--tag-color, currentcolor);
  background: var(--tag-bg, transparent);
  border: em.convert($tag-border-width, $tag-font-size) solid var(--tag-border-color, var(--tag-bg));
  border-radius: em.convert($tag-radius, $tag-font-size);
  box-shadow: rem.convert(0 5px 28px) rgba(#000, 0.08);
  @include animation.transition(background);
}

  .c-tag__icon,
  .c-tag__image {
    flex: 0 0 auto;
    margin:
      em.convert(math.div($tag-gap + $tag-line-height - $tag-icon-size, 2), $tag-icon-size)
      em.convert(math.div($tag-gap, 2), $tag-icon-size);
    font-size: em.convert($tag-icon-size, $tag-font-size);
  }

  .c-tag__icon {
    color: var(--tag-icon-color, var(--tag-color));
    @include animation.transition(color transform);
  }

  .c-tag__image {
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  .c-tag__label {
    margin: em.convert(math.div($tag-gap, 2), $tag-font-size);
  }

/*******************************************************************************
 * Interactive
*******************************************************************************/

a.c-tag,
button.c-tag {
  position: relative;
  box-shadow: none;
  border: rem.convert(1px) solid #000;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: rem.convert(3px) solid #000;
    border-radius: em.convert($tag-radius, $tag-font-size);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;
  }

  &:hover {
    --tag-bg: #fff;

    text-decoration: underline;

    &:before {
      opacity: 1;
    }
  }

  &:active {
    --tag-bg: #fff;

    transform: translateY(#{ rem.convert(1px) });
    transition-duration: 0s;

    .c-tag__icon {
      transition-duration: 0s;
    }
  }
}

/*******************************************************************************
 * Variants
*******************************************************************************/

/**
 * Primary
*******************************************************************************/

@if $tag-has-primary {
  .c-tag--primary {
    --tag-color: #fff;
    --tag-bg: #2e55ff;
    --tag-border-color: transparent;
  }

  a.c-tag--primary,
  button.c-tag--primary {
    &:hover {
      --tag-color: #fff;
      --tag-bg: #2544cc;
      --tag-border-color: transparent;
    }

    &:active {
      --tag-color: #fff;
      --tag-bg: #1c3399;
      --tag-border-color: transparent;
    }
  }
}

/*******************************************************************************
 * Disabled
*******************************************************************************/

@if $tag-has-disabled {
  .c-tag,
  button.c-tag,
  a.c-tag {
    &[disabled],
    &[aria-disabled],
    &.is-disabled {
      --tag-bg: #fff;
      --tag-color: #4d5562;
      --tag-border-color: #d2d5da;

      pointer-events: none;

      @if $tag-has-primary {
        &.c-tag--primary {
          --tag-bg: #d2d5da;
          --tag-color: #4d5562;
          --tag-border-color: #d2d5da;
        }
      }
    }
  }
}

/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-tag {
    break-inside: avoid;
    background-color: #fff !important;
    color: #000 !important;
  }

    .c-tag__icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
    }
}
