/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Timetable
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

@use "../tools/appearance";

@use "../../vega/tools/svg";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-timetable {
  padding-top: rem.convert(layout.$gutter-size * 6);
  padding-bottom: rem.convert(layout.$gutter-size * 6);
  background-color: colors.get("grey");

  @include mq.mq($until: small) {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small, $until: medium) {
    padding-right: rem.convert(layout.$gutter-size * 4);
    padding-left: rem.convert(layout.$gutter-size * 4);
    border-radius: rem.convert(44px);
  }

  @include mq.mq($from: medium) {
    padding-right: rem.convert(layout.$gutter-size * 6);
    padding-left: rem.convert(layout.$gutter-size * 6);
    border-radius: rem.convert(60px);
  }


  /**
  ** Colors
  ****************************************/

  @each $color in $colors {
    body.page-event-#{$color} &,
    body.page-article-#{$color} & {
      background-color: colors.get("pale-#{$color}");
    }
  }
}


  /**
  ** Title
  ****************************************/

  .c-timetable__title {}


  /**
  ** Title
  ****************************************/

  .c-timetable__description {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Details
  ****************************************/

  .c-timetable__details {

    summary::-webkit-details-marker {
      display: none;
    }

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Summary
    ****************************************/

    .c-timetable__summary {
      @include appearance.appearance;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding: rem.convert(layout.$gutter-size * 2);
      background-color: colors.get("background");
      border-top-left-radius: rem.convert(24px);
      border-top-right-radius: rem.convert(24px);
      cursor: pointer;
      transition: background-color 0.2s ease;

      .c-timetable__details:not([open]) & {
        border-bottom-left-radius: rem.convert(24px);
        border-bottom-right-radius: rem.convert(24px);

        &:hover {
          background-color: colors.get("grey-400");
        }
      }
    }


      /**
      ** Subtitle
      ****************************************/

      .c-timetable__subtitle {
        font-weight: fonts.$bold;
      }


      /**
      ** Action
      ****************************************/

      .c-timetable__action {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: rem.convert(layout.$gutter-size);
        @include fonts.small-text;
        pointer-events: none;
      }


        /**
        ** Label
        ****************************************/

        .c-timetable__label {
          font-weight: fonts.$bold;
          text-decoration: underline;
        }


        /**
        ** Icon
        ****************************************/

        .c-timetable__icon {
          flex: 0 0 auto;
          margin-left: rem.convert(layout.$gutter-size);

          .c-timetable__details[open] & {
            transform: rotate(180deg);
          }
        }


    /**
    ** Values
    ****************************************/

    .c-timetable__values {
      border-top: rem.convert(1px) solid colors.get("grey-700");
    }


      /**
      ** Value
      ****************************************/

      .c-timetable__value {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: rem.convert(layout.$gutter-size * 2);
        padding-right: rem.convert(layout.$gutter-size * 3);
        padding-bottom: rem.convert(layout.$gutter-size * 2);
        padding-left: rem.convert(layout.$gutter-size * 3);
        background-color: colors.get("background");
        transition: background-color 0.2s ease;

        &:hover {
          background-color: colors.get("grey-400");
        }

        &:not(:first-child) {
          border-top: rem.convert(1px) solid colors.get("grey-700");
        }

        &:last-child {
          border-bottom-left-radius: rem.convert(24px);
          border-bottom-right-radius: rem.convert(24px);
        }
      }


        /**
        ** Heading
        ****************************************/

        .c-timetable__heading {
          flex: 1 1 auto;
        }


          /**
          ** Name
          ****************************************/

          .c-timetable__name {
            font-weight: fonts.$bold;
          }


            /**
            ** Link
            ****************************************/

            .c-timetable__link {

              &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
              }
            }


          /**
          ** Text
          ****************************************/

          .c-timetable__text {
            @include fonts.small-text;
          }


        /**
        ** State
        ****************************************/

        .c-timetable__state {
          flex: 0 0 auto;
          margin-left: rem.convert(layout.$gutter-size);
        }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .c-timetable {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
