/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Title
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/fonts" as fonts;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-title {
  @include fonts.title;
}

/*******************************************************************************
 * Large
*******************************************************************************/

.c-title--large {
  @include fonts.large-title;
}

/*******************************************************************************
 * Small
*******************************************************************************/

.c-title--small {
  @include fonts.small-title;
}

/*******************************************************************************
 * Xsmall
*******************************************************************************/

.c-title--xsmall {
  @include fonts.xsmall-title;
}

/*******************************************************************************
 * Tiny
*******************************************************************************/

.c-title--tiny {
  @include fonts.tiny-title;
}
