/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Util
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;

/*******************************************************************************
 * Variables
*******************************************************************************/

// $card-font-size: 16px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-util {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  padding-top: rem.convert(layout.$gutter-size * 2);
  padding-bottom: rem.convert(layout.$gutter-size * 2);
  background-color: colors.get("white");
  border: rem.convert(3px) solid colors.get("white");
  border-radius: rem.convert(layout.$gutter-size * 6);
  box-shadow: rem.convert(0 5px 34px) rgba(#000, 0.08);
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    border-color: colors.get("black");
  }

  &:active {
    background-color: colors.get("grey-200");
    transform: translateY(#{rem.convert(1px)});
  }

  @include mq.mq($until: footer-large) {
    padding-right: rem.convert(layout.$gutter-size * 2 - 3px);
    padding-left: rem.convert(layout.$gutter-size * 2 - 3px);
  }

  @include mq.mq($from: footer-large) {
    padding-right: rem.convert(layout.$gutter-size * 3 - 3px);
    padding-left: rem.convert(layout.$gutter-size * 3 - 3px);
  }
}


  /**
  ** Aside
  ****************************************/

  .c-util__aside {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: rem.convert(30px);
    background-color: colors.get("primary");

    .c-util--green & {
      background-color: colors.get("pale-green");
    }

    .c-util--red & {
      background-color: colors.get("pale-red");
    }

    .c-util--yellow & {
      background-color: colors.get("pale-yellow");
    }

    @include mq.mq($until: footer-large) {
      width: rem.convert(64px);
      height: rem.convert(64px);
      margin-right: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: footer-large) {
      width: rem.convert(86px);
      height: rem.convert(86px);
      margin-right: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Icon
    ****************************************/

    .c-util__icon {
      display: block;

      @include mq.mq($until: footer-large) {
        width: rem.convert(32px);
        height: rem.convert(32px);
      }
    }


  /**
  ** Main
  ****************************************/

  .c-util__main {}


    /**
    ** Text
    ****************************************/

    .c-util__text {
      color: colors.get("grey-900");
    }


    /**
    ** Link
    ****************************************/

    .c-util__link {
      @include fonts.medium-text;
      font-weight: fonts.$bold;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: rem.convert(layout.$gutter-size * 6);
        z-index: 1;
      }
    }
