{% import '@LunaCore/Admin/Macro/buttons.html.twig' as buttons %}

{% set clearable = (constant('App\\Entity\\Event\\Event::STATUS_COMPLETED') == data.status) %}

{% if clearable %}

    {% set data_cleared = (constant('App\\Entity\\Event\\Event::STATUS_ENDED') == data.status or constant('App\\Entity\\Event\\Event::STATUS_DELETED') == data.status) %}

    {% if data_cleared %}

        {{ buttons.default('#', 'app.ui.grid.action.clear_event.cleared', null, 'trash', 'disabled') }}

    {% else %}

        {% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('clear')), options.link.parameters|default({'id': data.id}))) %}

        {% set message = 'app.ui.grid.action.clear_event.label' %}

        <form action="{{ path }}" method="post">
            <button class="ui red labeled icon button" type="submit" data-requires-confirmation {{ sylius_test_html_attribute('delete-button') }}>
                <i class="icon trash"></i> {{ message|trans }}
            </button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(data.id) }}" />
        </form>
    {% endif %}

{% endif %}
