{% import '@LunaCore/Admin/Macro/buttons.html.twig' as buttons %}

{% set data_cleared = (constant('App\\Entity\\Event\\Event::STATUS_ENDED') == data.status or constant('App\\Entity\\Event\\Event::STATUS_DELETED') == data.status) %}

{% if not data_cleared %}

    {{ include("@LunaCore/Admin/Grid/Action/show.html.twig") }}

{% endif %}