{% form_theme form '@LunaCore/Admin/Form/theme.html.twig' %}

{% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': index_url}} %}

<div class="ui hidden divider"></div>

{% set menu = knp_menu_get('app.admin.tool_form', [], { 'tool': tool }) %}

{{ knp_menu_render(menu, {'template': 'app/Admin/Tool/_menu.html.twig', 'form': form, 'tool': tool}) }}
