{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% form_theme form '@LunaCore/Admin/Form/theme.html.twig' %}

{# Configuration de l'affichage formulaire #}

{% set is_main_menu = ("main_menu" == menu_item.menu.code) %}
{% set is_socials_menu = ("socials_menu" == menu_item.menu.code) %}
{% set is_secondary_menu = ("secondary_menu" == menu_item.menu.code) %}
{% set is_footer_menu = ("footer_menu" == menu_item.menu.code) %}
{% set is_annex_menu = ("annex_menu" == menu_item.menu.code) %}
{% set is_practical_menu = ("practical_menu" == menu_item.menu.code) %}

{% set is_level_1 = menu_item.parent is empty %}
{% set is_level_2 = menu_item.parent is not empty and menu_item.parent.parent is empty %}
{% set is_level_3 = menu_item.parent is not empty and menu_item.parent.parent is not empty and menu_item.parent.parent.parent is empty %}
{% set level = is_level_1 ? 1 : (is_level_2 ? 2 : (is_level_3 ? 3 : '')) %}

{% set notice_header = (is_main_menu and level is not empty) ? 'Vous modifiez un élément de niveau ' ~ level ~ ' du menu principal': '' %}
{% set notice_message = '' %}

{% set display_icon = is_secondary_menu or is_socials_menu or is_practical_menu %}
{% set display_description = (is_main_menu and is_level_3) or is_annex_menu or is_practical_menu %}
{% set display_url = (not is_main_menu) or (is_main_menu and (is_level_1 or is_level_2 or is_level_3)) %}  {# Il est nécessaire d'avoir un lien pour le niveau 1 pour pouvoir mettre en avant les éléments actifs dans le menu #}
{% set display_link_configuration = (not is_main_menu and not is_footer_menu) or (is_main_menu and is_level_3) or (is_footer_menu and is_level_2) %}
{% set display_hide_label = false %}

{% if is_main_menu %}
    {% if event_prefix ends with '.create' %}
        {% set notice_header = 'Vous êtes en train de créer un nouvel élément de niveau ' ~ level ~ ' dans le menu principal' %}
        {% set notice_message = 'Du fait de la structure particulière du menu principal, il est possible que vous
            deviez <strong>enregistrer l\'élément en cours</strong> pour avoir accès à tous les champs que vous devez renseigner.' %}
    {% elseif is_main_menu and is_level_1 %}
        {% set notice_message = '<strong>Renseigner l\'URL est nécessaire</strong> pour que la position de l\'internaute soit correctement affichée dans le menu.' %}
    {% elseif is_level_2 %}
        {% if menu_item.position in [1, 2] %}
            {% set notice_message = 'Cet élément est un <strong>titre de colonne</strong>.' %}
            {% set display_hide_label = true %}
            {% set display_url = true %} {# Il est nécessaire d'avoir un lien pour pouvoir mettre en avant les éléments actifs dans le menu #}
            {% if is_main_menu %}
                {% set notice_message = notice_message ~ '<br /><strong>Renseigner l\'URL est nécessaire</strong> pour que la position de l\'internaute soit correctement affichée dans le menu.' %}
            {% endif %}
        {% elseif menu_item.position == 3 %}
            {% set notice_message = 'Cet élément est une <strong>mise en avant</strong>.' %}
            {% set display_url = true %}
            {% set display_link_configuration = true %}
        {% else %}
            {% set notice_message = '<strong>Cet élément ne sera pas affiché, seuls les 3 premiers éléments de niveau 2 le sont.</strong>' %}
        {% endif %}
    {% endif %}
{% endif %}

{% if is_footer_menu %}
    {% if event_prefix ends with '.create' %}
        {% set notice_header = 'Vous êtes en train de créer un nouvel élément de niveau ' ~ level ~ ' dans le menu du pied de page' %}
        {% set notice_message = 'Du fait de la structure particulière en 3 colonnes du menu principal, il est possible que vous
            deviez <strong>enregistrer l\'élément en cours</strong> pour avoir accès à tous les champs que vous devez renseigner.' %}
    {% elseif is_level_1 %}
        {% set notice_message = 'Cet élément est un <strong>titre de colonne</strong>.' %}
        {% set display_url = false %}
    {% elseif is_level_2 %}
        {% set notice_message = 'Cet élément est un <strong>lien</strong>.' %}
        {% set display_url = true %}
    {% endif %}

{% endif %}

{# Formulaire #}

{{ form_errors(form) }}

<div class="ui content">

    {% if notice_header is not empty %}
        <h3 class="ui top attached header blue">
            <i class="ui icon info circle"></i>
            {{ notice_header|html_safe }}
        </h3>
    {% endif %}

    {% if notice_message is not empty %}
        <div class="ui attached segment">
            {{ notice_message|html_safe }}
        </div>
    {% endif %}

    <div class="ui hidden divider"></div>

    <div class="ui segment field">
        {{ form_row(form.parent) }}

        <div class="ui hidden divider"></div>

        <label>Élément</label>

        <div class="ui styled fluid segment">

            {% if display_icon %}
                {{ form_row(form.icon) }}
            {% endif %}

            {% for locale, translationForm in form.translations %}
                <div data-locale="{{ locale }}">
                    <div class="ui content {% if loop.first %} active{% endif %}">

                        {{ form_row(translationForm.label) }}

                        {% if display_hide_label %}
                            {{ form_row(form.hideLabel) }}
                        {% endif %}

                        {% if display_url %}
                            {{ form_row(translationForm.url) }}
                        {% endif %}

                        {% if display_description %}
                            {{ form_row(translationForm.description) }}
                        {% endif %}

                        {{ form_row(translationForm.language) }}
                    </div>
                </div>
            {% endfor %}

        </div>

        {% if display_link_configuration %}

            <div class="ui hidden divider"></div>

            <div class="ui fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Caractéristiques du lien
                </div>

                <div class="content">
                    <div class="ui segment">
                        <div>
                            {{ form_row(form.targetBlank) }}
                        </div>
                        <div class="ui hidden divider"></div>
                        <div>
                            {{ form_row(form.noreferrer) }}
                        </div>
                        <div class="ui hidden divider"></div>
                        <div>
                            {{ form_row(form.noopener) }}
                        </div>
                        <div class="ui hidden divider"></div>
                        <div>
                            {{ form_row(form.nofollow) }}
                        </div>
                    </div>
                </div>

            </div>

        {% endif %}

    </div>

</div>