{# *****************************************************************************
** Type: COMPONENT
** Name: Alert
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if text|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if color|default %}
        {% set classes = classes ~ " c-alert--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-alert{{ classes }} js-alert" role="status" id="alert{{ id|default(null) ?  "-#{id}" : '' }}">



        {# ***********************************************
        ** TEXT
        ************************************************** #}

        <div class="c-alert__text s-richtext">
            {{ text|html_safe }}
        </div>



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        <button class="c-alert__button js-alert-button" type="button" aria-label="Fermer le message">
            <span>Fermer</span>
            {% include ui('icon') with {
                icon: "cross",
                attributes: { class: "c-alert__icon", width: '20', height: '20', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
        </button>



    </div>



{% endif %}
