{# *****************************************************************************
** Type: COMPONENT
** Name: Audience
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="v-audience{{ classes }}">



    {# ***********************************************
    ** INTENDING
    ************************************************** #}

    {% if intending|default and intending.text|default %}
        <div class="v-audience__intending">
            <p class="v-audience__title c-title c-title--tiny">Destiné à :</p>
            <p class="v-audience__tag{% if intending.color|default %} v-audience__tag--{{ intending.color }}{% endif %}">
                {% include ui('icon') with {
                    icon: intending.icon|default("check-icon"),
                    attributes: { class: "v-audience__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
                } only %}
                <span>{{ intending.text }}</span>
            </p>
        </div>
    {% endif %}



    {# ***********************************************
    ** ACCEPTANCE
    ************************************************** #}

    {% if acceptance|default %}
        <p class="v-audience__acceptance">
            {% include ui('icon') with {
                icon: "user-check",
                attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
            <span>{{ acceptance }}</span>
        </p>
    {% endif %}



    {# ***********************************************
    ** ACCESSIBILITY
    ************************************************** #}

    {% if accessibility|default %}
        <div class="v-audience__accessibility">

            {% if accessibility.motor|default or
                  accessibility.psychic|default or
                  accessibility.intellectual|default or
                  accessibility.hearing|default or
                  accessibility.visual|default or
                  alt|default %}
                <p class="v-audience__title c-title c-title--tiny">Accessibilité</p>

                {% if accessibility.motor|default or
                  accessibility.psychic|default or
                  accessibility.intellectual|default or
                  accessibility.hearing|default or
                  accessibility.visual|default %}
                    <ul class="v-audience__items">

                        {% if accessibility.motor|default %}
                            <li class="v-audience__item">
                                {% include ui('icon') with {
                                    icon: "disability-physical",
                                    attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <span>Handicap moteur</span>
                            </li>
                        {% endif %}

                        {% if accessibility.psychic|default %}
                            <li class="v-audience__item">
                                {% include ui('icon') with {
                                    icon: "disability-mental",
                                    attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <span>Handicap psychique</span>
                            </li>
                        {% endif %}

                        {% if accessibility.intellectual|default %}
                            <li class="v-audience__item">
                                {% include ui('icon') with {
                                    icon: "disability-mental",
                                    attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <span>Handicap intellectuel</span>
                            </li>
                        {% endif %}

                        {% if accessibility.hearing|default %}
                            <li class="v-audience__item">
                                {% include ui('icon') with {
                                    icon: "disability-hearing",
                                    attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <span>Handicap auditif</span>
                            </li>
                        {% endif %}

                        {% if accessibility.visual|default %}
                            <li class="v-audience__item">
                                {% include ui('icon') with {
                                    icon: "disability-visual",
                                    attributes: { class: "v-audience__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <span>Handicap visuel</span>
                            </li>
                        {% endif %}

                    </ul>
                {% endif %}
            {% endif %}

            {% if alt|default %}
                <p class="v-audience__description">Si vous accompagnez des jeunes à besoins spécifiques, nous vous invitons à le <strong>préciser lors de la réservation</strong></p>
            {% else %}
                {% include ui('button') with {
                    mode: "link",
                    label: "S'informer sur l'accessibilité",
                    icon: "arrow-right",
                    attributes: {
                        href:  path('luna_page_show', { slug: under_pages_slug_by_code('accessibility') }),
                        class: "v-audience__button"
                    }
                } only %}
            {% endif %}

        </div>
    {% endif %}



</div>
