{# *****************************************************************************
** Type: COMPONENT
** Name: Banner
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
large: boolean,
title: String,
description: String,
picture: Object
#}



{% if title|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}
    {% set format = "banner_default" %}

    {% if type|default %}
        {% set classes = classes ~ " v-banner--#{type}" %}
        {% if type == "large" %}
            {% set format = "banner_large" %}
        {% elseif type == "event" %}
            {% set format = "banner_event" %}
        {% elseif type == "post" %}
            {% set format = "banner_post" %}
        {% elseif type == "series" %}
            {% set format = "banner_series" %}
        {% endif %}
    {% elseif description|default %}
        {% set classes = classes ~ " v-banner--classic" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " v-banner--#{color}" %}
    {% endif %}

    {% if notched|default %}
        {% set classes = classes ~ " v-banner--notched" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-banner{{ classes }}">
        <div class="l-container {% if type|default == "series" %}l-container--large{% else %}l-container--xlarge{% endif %}">


            {# ***********************************************
            ** BACKGROUND
            ************************************************** #}

            <div class="v-banner__background">
                <svg class="v-banner__shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1728 1619" width="1728"
                     height="1619" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M1209 .000047V250c0 126.198-32 231.723-103.78 305.623C1033.19 629.781 928.989 664 801.886 664h-440.5c-71.519 0-109.207 24.766-130.34 51.575-22.834 28.968-31.66 67.256-31.66 99.925V1619H98.3857V815.5c0-47.83 12.4243-110.542 53.3403-162.449C194.343 598.985 262.904 563 361.386 563h440.5c109.697 0 183.806-29.281 230.884-77.748C1080.1 436.527 1108 360.302 1108 250V.000047c33.67-.000063 67.33-.000063 101 0Z"
                          fill="url(#banner-shape-a)"/>
                    <path
                        d="m605.5-.000092 101-.00003V324.613c.414 27.05.549 51.202.672 73.204V397.838c.336 60.058.582 104.094 6.165 147.335 7.214 55.872 23.598 109.907 65.062 190.403 60.838 118.107 173.818 205.701 358.821 246.767 1.23-4.382 2.49-8.69 3.78-12.921 29.85-97.755 72.78-194.766 143.55-269.615 72.16-76.32 170.41-126.55 303.72-134.544 47.92-2.873 95.22-2.113 139.73 3.091v101.821c-39.13-5.489-84.11-7.065-133.68-4.093-108.53 6.507-182.43 46.049-236.38 103.114-55.34 58.537-92.49 138.527-120.35 229.728l-.06.205c17.59 2.081 35.7 3.821 54.36 5.201l37.61 2.81c131.72 9.93 244.91 18.46 338.12 4.51 21.62-3.23 41.73-7.61 60.38-13.378v104.558c-14.82 3.52-29.98 6.4-45.43 8.71-105.17 15.74-230.19 6.24-358.35-3.49l-.02-.01c-13.23-1-26.49-2.01-39.76-2.99-23.58-1.74-46.52-4.04-68.83-6.87-12.16 74.88-18.89 161.26-22.4 239.53-2.58 57.45-3.39 109.13-3.55 146.45-.07 18.64.01 33.67.11 43.99.22 21.97.22 90.85.22 90.85h-100.97s-.03-68.22-.25-89.85c-.1-10.75-.19-26.25-.1-45.42.16-38.31.98-91.41 3.64-150.55 3.51-78.32 10.33-169.84 23.78-252.15-207.35-45.96-349.319-147.471-427.479-299.203-45.536-88.4-66.404-153.715-75.443-223.721-6.442-49.896-6.726-102.608-7.064-165.281l-.604-67.437V-.000092Z"
                        fill="url(#banner-shape-b)"/>
                    <defs>
                        <linearGradient id="banner-shape-a" x1="1236.5" y1="376" x2="138.501" y2="1366.5"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fff" stop-opacity=".5"/>
                            <stop offset="1" stop-color="#fff" stop-opacity=".2"/>
                        </linearGradient>
                        <linearGradient id="banner-shape-b" x1="1336.5" y1="1231.5" x2="891.559" y2="584.277"
                                        gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fff" stop-opacity=".5"/>
                            <stop offset="1" stop-color="#fff" stop-opacity="0"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>


            {# ***********************************************
            ** CONTAINER
            ************************************************** #}

            <div class="v-banner__container">


                {# ***********************************************
                ** MAIN
                ************************************************** #}

                <div class="v-banner__main">


                    {# ***********************************************
                    ** BREADCRUMB
                    ************************************************** #}

                    {% if breadcrumb|default and breadcrumb|length > 0 %}
                        {% include ui('breadcrumb') with { items: breadcrumb } only %}
                    {% endif %}



                    {# ***********************************************
                    ** TITLE
                    ************************************************** #}

                    <h1 class="v-banner__title c-title c-title--large"{% if cc_title|default %} xmlns:dct="http://purl.org/dc/terms/" property="dct:title"{% endif %}>{{ title|html_safe }}</h1>


                    {# ***********************************************
                    ** DESCRIPTION
                    ************************************************** #}

                    {% if type|default in ["large", "centered", "series"] and description|default %}
                        <div class="v-banner__description{% if type|default == "series" %} c-title c-title--tiny{% endif %}">{{ description|html_safe }}</div>
                    {% endif %}



                    {# ***********************************************
                    ** INFOS
                    ************************************************** #}

                    {% if type|default == "series" %}
                        <div class="v-banner__infos">

                            <p class="v-banner__tag">
                                {% include ui('tag') with {
                                    label: "Série",
                                    iconStart: "series"
                                } only %}
                            </p>

                            {% if publication_date|default %}
                                <p class="v-banner__publication">
                                    Publiée le :
                                    <strong>{{ publication_date }}</strong>
                                </p>
                            {% endif %}

                        </div>
                    {% endif %}



                    {# ***********************************************
                    ** MENTIONS
                    ************************************************** #}

                    {% if mentions|default and mentions|length > 0 %}
                        <div class="v-banner__mentions">
                            {% for mention in mentions %}
                                <p class="v-banner__mention">

                                    {% if mention.icon|default %}
                                        {% include ui('icon') with {
                                            icon: mention.icon,
                                            attributes: { class: "v-banner__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                        } only %}
                                    {% endif %}

                                    {% if mention.label|default %}
                                        <span class="v-banner__label">{{ mention.label }}&nbsp;:</span>
                                    {% endif %}

                                    {% if mention.value|default %}
                                        <span class="v-banner__value"{% if mention.cc_author|default %} xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName"{% endif %}>{{ mention.value|html_safe }}</span>
                                    {% endif %}

                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}



                    {# ***********************************************
                    ** SPECS
                    ************************************************** #}

                    {% if specs|default and specs|length > 0 %}
                        <div class="v-banner__specs">
                            {% for spec in specs %}
                                {% if spec.text|default %}
                                    <p class="v-banner__spec">

                                        {% if spec.icon|default %}
                                            {% set a11y_attributes = spec.label|default(null) ? {
                                                'aria-label': spec.label,
                                                role: "img",
                                            } : {
                                                'aria-hidden': 'true',
                                                focusable: 'false',
                                            } %}
                                            {% include ui('icon') with {
                                                icon: spec.icon,
                                                attributes: deep_merge(a11y_attributes, { class: "v-banner__icon", width: '24', height: '24' })
                                            } only %}
                                        {% endif %}

                                        <span
                                            class="v-banner__text{% if spec.stroke|default %} v-banner__text--stroke{% endif %}">{{ spec.text }}
                                            {% if spec.link|default %}
                                                <a href="#{{ 'app.ui.resource.event.all_occurrences.title'|trans|slug('-', 'fr')|lower }}"> {{ 'app.ui.resource.event.all_occurrences.title'|trans }}</a>
                                            {% endif %}
                                        </span>

                                        {% if spec.suffix|default %}
                                            <span class="v-banner__suffix"> - {{ spec.suffix }}</span>
                                        {% endif %}

                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if type|default == "post" and not (picture|default and picture.image|default) and tag|default %}
                        <div class="v-banner__tag">
                            {% include ui('tag') with {
                                iconStart: tag.icon|default ? tag.icon : false,
                                label: (tag.label|default ? tag.label : tag),
                                attributes: tag.href|default ? {
                                    href: tag.href
                                } : false
                            } only %}
                        </div>
                    {% endif %}


                </div>


                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                {% if (description|default or (picture|default and picture.image|default) or type|default == "event") and not (type|default == "centered") %}
                    <div class="v-banner__aside">


                        {# ***********************************************
                        ** DESCRIPTION
                        ************************************************** #}

                        {% if description|default and not (type|default in ["large", "series"]) %}
                            <div class="v-banner__description">{{ description|html_safe }}</div>



                        {# ***********************************************
                        ** PICTURE
                        ************************************************** #}

                        {% elseif (picture|default and picture.image|default) or type|default == "event" %}

                            {% if tag|default and (type|default in ["event", "post"]) %}
                                <p class="v-banner__tag">
                                    {% include ui('tag') with {
                                        iconStart: tag.icon|default ? tag.icon : false,
                                        label: (tag.label|default ? tag.label : tag),
                                        attributes: tag.href|default ? {
                                            href: tag.href
                                        } : false
                                    } only %}
                                </p>
                            {% endif %}

                            {% if picture.image|default %}
                                {% if picture.caption|default %}
                                    <figure class="v-banner__figure" role="group" aria-label="{{ [picture.caption, picture.alt|default('')]|join(' ')|trim }}">
                                {% endif %}

                                <img {{ html_attributes(image_attributes(picture.image, format, { class: "v-banner__picture", alt: picture.alt|default(''), title: picture.title|default(null) })) }}>

                                {% if picture.caption|default %}
                                    <figcaption class="v-banner__caption">{{ picture.caption }}{% if picture.alt|default %} <span class="u-visually-hidden">{{ picture.alt }}</span>{% endif %}</figcaption>
                                    </figure>
                                {% endif %}
                            {% elseif type == "event" %}
                                <div class="v-banner__placeholder">
                                    {% include ui('icon') with {
                                        icon: "watermark",
                                        attributes: { class: 'v-banner__watermark', width: '142', height: '220', 'aria-hidden': 'true', focusable: 'false' }
                                    } only %}
                                </div>
                            {% endif %}

                        {% endif %}



                        {# ***********************************************
                        ** SPECS
                        ************************************************** #}

                        {% if type|default == "event" and specs|default and specs|length > 0 %}
                            <div class="v-banner__specs">
                                {% for spec in specs %}
                                    {% if spec.text|default %}
                                        <p class="v-banner__spec">

                                            {% if spec.icon|default %}
                                                {% include ui('icon') with {
                                                    icon: spec.icon,
                                                    attributes: { class: "v-banner__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                                } only %}
                                            {% endif %}

                                            <span
                                                class="v-banner__text{% if spec.stroke|default %} v-banner__text--stroke{% endif %}">{{ spec.text }}</span>

                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}



                        {# ***********************************************
                        ** MENTIONS
                        ************************************************** #}

                        {% if type|default == "event" and mentions|default and mentions|length > 0 %}
                            <div class="v-banner__mentions">
                                {% for mention in mentions %}
                                    <p class="v-banner__mention">

                                        {% if mention.icon|default %}
                                            {% include ui('icon') with {
                                                icon: mention.icon,
                                                attributes: { class: "v-banner__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                            } only %}
                                        {% endif %}

                                        {% if mention.label|default %}
                                            <span class="v-banner__label">{{ mention.label }}&nbsp;:</span>
                                        {% endif %}

                                        {% if mention.value|default %}
                                            <span class="v-banner__value"{% if mention.cc_author|default %} xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName"{% endif %}>{{ mention.value|html_safe }}</span>
                                        {% endif %}

                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}


                    </div>
                {% endif %}


            </div>


        </div>
    </div>



{% endif %}
