{# *****************************************************************************
** Type: COMPONENT
** Name: Banner
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <nav class="c-breadcrumb" role="navigation" aria-label="Fil d'Ariane">
        <ol class="c-breadcrumb__items">
            {% for item in items %}
                <li class="c-breadcrumb__item"{% if loop.last %} aria-current="page"{% endif %}>

                    {% if item.href|default and not loop.last %}
                        <a class="c-breadcrumb__link" href="{{ item.href }}">
                    {% endif%}

                    {{ item.label|trans }}

                    {% if item.href|default and not loop.last %}
                        </a>
                    {% endif %}

                </li>
            {% endfor %}
        </ol>
    </nav>



{% endif %}
