{# *****************************************************************************
** Type: COMPONENT
** Name: Browse
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    title: {
        level: Int,
        text: String
    },
    description: String,
    link: {
        label: String,
        href: String,
        target: String
    }
#}



{% if title|default and link|default and link.href|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-browse{{ classes }} u-button-within">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        <div class="v-browse__illustration">
            <img class="v-browse__picture"
                 src="{{ asset('build/app/shop/images/browse.webp', 'app.shop') }}"
                 alt=""
                 width="303"
                 height="289"
                 loading="lazy"
            />
        </div>



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        <h{{ title.level|default(2) }} class="v-browse__title c-title c-title--xsmall">
            <a class="v-browse__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}">
                {{ title.text|default(title) }}
            </a>
        </h{{ title.level|default(2) }}>



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <p class="v-browse__description">{{ description }}</p>
        {% endif %}



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        {% include ui('button') with {
            icon: (link.target|default == "_blank" ? 'external' : 'arrow-right'),
            label: link.label|default("Parcourir"),
            attributes: {
                class: "v-browse__button",
                href: link.href,
                target: link.target|default("_self"),
            }
        } only %}



    </div>



{% endif %}
