{# ################################################################################
 # BUTTON
 ################################################################################ #}


{#
 # Arguments
 ################################################################################ #}

{#
  as: String
  mode: String
  size: String
  icon: String
  label: String
  revert: Boolean
  iconOnly: Boolean
  loading: Boolean
  inherit: Boolean
  attributes: Array
#}


{#
 # Variables
 ################################################################################ #}

{% set as = as|default("button") %}
{% set attributes = deep_merge(attributes|default({}), { class: "c-button" }) %}


{#
 # Logic
 ################################################################################ #}

{% if "href" in attributes|keys and attributes.href|default %}
    {% set as = "a" %}
{% endif %}


{#
 # Mode
 #################### #}

{% if mode|default %}
    {% if mode == "primary" or mode == "secondary" or mode == "control" or mode == "link" %}
        {% set attributes = deep_merge(attributes|default({}), { class: "c-button--#{ mode }" }) %}
    {% else %}
        <pre><strong>Unknown Button mode : <code>{{ mode }}</code>.</strong><br>Must be <code>primary</code>, <code>secondary</code>, <code>control</code> or <code>link</code></pre>
    {% endif %}
{% endif %}


{#
 # Small
 #################### #}

{% if small|default %}
    {% set attributes = deep_merge(attributes|default({}), { class: "c-button--small" }) %}
{% endif %}

{#
 # Booleans
 #################### #}

{# Revert #}
{% set attributes = revert|default ? deep_merge(attributes|default({}), { class: "c-button--revert" }) : attributes %}


{# Icon Only #}
{% set attributes = iconOnly|default ? deep_merge(attributes|default({}), { class: "c-button--icon" }) : attributes %}


{# Dark #}
{% set attributes = dark|default ? deep_merge(attributes|default({}), { class: "c-button--dark" }) : attributes %}


{# Emphasis #}
{% set attributes = emphasis|default ? deep_merge(attributes|default({}), { class: "c-button--emphasis" }) : attributes %}


{# Inherit #}
{% set attributes = inherit|default ? deep_merge(attributes|default({}), { class: "c-button--inherit" }) : attributes %}


{# Loading #}
{% set attributes = loading|default ? deep_merge(attributes|default({}), { class: "is-loading" }) : attributes %}


{#
 # Markup
 ################################################################################ #}

<{{ as }} {{ html_attributes(attributes) }}>

    {% if icon|default %}
        {% include ui('icon') with {
            icon: icon,
            attributes: { class: "c-button__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
        } only %}
    {% endif %}

    {% if label|default %}
        <span class="c-button__label"{% if label_title|default %} title="{{ label_title }}"{% endif %}>{{ label }}</span>
    {% endif %}

</{{ as }}>
