{# *****************************************************************************
** Type: COMPONENT
** Name: Card
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    large: boolean,
    picture: Picture,
    tag: {
        icon: String,
        label: String
    },
    title: {
        level: Int,
        text: String
    },
    description: String,
    link: {
        label: String,
        href: String,
        target: String
    }
#}



{% if title or description %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}
    {% set picture_size = "card" %}
    {% set picture_width = "376" %}
    {% set picture_height = "252" %}

    {% if large|default %}
        {% set classes = classes ~ " v-card--large" %}
        {% set picture_size = "card_large" %}
        {% set picture_width = "496" %}
        {% set picture_height = "332" %}
    {% endif %}

    {% if picture|default and picture.image|default %}
        {% set classes = classes ~ " v-card--pictured" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-card{{ classes }} u-button-within">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        {% if picture|default and picture.image|default %}
            <img class="v-card__picture"
                 src="{{ asset(picture.image)|imagine_filter(picture_size) }}"
                 alt="{{ picture.alt|default('') }}"

                 {% if picture.title|default %}
                    title="{{ picture.title }}"
                {% endif %}

                 width="{{ picture_width }}"
                 height="{{ picture_height }}"
                 loading="lazy"
            />
        {% endif %}



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title %}
            <h{{ title.level|default(2) }} class="v-card__title c-title c-title--small">

                {% if link|default and link.href|default %}
                    <a class="v-card__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}">
                {% endif %}

                {{ title.text|default(title) }}

                {% if link|default and link.href|default %}
                    </a>
                {% endif %}

            </h{{ title.level|default(2) }}>
        {% endif %}



        {# ***********************************************
        ** TAG
        ************************************************** #}

        {% if tag|default and tag.label|default %}
            <div class="v-card__tag">
                {% include ui('tag') with {
                    label: tag.label,
                    iconStart: tag.icon|default(false)
                } only %}
            </div>
        {% endif %}



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <p class="v-card__description">{{ description }}</p>
        {% endif %}



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        {% if link|default and link.href|default %}
            {% include ui('button') with {
                mode: (large|default ? "link" : false),
                icon: (link.target|default == "_blank" ? 'external' : 'arrow-right'),
                label: link.label|default("Découvrir"),
                attributes: {
                    class: "v-card__button",
                    href: link.href,
                    target: link.target|default("_self"),
                    title: link.title|default(null),
                }
            } only %}
        {% endif %}



    </div>



{% endif %}
