{# *****************************************************************************
** Type: COMPONENT
** Name: CTA
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    color: String,
    picture: Object,
    fullsize: boolean,
    label: String,
    heading: {
        title: String,
        level: Int
    },
    description: String,
    link: {
        label: String,
        href: String,
        target: String
    }
#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if picture|default and picture.image|default %}
    {% set classes = classes ~ " v-cta--pictured" %}
    {% if fullsize|default %}
        {% set classes = classes ~ " v-cta--fullsize" %}
    {% endif %}
{% else %}
    {% set classes = classes ~ " v-cta--branded u-button-within" %}
{% endif %}

{% if color|default %}
    {% set classes = classes ~ " v-cta--#{color}" %}
{% else %}
    {% set classes = classes ~ " v-cta--grey" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="v-cta{{ classes }}">



    {# ***********************************************
    ** PICTURE
    ************************************************** #}

    {% if picture|default and picture.image|default %}
        <div class="v-cta__content">
    {% endif %}



    {# ***********************************************
    ** TITLE
    ************************************************** #}

    {% if heading|default and heading.title|default %}

        <h{{ heading.level|default(2) }} class="v-cta__title c-title{% if not (picture|default and picture.image|default) %} c-title--small{% endif %}">

            {% if not (picture|default and picture.image|default) and link|default and link.href|default %}
                <a class="v-cta__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}">
            {% endif %}

            {{ heading.title }}

            {% if not (picture|default and picture.image|default) and link|default and link.href|default %}
                </a>
            {% endif %}

        </h{{ heading.level|default(2) }}>
    {% endif %}



    {# ***********************************************
    ** LABEL
    ************************************************** #}

    {% if label|default %}
        <p class="v-cta__label c-headline">{{ label }}</p>
    {% endif %}



    {# ***********************************************
    ** DESCRIPTION
    ************************************************** #}

    {% if description|default %}
        <p class="v-cta__description">{{ description }}</p>
    {% endif %}



    {# ***********************************************
    ** BUTTON
    ************************************************** #}

        {% if link|default and link.href|default %}
            {% set link_label = link.label|default("Découvrir") %}
            {% set link_title = link.title|default(null) %}

            {% if link.target|default == "_blank" %}
                {% set link_title = link_title ? link_title : link_label ~ ' (nouvelle fenêtre)' %}
            {% endif %}

            {% include ui('button') with {
                mode: (picture|default and picture.image|default) ? false : "primary",
                icon: (link.target|default == "_blank" ? 'external' : 'arrow-right'),
                label: link_label,
                attributes: {
                    class: "v-cta__button",
                    href: link.href,
                    target: link.target|default("_self"),
                    title: link_title,
                    tabindex: (picture|default and picture.image|default) ? false : '-1',
                    'aria-hidden': (picture|default and picture.image|default) ? false : 'true'
                }
            } only %}
        {% endif %}



    {# ***********************************************
    ** PICTURE
    ************************************************** #}

    {% if picture|default and picture.image|default %}
        </div>

        <picture class="v-cta__illustration">

            {% if fullsize|default %}
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_fullsize_small') }}" media="(max-width: 375px)" />
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_fullsize_regular') }}" media="(min-width: 376px) and (max-width: 480px)" />
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_fullsize_medium') }}" media="(min-width: 481px) and (max-width: 959px)" />
                <img
                    class="v-cta__picture"
                    src="{{ asset(picture.image)|imagine_filter('cta_fullsize_large') }}"
                    alt="{{ picture.alt|default('') }}"
                    width="560"
                    height="463"
                    loading="lazy"
                    {% if picture.title|default(null) %}
                        title="{{ picture.title }}"
                    {% endif %}
                />
            {% else %}
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_default_small') }}" media="(max-width: 375px)" />
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_default_regular') }}" media="(min-width: 376px) and (max-width: 480px)" />
                <source srcset="{{ asset(picture.image)|imagine_filter('cta_default_medium') }}" media="(min-width: 481px) and (max-width: 959px)" />
                <img
                    class="v-cta__picture"
                    src="{{ asset(picture.image)|imagine_filter('cta_default_large') }}"
                    alt="{{ picture.alt|default('') }}"
                    width="528"
                    height="453"
                    loading="lazy"
                    {% if picture.title|default(null) %}
                        title="{{ picture.title }}"
                    {% endif %}
                />
            {% endif %}

        </picture>
    {% endif %}



</div>
