{# *****************************************************************************
** Type: COMPONENT
** Name: Alert
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    id: String,
    title: String,
    content: String
#}



{% if title|default and content|default %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <details class="c-details js-details"{% if id|default %} id="{{ id }}"{% endif %}>



        {# ***********************************************
        ** SUMMARY
        ************************************************** #}

        <summary class="c-details__summary js-details-summary"{% if id|default %} aria-controls="{{ id }}"{% endif %} aria-expanded="false">
            <span class="c-details__title">{{ title }}</span>
            <span class="c-details__action" aria-hidden="true">
                <span class="c-details__label js-details-label" data-expanded-label="Fermer" data-shrank-label="Ouvrir">Ouvrir</span>
                {% include ui('icon') with {
                    icon: "chevron-down",
                    attributes: { class: "c-details__icon", width: '20', height: '20', 'aria-hidden': 'true', focusable: 'false' }
                } only %}
            </span>
        </summary>



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="c-details__content s-richtext">
            {{ content|html_safe }}
        </div>



    </details>



{% endif %}
