{# *****************************************************************************
** Type: COMPONENT
** Name: Enabler
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}




    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if alt|default %}
        {% set classes = classes ~ " v-enabler--alt" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-enabler{{ classes }} js-enabler">
        <div class="l-container l-container--xlarge">
            <div class="v-enabler__inner{% if alt|default %} js-enabler-btn{% endif %}">


                {# ***********************************************
                ** PICTURE
                ************************************************** #}

                {% if picture|default %}
                    <div class="v-enabler__picture">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="80" height="43" viewbox="0 0 80 43" aria-hidden="true">
                            <g fill="#000">
                                <path d="M65.49 33.08c.22.64.31 1.24.43 1.82l.86 4.2c.08.42.29.8.52 1.14.36.52.87.77 1.52.65.2-.04.41-.1.62 0 .13.15.15.31.13.51-.24.3-.62.19-.93.28-.86.26-1.74.4-2.65.35-.8-.04-1.36-.45-1.57-1.23-.43-1.66-.85-3.31-1.25-4.97-.09-.37-.24-.53-.61-.6l-4.59-.75c-1.21-.2-2.43-.36-3.64-.57-1.32-.22-2.64-.46-3.97-.66-2.05-.32-4.1-.7-6.15-1-1.48-.23-2.95-.52-4.44-.74-1.53-.23-3.05-.52-4.58-.75-.86-.12-1.7-.3-2.56-.4-.24-.02-.43.01-.65.13a13.18 13.18 0 0 1-5.8 1.52c-1.82.03-3.58-.3-5.25-1.06-.48-.22-.54-.19-.77.27-.16.32-.43.55-.62.85-1.21 1.86-2.44 3.72-3.66 5.57-.12.2-.22.4-.4.52-.23.07-.4-.01-.6-.08L11 36.6 5.2 34.4c-.47-.18-.94-.4-1.45-.49-1.36-.24-2.34.29-2.85 1.59-.07.16-.1.34-.3.43-.22.04-.4-.06-.56-.19-.07-.13-.05-.26 0-.37.4-.88.61-1.84 1.03-2.71.74-1.53 1.56-1.89 3.17-1.4 1.01.3 2 .68 2.98 1.05l6.6 2.44c.16.06.33.08.55.13l1.04-1.45 2.16-3.2.03-.04c.6-.84.58-.92-.2-1.6a12.9 12.9 0 0 1-2.1-2.56 17.6 17.6 0 0 1-2.06-4.38c-.47-1.43-.75-2.9-.83-4.4-.1-2 .18-3.94.93-5.8.57-1.45 1.42-2.71 2.53-3.8a12.89 12.89 0 0 1 5.55-3.14c1.5-.43 2.94-1 4.4-1.5.95-.3 1.91-.6 2.83-.99.88-.37 1.06-.69.88-1.62-.02-.1-.05-.2.01-.31.2-.18.36-.1.44.12.27.67.55 1.34.65 2.06.06.47-.15.83-.55 1.07-.41.24-.85.43-1.3.57-.24.07-.46.17-.7.27.07.26.27.28.42.3.9.17 1.64.67 2.41 1.11 1.18.67 2.2 1.52 3.1 2.53.67.77 1.27 1.6 1.8 2.47a19.24 19.24 0 0 1 1.62 3.55c.38 1.03.61 2.13.74 3.24.16 1.37.2 2.74.02 4.11-.11.83-.3 1.63-.56 2.42a10.82 10.82 0 0 1-2.16 3.79c-.06.07-.16.14-.15.36 3.3.65 6.67 1.12 10.01 1.68l10.1 1.67 10.06 1.66h-.01ZM17.74 15.25c.02.9.1 1.8.28 2.68a16.84 16.84 0 0 0 2.5 6.01 11.83 11.83 0 0 0 3.44 3.47 7.9 7.9 0 0 0 6.47 1.09 7.8 7.8 0 0 0 4.6-3.25 10.12 10.12 0 0 0 1.62-5.5c.04-1.02-.19-2.02-.35-3.03-.25-1.55-.8-3-1.5-4.38-1-1.93-2.33-3.6-4.15-4.85a8.76 8.76 0 0 0-2.96-1.35 8.03 8.03 0 0 0-9.17 4.87 10.88 10.88 0 0 0-.77 4.24Z"/>
                                <path d="M4.31 28.35c.18-.15.34-.2.52-.24.22.08.3.3.4.47A3.02 3.02 0 0 0 7.93 30a5.27 5.27 0 0 0 3.52-1.35c1.17-1.07.6-2.44-.55-2.95a5.5 5.5 0 0 0-2-.43 23.8 23.8 0 0 1-3.73-.4 4.14 4.14 0 0 1-2.5-1.57 2.72 2.72 0 0 1-.45-1.12 3.54 3.54 0 0 1 .72-3.23c.6-.7 1.42-1.2 2.32-1.52a11.9 11.9 0 0 1 3.28-.73c.9-.06 1.67.2 2.36.77.15.12.26.29.34.46l.6 1.47c.06.19.06.35-.11.47-.19.13-.37.13-.54-.03-.1-.1-.2-.2-.27-.32-.46-.89-1.27-1.28-2.18-1.41a4.44 4.44 0 0 0-3.45 1c-1.43 1.1-.68 2.66.57 3.16.8.32 1.64.37 2.49.44 1.15.1 2.32.12 3.45.43a3.52 3.52 0 0 1 2.64 4.07c-.14 1-.72 1.8-1.54 2.38A9.56 9.56 0 0 1 7 31.34a2.32 2.32 0 0 1-2.19-1.49c-.21-.47-.43-.95-.51-1.5ZM53.5 18.16c-.31.31-.3.68-.36 1.02-.25 1.64-.63 3.26-.91 4.89l-.47 2.6c-.05.33-.05.67 0 1 .11.74.6 1.24 1.32 1.4.72.17 1.24.15 2.22-.1.19.16.21.38.22.6-.11.23-.33.28-.52.36-.72.28-1.47.39-2.23.34a4.28 4.28 0 0 1-2.66-.9c-.5-.44-.83-.97-.91-1.62a6.82 6.82 0 0 1 .06-2.05c.2-1.11.42-2.21.59-3.33.13-.88.36-1.76.5-2.64.08-.45.2-.9.27-1.35.04-.24.1-.49-.05-.74-.51-.2-1.1-.14-1.65-.4.04-.34-.02-.7.18-1.02.6-.22 1.17.17 1.72.14.16-.1.23-.2.23-.34 0-.51.24-.99.26-1.5a1 1 0 0 1 .47-.84c.32-.22.62-.47.9-.75.26-.27.54-.36.9-.22.22.08.5 0 .74.25a30.3 30.3 0 0 0-.68 3.92c1.03.2 2.06.36 3.07.64.08.4-.06.74-.17 1.14-1.04-.08-2.02-.36-3.04-.5ZM38.36 15.28c-.02-.2-.02-.35.08-.51.05-.02.12-.06.18-.05.9.2 1.82.24 2.7.53.6.2 1.12.5 1.37 1.13.04.08.12.13.26.18.35-.23.76-.41 1.2-.57a4.1 4.1 0 0 1 3.03.1c.89.36 1.33 1.05 1.52 2l-1.29.62c-.38-.4-.72-.8-1.24-.98-1.07-.4-2.1-.4-3.08.25-.47.31-.57.8-.64 1.28-.4 2.43-.88 4.85-1.33 7.27l-.2 1.3c-.02.16-.01.33-.14.45a7.4 7.4 0 0 1-2.46-.37c-.1-.17-.04-.34 0-.51.35-1.92.69-3.85 1.05-5.77.23-1.2.43-2.39.65-3.58.07-.4.07-.81.04-1.22-.05-.7-.46-1.16-1.17-1.29a.9.9 0 0 1-.53-.26ZM65.63 32.26c-.94.1-1.72-.18-2.45-.34-.14-.26-.08-.41-.05-.57l.7-3.9c.17-.86.37-1.72.5-2.59.16-1.11.46-2.2.56-3.33.03-.33 0-.67-.08-1-.13-.53-.45-.89-1-1.05-.22-.06-.46-.07-.66-.23v-.2c.01-.1.06-.2.16-.31.44-.12.87.1 1.31.16.48.05.93.2 1.4.27.62.08 1.06.49 1.68 1.4.36-.18.72-.4 1.11-.54 1.2-.43 2.39-.4 3.53.2.7.36 1.01.99 1.15 1.75-.36.32-.76.51-1.16.64a.4.4 0 0 1-.27-.14 3.2 3.2 0 0 0-3.72-.77c-.57.23-.91.62-1.01 1.24-.18 1.13-.35 2.26-.59 3.38-.28 1.33-.49 2.66-.75 4-.12.63-.22 1.27-.36 1.93ZM60.17 31.6c-.83-.13-1.66-.22-2.43-.47-.1-.28-.01-.48.03-.68.44-2.4.9-4.78 1.31-7.17.14-.8.33-1.59.43-2.4.08-.68.04-1.33-.55-1.82a1.37 1.37 0 0 0-.76-.35c-.25-.02-.48-.1-.68-.25-.1-.2-.06-.38.12-.54.05-.01.12-.05.18-.04 1.01.23 2.05.32 3.04.62.19.06.37.13.53.23.44.3.73.66.75 1.25.02.98-.12 1.93-.3 2.89l-.78 4.25c-.18.95-.26 1.92-.53 2.85-.15.5-.1 1.05-.36 1.63ZM78.24 18.5c.56.22 1.41.83 1.76 1.28-.09.47-.43.82-.68 1.22-.97 1.57-1.92 3.16-2.91 4.71-1.34 2.1-2.6 4.23-3.95 6.31-.57.87-1.09 1.78-1.62 2.67-.47.78-.45.85.2 1.46l.1.13c-.08.23-.25.24-.42.14-.36-.2-.72-.38-1.06-.6-.33-.2-.41-.5-.31-.87.07-.25.15-.5.28-.74l3.38-6.28 2.92-5.39 1.88-3.53c.1-.19.19-.39.43-.5ZM62.96 15.7c-.02.68-.38 1.19-.92 1.3-.7.16-1.42-.14-1.71-.72-.22-.44-.3-.9-.2-1.38.1-.53.37-.92.92-1.03.6-.1 1.13.04 1.5.54.27.38.43.8.4 1.28ZM68.8 36.5c.6-.06.96.28 1.18.74.32.65.18 1.3-.22 1.85-.5.69-1.77.47-2.11-.35-.23-.53-.21-1.07.03-1.59.23-.48.6-.74 1.11-.66ZM30.03 9.54c0 .77-.27 1.2-.78 1.31a1.34 1.34 0 0 1-1.48-.75c-.14-.3-.22-.6-.17-.92.12-.76.42-1.06 1.07-1.07.7 0 1.24.43 1.34 1.1.02.14.02.28.02.33ZM23.53 9.83c-.02-.49.1-.92.59-1.13.5-.21 1.13-.04 1.49.37.4.46.5 1.25.2 1.78-.25.46-.68.5-1.13.47-.52-.03-.85-.31-1.04-.77a1.7 1.7 0 0 1-.1-.72Z"/>
                            </g>
                        </svg>
                        <span class="u-visually-hidden">Sortir !</span>
                    </div>
                {% endif %}



                {# ***********************************************
                ** CONTENT
                ************************************************** #}

                <p class="v-enabler__content">

                    {% if label|default %}
                        <span class="v-enabler__text {{ label == "Gratuit" ? " v-enabler--free" }}">
                            <span class="v-enabler__label">{{ label }}</span>
                            {% if helper|default %}
                                <span class="v-enabler__helper">{{ helper }}</span>
                            {% endif %}
                        </span>
                    {% endif %}

                    {% if value|default %}
                        <span class="v-enabler__value c-title c-title--small">{{ value }}</span>
                    {% endif %}

                    {% if helper|default and not label|default %}
                        <span class="v-enabler__helper">{{ helper }}</span>
                    {% endif %}

                </p>



                {# ***********************************************
                ** BUTTON
                ************************************************** #}

                {% if button|default %}
                    {% set button_classes = "v-enabler__button" %}
                    {% if not alt|default %}
                        {% set button_classes = button_classes ~ " js-enabler-btn" %}
                    {% endif %}
                    {% include ui('button') with {
                        mode: button.mode|default,
                        icon: button.icon|default,
                        label: button.label|default,
                        attributes: {
                            href: button.href|default,
                            target: button.target|default(null),
                            class: button_classes
                        }
                    } only %}
                {% endif %}



            </div>
        </div>
    </div>
