{# *****************************************************************************
** Type: COMPONENT
** Name: Event
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    horizontal: boolean,
    picture: Picture,
    tag: String,
    title: {
        level: Int,
        text: String
    },
    specs: [
        { icon: String, text: String },
        ...
    ],
    link: String
#}



{% if title|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if picture|default %}
        {% set classes = classes ~ " v-event--pictured" %}
    {% endif %}

    {% if horizontal|default %}
        {% set classes = classes ~ " v-event--horizontal" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " v-event--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-event{{ classes }}">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        {% if picture|default %}
            <img class="v-event__picture"
                 src="{{ asset(picture.image)|imagine_filter('card') }}"
                 alt=""
                 width="288"
                 height="192"
            />
        {% endif %}



        {# ***********************************************
        ** Horizontal case
        ************************************************** #}

        {% if horizontal|default %}
            <div class="v-event__content">
        {% endif %}



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        <h{{ title.level|default(2) }} class="v-event__title c-title c-title--xsmall">

            {% if link|default %}
                <a class="v-event__link" href="{{ link }}">
            {% endif %}

            {{ title.text|default(title) }}

            {% if link|default %}
                </a>
            {% endif %}

        </h{{ title.level|default(2) }}>



        {# ***********************************************
        ** TAG
        ************************************************** #}

        {% if tag|default %}
            <p class="v-event__tag">
                {% include ui('tag') with {
                    label: tag,
                } only %}
            </p>
        {% endif %}



        {# ***********************************************
        ** Horizontal but not Pictured
        ************************************************** #}

        {% if horizontal|default and specs|default and specs|length > 0 and not picture|default %}
            </div>
            <div class="v-event__specs">
        {% endif %}



        {# ***********************************************
        ** SPECS
        ************************************************** #}

        {% if specs|default and specs|length > 0 %}
            {% for spec in specs %}
                {% if spec.text|default %}
                    <p class="v-event__spec">

                        {% if spec.icon|default %}
                            {% set a11y_attributes = spec.label|default(null) ? {
                                'aria-label': spec.label,
                                role: "img",
                            } : {
                                'aria-hidden': 'true',
                                focusable: 'false',
                            } %}
                            {% include ui('icon') with {
                                icon: spec.icon,
                                attributes: deep_merge(a11y_attributes, {
                                    class: "v-event__icon",
                                    width: '24',
                                    height: '24',
                                })
                            } only %}
                        {% endif %}

                        {% if spec.prefix|default %}
                            <strong>{{ spec.prefix }} -</strong>
                        {% endif %}

                        <span class="v-event__text{% if spec.stroke|default %} v-event__text--stroke{% endif %}">{{ spec.text }}</span>

                        {% if spec.suffix|default %}
                            <strong>- {{ spec.suffix }}</strong>
                        {% endif %}

                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}



        {# ***********************************************
        ** Horizontal (close)
        ************************************************** #}

        {% if horizontal|default %}
            </div>
        {% endif %}



    </div>



{% endif %}
