{# *****************************************************************************
** Type: COMPONENT
** Name: Events
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    label: String,
    title: String,
    button: {
        icon: String,
        label: String,
        attributes: { href: String }
    },
    items: [
        Event Component,
        ...
    ]
#}



{% if title|default and items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set horizontal = false %}
    {% set grid = grid|default('tiny') %}
    {% set classes = "" %}

    {% if items[0]["horizontal"]|default %}
        {% set horizontal = true %}
        {% set classes = classes ~ " v-events--horizontal" %}
    {% elseif items|length > 3 or grid == "asided" %}
        {% set classes = classes ~ " v-events--large" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-events{{ classes }}">




        {# ***********************************************
        ** GRID
        ************************************************** #}

        {% if not horizontal %}
            <div class="v-events__grid l-grid l-grid--{{ grid }}">
        {% endif %}



            {# ***********************************************
            ** HEADING
            ************************************************** #}

            <div class="{% if not horizontal %}l-grid__item {% endif %}v-events__heading">



                {# ***********************************************
                ** CONTENT
                ************************************************** #}

                <div class="v-events__content">

                    {% if label|default %}
                        <p class="v-events__label c-headline">{{ label }}</p>
                    {% endif %}

                    <h2 class="v-events__title c-title c-title--small">{{ title }}</h2>

                    {% if description|default %}
                        <p class="v-events__description">{{ description }}</p>
                    {% endif %}

                </div>



                {# ***********************************************
                ** ACTION
                ************************************************** #}

                {% if not horizontal and button|default and button.attributes.href|default %}
                    <div class="v-events__action">
                        {% include ui('button') with {
                            icon: button.icon|default('arrow-right'),
                            label: button.label|default("En savoir plus"),
                            attributes: button.attributes|default
                        } only %}
                    </div>
                {% endif %}



            </div>



            {# ***********************************************
            ** ITEMS
            ************************************************** #}

            {% for item in items %}
                <div class="{{ horizontal ? "v-events__item" : "l-grid__item" }}">
                    {% include ui(items_type|default('event')) with item only %}
                </div>
            {% endfor %}



        {% if not horizontal %}
            </div>
        {% endif %}



        {# ***********************************************
        ** MORE
        ************************************************** #}

        {% if button|default and button.attributes.href|default %}
            <div class="v-events__more">
                {% include ui('button') with {
                    icon: button.icon|default('arrow-right'),
                    label: button.label|default("En savoir plus"),
                    attributes: button.attributes|default
                } only %}
            </div>
        {% endif %}



    </div>



{% endif %}
