{# *****************************************************************************
** Type: COMPONENT
** Name: Explore
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set horizontal = false %}
    {% set classes = "" %}

    {% if items[0]["horizontal"]|default %}
        {% set horizontal = true %}
        {% set classes = classes ~ " v-explore--horizontal" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-explore{{ classes }}">

        {% if horizontal %}
            <div class="v-explore__container">
        {% endif %}



            {# ***********************************************
            ** ASIDE
            ************************************************** #}

            {% if horizontal %}
                <div class="v-explore__aside">
            {% endif %}

                {% if label|default %}
                    <p class="v-explore__label c-headline">{{ label }}</p>
                {% endif %}

                {% if title|default %}
                    <h2 class="v-explore__title c-title c-title--small">{{ title }}</h2>
                {% endif %}

                {% if description|default %}
                    <p class="v-explore__description">{{ description }}</p>
                {% endif %}

                {% if horizontal and (button|default and button.href|default) %}
                    {% include ui('button') with {
                        icon: button.icon|default("arrow-right"),
                        label: button.label|default("Parcourir toutes les séries"),
                        attributes: {
                            href: button.href,
                            class: "v-explore__button",
                            title: button.attribut_title,
                        }
                    } only %}
                {% endif %}

            {% if horizontal %}
                </div>
            {% endif %}



            {# ***********************************************
            ** MAIN
            ************************************************** #}

            {% if horizontal %}
                <div class="v-explore__main">
            {% endif %}

                <div class="v-explore__items">

                    {% for item in items %}
                        {% if item.title|default %}
                            <div class="v-explore__item">
                                {% include ui('series') with {
                                    horizontal: item.horizontal|default ? false : true,
                                    color: item.color|default,
                                    picture: item.picture|default,
                                    title: {
                                        level: 3,
                                        text: item.title
                                    },
                                    description: item.description|default,
                                    href: item.href|default
                                } only %}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                {% if not horizontal and (button|default and button.href|default) %}
                    {% include ui('button') with {
                        icon: button.icon|default("arrow-right"),
                        label: button.label|default("Parcourir toutes les séries"),
                        attributes: {
                            href: button.href,
                            class: "v-explore__button"
                        }
                    } only %}
                {% endif %}

            {% if horizontal %}
                </div>
            {% endif %}



        {% if horizontal %}
            </div>
        {% endif %}

    </div>



{% endif %}
