{# *****************************************************************************
** Type: COMPONENT
** Name: Field
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if id|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}
    {% set dataAttr = [] %}
    {% set as = as|default("div") %}

    {% if hint_inline|default %}
        {% set classes = classes ~ " v-field--hint-inline" %}
    {% endif %}

    {% if error|default %}
        {% set classes = classes ~ " v-field--error" %}
    {% endif %}

    {% if small|default %}
        {% set classes = classes ~ " v-field--small" %}
    {% endif %}

    {% if data|default %}
        {% set dataAttr = deep_merge(dataAttr, data) %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <{{ as }} id="{{ id }}-field" class="v-field{{ classes }}"{{ is_group|default ? ' role="group"' }}{{ is_group|default ? ' aria-labelledby=' ~ (id ~ '-legend') : null }}{{ html_attributes(dataAttr) }}{{ hidden|default ? ' hidden' : null }}>



        {# Special case #}

        {% if control.component != "checkbox" and (as|default == "fieldset" or is_group|default) and label|default and hint|default and hint_inline|default %}
            <div class="v-field__heading{{ center|default ? ' v-field__heading--center' : null }}">
        {% endif %}



        {# ***********************************************
        ** LABEL
        ************************************************** #}

        {% if control.component != "checkbox" and label|default %}
            {% set tagname = as|default == "fieldset" ? "legend" : "label" %}
            {% set tagname = is_group|default ? "p" : tagname %}
            {% include ui('form/_label') with {
                as: tagname,
                text: label,
                id: is_group|default ? id ~ '-legend' : id ~ '-label',
                for: tagname == "label" ? id : null,
                optional: (hide_optional|default ? false : optional|default)
            } only %}
        {% endif %}



        {# ***********************************************
        ** HINT
        ************************************************** #}

        {% if control.component != "checkbox" and hint|default %}
            {% include ui('form/_hint') with {
                text: hint,
                id: (id ~ "-hint")
            } only %}
        {% endif %}



        {# End special case #}

        {% if control.component != "checkbox" and (as|default == "fieldset" or is_group|default) and label|default and hint|default and hint_inline|default %}
            </div>
        {% endif %}



        {# ***********************************************
        ** ERRORS
        ************************************************** #}

        {% if errors|default and errors|length > 0 %}
            <div class="v-field__errors" id="{{ id ~ "-error" }}">
                {% for error in errors %}
                    {% include ui('form/_error') with {
                        text: error.message
                    } only %}
                {% endfor %}
            </div>
        {% endif %}



        {# ***********************************************
        ** CONTROL
        ************************************************** #}

        {% if control|default and control.component|default %}

            {% set describedby = false %}

            {% if errors|default and errors|length > 0 %}
                {% set describedby = describedby ~ " #{id}-error" %}
            {% endif %}

            {% if hint|default %}
                {% set describedby = describedby ~ " #{id}-hint" %}
            {% endif %}

            {% if control.component == "customselect" %}
                {% embed ui("form/_customselect") with (control.attributes|default({}))|merge({
                    _options: options,
                    _options_type: options_type,
                    _name: name,
                    class: "v-field__control",
                    id: id,
                    label: "Aucun filtre",
                    error: ((errors|default and errors|length > 0) ? true : false),
                }) only %}
                    {% block popover %}
                        <div class="c-customselect__menu c-menu">
                            <div class="c-menu__body">
                                <div class="c-menu__items">
                                    {% for _item in _options %}
                                        <div class="c-menu__item">
                                            {% include ui('field') with {
                                                id: _item.vars.id,
                                                label: _item.vars.label,
                                                control: {
                                                    component: _options_type,
                                                    attributes: {
                                                        name: _item.vars.full_name,
                                                        value: _item.vars.value,
                                                        checked: _item.vars.checked,
                                                    },
                                                },
                                                optional: true,
                                                hide_optional: true,
                                                errors: false,
                                                small: true,
                                            } only %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="c-menu__foot">
                                {% include ui('button') with {
                                    small: true,
                                    mode: 'primary',
                                    label: "Annuler",
                                    attributes: {
                                        class: "js-customselect-cancel c-menu__action",
                                        type: "button",
                                    }
                                } only %}
                                {% include ui('button') with {
                                    small: true,
                                    label: "Enregistrer",
                                    attributes: {
                                        class: "js-customselect-confirm c-menu__action",
                                        type: "button",
                                    }
                                } only %}
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% else %}
                {% include ui("form/_#{control.component}") with (control.attributes|default({}))|merge({
                    class: "v-field__control",
                    id: id,
                    label: ((label|default and control.component|default == "checkbox") ? label : false),
                    hint: ((hint|default and control.component|default == "checkbox") ? hint : false),
                    placeholder: placeholder|default(false),
                    "describedby": describedby|trim,
                    optional: optional|default,
                    error: ((errors|default and errors|length > 0) ? true : false),
                    resources: resources|default(null),
                    dates_filter: dates_filter|default(null)
                }) only %}
            {% endif %}

        {% endif %}

    </{{ as }}>



{% endif %}
