{# #############################################################################
 # FIGURE
 ############################################################################ #}

{#
 # Arguments
 ############################################################################ #}

{#
  type: 'image' (default) | 'video',
  caption: String,
  attributes: Array,
  as: String,
#}


{% if source|default %}

    {#
     # Variables
     ############################################################################ #}

    {% set classes = "" %}

    {#
     # Markup
     ############################################################################ #}

    <figure class="c-figure"{% if caption|default %} role="group" aria-label="{{ [caption, alt|default('')]|join(' ')|trim }}"{% endif %}>

        <img
            {{ html_attributes(image_attributes(source, format|default('figure'), { class: "c-figure__picture", alt: alt|default(''), loading: "lazy" })) }}
            {% if title|default %}
                title="{{ title }}"
            {% endif %}
        >

        {% if caption|default %}
            <figcaption class="c-figure__caption">{{ caption }}{% if alt|default %} <span class="u-visually-hidden">{{ alt }}</span>{% endif %}</figcaption>
        {% endif %}

    </figure>

{% endif %}
