{# *****************************************************************************
** Type: COMPONENT
** Name: Files
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-files{{ classes }}">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default %}
            <h2 class="v-files__title c-title">{{ title }}</h2>
        {% endif %}



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <p class="v-files__description">{{ description }}</p>
        {% endif %}



        {# ***********************************************
        ** ITEMS
        ************************************************** #}

        <ul class="v-files__items">
            {% for item in items %}
                {% if item.title|default and item.href|default %}
                    <li class="v-files__item">

                        <div class="v-files__content">
                            <p class="v-files__subtitle">{{ item.title }}</p>
                            {% if item.description|default %}
                                <p class="v-files__label">{{ item.description }}</p>
                            {% endif %}
                        </div>

                        {% include ui('button') with {
                            label: "Télécharger",
                            icon: "download",
                            attributes: {
                                href: item.href,
                                class: "v-files__button",
                                target: "_blank",
                                "aria-label": "Télécharger le document : " ~ item.title
                            }
                        } only %}

                    </li>
                {% endif %}
            {% endfor %}
        </ul>



    </div>



{% endif %}
