{# *****************************************************************************
** Type: COMPONENT
** Name: Filters
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-filters{{ classes }}">
        <div class="l-container l-container--small">
            <div class="c-filters__container">



                {# ***********************************************
                ** TEXT
                ************************************************** #}

                <p class="c-filters__text">Naviguez à travers les différentes rubriques du Mag</p>



                {# ***********************************************
                ** ITEMS
                ************************************************** #}

                <ul class="c-filters__items">
                    {% for item in items %}
                        {% if item.href|default and item.label|default %}

                            <li class="c-filters__item{% if item.active|default %} c-filters__item--active{% endif %}"
                                {% if item.active|default %} aria-current="true"{% endif %}>

                                <a class="c-filters__link"
                                   href="{{ item.href }}"
                                   {% if item.active|default %} aria-current="page"{% endif %}
                                   aria-label="Accéder à la rubrique : {{ item.label }}">

                                    {% include ui('icon') with {
                                        icon: item.icon|default("arrow-right"),
                                        attributes: {
                                            class: "c-filters__icon",
                                            width: '20',
                                            height: '20',
                                            'aria-hidden': 'true',
                                            focusable: 'false'
                                        }
                                    } only %}

                                    <span class="c-filters__label">{{ item.label }}</span>

                                </a>
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>



            </div>
        </div>
    </div>



{% endif %}
