{# *****************************************************************************
** Type: COMPONENT
** Name: Further
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    large: boolean,
    color: String,
    title: String,
    items: [
        {
            data: {
                label: String,
                href: String,
                target: String,
                attribut_title: String
            }
        },
        ...
    ]
#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if large|default %}
        {% set classes = classes ~ " c-further--large" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " c-further--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-further{{ classes }}">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default %}
            <h2 class="c-further__title c-title">{{ title }}</h2>
        {% endif %}



        {# ***********************************************
        ** ITEMS
        ************************************************** #}

        <ul class="c-further__items">
            {% for item in items %}
                {% if item.data.label|default and item.data.href|default %}
                    <li class="c-further__item">
                        <a class="c-further__link" href="{{ item.data.href }}"{% if item.data.target|default %} target="{{ item.data.target }}"{% endif %} {% if item.data.attribut_title %}title="{{ item.data.attribut_title }}"{% endif %}>{{ item.data.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>



    </div>



{% endif %}
