{# *****************************************************************************
** Type: COMPONENT
** Name: Handy
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    type: "grey"|"white",
    title: {
        text: String,
        level: Int
    },
    picture: {
        source: Object,
        logo: boolean,
        caption: String
    },
    table: [
        {
            column1: String,
            column2: String
        },
        ...
    ],
    content: String,
    id: String
#}



{# ***********************************************
** VARIABLES
************************************************** #}

{% set classes = "" %}

{% if type|default %}
    {% set classes = classes ~ " c-handy--#{type}" %}
{% endif %}

{% if type == "white" %}
    {% set picture_style = "image_medium" %}
{% else %}
    {% set picture_style = "handy" %}
{% endif %}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="c-handy{{ classes }}"{% if id|default %} id="{{ id }}"{% endif %}>



    {# ***********************************************
    ** TITLE
    ************************************************** #}

    {% if title|default %}
        <h{{ title.level|default(2) }} class="c-handy__title c-title">{{ title.text }}</h{{ title.level|default(2) }}>
    {% endif %}



    {# ***********************************************
    ** PICTURE
    ************************************************** #}

    {% if picture|default %}
        <figure class="c-handy__illustration"{% if picture.caption|default %} role="group" aria-label="{{ [picture.caption, picture.source.alt]|join(' ')|trim }}"{% endif %}>
            {% if picture.logo|default %}
                <img class="c-handy__picture c-handy__picture--logo"
                     src="{{ asset(picture.source.image)|imagine_filter('handy_logo') }}"
                     alt="{{ picture.source.alt|default('') }}"
                     width="163"
                     height="109"
                     loading="lazy"
                />
            {% else %}
                <img {{ html_attributes(image_attributes(picture.source.image, picture_style, { class: "c-handy__picture", alt: picture.source.alt|default(''), title: picture.source.title|default(''), loading: "lazy" })) }}>
            {% endif %}
            {% if picture.caption|default %}
                <figcaption class="c-handy__caption">{{ picture.caption }}{% if picture.source.alt|default %} <span class="u-visually-hidden">{{ picture.source.alt }}</span>{% endif %}</figcaption>
            {% endif %}
        </figure>
    {% endif %}



    {# ***********************************************
    ** TABLE
    ************************************************** #}

    {% if table|default %}
        <dl class="c-handy__list">
            {% for _row in table %}
                <dt class="c-handy__label">{{ _row.column1 }}</dt>
                <dd class="c-handy__description">{{ _row.column2 }}</dd>
            {% endfor %}
        </dl>
    {% endif %}



    {# ***********************************************
    ** CONTENT
    ************************************************** #}

    {% if content|default %}
        <div class="c-handy__content s-richtext">
            {{ content|html_safe }}
        </div>
    {% endif %}



</div>
