{# ################################################################################
 # ICON
 ################################################################################ #}


{#
 # Arguments
 ################################################################################ #}

{#
  as: String
  size: String
  icon: String
  attributes: Array
#}


{#
 # Variables
 ################################################################################ #}

{% set as = as|default("span") %}
{% set attributes = deep_merge(attributes|default({}), {xmlns: "http://www.w3.org/2000/svg" }) %}


{#
 # Logic
 ################################################################################ #}

{% if not icon %}
  <pre><strong>Icon parameter is mandatory.</pre>
{% endif %}


{#
 # Markup
 ################################################################################ #}

{% if icon|default %}
    {{ svg_tag((asset('build/app/shop/images/sprite.svg', 'app.shop') ~ '#sprite-' ~ icon), attributes) }}
{% endif %}
