{# *****************************************************************************
** Type: COMPONENT
** Name: Illustrated
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if figure|default and content|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if figure.position|default == "left" or figure.position|default == "right" %}
        {% set classes = classes ~ " v-illustrated--flex" %}
        {% if figure.position|default == "right" %}
            {% set classes = classes ~ " v-illustrated--reverse" %}
        {% endif %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-illustrated{{ classes }}">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        <div class="v-illustrated__figure">
            {% include ui('figure') with {
                source: figure.source|default,
                format: figure.format|default,
                alt: figure.alt|default,
                title: figure.title|default,
                caption: figure.caption|default
            } only %}
        </div>



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="v-illustrated__content">

            {% if label|default %}
                <p class="v-illustrated__label c-headline">{{ label }}</p>
            {% endif %}

            <div class="v-illustrated__text s-richtext">
                {{ content|html_safe }}
            </div>

            {% if link|default and link.href|default %}
                {% include ui('button') with {
                    icon: (link.target|default == "_blank" ? 'external' : 'arrow-right'),
                    label: link.label|default("En savoir plus"),
                    attributes: {
                        class: "v-illustrated__button",
                        href: link.href,
                        target: link.target|default("_self"),
                        title: link.title|default(null),
                    }
                } only %}
            {% endif %}

        </div>



    </div>



{% endif %}
