{# *****************************************************************************
** Type: COMPONENT
** Name: Immersive
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if content|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-immersive{{ classes }}">



        {# ***********************************************
        ** LABEL
        ************************************************** #}

        {% if label|default %}
            <p class="v-immersive__label c-headline">{{ label }}</p>
        {% endif %}



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="v-immersive__content s-introduction s-introduction--immersive"{% if id|default %} id="{{ id }}"{% endif %}>{{ content|html_safe }}</div>



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        {% if button|default and button.href|default %}

            {% set button_attributes = {
                class: "v-immersive__button",
                href: button.href,
                target: button.target|default("_self"),
                title: button.title|default(null),
            } %}

            {% if id|default %}
                {% set button_attributes = button_attributes %}
            {% endif %}

            {% include ui('button') with {
                mode: "primary",
                icon: (button.target|default == "_blank" ? 'external' : 'arrow-right'),
                label: button.label|default("En savoir plus"),
                attributes: button_attributes
            } only %}

        {% endif %}



    </div>



{% endif %}
