{# *****************************************************************************
** Type: COMPONENT
** Name: Logos
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if big_items|default or small_items|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-logos{{ classes }}">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default and title.text|default %}
            <h{{ title.level|default(2) }} class="v-logos__title c-title">{{ title.text }}</h{{ title.level|default(2) }}>
        {% endif %}



        {# ***********************************************
        ** BIG ITEMS
        ************************************************** #}

        {% if big_items|default and big_items|length > 0 %}
            <div class="v-logos__items v-logos__items--big">
                {% for _item in big_items %}
                    {% set tag = _item.data.url|default ? 'a' : 'div' %}
                    <figure class="v-logos__figure"{% if _item.data.image.caption|default %} role="group" aria-label="{{ [_item.data.image.caption, _item.data.image.alt]|join(' ')|trim }}"{% endif %}>
                        <{{ tag }} class="v-logos__inner"{% if _item.data.url %} href="{{ _item.data.url }}" rel="noopener" target="_blank"{% endif %}>
                            <img {{ html_attributes(image_attributes(_item.data.image.image, "logos_big", { alt: _item.data.image.alt|default(''), title: _item.data.image.title|default(null), loading: "lazy", class: "v-logos__picture" })) }} />
                        </{{ tag }}>
                        {% if _item.data.image.caption|default %}
                            <figcaption class="v-logos__caption">{{ _item.data.image.caption }}{% if _item.data.image.alt|default %} <span class="u-visually-hidden">{{ _item.data.image.alt }}</span>{% endif %}</figcaption>
                        {% endif %}
                    </figure>
                {% endfor %}
            </div>
        {% endif %}



        {# ***********************************************
        ** SMALL ITEMS
        ************************************************** #}

        {% if small_items|default and small_items|length > 0 %}
            <div class="v-logos__items v-logos__items--small">
                {% for _item in small_items %}
                    {% set tag = _item.data.url|default ? 'a' : 'div' %}
                    <figure class="v-logos__figure"{% if _item.data.image.caption|default %} role="group" aria-label="{{ [_item.data.image.caption, _item.data.image.alt]|join(' ')|trim }}"{% endif %}>
                        <{{ tag }} class="v-logos__inner"{% if _item.data.url %} href="{{ _item.data.url }}" rel="noopener" target="_blank"{% endif %}>
                            <img {{ html_attributes(image_attributes(_item.data.image.image, "logos_small", { alt: _item.data.image.alt|default(''), title: _item.data.image.title|default(null), loading: "lazy", class: "v-logos__picture" })) }} />
                        </{{ tag }}>
                        {% if _item.data.image.caption|default %}
                            <figcaption class="v-logos__caption">{{ _item.data.image.caption }}{% if _item.data.image.alt|default %} <span class="u-visually-hidden">{{ _item.data.image.alt }}</span>{% endif %}</figcaption>
                        {% endif %}
                    </figure>
                {% endfor %}
            </div>
        {% endif %}



    </div>



{% endif %}
