{# *****************************************************************************
** Type: COMPONENT
** Name: Meetings
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if title|default and items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if color|default %}
        {% set classes = classes ~ " v-meetings--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-meetings{{ classes }}">
        <div class="l-container l-container--xlarge">



            {# ***********************************************
            ** TITLE
            ************************************************** #}

            <h2 class="v-meetings__title c-title">{{ title }}</h2>



            {# ***********************************************
            ** DESCRIPTION
            ************************************************** #}

            {% if description %}
                <p class="v-meetings__description">{{ description }}</p>
            {% endif %}



            {# ***********************************************
            ** GRID
            ************************************************** #}

            <div class="v-meetings__grid l-grid l-grid--tiny l-grid--center">
                {% for item in items %}
                    <div class="l-grid__item">
                        {% include ui('meeting') with item only %}
                    </div>
                {% endfor %}
            </div>



        </div>
    </div>



{% endif %}
