{# *****************************************************************************
** Type: COMPONENT
** Name: Meeting
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    icon: String,
    title: String,
    description: String,
    link: {
        label: String,
        href: String,
        target: String,
        title: String
    }
#}


{% if title %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-meeting{{ classes }} u-button-within">



        {# ***********************************************
        ** HEADING
        ************************************************** #}

        <div class="c-meeting__heading">

            {% include ui('icon') with {
                icon: icon|default('arrow-right'),
                attributes: { class: "c-meeting__icon", width: '22', height: '22', 'aria-hidden': 'true', focusable: 'false' }
            } only %}

            <h3 class="c-meeting__title">

                {% if link|default and link.href|default %}
                    <a class="c-meeting__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}"{% if link.target|default("_self") == "_blank" %} title="{{ title }} (nouvelle fenêtre)"{% endif %}>
                {% endif %}

                {{ title }}

                {% if link|default and link.href|default %}
                    </a>
                {% endif %}

            </h3>

        </div>



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="c-meeting__content">



            {# ***********************************************
            ** DESCRIPTION
            ************************************************** #}

            {% if description %}
                <p class="c-meeting__description">{{ description }}</p>
            {% endif %}



            {# ***********************************************
            ** BUTTON
            ************************************************** #}

            {% if link.href and link.label %}
                {% set link_label = link.label|default("Accéder à la catégorie") %}
                {% set link_title = link.title|default(null) %}

                {% if link.target|default == "_blank" %}
                    {% set link_title = link_title ? link_title : link_label ~ ' (nouvelle fenêtre)' %}
                {% endif %}

                {% include ui('button') with {
                    mode: "link",
                    icon: (link.target|default == "_blank" ? "external" : false),
                    label: link_label,
                    attributes: {
                        class: "c-meeting__button",
                        href: link.href,
                        target: link.target|default("_self"),
                        title: link_title
                    }
                } only %}
            {% endif %}


        </div>




    </div>



{% endif %}
