{# *****************************************************************************
** Type: COMPONENT
** Name: Message
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    type: "error"|"success",
    text: String
#}



{% if text|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if type|default %}
        {% if type == "error" %}
            {% set classes = classes ~ " c-message--error" %}
            {% set role = "alert" %}
            {% set icon = "warning" %}
        {% elseif type == "success" %}
            {% set classes = classes ~ " c-message--success" %}
            {% set role = "status" %}
            {% set icon = "checkmark" %}
        {% endif %}
    {% else %}
        {% set role = "status" %}
        {% set icon = "arrow-right" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-message{{ classes }}"{% if role|default %} role="{{ role }}"{% endif %}>



        {# ***********************************************
        ** ICON
        ************************************************** #}

        {% if icon|default %}
            {% include ui('icon') with {
                icon: icon,
                attributes: { class: "c-message__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
        {% endif %}



        {# ***********************************************
        ** TEXT
        ************************************************** #}

        <div class="c-message__text">
            {{ text|html_safe }}
        </div>



    </div>



{% endif %}
