{# *****************************************************************************
** Type: COMPONENT
** Name: Opac
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    none
#}



{# ***********************************************
** MARKUP
************************************************** #}

<div class="v-opac">

    <p class="v-opac__text">Rechercher un document dans le catalogue de la Bibliothèque</p>

    <form class="v-opac__form" action="{{ path('app_shop_opac') }}" method="POST" target="_blank">

        {% include ui('field') with {
            id: "search",
            label: "Entrez un nom, un auteur, un thème,...",
            control: {
                component: "input",
                attributes: {
                    type: "text"
                }
            },
            optional: false
        } only %}

        <div class="v-opac__submit">
            {% include ui('button') with {
                small: true,
                icon: 'zoom',
                label: "Rechercher",
                attributes: { type: "submit" }
            } only %}
        </div>

    </form>

    {% include ui('button') with {
        mode: "link",
        icon: 'external',
        label: "Accéder au catalogue",
        attributes: { class: "v-opac__button", href: "https://opac.si.leschampslibres.fr/", target: "_blank"}
    } only %}

</div>
