{# *****************************************************************************
** Type: COMPONENT
** Name: Podcast
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    id: String,
    title: String,
    picture: Image,
    element: Object
#}



{% if element|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if element.player|default %}
        {% set classes = classes ~ " v-podcast--#{element.player}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-podcast{{ classes }} js-podcast">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default %}
            <h2 class="v-podcast__title c-title">{{ title }}</h2>
        {% endif %}



        {# ***********************************************
        ** CONTAINER
        ************************************************** #}

        <div class="v-podcast__container js-podcast-container">



            {# ***********************************************
            ** ASIDE
            ************************************************** #}

            {% if picture|default and picture.image|default %}
                <div class="v-podcast__aside">
                    <img class="v-podcast__picture"
                         src="{{ asset(picture.image)|imagine_filter("podcast") }}"
                         alt="{{ picture.alt|default('') }}"

                         {% if picture.title|default %}
                            title="{{ picture.title }}"
                        {% endif %}

                         width="160"
                         height="160"
                         loading="lazy"
                    />
                </div>
            {% endif %}



            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-podcast__main">

                <{{ title|default ? "h3" : "h2" }} class="v-podcast__subtitle c-title c-title--xsmall">Écouter le podcast</{{ title|default ? "h3" : "h2" }}>

                <div class="v-podcast__content s-richtext">
                    <p>Vous pouvez écouter ce podcast sur <a href="{{ element.href_extern }}" target="_blank"> {{ ('app.ui.block.podcast.form.player.choices.' ~ element.player)|trans }}</a> ou bien directement sur cette page en acceptant les cookies du lecteur.</p>
                </div>

                <div class="v-podcast__checkpoint">

                    {% set label = "J'accepte les <a href=\"#{path('luna_page_show', { slug: under_pages_slug_by_code('gdpr') })}\" target=\"_blank\" title=\"cookies - nouvelle fenêtre\">cookies</a> du lecteur #{('app.ui.block.podcast.form.player.choices.' ~ element.player)|trans} <span class=\"c-checkbox__indic\">(Obligatoire)</span>." %}

                    {% include ui('form/_checkbox') with {
                        id: (id ~ "-checkbox")|default('podcast-checkbox'),
                        label: label,
                        checked: false,
                        disabled: false
                    } only %}

                    {% include ui('button') with {
                        label: "Écouter sur cette page",
                        attributes: {
                            class: "v-podcast__button js-podcast-button",
                            disabled: "",
                            title: title|default(null) ? "Écouter sur cette page : #{ title }" : null,
                            "data-href": element.href_intern,
                            "data-title": title|default(null),
                        }
                    } only %}

                </div>

            </div>



        </div>



        {# ***********************************************
        ** TRANSCRIPT
        ************************************************** #}

        {% if element.transcript %}
            <div class="v-podcast__transcript">
                {% include ui('details') with {
                    id: (id ~ "-transcript")|default,
                    title: "Afficher la transcription textuelle",
                    content: element.transcript
                } only %}
            </div>
        {% endif %}



    </div>



{% endif %}
