{# *****************************************************************************
** Type: COMPONENT
** Name: Post
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    color: "green"|"red"|"yellow"|"blue",
    picture: Picture,
    title: {
        level: Int,
        text: String
    },
    description: String,
    tag: {
        icon: String,
        label: String
    },
    publication_date: String,
    link: {
        label: String,
        href: String,
        title: String
    }
#}



{% if title|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}
    {% set picture_size = "post_vertical" %}
    {% set picture_width = "440" %}
    {% set picture_height = "364" %}

    {% if mode|default %}
        {% set classes = classes ~ " v-post--#{mode}" %}
        {% if mode == "horizontal" %}
            {% set picture_size = "post_horizontal" %}
            {% set picture_width = "457" %}
            {% set picture_height = "329" %}
        {% endif %}
    {% endif %}

    {% if picture|default and picture.image|default %}
        {% set classes = classes ~ " v-post--pictured" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " v-post--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-post{{ classes }} u-button-within">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        {% if picture|default and picture.image|default %}
            <img class="v-post__picture"
                 src="{{ asset(picture.image)|imagine_filter(picture_size) }}"
                 alt="{{ picture.alt|default('') }}"
                 title="{{ picture.title|default('') }}"
                 width="{{ picture_width }}"
                 height="{{ picture_height }}"
                 loading="lazy"
            />
        {% endif %}



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="v-post__content">



            {# ***********************************************
            ** TITLE
            ************************************************** #}

            <h{{ title.level|default(2) }} class="v-post__title c-title c-title--xsmall">

                {% if link|default and link.href|default %}
                    <a class="v-post__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}">
                {% endif %}

                {{ title.text|default(title) }}

                {% if link|default and link.href|default %}
                    </a>
                {% endif %}

            </h{{ title.level|default(2) }}>



            {# ***********************************************
            ** METAS
            ************************************************** #}

            {% if (tag|default and tag.label|default) or publication_date|default %}
                <div class="v-post__metas">



                    {# ***********************************************
                    ** PUBLICATION
                    ************************************************** #}

                    {% if publication_date|default %}
                        <p class="v-post__publication">Publié le {{ publication_date }}</p>
                    {% endif %}



                    {# ***********************************************
                    ** TAG
                    ************************************************** #}

                    {% if tag|default and tag.label|default %}
                        <p class="v-post__tag">
                            {% include ui('tag') with {
                                label: tag.label,
                                iconStart: tag.icon|default
                            } only %}
                        </p>
                    {% endif %}



                </div>
            {% endif %}



            {# ***********************************************
            ** DESCRIPTION
            ************************************************** #}

            {% if description|default %}
                <div class="v-post__description">{{ description|html_safe }}</div>
            {% endif %}



            {# ***********************************************
            ** BUTTON
            ************************************************** #}

            {% if link|default and link.href|default %}
                {% include ui('button') with {
                    mode: "link",
                    icon: link.icon|default("arrow-right"),
                    label: link.label|default("Lire l'article"),
                    attributes: {
                        class: "v-post__button",
                        href: link.href,
                        target: link.target|default("_self"),
                        title: link.title|default(null)
                    }
                } only %}
            {% endif %}



        </div>



    </div>



{% endif %}
