{# *****************************************************************************
** Type: COMPONENT
** Name: Quote
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if content|default %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <blockquote class="c-quote s-richtext">



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        {{ content|html_safe }}



        {# ***********************************************
        ** FOOTER
        ************************************************** #}

        {% if author|default or more|default %}
            <footer class="c-quote__footer">

                {% if author|default or more|default %}
                   —
                {% endif %}

                {% if author|default %}
                    {{ author }}{% if more|default %}, {% endif %}
                {% endif %}

                {% if more|default %}
                    <cite>{{ more }}</cite>
                {% endif %}

            </footer>
        {% endif %}



    </blockquote>



{% endif %}
