{# *****************************************************************************
** Type: COMPONENT
** Name: Resource
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    horizontal: boolean,
    color: String,
    picture: Picture,
    tag: {
        icon: String,
        label: String
    },
    title: {
        level: Int,
        text: String
    },
    description: String,
    specs: [
        { icon: String, text: String },
        ...
    ]
    link: {
        href: String,
        target: String
    }
#}



{% if title|default and link|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}
    {% set picture_size = "card" %}
    {% set picture_width = "376" %}
    {% set picture_height = "252" %}

    {% if picture|default and picture.image|default %}
        {% set classes = classes ~ " v-resource--pictured" %}
    {% endif %}

    {% if horizontal|default %}
        {% set classes = classes ~ " v-resource--horizontal" %}
        {% set picture_width = "288" %}
        {% set picture_height = "193" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " v-resource--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-resource{{ classes }}">



        {# ***********************************************
        ** PICTURE
        ************************************************** #}

        {% if picture|default and picture.image|default %}

            {% if horizontal|default %}
                <div class="v-resource__illustration">
            {% endif %}

            <img class="v-resource__picture"
                 src="{{ asset(picture.image)|imagine_filter(picture_size) }}"
                 alt="{{ picture.alt|default('') }}"

                 {% if picture.title|default %}
                    title="{{ picture.title }}"
                {% endif %}

                 width="{{ picture_width }}"
                 height="{{ picture_height }}"
                 loading="lazy"
            />

            {% if horizontal|default %}
                </div>
            {% endif %}

        {% endif %}



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        {% if horizontal|default %}
            <div class="v-resource__content">
        {% endif %}



        {# ***********************************************
        ** TAG
        ************************************************** #}

        {% if tag|default and tag.label|default %}
            <div class="v-resource__tag">
                {% include ui('tag') with {
                    label: tag.label,
                    iconStart: tag.icon|default(false)
                } only %}
            </div>
        {% endif %}



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title %}
            <h{{ title.level|default(2) }} class="v-resource__title c-title c-title--xsmall">

                {% if link|default and link.href|default %}
                    <a class="v-resource__link" href="{{ link.href }}" target="{{ link.target|default("_self") }}">
                {% endif %}

                {{ title.text|default(title) }}

                {% if link|default and link.href|default %}
                    </a>
                {% endif %}

            </h{{ title.level|default(2) }}>
        {% endif %}



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <p class="v-resource__description">{{ description|striptags|html_safe }}</p>
        {% endif %}



        {# ***********************************************
        ** SPECS
        ************************************************** #}

        {% if specs|default and specs|length > 0 %}
            <div class="v-resource__specs">
                {% for spec in specs %}
                    <div class="v-resource__spec">
                        {% if spec.text|default %}

                            {% if spec.icon|default %}
                                {% include ui('icon') with {
                                    icon: spec.icon,
                                    attributes: { class: "v-resource__icon", width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                            {% endif %}

                            {% if spec.prefix|default %}
                                <strong>{{ spec.prefix }} -</strong>
                            {% endif %}

                            <span class="v-resource__text{% if spec.stroke|default %} v-resource__text--stroke{% endif %}">{{ spec.text }}</span>

                            {% if spec.suffix|default %}
                                <strong>- {{ spec.suffix }}</strong>
                            {% endif %}

                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}



        {# ***********************************************
        ** END CONTENT
        ************************************************** #}

        {% if horizontal|default %}
            </div>
        {% endif %}



    </div>



{% endif %}
