{# *****************************************************************************
** Type: COMPONENT
** Name: Results
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    items: {
        current: Int,
        total: Int
    },
    pages: {
        current: Int,
        total: Int
    }
#}



{# ***********************************************
** MARKUP
************************************************** #}

{% if items|default and items.current|default and items.total|default and pages.current|default and pages.total|default %}
    <p class="c-results">
        {{ items.current }} 
        résultat{% if items.current > 1 %}s{% endif %} 
        affiché{% if items.current > 1 %}s{% endif %} 
        sur {{ items.total }} (page {{ pages.current }} sur {{ pages.total }})
    </p>
{% endif %}
