{# *****************************************************************************
** Type: COMPONENT
** Name: RSS
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if label|default and href|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-rss{{ classes }}">



        {# ***********************************************
        ** ILLUSTRATION
        ************************************************** #}

        <div class="v-rss__illustration">
            {% include ui('icon') with {
                icon: "rss",
                attributes: {
                    class: "v-rss__icon",
                    width: '38',
                    height: '38',
                    'aria-hidden': 'true',
                    focusable: 'false'
                }
            } only %}
        </div>



        {# ***********************************************
        ** CONTENT
        ************************************************** #}

        <div class="v-rss__content">



            {# ***********************************************
            ** TITLE
            ************************************************** #}

            <h2 class="v-rss__title c-title c-title--tiny">Flux RSS</h2>



            {# ***********************************************
            ** DESCRIPTION
            ************************************************** #}

            <p class="v-rss__description">
                Abonnez-vous au <a href="{{ href }}">flux RSS {{ label }}</a> pour être avertis des derniers articles.
            </p>



        </div>



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        {% include ui('button') with {
            mode: "primary",
            label: "Parcourir tous les flux RSS",
            attributes: {
                href: path('luna_page_show', { slug: under_pages_slug_by_code('feeds') }),
                class: "v-rss__button"
            }
        } only %}



    </div>



{% endif %}
