{# *****************************************************************************
** Type: COMPONENT
** Name: Series
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    horizontal: boolean,
    color: String,
    picture: Picture,
    title: {
        level: Int,
        text: String
    },
    description: String,
    href: String
#}



{% if title|default and href|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if horizontal|default %}
        {% set classes = classes ~ " v-series--horizontal" %}
    {% endif %}

    {% if color|default %}
        {% set classes = classes ~ " v-series--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-series{{ classes }} u-button-within">



        {# ***********************************************
        ** PICTURE
        ** https://picsum.photos/376/376
        ************************************************** #}

        {% if picture|default and picture.image|default %}
            <img class="v-series__picture"
                 src="{{ asset(picture.image)|imagine_filter('series') }}"
                 alt="{{ picture.alt|default('') }}"

                 {% if picture.title|default %}
                    title="{{ picture.title }}"
                {% endif %}

                 width="376"
                 height="376"
                 loading="lazy"
            />
        {% endif %}



        {% if horizontal|default %}
            <div class="v-series__content">
        {% endif %}



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        <h{{ title.level|default(2) }} class="v-series__title c-title c-title--small">
            <a class="v-series__link" href="{{ href }}" aria-label="Ouvrir la série : {{ title.text|default(title) }}">
                {{ title.text|default(title) }}
            </a>
        </h{{ title.level|default(2) }}>



        {# ***********************************************
        ** TAG
        ************************************************** #}

        <p class="v-series__tag">
            {% include ui('tag') with {
                label: "Série",
                iconStart: "series"
            } only %}
        </p>



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <div class="v-series__description">{{ description|html_safe }}</div>
        {% endif %}



        {# ***********************************************
        ** BUTTON
        ************************************************** #}

        {% include ui('button') with {
            mode: "link",
            icon: 'arrow-right',
            label: "Ouvrir la série",
            attributes: {
                class: "v-series__button",
                href: href,
            }
        } only %}



        {% if horizontal|default %}
            </div>
        {% endif %}



    </div>



{% endif %}
