{# ################################################################################
 # SKIPLINKS
 ################################################################################ #}


{#
 # Arguments
 ################################################################################ #}

{#
  as: String
  anchors:
    Array
      label: String
      url: String
  actions:
    Array
      label: String
      url: String
  showOnFocus: Boolean
  attributes: Array
#}


{#
 # Variables
 ################################################################################ #}

{% set as = as|default("div") %}
{% set attributes = deep_merge(attributes|default({}), { class: "c-skiplinks" }) %}


{#
 # Logic
 ################################################################################ #}


{#
 # Booleans
 #################### #}

{# Show on focus #}
{% set attributes = showOnFocus|default ? deep_merge(attributes|default({}), { class: "c-skiplinks--focus" }) : attributes %}


{#
 # Markup
 ################################################################################ #}

<{{ as }} {{ html_attributes(attributes) }}>
  <nav
    class="c-skiplinks__navigation"
    role="navigation"
    aria-label="Accès rapide"
  >

    {% if anchors|default %}
      <ul class="c-skiplinks__items">
        {% for _anchor in anchors %}
          <li class="c-skiplinks__item">
            {% include ui('button') with {
              mode: "link",
              label: _anchor.label|default,
              attributes: { href: _anchor.url|default, class: "c-skiplink__link" },
            } only %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if actions|default %}
      <ul class="c-skiplinks__items">
        {% for _action in actions %}
          <li class="c-skiplinks__item">
            {% include ui('button') with {
              mode: "primary",
              label: _action.label|default,
              attributes: { href: _action.url|default, class: "c-skiplink__action" },
            } only %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </nav>
</{{ as }}>
