{# *****************************************************************************
** Type: COMPONENT
** Name: Summary
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-summary js-summary{{ classes }}">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        <h2 class="c-summary__title c-title c-title--tiny">{{ title|default("Sommaire") }}</h2>



        {# ***********************************************
        ** ITEMS
        ************************************************** #}

        <ul class="c-summary__items">
            {% for id, label in items %}
                <li class="c-summary__item">
                    <a class="c-summary__link js-summary-anchor" href="#{{ id }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>



    </div>



{% endif %}
