{# ################################################################################
 # TAG
 ################################################################################ #}


{#
 # Arguments
 ################################################################################ #}

{#
  as: String
  mode: String
  label: String
  iconStart: String
  iconEnd: String
  attributes: Array
#}


{#
 # Variables
 ################################################################################ #}

{% set as = as|default("span") %}
{% set attributes = deep_merge(attributes|default({}), { class: "c-tag" }) %}


{#
 # Logic
 ################################################################################ #}

{% if "href" in attributes|keys %}
  {% set as = "a" %}
{% endif %}


{#
 # Mode
 #################### #}

{% if mode|default %}
  {% if mode == "primary" %}
    {% set attributes = deep_merge(attributes|default({}), { class: "c-tag--#{ mode }" }) %}
  {% else %}
    <pre><strong>Unknown TAG mode : <code>{{ mode }}</code>.</strong><br>Must be <code>primary</code></pre>
  {% endif %}
{% endif %}


{#
 # Markup
 ################################################################################ #}

<{{ as }} {{ html_attributes(attributes) }}>

    {% if iconStart|default %}
        {% include ui('icon') with {
            icon: iconStart,
            attributes: { class: "c-tag__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
        } only %}
    {% endif %}

    {% if label|default %}
        <span class="c-tag__label">{{ label }}</span>
    {% endif %}

    {% if iconEnd|default %}
        {% include ui('icon') with {
            icon: iconEnd,
            attributes: { class: "c-tag__icon", width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
        } only %}
    {% endif %}

</{{ as }}>
