{# *****************************************************************************
** Type: COMPONENT
** Name: Timetable
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div
        class="c-timetable{{ classes }}" {% if title == 'app.ui.resource.event.all_occurrences.title'|trans %} id="{{ title|slug('-', 'fr')|lower }}"{% endif %}>


        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default %}
            <h2 class="c-timetable__title c-title">{{ title }}</h2>
        {% endif %}



        {# ***********************************************
        ** DESCRIPTION
        ************************************************** #}

        {% if description|default %}
            <p class="c-timetable__description">{{ description }}</p>
        {% endif %}



        {# ***********************************************
        ** ITEMS
        ************************************************** #}

        {% for item, values in items %}
            {% if title == 'app.ui.resource.event.associated_programs.title'|trans %}
                {% set id = "timetable-" ~ item|format_datetime('full', 'none', locale='fr')|slug('-', 'fr')|lower %}
            {% else %}
                {% set id = "timetable-" ~ item|format_datetime(locale='fr',pattern="MMMM YYYY")|slug('-', 'fr')|lower %}
            {% endif %}
            <details class="c-timetable__details js-details"{% if id|default %} id="{{ id }}"{% endif %}>


                {# ***********************************************
                ** SUMMARY
                ************************************************** #}

                <summary
                    class="c-timetable__summary js-details-summary"
                    {% if id|default %}
                        aria-controls="{{ id }}"
                    {% endif %}
                    role="button"
                    tabindex="0"
                    aria-expanded="false">

                    <h3 class="c-timetable__subtitle">
                        {% if title == 'app.ui.resource.event.associated_programs.title'|trans %}
                            {{ item|format_datetime('full', 'none', locale='fr')|capitalize }}
                        {% else %}
                            {{ item|format_datetime(locale='fr',pattern="MMMM YYYY")|capitalize }}
                        {% endif %}
                    </h3>

                    <span class="c-timetable__action" aria-hidden="true">
                        <span class="c-timetable__label js-details-label" data-expanded-label="Fermer"
                              data-shrank-label="Ouvrir">Ouvrir</span>
                        {% include ui('icon') with {
                            icon: "chevron-down",
                            attributes: { class: "c-timetable__icon", width: '20', height: '20', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                    </span>

                </summary>


                {# ***********************************************
                ** CONTENT
                ************************************************** #}

                <ul class="c-timetable__values">
                    {% for value in values %}
                        <li class="c-timetable__value">

                            <div class="c-timetable__heading">
                                {% if value.title|default %}
                                    <div class="c-timetable__name">
                                        {% if value.href|default %}

                                            {% if nofollow %}
                                                {% set nofollow = "nofollow" %}
                                            {% endif %}

                                            <a class="c-timetable__link" href="{{ value.href }}" rel="{{ nofollow }}">
                                                {% endif %}
                                                {% if title == 'app.ui.resource.event.associated_programs.title'|trans %}
                                                    {{ value.title }}
                                                {% else %}
                                                    {{ value.title|format_datetime('full', 'none', locale='fr') }}
                                                {% endif %}
                                                {% if value.href|default %}
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if value.description|default %}
                                    <div class="c-timetable__text">{{ value.description }}</div>
                                {% endif %}
                            </div>

                            {% if value.state == 'Terminé' %}
                                <div class="c-timetable__state">{{ value.state }}</div>
                            {% else %}
                                <div class="c-timetable__state">{{ value.state|formatted_hours }}</div>
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>


            </details>
        {% endfor %}


    </div>



{% endif %}
