{# *****************************************************************************
** Type: COMPONENT
** Name: Topics
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#

    title: String,
    items: Array,
    color: "green"|"red"|"yellow"|"blue",

#}



{% if items|default and items|length > 0 %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if color|default %}
        {% set classes = classes ~ " v-topics--#{color}" %}
    {% endif %}


    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-topics{{ classes }}">
        <div class="v-topics__container l-container l-container--xlarge">



            {# ***********************************************
            ** TITLE
            ************************************************** #}

            {% if title|default %}
                <h2 class="v-topics__title c-title c-title--small">{{ title }}</h2>
            {% endif %}



            {# ***********************************************
            ** ITEMS
            ************************************************** #}

            <ul class="v-topics__items">
                {% for item in items %}
                    {% if item.label|default and item.href|default %}
                        <li class="v-topics__item">
                            <a class="v-topics__link" href="{{ item.href }}" aria-label="Sujet : {{ item.label }}">{{ item.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>



        </div>
    </div>



{% endif %}
