{# *****************************************************************************
** Type: COMPONENT
** Name: Util
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    icon: String,
    color: "green"|"red"|"yellow",
    text: String,
    link: {
        label: String,
        href: String
    }
#}



{% if link|default and link.href|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}

    {% if color|default %}
        {% set classes = classes ~ " c-util--#{color}" %}
    {% endif %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="c-util{{ classes }}">



        {# ***********************************************
        ** ASIDE
        ************************************************** #}

        <div class="c-util__aside">
            {% include ui('icon') with {
                icon: icon|default("arrow-right"),
                attributes: { class: "c-util__icon", width: '38', height: '38', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
        </div>



        {# ***********************************************
        ** MAIN
        ************************************************** #}

        <div class="c-util__main">

            {% if text|default %}
                <p class="c-util__text">{{ text|html_safe }}</p>
            {% endif %}

            <p>
                <a class="c-util__link" href="{{ link.href }}">{{ link.label|default("En savoir plus") }}</a>
            </p>

        </div>



    </div>



{% endif %}
