{# *****************************************************************************
** Type: COMPONENT
** Name: Video
******************************************************************************** #}



{# ***********************************************
** ARGUMENTS
************************************************** #}

{#
    id: String,
    title: String,
    picture: Image,
    element: Object
#}



{% if element|default %}



    {# ***********************************************
    ** VARIABLES
    ************************************************** #}

    {% set classes = "" %}



    {# ***********************************************
    ** MARKUP
    ************************************************** #}

    <div class="v-video{{ classes }} js-video">



        {# ***********************************************
        ** TITLE
        ************************************************** #}

        {% if title|default %}
            <h2 class="v-video__title c-title">{{ title }}</h2>
        {% endif %}



        {# ***********************************************
        ** CONTAINER
        ************************************************** #}

        <div class="v-video__container js-video-container">



            {# ***********************************************
            ** ASIDE
            ************************************************** #}

            {% if picture|default and picture.image|default %}
                <img
                    {{ html_attributes(image_attributes(picture.image, format|default('image_medium'), { class: "v-video__picture", alt: picture.alt|default(''), loading: "lazy" })) }}
                    {% if picture.title|default %}
                        title="{{ picture.title }}"
                    {% endif %}
                >
            {% endif %}



            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-video__main">

                <div class="v-video__inner">
                    <h3 class="v-video__subtitle c-title c-title--xsmall">Voir la vidéo</h3>
                    <div class="v-video__content s-richtext">
                        <p>Vous pouvez visionner cette vidéo sur <a href="{{ element.href_extern }}" target="_blank">{{ 'app.ui.block.video.form.player.choices.youtube'|trans }}</a> ou bien directement sur cette page en acceptant les cookies du lecteur.</p>
                    </div>
                </div>

                <div class="v-video__checkpoint">

                    {% set label = "J'accepte les <a href=\"#{path('luna_page_show', { slug: under_pages_slug_by_code('gdpr') })}\" target=\"_blank\">cookies</a> du lecteur #{'app.ui.block.video.form.player.choices.youtube'|trans} <span class=\"c-checkbox__indic\">(Obligatoire)</span>." %}

                    {% include ui('form/_checkbox') with {
                        id: (id ~ "-checkbox")|default('video-checkbox'),
                        label: label,
                        checked: false,
                        disabled: false
                    } only %}

                    {% include ui('button') with {
                        label: "Voir sur cette page",
                        attributes: {
                            class: "v-video__button js-video-button",
                            disabled: "",
                            title: title|default(null) ? "Regarder sur cette page : #{ title }" : null,
                            "data-href": element.href_intern,
                            "data-title": title|default(null),
                        }
                    } only %}

                </div>

            </div>



        </div>



        {# ***********************************************
        ** WRAPPER
        ************************************************** #}

        <div class="v-video__wrapper js-video-wrapper"></div>



        {# ***********************************************
        ** TRANSCRIPT
        ************************************************** #}

        {% if element.transcript %}
            <div class="v-video__transcript">
                {% include ui('details') with {
                    id: (id ~ "-transcript")|default,
                    title: "Afficher la transcription textuelle",
                    content: element.transcript
                } only %}
            </div>
        {% endif %}



    </div>



{% endif %}
