{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-checkbox</h1>
        <hr />

        <h2 class="c-title">Default</h2>

        {% include ui('form/_checkbox') with {
            id: "checkbox-id",
            value: "checkbox-value",
            label: "Case à cocher",
            checked: false
        } only %}

        <hr />

        <h2 class="c-title">Checked</h2>

        {% include ui('form/_checkbox') with {
            id: "checkbox-id-2",
            value: "checkbox-value",
            label: "Case à cocher",
            checked: true
        } only %}

        <hr />

        <h2 class="c-title">Disabled</h2>

        {% include ui('form/_checkbox') with {
            id: "checkbox-id-3",
            value: "checkbox-value",
            label: "Case à cocher",
            checked: false,
            disabled: true
        } only %}

        <hr />

        <h2 class="c-title">Hint</h2>

        {% include ui('form/_checkbox') with {
            id: "checkbox-id-4",
            value: "checkbox-value",
            label: "Case à cocher",
            hint: "Aide à la saisie",
            checked: false,
            disabled: false
        } only %}

    </div>
{% endblock %}
