{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-hint</h1>
        <hr />

        {% include ui('form/_hint') with {
            text: "Aide à la saisie",
            id: "hint-id"
        } only %}

    </div>
{% endblock %}
