{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-input</h1>
        <hr />

        <h2 class="c-title">Text - Default</h2>

        {% include ui('form/_input') with {
            type: "text",
            id: "input-id"
        } only %}

        <hr />

        <h2 class="c-title">Text - With placeholder</h2>

        {% include ui('form/_input') with {
            type: "text",
            id: "input-id-2",
            placeholder: "Placeholder ici"
        } only %}

        <hr />

        <h2 class="c-title">Text - Disabled</h2>

        {% include ui('form/_input') with {
            type: "text",
            id: "input-id-3",
            value: "Valeur",
            disabled: true
        } only %}

    </div>
{% endblock %}
