{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-label</h1>
        <hr />

        {% include ui('form/_label') with {
            text: "Label",
            for: "input-id",
            optional: true
        } only %}

    </div>
{% endblock %}
