{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    <div class="l-container">
        <p class="c-headline"><a href="/prototype/">‹ Retour</a></p>
        <h1 class="c-title c-title--large">c-select</h1>
        <hr />

        <h2 class="c-title">Default</h2>

        {% include ui('form/_select') with {
            id: "select-id",
            options: {
                "option-1": "Option 1",
                "option-2": "Option 2",
                "option-3": "Option 3"
            }
        } only %}

        <hr />

        <h2 class="c-title">With value</h2>

        {% include ui('form/_select') with {
            id: "select-id-2",
            value: "option-2",
            options: {
                "option-1": "Option 1",
                "option-2": "Option 2",
                "option-3": "Option 3"
            }
        } only %}

        <hr />

        <h2 class="c-title">Disabled</h2>

        {% include ui('form/_select') with {
            id: "select-id-3",
            value: "option-2",
            options: {
                "option-1": "Option 1",
                "option-2": "Option 2",
                "option-3": "Option 3"
            },
            disabled: true
        } only %}

    </div>
{% endblock %}
