/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Container
 * Type: Object
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";
@use "../settings/layout" as layout;

/*******************************************************************************
 * Variables
*******************************************************************************/

// $stack-gutter: 24px !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.l-container {
  max-width: rem.convert(layout.$container-width + layout.$gutter-size * 6);
  margin-right: auto;
  margin-left: auto;
  padding-right: rem.convert(layout.$gutter-size * 3);
  padding-left: rem.convert(layout.$gutter-size * 3);

  .l-container & {
    max-width: rem.convert(layout.$container-width);
    padding-right: 0;
    padding-left: 0;
  }
}


/**
** Sizes
****************************************/

@each $key, $value in layout.$container-widths {
  .l-container--#{$key} {
    max-width: rem.convert($value + layout.$gutter-size * 6);

    .l-container & {
      max-width: rem.convert($value);
      padding-right: 0;
      padding-left: 0;
    }
  }
}


/**
** Full
****************************************/

.l-container--full {
  max-width: none;

  .l-container & {
    max-width: none;
  }
}


/**
** Positions
****************************************/

.l-container--right {
  margin-left: auto;

  @include mq.mq($until: xlarge) {
    margin-right: 0;
  }

  @include mq.mq($from: xlarge, $until: wide) {
    margin-right: rem.convert(layout.$gutter-size * 7.5);
  }

  @include mq.mq($from: wide) {
    margin-right: rem.convert(layout.$gutter-size * 15);
  }

  .l-container--right & {
    margin-right: auto;
  }
}

.l-container--left {
  margin-right: auto;

  @include mq.mq($until: xlarge) {
    margin-left: 0;
  }

  @include mq.mq($from: xlarge, $until: wide) {
    margin-left: rem.convert(layout.$gutter-size * 7.5);
  }

  @include mq.mq($from: wide) {
    margin-left: rem.convert(layout.$gutter-size * 15);
  }
}


/**
** Switch
****************************************/

.l-container.l-container--switch {

  @include mq.mq($until: xlarge) {
    max-width: rem.convert(map.get(layout.$container-widths, "small"));
    margin-right: 0;
    margin-left: auto;
  }

  @include mq.mq($from: xlarge) {
    max-width: rem.convert(map.get(layout.$container-widths, "large"));
  }
}
