/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Grid
 * Type: Layout
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";
@use "../settings/layout" as layout;

/*******************************************************************************
 * Variables
*******************************************************************************/

// $stack-gutter: 24px !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.l-grid {

  @include mq.mq($from: medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: rem.convert(- layout.$gutter-size * 2.5);
    margin-right: rem.convert(- layout.$gutter-size * 2.5);
    margin-bottom: rem.convert(- layout.$gutter-size * 2.5);
    margin-left: rem.convert(- layout.$gutter-size * 2.5);
  }
}


/**
** Types
****************************************/

.l-grid--closer {

  @include mq.mq($from: medium) {
    margin-top: rem.convert(- layout.$gutter-size * 2);
    margin-right: rem.convert(- layout.$gutter-size * 2);
    margin-bottom: rem.convert(- layout.$gutter-size * 2);
    margin-left: rem.convert(- layout.$gutter-size * 2);
  }
}

.l-grid--center {
  justify-content: center;
}


  /**
  ** Item
  ****************************************/

  .l-grid__item {

    @include mq.mq($until: medium) {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 4);
      }
    }

    @include mq.mq($from: medium) {
      flex: 0 0 50%;
      width: 50%;
      padding: rem.convert(layout.$gutter-size * 2.5);

      .l-grid--closer & {
        padding: rem.convert(layout.$gutter-size * 2);
      }
    }
  }


/**
** Type: Narrow
****************************************/

.l-grid--narrow {

  .l-grid__item {

    @include mq.mq($from: xlarge) {
      flex: 0 0 33.333%;
      width: 33.333%;
    }
  }
}


/**
** Type: Tiny
****************************************/

.l-grid--tiny {

  .l-grid__item {

    @include mq.mq($from: large, $until: xlarge) {
      flex: 0 0 33.333%;
      width: 33.333%;
    }

    @include mq.mq($from: xlarge) {
      flex: 0 0 25%;
      width: 25%;
    }
  }
}


/**
** Type: Asided
****************************************/

.l-grid--asided {
  .l-grid__item {
    @include mq.mq($from: xlarge) {
      flex: 0 0 50%;
      width: 50%;
    }
  }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .l-grid,
  .l-grid.l-grid--tiny,
  .l-grid.l-grid--narrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: rem.convert(-1 * layout.$gutter-size);

    .l-grid__item {
      padding: rem.convert(layout.$gutter-size);

      > * {
        height: auto;
      }
    }
  }
}
