/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Main
 * Type: Layout
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

// @use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.l-main {}


  /**
  ** Head
  ****************************************/

  .l-main__head {}


  /**
  ** Body
  ****************************************/

  .l-main__body {
    position: relative;
    z-index: 2;

    &:not(:first-child) {

      body.banner-notched & {

        @include mq.mq($until: medium) {
          margin-top: rem.convert(layout.$gutter-size * 3);
        }

        @include mq.mq($from: medium, $until: large) {
          margin-top: rem.convert(layout.$gutter-size * 5);
        }

        @include mq.mq($from: xlarge) {
          margin-top: rem.convert(layout.$gutter-size * 8);
        }
      }

      body:not(.banner-notched) & {

        @include mq.mq($until: small) {
          margin-top: rem.convert(layout.$gutter-size * 5);
        }

        @include mq.mq($from: small, $until: large) {
          margin-top: rem.convert(layout.$gutter-size * 8);
        }

        @include mq.mq($from: large) {
          margin-top: rem.convert(layout.$gutter-size * 11);
        }
      }
    }
  }


    /**
    ** Board
    ****************************************/

    .l-main__board {

      @include mq.mq($from: large) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
      }
    }


      /**
      ** Aside
      ****************************************/

      .l-main__aside {

        @include mq.mq($from: large) {
          position: sticky;
          flex: 0 0 rem.convert(320px);
          width: rem.convert(320px);
          top: rem.convert(layout.$gutter-size * 2.5);

          body.page-event & {
            top: rem.convert(120px + layout.$gutter-size * 2.5);
          }
        }
      }


      /**
      ** Main
      ****************************************/

      .l-main__main {

        @include mq.mq($until: small) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 12);
          }
        }

        @include mq.mq($from: small, $until: large) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 15.5);
          }
        }

        @include mq.mq($from: large) {
          flex: 1 1 auto;
          padding-left: rem.convert(layout.$gutter-size * 5);
        }
      }


  /**
  ** Foot
  ****************************************/

  .l-main__foot {

    @include mq.mq($until: small) {
      margin-top: rem.convert(layout.$gutter-size * 12);
    }

    @include mq.mq($from: small, $until: large) {
      margin-top: rem.convert(layout.$gutter-size * 15.5);
    }

    @include mq.mq($from: large) {
      margin-top: rem.convert(layout.$gutter-size * 19);
    }
  }
