/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Page
 * Type: Layout
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/colors" as colors;
@use "../settings/layout" as layout;
@use "../../vega/tools/animation";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.l-page {
  position: relative;
}


  /**
  ** Head
  ****************************************/

  .l-page__head {
    position: relative;
    z-index: 9;
    box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0);
    @include animation.transition(background-color box-shadow);

    &.is-sticky {
      position: sticky;
      top: 0;
      right: 0;
      left: 0;
      background-color: colors.get("background");
      box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
    }

    @include mq.mq($from: large) {
      &.is-sticky {
        top: calc(-1 * var(--header-top-height, #{ rem.convert(46px) }));
        background-color: colors.get("grey");
      }
    }
  }


  /**
  ** Body
  ****************************************/

  .l-page__body {
    margin-top: calc(-1 * var(--header-height, #{ rem.convert(98px) }));

    @include mq.mq($from: large) {
      margin-top: calc(-1 * var(--header-height, #{ rem.convert(144px) }));
    }
  }


  /**
  ** Foot
  ****************************************/

  .l-page__foot {

    &:not(:first-child) {

      @include mq.mq($until: small) {
        margin-top: rem.convert(layout.$gutter-size * 12);
      }

      @include mq.mq($from: small, $until: large) {
        margin-top: rem.convert(layout.$gutter-size * 15.5);
      }

      @include mq.mq($from: large) {
        margin-top: rem.convert(layout.$gutter-size * 19);
      }
    }
  }

/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .l-page__head,
  .l-page__foot {
    display: none;
  }
}
