/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Stack
 * Type: Layout
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;

/*******************************************************************************
 * Variables
*******************************************************************************/

$stack-gutter: 24px !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.l-stack {}


  /**
  ** Item
  ****************************************/

  .l-stack,
  .l-stack__item {

    &:not(:first-child) {

      @include mq.mq($until: small) {
        margin-top: rem.convert(layout.$gutter-size * 10);
      }

      @include mq.mq($from: small, $until: large) {
        margin-top: rem.convert(layout.$gutter-size * 11);
      }

      @include mq.mq($from: large) {
        margin-top: rem.convert(layout.$gutter-size * 12);
      }
    }
  }

  .l-stack__item--overlap {

    &:first-child {

      @include mq.mq($until: small) {
        margin-top: rem.convert(- layout.$gutter-size * 7);
      }

      @include mq.mq($from: small, $until: medium) {
        margin-top: rem.convert(- layout.$gutter-size * 10);
      }

      @include mq.mq($from: medium, $until: large) {
        margin-top: rem.convert(- layout.$gutter-size * 17.25);
      }

      @include mq.mq($from: large, $until: wide) {
        margin-top: rem.convert(- layout.$gutter-size * 20.25);
      }

      @include mq.mq($from: wide) {
        margin-top: rem.convert(- layout.$gutter-size * 16.25);
      }
    }
  }


    /**
    ** Element
    ****************************************/

    .l-stack__element {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }

    .l-stack__element--large {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 4);
      }
    }

    .l-stack__element--xlarge {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 5);
      }
    }


/**
** TYPE: Narrow
****************************************/

.l-stack--narrow,
.l-stack--narrow .l-stack__item,
.l-stack__item--narrow {

  &:not(:first-child) {

    @include mq.mq($until: small) {
      margin-top: rem.convert(layout.$gutter-size * 8);
    }

    @include mq.mq($from: small, $until: large) {
      margin-top: rem.convert(layout.$gutter-size * 9.5);
    }

    @include mq.mq($from: large) {
      margin-top: rem.convert(layout.$gutter-size * 11);
    }
  }
}


/**
** TYPE: Small
****************************************/

.l-stack--small,
.l-stack--small .l-stack__item,
.l-stack__item--small {

  &:not(:first-child) {
    margin-top: rem.convert(layout.$gutter-size * 3);
  }
}
