/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Wrapper
 * Type: Object
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-rem/rem";
@use "../../vega/tools/objects" as objects;

/*******************************************************************************
 * Variables
*******************************************************************************/

$wrapper-gutter: 24px !default;
$wrapper-size: 1200px !default;
$wrapper-has-wide: true !default;
$wrapper-has-stretch: true !default;

$wrappers-sizes: (
//   "tiny": 550px,
//   "small": 690px,
//   "regular": 792px,
  "medium": 996px,
//   "large": 1080px,
) !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.o-wrapper {
  @include objects.wrapper($wrapper-size, $wrapper-gutter);
}

/*******************************************************************************
 * Modifiers
*******************************************************************************/

// Sizes
@each $namespace, $size in $wrappers-sizes {
  .o-wrapper--#{ $namespace } {
    --size: #{ rem.convert($size) };
  }
}

@if $wrapper-has-wide {
  .o-wrapper--wide {
    --gutter: 0px;
  }
}

@if $wrapper-has-stretch {
  .o-wrapper--stretch {
    > * {
        height: 100%;
    }
  }
}
