{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'luna.ui.menu.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        {{ form_row(form.icon) }}

        <div class="ui one column stackable grid">
            <div class="column">

                {% for locale, translationForm in form.translations %}
                    <div data-locale="{{ locale }}">

                        {{ form_row(translationForm.titleable.title) }}

                        {{ form_row(translationForm.titleable.slug) }}

                        {{ form_row(translationForm.describable.description) }}

                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
