{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}

{% set under_pages_code = app.request.attributes.get('_under_pages_code') %}
{% set page = find_by_composite_slug(app.request.locale , app.request.attributes.get('page_slug')) %}
{% set breadcrumb = under_page_breadcrumb_by_page(page) %}


{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}

        {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb,
        } only %}



    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {% if resources.data.currentPageResults|length %}

                    <section class="l-stack__item">

                        {% set item_current = resources.data.currentPageResults|length %}
                        {% set item_total = resources.data.nbResults %}
                        {% set page_current = resources.data.currentPage %}
                        {% set page_total = resources.data.nbPages %}

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--narrow l-grid--closer">

                                {% for resource in resources.data %}

                                    <div class="l-grid__item">

                                        {% include ui('resource') with {
                                            color: resource.color.value|default,
                                            picture: {
                                                image: resource.mainImage.image
                                            },
                                            title: {
                                                level: 2,
                                                text: resource.title
                                            },
                                            description: resource.description,
                                            specs: [
                                                { icon: "calendar", text: resource.date },
                                                { icon: "user", text: resource.school }
                                            ],
                                            link: {
                                                href: path('app_project_show', { page_slug: page.parent.compositeSlug, slug: resource.slug }),
                                                target: "_self"
                                            }
                                        } only %}

                                    </div>

                                {% endfor %}

                            </div>
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>

                        <div class="l-stack__element l-stack__element--large">
                            {{ pagination.simple(resources.data) }}
                        </div>

                    </section>

                {% endif %}


            </div>
        </div>



    </div>



{% endblock %}
