{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

 {% block metatags %}
     {{ parent() }}
     {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': resource } %}
 {% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ resource.title }} - {{ page.title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">



        {# ***********************************************
        ** BANNER
        ************************************************** #}


        {% include ui('banner') with {
            type: "event",
            color: resource.color.value|default,
            notched: true,
            title: resource.title|default,
            picture: resource.mainImage|default,
            breadcrumb: breadcrumb|default,
            mentions: [
                {
                    icon: "calendar",
                    value: resource.date
                },
                {
                    icon: "user",
                    value: resource.school
                }
            ]
        } only %}


    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        <div class="l-stack">
            <div class="l-container l-container--xlarge">
                {% set blocks = resource.blocks %}

                {% if blocks %}
                    <div class="l-stack">
                        <div class="l-container l-container--xlarge">

                            <div class="l-stack__element s-introduction">
                                {{ resource.description|html_safe }}
                            </div>

                            {% set elements = monsieurbiz_richeditor_get_elements(blocks) %}

                            {% if elements|default %}
                                {% for element in elements %}
                                    {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                                    {{ element|monsieurbiz_richeditor_render_element }}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>



    </div>



{% endblock %}
