{% set choices = enum_as_form_choices('App\\Enum\\Mediation\\PricingEnum') %}

{% include ui('field') with {
    id: "search-rate",
    label: "Tarif",
    hint: form.vars.help|trans|default(false),
    placeholder: form.vars.placeholder|trans|default(false),
    control: {
        component: "select",
        label: form.vars.label|trans,
        hint: form.vars.help|trans|default(false),
        attributes: {
            name: form.vars.full_name,
            value: form.vars.value,
            disabled: false,
            options: choices
        }
    },
    optional: true,
    hide_optional: true,
    errors: false
} only %}