{% set message = alert_message() %}
{% if message %}
    <div id="page-alert">
        {% include ui('alert') with {
            color: message.level.value,
            text: message.content,
            id: message.id,
        } only %}
    </div>
{% endif %}
