{# *****************************************************************************
** Type: FRONT
** Name: Footer
******************************************************************************** #}

<footer class="v-footer" id="footer" role="contentinfo" tabindex="-1">



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    {% set practical_menu = menu_first_level('practical_menu') %}
    {% set colors = ["green", "red", "yellow"] %}

    <div class="v-footer__head">
        <div class="l-container l-container--xlarge">
            <div class="v-footer__utils">

                {% for item in practical_menu|slice(0, 3) %}

                    <div class="v-footer__util">
                        {% include ui('util') with {
                            icon: item.icon.value,
                            color: colors[loop.index0],
                            text: item.description|html_safe,
                            link: {
                                label: item.label,
                                href: item.url
                            },
                            additional_classes: "v-footer__util"
                        } only %}
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="v-footer__body">
        <div class="l-container l-container--xlarge">



            {# ***********************************************
            ** MAP
            ************************************************** #}

            <div class="v-footer__map">



                {# ***********************************************
                ** ASIDE
                ************************************************** #}

                {% set socials_menu = menu_first_level('socials_menu') %}

                <div class="v-footer__aside">

                    <p class="v-footer__brand">
                        {% include ui('icon') with {
                            icon: 'logo',
                            attributes: { class: 'v-footer__logo', width: '320', height: '76', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Les Champs Libres</span>
                    </p>

                    <ul class="v-footer__networks">

                        {% for item in socials_menu %}

                            <li class="v-footer__network">
                                {% include ui('icon') with {
                                    icon: item.icon.value,
                                    attributes: { class: 'v-footer__icon', width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
                                } only %}
                                <a class="v-footer__link" href="{{ item.url }}" target="{{ menu_item_target(item) }}" rel="{{ menu_item_rel(item) }}" {% if item.translation.language %}lang="{{ item.translation.language }}"{% endif %}>{{ item.label }}</a>
                            </li>

                        {% endfor %}

                    </ul>

                </div>



                {# ***********************************************
                ** MAIN
                ************************************************** #}

                {% set footer_menu = menu_first_level('footer_menu') %}

                <div class="v-footer__main">

                    {% for item in footer_menu|slice(0, 3) %}

                        <div class="v-footer__menu">
                            <h2 class="v-footer__title">{{ item.label }}</h2>
                            <ul class="v-footer__list">

                                {% for sub_item in item.items %}
                                    {% set _aria_current = get_aria_current(sub_item.url) %}
                                    <li class="v-footer__item">
                                        <a class="v-footer__link" href="{{ sub_item.url }}" target="{{ menu_item_target(sub_item) }}" rel="{{ menu_item_rel(sub_item) }}" {% if sub_item.translation.language %}lang="{{ sub_item.translation.language }}"{% endif %}{% if _aria_current %} aria-current="{{ _aria_current }}"{% endif %}>{{ sub_item.label }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                    {% endfor %}

                </div>



            </div>



            {# ***********************************************
            ** PARTNERS
            ************************************************** #}

            <ul class="v-footer__partners">
                <li class="v-footer__partner">
                    <a href="https://metropole.rennes.fr/" target="_blank">
                        {% include ui('icon') with {
                            icon: 'logo-rennes-metropole',
                            attributes: { class: 'v-footer__logotype', width: '199', height: '40', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Rennes Métropole</span>
                    </a>
                </li>
                <li class="v-footer__partner">
                    <a href="https://www.marque.bretagne.bzh/" target="_blank">
                        {% include ui('icon') with {
                            icon: 'logo-marque-bretagne',
                            attributes: { class: 'v-footer__logotype', width: '105', height: '42', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Marque Bretagne</span>
                    </a>
                </li>
                <li class="v-footer__partner">
                    <a href="https://www.wikimedia.fr/label-culture-libre/" target="_blank">
                        {% include ui('icon') with {
                            icon: 'logo-label-culture-libre',
                            attributes: { class: 'v-footer__logotype', width: '105', height: '61', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Label Culture Libre</span>
                    </a>
                </li>
                {# Logo européen temporairement désaffiché #}
                {# <li class="v-footer__partner">
                    <a href="https://www.europe-en-france.gouv.fr" target="_blank">
                        {% include ui('icon') with {
                            icon: 'logo-union-europeenne',
                            attributes: { class: 'v-footer__logotype', width: '55', height: '69', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Cofinancé par l'Union Européenne, l'Europe s'engage en Bretagne</span>
                    </a>
                </li> #}
            </ul>



            {# ***********************************************
            ** INSERT
            ************************************************** #}

            {% set annex_menu = menu_first_level('annex_menu') %}

            <div class="v-footer__insert">

                {% set first = annex_menu|first %}
                <p class="v-footer__text" id="footer-insert-eco">
                    {{ first.description }}<br />
                    <a href="{{ first.url }}"{% if first.targetBlank|default %} target="_blank"{% endif %} aria-labelledby="footer-insert-eco">{{ first.label }}</a>
                </p>

                {% set second = annex_menu[1] %}
                <p class="v-footer__text" id="footer-insert-access">
                    {{ second.description }}<br />
                    <a href="{{ second.url }}"{% if second.targetBlank|default %} target="_blank"{% endif %} aria-labelledby="footer-insert-access">{{ second.label }}</a>
                </p>

                {% set third = annex_menu[2] %}
                <ul class="v-footer__text" id="footer-insert-licence">
                    <li><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" target="_blank" rel="noopener">{{ third.description }}<span class="u-visually-hidden"> - nouvelle fenêtre</span></a></li>
                    <li><a class="u-external-link" href="{{ third.url }}"{% if third.targetBlank|default %} target="_blank"{% endif %} aria-labelledby="footer-insert-licence">{{ third.label }}<span class="u-visually-hidden"> - nouvelle fenêtre</span></a></li>
                </ul>

            </div>



        </div>
    </div>



</footer>
