

{% if resource.noIndex|default %}
    <meta name="robots" content="noindex,nofollow,noarchive,nosnippet">
{% endif %}

{% set host = absolute_url(path('sylius_shop_homepage'))|trim('/') %}
{% set current_url = host ~ app.request.getPathInfo %}

{# META TITLE #}
{% set meta_title = resource is defined ? resource.metaTitle|default(resource.title)|default %}

{# META DESCRIPTION #}
{% set meta_description = resource is defined ? resource.metaDescription|default(resource.description)|default|striptags|html_safe %}

{# OPENGRAPH TITLE #}
{% set og_title = resource is defined ? resource.openGraphTitle|default(meta_title) %}

{# OPENGRAPH DESCRIPTION #}
{% set og_description = resource is defined ? resource.openGraphDescription|default(meta_description)|striptags|html_safe %}

{# OPENGRAPH IMAGE #}
{% set image = null %}
{% if resource is defined and resource %}
    {% if resource.openGraphImage %}
        {% set image = resource.openGraphImage.image %}
    {% elseif resource.mainImage %}
        {% set image = resource.mainImage.image %}
    {% endif %}
{% endif %}
{% if image|default %}
    {% set og_image = image|imagine_filter('open_graph') %}
{% else %}
    {% set og_image = absolute_url(asset('build/app/shop/images/share.png', 'app.shop')) %}
{% endif %}

{# META #}
{% if meta_description|default %}
    <meta name="description" content="{{ meta_description }}" />
{% endif %}

{# CANONICAL URL #}
{% if resource.canonicalUrl %}
    <link rel="canonical" href="{{ resource.canonicalUrl }}" />
{% endif %}

{# FACEBOOK #}
<meta property="og:title" content="{{ og_title }}">
{% if og_description|default %}
    <meta property="og:description" content="{{ og_description }}">
{% endif %}
{% if resource.canonicalUrl|default %}
    <meta property="og:url" content="{{ resource.canonicalUrl }}">
{% else %}
    <meta property="og:url" content="{{ current_url }}">
{% endif %}
{% if og_image is defined %}
    <meta property="og:image" content="{{ og_image }}">
{% endif %}

{# TWITTER #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
{% if og_description|default %}
    <meta name="twitter:description" content="{{ og_description }}">
{% endif %}
{% if resource.canonicalUrl|default %}
    <meta property="twitter:url" content="{{ resource.canonicalUrl }}">
{% else %}
    <meta property="twitter:url" content="{{ current_url }}">
{% endif %}
{% if og_image is defined %}
    <meta property="twitter:image" content="{{ og_image }}">
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#141414">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

{# Matomo #}
{% if app.environment == 'prod' and 'TODO CONFIGURE ME' in app.request.host %}
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="TODO CONFIGURE ME";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', 'TODO CONFIGURE ME']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src='TODO CONFIGURE ME'; s.parentNode.insertBefore(g,s);
        })();
    </script>
{% endif %}
