{# *****************************************************************************
** Type: FRONT
** Name: Header
******************************************************************************** #}

<header class="v-header" role="banner">



    {# ***********************************************
    ** LOGO
    ************************************************** #}

    {% if app.request.pathinfo == "/" %}
        <span class="v-header__home v-header__home--mobile">
            {% include ui('icon') with {
                icon: 'logo',
                attributes: { class: 'v-header__logo', width: '236', height: '57', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
            <span class="u-visually-hidden">Les Champs Libres</span>
        </span>
    {% else %}
        <a class="v-header__home v-header__home--mobile" href="{{ path('sylius_shop_homepage') }}">
            {% include ui('icon') with {
                icon: 'logo',
                attributes: { class: 'v-header__logo', width: '236', height: '57', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
            <span class="u-visually-hidden">Retour à l'accueil - Les Champs Libres</span>
        </a>
    {% endif %}


    <nav role="navigation" aria-label="Menu principal" tabindex="-1" id="navigation">

        {# ***********************************************
        ** BURGER
        ************************************************** #}

        <button class="v-header__burger c-burger js-burger" type="button" aria-expanded="false" aria-controls="nav" data-toggle-referrer>

            {% include ui('icon') with {
                icon: 'burger',
                attributes: { class: 'c-burger__icon c-burger__icon--open js-burger-icon', width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
            <span class="c-burger__label c-burger__label--open js-burger-label"><span class="u-visually-hidden">Ouvrir le </span>Menu</span>

            {% include ui('icon') with {
                icon: 'cross',
                attributes: { class: 'c-burger__icon c-burger__icon--close js-burger-icon', width: '24', height: '24', 'aria-hidden': 'true', focusable: 'false' }
            } only %}
            <span class="c-burger__label c-burger__label--close js-burger-label">Fermer<span class="u-visually-hidden"> le menu</span></span>

        </button>



        {# ***********************************************
        ** WRAPPER
        ************************************************** #}

        <div class="v-header__wrapper" id="nav">



            {# ***********************************************
            ** ASIDE
            ************************************************** #}

            <div class="v-header__aside" id="nav-aside">



                {# ***********************************************
                ** LIENS RAPIDES VERS LES ENTITÉS
                ************************************************** #}

                {% set shortcuts_menu = menu_first_level('shortcuts_menu') %}

                <div class="v-header__navigation v-header__navigation--externals">
                    <ul class="v-header__list">
                        {% for item in shortcuts_menu %}
                            {% set _aria_current = get_aria_current(item.url) %}
                            <li class="v-header__item">
                                <a class="v-header__link"
                                href="{{ item.url }}"
                                {% if item.translation.language %}lang="{{ item.translation.language }}"{% endif %}
                                {% if _aria_current %} aria-current="{{ _aria_current }}"{% endif %}>
                                    {{ item.label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>



                {# ***********************************************
                ** NAVIGATION SECONDAIRE
                ************************************************** #}

                {% set secondary_menu = menu_first_level('secondary_menu') %}

                <div class="v-header__navigation v-header__navigation--secondary">
                    <ul class="v-header__list">
                        {% for item in secondary_menu %}

                            {% if item.items is empty %}

                                {# ***********************************************
                                ** Lien
                                ************************************************** #}

                                {% set _aria_current = get_aria_current(item.url) %}
                                <li class="v-header__item">
                                    <a class="v-header__link"
                                    href="{{ item.url }}"
                                    {% if item.targetBlank|default %} target="_blank"{% endif %}
                                    {% if _aria_current|default %} aria-current="{{ _aria_current }}"{% endif %}>
                                        {% include ui('icon') with {
                                            icon: item.icon.value|default,
                                            attributes: { class: 'v-header__icon', width: '20', height: '20', 'aria-hidden': 'true', focusable: 'false' }
                                        } only %}
                                        <span>{{ item.label }}</span>
                                    </a>
                                </li>

                            {% else %}

                                {# ***********************************************
                                ** Bouton et liens
                                ************************************************** #}

                                {% set identifier = 'secondary-menu-item-' ~ item.id %}

                                {% set _aria_current = get_aria_current(item.url) %}
                                <li class="v-header__item v-header__item--menu"{% if _aria_current %} aria-current="true"{% endif %}>

                                    <button class="v-header__button js-toggle" type="button" aria-expanded="false" aria-controls="{{ identifier }}" data-toggle-group="nav" data-toggle-referrer>
                                        {% include ui('icon') with {
                                            icon: item.icon.value|default,
                                            attributes: { class: 'v-header__icon', width: '20', height: '20', 'aria-hidden': 'true', focusable: 'false' }
                                        } only %}
                                        <span>{{ item.label }}</span>
                                    </button>

                                    <ul class="v-header__menu js-toggle-target" id="{{ identifier }}" tabindex="-1" hidden>

                                        {% for sub_item in item.items %}

                                            {% set _aria_current = get_aria_current(sub_item.url) %}
                                            <li class="v-header__entry">
                                                {% include ui('button') with {
                                                    mode: "link",
                                                    icon: (menu_item_target(sub_item) == "_blank") ? "external" : sub_item.icon.value|default("arrow-right"),
                                                    label: sub_item.label,
                                                    label_title: (menu_item_target(sub_item) == "_blank") ? (sub_item.label ~ " - nouvelle fenêtre") : false,
                                                    attributes: {
                                                        class: "v-header__sublink",
                                                        href: sub_item.url,
                                                        target: menu_item_target(sub_item),
                                                        rel: menu_item_rel(sub_item),
                                                        'aria-current': _aria_current,
                                                        'lang': sub_item.translation.language,
                                                    }
                                                } only %}
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </li>

                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>



            </div>



            {# ***********************************************
            ** MAIN
            ************************************************** #}

            <div class="v-header__main" id="nav-main">



                {# ***********************************************
                ** LOGO
                ************************************************** #}

                {% if app.request.pathinfo == "/" %}
                    <span class="v-header__home v-header__home--desktop">
                        {% include ui('icon') with {
                            icon: 'logo',
                            attributes: { class: 'v-header__logo', width: '236', height: '57', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Les Champs Libres</span>
                    </span>
                {% else %}
                    <a class="v-header__home v-header__home--desktop" href="{{ path('sylius_shop_homepage') }}">
                        {% include ui('icon') with {
                            icon: 'logo',
                            attributes: { class: 'v-header__logo', width: '236', height: '57', 'aria-hidden': 'true', focusable: 'false' }
                        } only %}
                        <span class="u-visually-hidden">Retour à l'accueil - Les Champs Libres</span>
                    </a>
                {% endif %}



                {# ***********************************************
                ** NAVIGATION PRINCIPALE
                ************************************************** #}

                {% set main_menu = menu_first_level('main_menu') %}

                <div class="v-header__navigation v-header__navigation--primary">
                    <ul class="v-header__list">

                        {% for item in main_menu %}
                            {% if item.items|length > 0 %}



                                {# ***********************************************
                                ** ITEM
                                ************************************************** #}


                                {% set _aria_current = get_aria_current(item.url) %}
                                {% if not _aria_current %}
                                    {% for sub_item in item.items|slice(0, 3) %}
                                        {% if not _aria_current %}
                                            {% for sub_sub_item in sub_item.items %}
                                                {% if not _aria_current %}
                                                    {% set _aria_current = get_aria_current(sub_sub_item.url) %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <li class="v-header__item v-header__item--alt"{% if _aria_current %} aria-current="true"{% endif %}>



                                    {# ***********************************************
                                    ** BUTTON
                                    ************************************************** #}

                                    <button class="v-header__button js-toggle" type="button" aria-expanded="false" aria-controls="nav-{{ item.id }}" data-toggle-group="nav" data-toggle-rich data-toggle-referrer>{{ item.label }}</button>



                                    {# ***********************************************
                                    ** PANEL
                                    ************************************************** #}

                                    <div class="v-header__panel v-panel js-toggle-target" id="nav-{{ item.id }}" tabindex="-1" hidden>

                                        <div class="v-panel__container">



                                            {# ***********************************************
                                            ** CLOSE BUTTON
                                            ************************************************** #}

                                            <button class="v-panel__close v-panel__close--desktop js-toggle js-toggle-close" type="button" aria-controls="nav-{{ item.id }}" data-toggle-group="nav" data-toggle-rich>
                                                <span class="js-toggle-label">Fermer le menu<span class="u-visually-hidden"> {{ item.label }}</span></span>
                                                {% include ui('icon') with {
                                                    icon: 'cross',
                                                    attributes: { class: 'v-panel__icon js-toggle-icon', width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
                                                } only %}
                                            </button>

                                            <button class="v-panel__close v-panel__close--mobile js-toggle js-toggle-close" type="button" aria-label="Fermer le sous-menu {{ item.label }}" aria-controls="nav-{{ item.id }}" data-toggle-group="nav" data-toggle-rich>
                                                <span class="js-toggle-label">Retour<span class="u-visually-hidden"> {{ item.label }}</span></span>
                                                {% include ui('icon') with {
                                                    icon: 'chevron-left',
                                                    attributes: { class: 'v-panel__icon js-toggle-icon', width: '18', height: '18', 'aria-hidden': 'true', focusable: 'false' }
                                                } only %}
                                            </button>



                                            {# ***********************************************
                                            ** TITLE
                                            ************************************************** #}

                                            <p class="v-panel__title c-title c-title--small">{{ item.label }}</p>



                                            {# ***********************************************
                                            ** SECTIONS
                                            ************************************************** #}

                                            {% for sub_item in item.items|slice(0, 3) %}

                                                {# SECTIONS 1 & 2 #}
                                                {% if loop.index0 in (0..1) %}
                                                    <section class="v-panel__section">

                                                        {% if not sub_item.hideLabel %}
                                                            <p class="v-panel__subtitle">{{ sub_item.label }}</p>
                                                        {% endif %}

                                                        <ul class="v-panel__list">
                                                            {% for sub_sub_item in sub_item.items %}
                                                                {% set _aria_current = get_aria_current(sub_sub_item.url) %}
                                                                <li class="v-panel__item">
                                                                    <a class="v-panel__link"
                                                                    href="{{ sub_sub_item.url }}"
                                                                    target="{{ menu_item_target(sub_sub_item) }}"
                                                                    rel="{{ menu_item_rel(sub_sub_item) }}"
                                                                    {% if sub_sub_item.translation.language %}lang="{{ sub_sub_item.translation.language }}"{% endif %}
                                                                    {% if _aria_current %} aria-current="{{ _aria_current }}"{% endif %}>
                                                                        {{ sub_sub_item.label }}
                                                                    </a>
                                                                    {% if sub_sub_item.description %}
                                                                        <span class="v-panel__description" id="nav-{{ item.id }}-{{ sub_sub_item.id }}">{{ sub_sub_item.description }}</span>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>

                                                    </section>

                                                {# SECTION 3 #}
                                                {% elseif loop.index0 == 2 %}
                                                    <section class="v-panel__section v-panel__section--jump">
                                                        <div class="v-panel__jump">
                                                            <p class="c-title c-title--tiny" id="nav-{{ item.id }}-jump">{{ sub_item.label }}</p>
                                                            {% include ui('button') with {
                                                                mode: "link",
                                                                icon: 'arrow-right',
                                                                label: "Découvrir",
                                                                attributes: { class: "v-panel__button", href: sub_item.url, "aria-labelledby": "nav-" ~ item.id ~ "-jump", target: menu_item_target(sub_item), rel: menu_item_rel(sub_item) },
                                                            } only %}
                                                        </div>
                                                    </section>
                                                {% endif %}


                                            {% endfor %}

                                        </div>

                                    </div>
                                </li>

                            {% endif %}

                        {% endfor %}



                    </ul>
                </div>



            </div>



        </div>



    </nav>



</header>
