{% set json_ld = json_ld|default([{
    "@context": "https://schema.org",
    "@type": "Organization",
    "image": absolute_url(asset('build/app/shop/images/lcl.jpg', 'app.shop')),
    "url": absolute_url(path('sylius_shop_homepage')),
    "sameAs": ["https://twitter.com/TODO CONFIGURE ME", "https://www.facebook.com/TODO CONFIGURE ME", "https://www.instagram.com/TODO CONFIGURE ME", "https://www.youtube.com/TODO CONFIGURE ME"],
    "logo": absolute_url(asset('build/app/shop/images/TODO CONFIGURE ME', 'app.shop')),
    "name": "TODO CONFIGURE ME",
    "description": "TODO CONFIGURE ME",
    "email": "TODO CONFIGURE ME",
    "telephone": "TODO CONFIGURE ME",
    "address": {
        "@type": "TODO CONFIGURE ME",
        "streetAddress": "TODO CONFIGURE ME",
        "addressLocality": "TODO CONFIGURE ME",
        "addressCountry": "TODO CONFIGURE ME",
        "addressRegion": "TODO CONFIGURE ME",
        "postalCode": "TODO CONFIGURE ME"
    },
}]) %}

{% if breadcrumb|default([])|length %}
    {% set _json_ld = {
        '@context': "https://schema.org",
        '@type': "BreadcrumbList",
    } %}
    {% set _items = [] %}
    {% for _item in breadcrumb %}
        {% set _items = _items|merge([{
            '@type': "ListItem",
            position: loop.index,
            name: _item.label|trans,
            item: _item.href|default
        }]) %}
    {% endfor %}
    {% set _json_ld = _json_ld|merge({ itemListElement: _items }) %}
    {% set json_ld = json_ld|merge([_json_ld]) %}
{% endif %}

<script type="application/ld+json">
    {{ json_ld|json_encode|raw }}
</script>
