{% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': index_url}} %}

<div class="ui hidden divider"></div>

{% set menu = knp_menu_get('app.admin.thematic_tour_form', [], {'thematic_tour': thematic_tour}) %}

{{ knp_menu_render(menu, {'template': 'app/Admin/ThematicTour/_menu.html.twig', 'form': form, 'thematic_tour': thematic_tour}) }}
