{# *****************************************************************************
** Type: TEMPLATE
** Name: Series (index)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** IMPORTS
************************************************** #}

{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}

{# ***********************************************
** VARIABLES
************************************************** #}

{% set page = under_page_by_code('series') %}
{% set breadcrumb = under_page_breadcrumb_by_code('series') %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} banner-notched{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% set title = page.title %}

{% if resources.data.currentPageResults|length %}
    {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            notched: true,
            title: page.title,
            description: page.description|default,
            breadcrumb: breadcrumb|default
        } only %}
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">



        {# ***********************************************
        ** FIXED STACK
        ************************************************** #}

        {% if resources.data.currentPageResults|length %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">
                    <div class="l-stack__item">



                        {# ***********************************************
                        ** VARIABLES
                        ************************************************** #}

                        {% set item_current = resources.data.currentPageResults|length %}
                        {% set item_total = resources.data.nbResults %}
                        {% set page_current = resources.data.currentPage %}
                        {% set page_total = resources.data.nbPages %}



                        {# ***********************************************
                        ** RESULTS (TOP)
                        ************************************************** #}

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>



                        {# ***********************************************
                        ** GRID
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--narrow">
                                {% for resource in resources.data %}
                                    <div class="l-grid__item">
                                        {% include ui('series') with {
                                            color: resource.color.value|default,
                                            picture: {
                                                image: resource.mainImage.image,
                                            },
                                            title: {
                                                level: 2,
                                                text: resource.title
                                            },
                                            description: resource.description,
                                            href: path('app_serie_show', { page_slug: under_pages_slug_by_code('series'), slug: resource.slug })
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>



                        {# ***********************************************
                        ** RESULTS (BOTTOM)
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>



                        {# ***********************************************
                        ** PAGINATION
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--large">
                            {{ pagination.simple(resources.data) }}
                        </div>



                    </div>
                </div>
            </div>
        {% endif %}



        {# ***********************************************
        ** FLEXIBLE STACK
        ************************************************** #}

        {% if page.blocks %}
            <div class="l-stack">
                <div class="l-container l-container--xlarge">

                    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

                    {% if elements|default %}
                        {% for element in elements %}
                            {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                            {{ element|monsieurbiz_richeditor_render_element }}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        {% endif %}



    </div>



{% endblock %}
