/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Align
 * Type: Utility
 *
 * Description: ...
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.u-text-align-center {
  text-align: center;
}

.u-text-align-center-until-medium {

  @include mq.mq($until: medium) {
    text-align: center;
  }
}

.u-flex-align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
