/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: External link
 * Type: Utility
 *
 * Description: ...
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-rem/rem";
@use "../../vega/tools/svg";

@use "../settings/layout" as layout;
@use "../settings/colors" as colors;

/*******************************************************************************
 * Default styles
*******************************************************************************/

a.u-external-link {
  position: relative;
  padding-right: rem.convert(layout.$gutter-size * 2.5);
  white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: rem.convert(15px);
    height: rem.convert(15px);
    margin-left: rem.convert(layout.$gutter-size * 0.5);
    background-image: svg.icon("<svg viewBox=\"0 0 15 15\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M8.1247 7.3439a.4636.4636 0 0 1-.3313-.1375c-.1812-.1813-.1812-.4813 0-.6625l5.125-5.125c.1813-.1813.4813-.1813.6625 0 .1813.1812.1813.4812 0 .6625l-5.125 5.125a.4636.4636 0 0 1-.3312.1375Z\" fill=\"%color%\"/><path d=\"M13.7495 4.7188c-.2562 0-.4687-.2126-.4687-.4688V1.7187h-2.5313c-.2562 0-.4687-.2124-.4687-.4687 0-.2562.2125-.4688.4687-.4688h3c.2563 0 .4688.2126.4688.4688v3c0 .2562-.2125.4688-.4688.4688ZM9.375 14.2188h-3.75c-3.3937 0-4.8438-1.4501-4.8438-4.8438v-3.75c0-3.3937 1.45-4.8438 4.8438-4.8438h1.25c.2562 0 .4688.2126.4688.4688 0 .2563-.2126.4688-.4688.4688h-1.25c-2.8813 0-3.9063 1.025-3.9063 3.9062v3.75c0 2.8813 1.025 3.9062 3.9063 3.9062h3.75c2.8813 0 3.9062-1.0249 3.9062-3.9062v-1.25c0-.2562.2126-.4688.4688-.4688s.4688.2126.4688.4688v1.25c0 3.3937-1.4501 4.8438-4.8438 4.8438Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}
