/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Visually hidden
 * Type: Utility
 *
 * Description: ...
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

// @use "sass-rem/rem";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
