{% extends '@SyliusShop/_layouts/prototype.html.twig' %}

{% block content %}
    {% set scopes = ['Introduction', 'Richtext'] %}
    {% set views = ['Audience', 'Banner', 'Browse', 'Card', 'CTA', 'Enabler', 'Event', 'Events', 'Explore', 'Field', 'Files', 'Form', 'Illustrated', 'Immersive', 'Logos', 'Meetings', 'Opac', 'Pagination', 'Podcast', 'Post', 'Resource', 'RSS', 'Search', 'Series', 'Topics'] %}
    {% set components = ['Alert', 'Breadcrumb', 'Button', 'Details', 'Figure', 'Filters', 'Further', 'Handy', 'Headline', 'Icon', 'Quote', 'Meeting', 'Results', 'Summary', 'Tag', 'Timetable', 'Title', 'Util'] %}
    {% set form_components = ['Checkbox', 'Hint', 'Input', 'Label', 'Select', 'Textarea'] %}
    {% set blocks = {
        '01. Introduction': 'introduction',
        '02. Texte riche': 'text',
        '03. Infos pratiques': 'informations',
        '04-a. Question - Réponse': 'question',
        '04-b. Questions - Réponses': 'questions',
        '05. Image': 'image_with_style',
        '06. Galerie d’images': 'gallery',
        '07. Texte + Image': 'image_text',
        '08. Galerie de logos': 'logos',
        '09. Texte immersif': 'immersion',
        '10. Recherche OPAC': 'opac',
        '11. Citation courte': 'quote',
        '12. Mise en avant d’événements (lot 2)': 'events',
        '13. Mise en avant d’articles du Mag ⚠️ lot 3': '',
        '14-a. Mise en avant d\'une carte': 'simple_card',
        '14-b. Mise en avant de cartes': 'simple_cards',
        '15-a. Carte colorée': 'color_card',
        '15-b. Cartes colorées': 'color_cards',
        '16. Push de contenu': 'push'
    } %}
    {% set pages = {
        'Au programme : accueil': 'au-programme-accueil',
        'Au programme : recherche (aujourd\'hui)': 'au-programme-recherche-aujourdhui',
        'Au programme : recherche (cette semaine)': 'au-programme-recherche-cette-semaine',
        'Au programme : résultats de recherche': 'au-programme-resultats',
        'Au programme : Expositions aux Champs Libres': 'au-programme-expositions',
        'Au programme : Évènements aux Champs Libres': 'au-programme-evenements',
        'Au programme : Ateliers 4C aux Champs Libres': 'au-programme-ateliers-4c',
        'Au programme : Aucun résultat': 'au-programme-aucun-resultat',
        'Détail d\'un programme': 'detail-programme',
        'Explorer : accueil': 'explorer-accueil',
        'Explorer : liste des séries': 'explorer-liste-series',
        'Explorer : détail d\'une série': 'explorer-detail-serie',
        'Professionnels \"Enseignants\" : accueil': 'professionnels-enseignants',
        'Professionnels \"Enseignants\" : liste des médiations (accueil)': 'professionnels-enseignants-mediations-liste',
        'Professionnels \"Enseignants\" : liste des médiations (résultats de recherche)': 'professionnels-enseignants-mediations-resultats',
        'Professionnels \"Enseignants\" : détail d\'une médiation': 'professionnels-enseignants-mediations-detail',
        'Professionnels \"Enseignants\" : liste des parcours thématiques': 'professionnels-enseignants-parcours-thematiques',
        'Professionnels \"Enseignants\" : détail d\'un parcours thématique': 'professionnels-enseignants-parcours-thematiques-detail',
        'Professionnels \"Enseignants\" : projets': 'professionnels-enseignants-projets',
        'Professionnels \"Enseignants\" : projets passés': 'professionnels-enseignants-projets-passes',
        'Professionnels \"Enseignants\" : dossiers pédagogiques': 'professionnels-enseignants-dossiers',
        'Professionnels \"Enseignants\" : boîte à outils thématiques': 'professionnels-enseignants-boite-a-outils-thematiques',
        'Professionnels \"Enseignants\" : expositions itinérantes': 'professionnels-enseignants-expositions-itinerantes',
        'Professionnels \"Enseignants\" : page détail d\'un projet, d\'un dossier thématique, d\'une boîte à outils ou d\'une expo itinérante': 'professionnels-enseignants-page-detail',
    } %}
    <div class="o-blocks">
        <div class="o-blocks__item">
            <div class="o-wrapper">
                <div class="s-richtext">
                    <h1 class="c-title">Prototype</h1>
                    <hr />
                    <h2 class="c-title c-title--small">Scopes</h2>
                    <ul>
                        {% for _scope in scopes %}
                            <li><a href="/prototype/scopes/{{ _scope|lower }}">{{ _scope }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h2 class="c-title c-title--small">Vues</h2>
                    <ul>
                        {% for _view in views %}
                            <li><a href="/prototype/views/{{ _view|lower }}">{{ _view }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h2 class="c-title c-title--small">Composants</h2>
                    <ul>
                        {% for _component in components %}
                            <li><a href="/prototype/components/{{ _component|lower }}">{{ _component }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h2 class="c-title c-title--small">Composants de formulaire</h2>
                    <ul>
                        {% for _component in form_components %}
                            <li><a href="/prototype/form_components/{{ _component|lower }}">{{ _component }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h2 class="c-title c-title--small">Blocs flexibles</h2>
                    <ul>
                        {% for _name, _block in blocks %}
                            <li>
                                {% if _block != '' %}
                                    <a href="/prototype/blocks/{{ _block|lower }}">
                                {% endif %}
                                    {{ _name }}
                                {% if _block != '' %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr />
                    <h2 class="c-title c-title--small">Pages</h2>
                    <ul>
                        {% for _name, _page in pages %}
                            <li>
                                {% if _page != '' %}
                                    <a href="/prototype/pages/{{ _page|lower }}">
                                {% endif %}
                                    {{ _name }}
                                {% if _page != '' %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr />
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script id="__bs_script__">//<![CDATA[
    (function() {
        try {
        var script = document.createElement('script');
        if ('async') {
            script.async = true;
        }
        script.src = 'http://localhost:3001/browser-sync/browser-sync-client.js?v=2.29.3';
        if (document.body) {
            document.body.appendChild(script);
        } else if (document.head) {
            document.head.appendChild(script);
        }
        } catch (e) {
        console.error("Browsersync: could not append script tag", e);
        }
    })()
    //]]></script>
{% endblock %}
