/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Form's Checkbox
 * Type: Component
 * Description: A single option respresented as a checkbox or radio button.
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "@lunaweb/vega-reactor-scss/src/tools/animation";
@use "@lunaweb/vega-reactor-scss/src/tools/svg";

@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

/**
 * Base
*******************************************************************************/

$checkbox-size: 18px;
$checkbox-gap: 8px;
$checkbox-accent-color: #{colors.get("black")};
$checkbox-accent-contrast-color: #{colors.get("white")};
$checkbox-border-size: 2px;
$checkbox-border-color: #{colors.get("grey-800")};
$checkbox-disabled-background-color: #{colors.get("grey-400")};
$checkbox-disabled-border-color: #{colors.get("grey-600")};
$checkbox-disabled-label-color: #{colors.get("grey-700")};
$checkbox-focus-outline-size: 2px;
$checkbox-top-alignment: 2px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-checkbox {
  --option-border-color: #{$checkbox-border-color};
  --option-background-color: #{$checkbox-accent-contrast-color};
  --option-color: inherit;
  --option-label-color: inherit;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
}

    .c-checkbox__control,
    .c-checkbox__box {
      display: block;
      width: $checkbox-size;
      height: $checkbox-size;
      margin-top: $checkbox-top-alignment;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .c-checkbox__control {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    .c-checkbox__box {
      position: relative;
      flex: 0 0 auto;
      color: var(--option-color);
      background: var(--option-background-color);
      border: $checkbox-border-size solid var(--option-border-color);
      border-radius: 2px;
      @include animation.transition(background box-shadow color);

      .c-checkbox__control:focus ~ & {
        box-shadow:
          0 0 0 $checkbox-focus-outline-size $checkbox-accent-contrast-color,
          0 0 0 ($checkbox-focus-outline-size * 2) $checkbox-accent-color;
      }

      .c-checkbox__control:checked ~ & {
        --option-border-color: #{$checkbox-accent-color};
        --option-background-color: #{$checkbox-accent-color};
      }
    }

    .c-checkbox__control:checked ~ .c-checkbox__box {
      --option-color: #{$checkbox-accent-contrast-color};
    }

      .c-checkbox__icon {
        position: absolute;
        top: rem.convert(-1px);
        left: rem.convert(-1px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include animation.transition(transform);

        .c-checkbox__control:not(:checked) ~ .c-checkbox__box & {
          transform: scale(0);
        }
      }

  .c-checkbox__text {
    margin-left: $checkbox-gap;
  }

    .c-checkbox__label {
      flex: 1 1 auto;
      display: block;
      @include fonts.small-text;
      color: var(--option-label-color);

      a {
        font-weight: fonts.$bold;
      }
    }

      .c-checkbox__indic {
        font-style: italic;
        color: colors.get("grey-800");
      }

    .c-checkbox__hint {}

/*******************************************************************************
 * Feedback styles
*******************************************************************************/

.c-checkbox--disabled {
  --option-background-color: #{$checkbox-disabled-background-color};
  --option-border-color: #{$checkbox-disabled-border-color};
  --option-label-color: #{$checkbox-disabled-label-color};

  .c-checkbox__control,
  .c-checkbox__box {
    cursor: not-allowed;
  }
}

.c-checkbox--error {
  --option-background-color: #{colors.get("red-50")};

  .c-checkbox__control:not(:checked) ~ .c-checkbox__box {
    --option-border-color: #{colors.get("red-600")};
  }
}
