/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: customselect
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:math";
@use "sass-em/em";
@use "sass-rem/rem";
@use "../../settings/colors" as colors;

/*******************************************************************************
 * Variables
*******************************************************************************/

$customselect-font-size: 16px;

.c-customselect {
  position: relative;
  z-index: 1;
  font-size: rem.convert($customselect-font-size);
}

  .c-customselect__control {}

  .c-customselect__popover {
    position: absolute;
    top: calc(100% + #{ em.convert(2px, $customselect-font-size) });
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: rem.convert(280px);
    max-height: rem.convert(280px);
    overflow: hidden;
    background-color: colors.get("background");
    border: rem.convert(1px) solid colors.get("grey-700");
    border-radius: em.convert(16px, $customselect-font-size);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

    &[hidden] {
      display: none;
    }
  }

    .c-customselect__menu {
      overflow-y: auto;
    }
