/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Error
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-error {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  @include fonts.small-text;
  font-weight: fonts.$bold;
  color: colors.get("red-600");

  > *:first-child {
    flex: 0 0 auto;
  }

  > *:not(:first-child) {
    flex: 1 1 auto;
    margin-left: rem.convert(layout.$gutter-size * 0.5);
  }
}
