/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Form's Input
 * Type: Component
 * Description: A simple text input.
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "@lunaweb/vega-reactor-scss/src/tools/animation";
@use "@lunaweb/vega-reactor-scss/src/tools/svg";

@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

/**
 * Base
*******************************************************************************/

$base-height: 50px;
$padding-top: 8px;
$padding-right: 12px;
$padding-bottom: 8px;
$padding-left: 12px;
$border-radius: 16px;
$focus-shadow-position: 0 0 0 3px;
$error-shadow-position: inset 0 0 0 3px;
$with-action-padding-right: 38px;
$action-offset-top: 11px;
$action-offset-right: 12px;
$action-icon-size: 18px;
$select-icon: "<svg viewBox=\"0 0 18 18\" xmlns=\"http://www.w3.org/2000/svg\">\
  <path d=\"M5.33582 6.22119L8.77832 9.65619L12.2208 6.22119L13.2783 7.27869L8.77832 11.7787L4.27832 7.27869L5.33582 6.22119Z\" fill=\"%color%\" />\
</svg>";
$date-icon: "<svg viewBox=\"0 0 32 32\" xmlns=\"http://www.w3.org/2000/svg\">\
  <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"#fff\"/>\
  <path d=\"M13 11.3a.6.6 0 0 1-.6-.6V8.6c0-.3.3-.6.6-.6s.6.3.6.6v2.3c0 .3-.3.5-.6.5ZM19 11.3a.6.6 0 0 1-.6-.6V8.6c0-.3.3-.6.6-.6s.6.3.6.6v2.3c0 .3-.3.5-.6.5ZM13.4 17.9H13l-.3-.2a.7.7 0 0 1-.2-.8l.2-.3a.8.8 0 0 1 1.1 0 .8.8 0 0 1 .2.7v.1l-.1.1v.2l-.6.2ZM16 17.9h-.3l-.2-.2a.7.7 0 0 1-.2-.8c0-.2.1-.2.2-.3l.2-.2c.3 0 .6 0 .8.2a.8.8 0 0 1 .2.7v.2l-.2.2-.5.2ZM18.6 17.9h-.3l-.2-.2-.1-.2-.1-.2V17c0-.2 0-.4.2-.5l.2-.2c.3 0 .6 0 .9.2a.8.8 0 0 1 .2.7v.1l-.2.1v.2l-.6.2ZM13.4 20.5H13l-.3-.2a.8.8 0 0 1-.2-.5v-.3l.2-.3c.3-.3.8-.3 1.1 0l.2.6c0 .1 0 .3-.2.5l-.5.2ZM16 20.5c-.2 0-.4 0-.5-.2a.8.8 0 0 1-.3-.5l.1-.3.2-.3c.2-.3.8-.3 1 0l.2.3v.3c0 .1 0 .3-.2.5l-.5.2ZM18.6 20.5c-.2 0-.4 0-.5-.2l-.2-.3v-.5l.2-.3a.7.7 0 0 1 .8-.1h.1l.2.1.2.5-.2.6-.6.2ZM22.4 14.4H9.6a.6.6 0 0 1-.5-.6c0-.3.2-.5.5-.5h12.8c.3 0 .5.2.5.5s-.2.6-.5.6Z\" fill=\"%color%\"/>\
  <path d=\"M19 24h-6c-2.7 0-4.3-1.5-4.3-4.3v-6.3C8.7 10.6 10.3 9 13 9h6c2.7 0 4.3 1.5 4.3 4.3v6.3c0 2.8-1.6 4.4-4.3 4.4Zm-6-13.8c-2.1 0-3.2 1-3.2 3.2v6.3c0 2.2 1 3.2 3.2 3.2h6c2.1 0 3.2-1 3.2-3.1v-6.4c0-2.2-1-3.2-3.2-3.2h-6Z\" fill=\"%color%\"/>\
</svg>";

/**
 * Alt
*******************************************************************************/

$alt-enable: false;
$alt-base-height: 56px;
$alt-padding-top: 26px;
$alt-padding-right: 12px;
$alt-padding-bottom: 5px;
$alt-padding-left: 12px;
$alt-border-radius: 4px 4px 0 0;
$alt-shadow-position: inset 0 -2px 0 0;
$alt-focus-shadow-position: inset 0 -4px 0 0;
$alt-with-action-padding-right: 38px;
$alt-action-offset-top: 19px;
$alt-action-offset-right: 12px;

/**
 * With Action
*******************************************************************************/

$with-action-enable: false;

/**
 * Mixins
*******************************************************************************/

/**
 * Attempt to fix label which overlap input's content in certain conditions like
 * use with a textearea or a mutliple select.
 * You might need to tweek some CSS (focus and error styles management) in
 * addition to make this completely working if there is some input's background
 * transitions to manage.
 * The best solution is to have a plain background that never change to
 * accomodate this fix simply.
 */
// @mixin input-alt-label-safe-area {
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     height: var(--form-input-alt-label-safe-area);
//     background: var(--form-input-background);
//     border-radius: var(--form-input-border-radius);
//     @include animation.transition(background);
//   }
// }

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-input {
  --form-input-height: #{$base-height};
  --form-input-padding-top: #{$padding-top};
  --form-input-padding-right: #{$padding-right};
  --form-input-padding-bottom: #{$padding-bottom};
  --form-input-padding-left: #{$padding-left};
  --form-input-action-offset-top: #{$action-offset-top};
  --form-input-action-offset-right: #{$action-offset-right};
  --form-input-border-size: 1px;
  --form-input-border-color: #{colors.get("grey-700")};
  --form-input-background: #{colors.get("grey-300")};

  position: relative;
}

@if $alt-enable {
  .c-input--alt {
    --form-input-height: #{$alt-base-height};
    --form-input-padding-top: #{$alt-padding-top};
    --form-input-padding-right: #{$alt-padding-right};
    --form-input-padding-bottom: #{$alt-padding-bottom};
    --form-input-padding-left: #{$alt-padding-left};
    --form-input-border-radius: #{$alt-border-radius};
    /* stylelint-disable-next-line length-zero-no-unit */
    --form-input-border-size: 0px; // Need to have an unit to be used in calc()
    --form-input-shadow-position: #{$alt-shadow-position};
    --form-input-shadow-color: #2e55ff;
    --form-input-action-offset-top: #{$alt-action-offset-top};
    --form-input-action-offset-right: #{$alt-action-offset-right};
    --form-input-background: #d5ddff;
  }
}

  .c-input {
    width: 100%;
    height: var(--form-input-height);
    padding:
      calc(var(--form-input-padding-top) - var(--form-input-border-size))
      calc(var(--form-input-padding-right) - var(--form-input-border-size))
      calc(var(--form-input-padding-bottom) - var(--form-input-border-size))
      calc(var(--form-input-padding-left) - var(--form-input-border-size));
    font: inherit;
    appearance: none;
    background: var(--form-input-background);
    border: var(--form-input-border-size, 0) solid var(--form-input-border-color);
    border-radius: var(--form-input-border-radius, $border-radius);
    box-shadow: var(--form-input-shadow-position, 0 0 0 0) var(--form-input-shadow-color);
    @include animation.transition(background border box-shadow padding);

    &::placeholder {
      color: colors.get("grey-800");
    }

    &[disabled] {
      color: colors.get("grey-600");
      background-color: colors.get("grey-200");
      border-color: colors.get("grey-200");
      cursor: not-allowed;

      &::placeholder {
        color: colors.get("grey-600");
      }
    }

    &:focus {
      --form-input-shadow-color: #{colors.get("black")};
      --form-input-border-color: transparent;
      --form-input-shadow-position: #{$focus-shadow-position};

      outline: 0;
    }

    &[type="file"] {
      // Set height auto, because the file input is too hard to style consistently for different browsers.
      height: auto;

      /**
      * 1. Correct the inability to style clickable types in iOS and Safari.
      * 2. Change font properties to `inherit` in Safari.
      */
      &::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
      }
    }

    @if $alt-enable {
      .c-input--alt & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &[disabled] {
          --form-input-shadow-color: #6c727f;
        }

        &:focus {
          --form-input-shadow-position: #{$alt-focus-shadow-position};
          --form-input-background: #abbbff;
        }
      }
    }
  }

/**
 * Date
 ******************************************************************************/

.c-input--date {

  &::-webkit-calendar-picker-indicator {
    width: rem.convert(32px);
    height: rem.convert(32px);
    margin-right: rem.convert(- layout.$gutter-size * 0.5);
    background-image: svg.icon($date-icon, black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem.convert(32px 32px);
    cursor: pointer;
  }
}

/**
 * Textarea
 ******************************************************************************/

.c-input--textarea {
  --form-input-height: 120px;

  // @include input-alt-label-safe-area;

  @if $alt-enable {
    &.c-input--alt {
      --form-input-height: 148px;
    }
  }
}

/**
 * Select
 ******************************************************************************/

.c-input--select {
  --form-input-padding-right: #{$with-action-padding-right};

  &.c-input:not([multiple]) {
    background-image: svg.icon($select-icon, black);
    background-repeat: no-repeat;
    background-position: right var(--form-input-action-offset-right) top 50%;
    background-size: $action-icon-size $action-icon-size;
  }

  &.c-input[multiple] {
    --form-input-height: 120px;

    // @include input-alt-label-safe-area;
  }
}

/*******************************************************************************
 * With action
*******************************************************************************/

@if $with-action-enable {
  .c-input--with-action {
    --form-input-padding-right: #{$with-action-padding-right};
  }

    .c-input__action {
      position: absolute;
      top: var(--form-input-action-offset-top);
      right: var(--form-input-action-offset-right);
      display: flex;
      align-items: center;
      justify-content: center;
      width: $action-icon-size;
      height: $action-icon-size;
      padding: 0;
      font-size: $action-icon-size;
      cursor: pointer;
      background: transparent;
      border: 0;
    }
}

/*******************************************************************************
 * Feedback styles
*******************************************************************************/

.c-input--error {
  --form-input-border-color: transparent;

  &.c-input:not(:focus) {
    --form-input-background: #{colors.get("red-50")};
    --form-input-shadow-color: #{colors.get("red-600")};
  }

  &:not(.c-input--alt):not(:focus) {
    --form-input-border-size: 3px;
    --form-input-border-color: #{colors.get("red-600")};
  }
}
