/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Form's Label
 * Type: Component
 * Description:
 *  A label to paired with an input control to indicates what we want from the
 *  user.
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

@use "../../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-label {
  @include appearance.appearance;
  display: block;
  @include fonts.small-text;
  font-weight: fonts.$bold;
}

  .c-label__suffix {
    font-weight: fonts.$regular;
    color: colors.get("grey-800");
  }
