/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Period
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

@use "../../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-period {
  border: rem.convert(1px) solid colors.get("grey-700");
  border-radius: rem.convert(16px);
}


  /**
  ** Options
  ****************************************/

  .c-period__options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: rem.convert(16px);
  }


    /**
    ** Option
    ****************************************/

    .c-period__option {
      position: relative;

      @include mq.mq($until: small) {
        flex: 0 0 50%;
      }

      @include mq.mq($from: small) {
        flex: 0 0 25%;
      }

      @include mq.mq($from: small, $until: medium) {
        @include fonts.small-text;
        text-align: center;
      }
    }


      /**
      ** Radio
      ****************************************/

      .c-period__radio {
        @include appearance.appearance;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;

        @include mq.mq($from: small) {

          .c-period__option:first-child & {
            border-top-left-radius: rem.convert(16px);

            .c-period:not(.is-opened) & {
              border-bottom-left-radius: rem.convert(16px);
            }
          }

          .c-period__option:last-child & {
            border-top-right-radius: rem.convert(16px);

            .c-period:not(.is-opened) & {
              border-bottom-right-radius: rem.convert(16px);
            }
          }
        }
      }


      /**
      ** Label
      ****************************************/

      .c-period__label {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-height: rem.convert(50px);
        height: 100%;
        padding: rem.convert(layout.$gutter-size);
        font-weight: fonts.$bold;
        background-color: colors.get("grey-300");
        transition: color 0.2s ease, background-color 0.2s ease;

        .c-period__radio:hover + & {
          text-decoration: underline;
          background-color: colors.get("background");
        }

        .c-period__radio:checked + & {
          color: colors.get("background");
          background-color: colors.get("foreground");
          text-decoration: underline;
        }

        .c-period__radio:checked:hover + & {
          text-decoration: none;
        }

        .c-period__option:first-child & {
          border-top-left-radius: rem.convert(16px);
        }

        .c-period:not(.is-opened) .c-period__option:last-child & {
          border-bottom-right-radius: rem.convert(16px);
        }

        @include mq.mq($until: small) {

          .c-period__option:nth-child(even) & {
            border-left: rem.convert(1px) solid colors.get("grey-700");
          }

          .c-period__option:nth-child(n+3) & {
            border-top: rem.convert(1px) solid colors.get("grey-700");
          }

          .c-period__option:nth-child(2) & {
            border-top-right-radius: rem.convert(16px);
          }

          .c-period:not(.is-opened) .c-period__option:nth-last-child(2) & {
            border-bottom-left-radius: rem.convert(16px);
          }
        }

        @include mq.mq($from: small) {

          .c-period__option:not(:first-child) & {
            border-left: rem.convert(1px) solid colors.get("grey-700");
          }

          .c-period:not(.is-opened) .c-period__option:first-child & {
            border-bottom-left-radius: rem.convert(16px);
          }

          .c-period__option:last-child & {
            border-top-right-radius: rem.convert(16px);
          }
        }
      }


        /**
        ** Icon
        ****************************************/

        .c-period__icon {
          flex: 0 0 auto;
          margin-right: rem.convert(layout.$gutter-size);
        }


  /**
  ** Panel
  ****************************************/

  .c-period__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: rem.convert(layout.$gutter-size * 0.5);
    padding-right: rem.convert(layout.$gutter-size);
    padding-bottom: rem.convert(layout.$gutter-size * 0.5);
    padding-left: rem.convert(layout.$gutter-size);
    border-top: rem.convert(1px) solid colors.get("grey-700");

    > * {
      flex: 1 0 50%;
      width: 50%;
    }

    legend {
        display: contents;
    }
  }
