/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Form's Textarea
 * Type: Component
 * Description: A simple text input.
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "@lunaweb/vega-reactor-scss/src/tools/animation";
@use "@lunaweb/vega-reactor-scss/src/tools/svg";

@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../../settings/colors" as colors;
@use "../../settings/layout" as layout;
@use "../../settings/fonts" as fonts;

/**
 * Base
*******************************************************************************/

$base-height: 180px;
$padding-top: 8px;
$padding-right: 12px;
$padding-bottom: 8px;
$padding-left: 12px;
$border-radius: 16px;
$focus-shadow-position: 0 0 0 3px;
$error-shadow-position: inset 0 0 0 3px;

/**
 * Alt
*******************************************************************************/

$alt-enable: false;
$alt-base-height: 56px;
$alt-padding-top: 26px;
$alt-padding-right: 12px;
$alt-padding-bottom: 5px;
$alt-padding-left: 12px;
$alt-border-radius: 4px 4px 0 0;
$alt-shadow-position: inset 0 -2px 0 0;
$alt-focus-shadow-position: inset 0 -4px 0 0;

/**
 * Mixins
*******************************************************************************/

/**
 * Attempt to fix label which overlap input's content in certain conditions like
 * use with a textearea or a mutliple select.
 * You might need to tweek some CSS (focus and error styles management) in
 * addition to make this completely working if there is some input's background
 * transitions to manage.
 * The best solution is to have a plain background that never change to
 * accomodate this fix simply.
 */
// @mixin input-alt-label-safe-area {
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     height: var(--form-input-alt-label-safe-area);
//     background: var(--form-input-background);
//     border-radius: var(--form-input-border-radius);
//     @include animation.transition(background);
//   }
// }

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-textarea {
  --form-input-height: #{$base-height};
  --form-input-padding-top: #{$padding-top};
  --form-input-padding-right: #{$padding-right};
  --form-input-padding-bottom: #{$padding-bottom};
  --form-input-padding-left: #{$padding-left};
  --form-input-border-size: 1px;
  --form-input-border-color: #{colors.get("grey-700")};
  --form-input-background: #{colors.get("grey-300")};

  position: relative;
}

@if $alt-enable {
  .c-textarea--alt {
    --form-input-height: #{$alt-base-height};
    --form-input-padding-top: #{$alt-padding-top};
    --form-input-padding-right: #{$alt-padding-right};
    --form-input-padding-bottom: #{$alt-padding-bottom};
    --form-input-padding-left: #{$alt-padding-left};
    --form-input-border-radius: #{$alt-border-radius};
    /* stylelint-disable-next-line length-zero-no-unit */
    --form-input-border-size: 0px; // Need to have an unit to be used in calc()
    --form-input-shadow-position: #{$alt-shadow-position};
    --form-input-shadow-color: #2e55ff;
    --form-input-background: #d5ddff;
  }
}

  .c-textarea {
    width: 100%;
    height: var(--form-input-height);
    min-height: var(--form-input-height);
    padding:
      calc(var(--form-input-padding-top) - var(--form-input-border-size))
      calc(var(--form-input-padding-right) - var(--form-input-border-size))
      calc(var(--form-input-padding-bottom) - var(--form-input-border-size))
      calc(var(--form-input-padding-left) - var(--form-input-border-size));
    font: inherit;
    appearance: none;
    background: var(--form-input-background);
    border: var(--form-input-border-size, 0) solid var(--form-input-border-color);
    border-radius: var(--form-input-border-radius, $border-radius);
    box-shadow: var(--form-input-shadow-position, 0 0 0 0) var(--form-input-shadow-color);
    resize: vertical;
    @include animation.transition(background border box-shadow padding);

    &::placeholder {
      color: colors.get("grey-800");
    }

    &[disabled] {
      color: colors.get("grey-600");
      background-color: colors.get("grey-200");
      border-color: colors.get("grey-200");
      cursor: not-allowed;

      &::placeholder {
        color: colors.get("grey-600");
      }
    }

    &:focus {
      --form-input-shadow-color: #{colors.get("black")};
      --form-input-border-color: transparent;
      --form-input-shadow-position: #{$focus-shadow-position};

      outline: 0;
    }

    @if $alt-enable {
      .c-textarea--alt & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &[disabled] {
          --form-input-shadow-color: #6c727f;
        }

        &:focus {
          --form-input-shadow-position: #{$alt-focus-shadow-position};
          --form-input-background: #abbbff;
        }
      }
    }
  }

/*******************************************************************************
 * Feedback styles
*******************************************************************************/

.c-textarea--error {
  --form-input-border-color: transparent;

  &.c-textarea:not(:focus) {
    --form-input-background: #{colors.get("red-50")};
    --form-input-shadow-color: #{colors.get("red-600")};
  }

  &:not(.c-textarea--alt):not(:focus) {
    --form-input-border-size: 3px;
    --form-input-border-color: #{colors.get("red-600")};
  }
}
