{% macro simple(paginator, options) %}
    {% if paginator.haveToPaginate() %}

        {% set pagerfanta_options = {template: '@SyliusShop/_grid/_pagination.html.twig', proximity: 1, classes: ''} %}

        {% if options.route_configuration|default(false) %}
            {% set pagerfanta_options = pagerfanta_options|merge(options.route_configuration) %}
        {% endif %}

        {{ pagerfanta(paginator, 'twig', pagerfanta_options) }}

    {% endif %}
{% endmacro %}