{% block _app_block_informations_table_entry_widget %}
    <div class="ui stackable grid">
        {% for child in form.children|filter(child => not child.rendered) %}
            <div class="five wide column form-group">
                {{ form_row(child) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block app_block_informations_table_row %}
    <div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{ form_label(form) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}
```