{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': page } %}
{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            type: "large",
            title: page.title,
            description: page.description,
            picture: page.mainImage|default
        } only %}
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    {% set elements = monsieurbiz_richeditor_get_elements(page.blocks) %}

    {% if elements|default %}
        <div class="l-main__body">
            <div class="l-stack">
                <div class="l-container l-container--xlarge">
                    {% for element in elements %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}
