/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Immersive
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-audience {
  padding: rem.convert(layout.$gutter-size * 3);
  background-color: colors.get("background");
  border-radius: rem.convert(28px);
  box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
}


  /**
  ** Intending
  ****************************************/

  .v-audience__intending {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > *:not(:last-child) {
      margin-right: rem.convert(layout.$gutter-size * 2);
    }
  }


  /**
  ** Acceptance
  ****************************************/

  .v-audience__acceptance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    @include fonts.small-text;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size);
    }
  }


  /**
  ** Accessibility
  ****************************************/

  .v-audience__accessibility {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
      padding-top: rem.convert(layout.$gutter-size * 3);
      padding-right: rem.convert(layout.$gutter-size * 3);
      padding-left: rem.convert(layout.$gutter-size * 3);
      border-top: rem.convert(1px) solid colors.get("grey-600");
    }
  }


    /**
    ** Icon
    ****************************************/

    .v-audience__icon {
      flex: 0 0 auto;

      &:not(:last-child) {
        margin-right: rem.convert(layout.$gutter-size);
      }
    }


    /**
    ** Title
    ****************************************/

    .v-audience__title {}


    /**
    ** Tag
    ****************************************/

    .v-audience__tag {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);
      border-radius: rem.convert(16px);
    }

    @each $color in $colors {
      .v-audience__tag--#{$color} {
        background-color: colors.get("pale-#{$color}");
      }
    }


    /**
    ** Items
    ****************************************/

    .v-audience__items {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }


      /**
      ** Item
      ****************************************/

      .v-audience__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 2);
        }
      }


    /**
    ** Description
    ****************************************/

    .v-audience__description {
      margin-top: rem.convert(layout.$gutter-size * 2);
      @include fonts.small-text;

      strong {
        font-weight: fonts.$bold;
      }
    }


    /**
    ** Button
    ****************************************/

    .v-audience__button {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-audience {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
