/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Back to top
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-back-to-top {

  @include mq.mq($until: large) {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    bottom: 0;
    padding-bottom: rem.convert(layout.$gutter-size * 3);
    z-index: 7;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, colors.get("background") 20%, rgba(map.get(colors.$functionals, "background"), 0));
      z-index: -1;
    }

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
      padding-right: rem.convert(layout.$gutter-size * 3);
      padding-left: rem.convert(layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: large) {
    display: none;
  }
}


  /**
  ** Button
  ****************************************/

  .v-back-to-top__button {
    width: 100%;
    max-width: rem.convert(320px);
  }
