/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Banner
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-banner {
  position: relative;
  background-color: colors.get("grey");
  overflow: hidden;
  z-index: 1;
}


/**
** Colors
****************************************/

@each $color in $colors {

  .v-banner--#{$color} {
    background-color: colors.get("pale-#{$color}");

    &.v-banner--event .v-banner__placeholder {
      background-color: colors.get("pale-#{$color}-600");
    }
  }
}


/**
** Notched
****************************************/

.v-banner--notched {

  &:after {
    content: '';
    display: block;
    margin-right: 0;
    background-color: colors.get("background");
    border-top-left-radius: rem.convert(60px);
    pointer-events: none;

    @include mq.mq($until: medium) {
      height: rem.convert(40px);
    }

    @include mq.mq($from: medium) {
      height: rem.convert(78px);
    }

    @include mq.mq($until: xlarge) {
      margin-left: 0;
      border-top-right-radius: rem.convert(60px);
    }

    @include mq.mq($from: xlarge) {
      margin-left: 23.38vw;
    }
  }
}


  /**
  ** Background
  ****************************************/

  .v-banner__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
    z-index: -1;

    @include mq.mq($until: 1728px) {
      width: rem.convert(1728px);
      height: rem.convert(1619px);
    }

    @include mq.mq($from: 1728px) {
      width: 100%;
      padding-top: 93.692%;
    }
  }


    /**
    ** Shape
    ****************************************/

    .v-banner__shape {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }


  /**
  ** Container
  ****************************************/

  .v-banner__container {

    @include mq.mq($until: medium) {
      padding-top: rem.convert(layout.$gutter-size * 18);
      padding-bottom: rem.convert(layout.$gutter-size * 10);
    }

    @include mq.mq($from: medium, $until: large) {
      padding-top: rem.convert(layout.$gutter-size * 20);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 13);
    }

    @include mq.mq($from: large, $until: xlarge) {
      padding-top: rem.convert(layout.$gutter-size * 24);
    }

    @include mq.mq($from: xlarge) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding-top: rem.convert(layout.$gutter-size * 28);
      padding-bottom: rem.convert(layout.$gutter-size * 16);
    }

    @include mq.mq($from: xlarge, $until: wide) {
      margin-right: rem.convert(- layout.$gutter-size * 2);
      margin-left: rem.convert(- layout.$gutter-size * 2);
    }

    @include mq.mq($from: wide) {
      margin-right: rem.convert(- layout.$gutter-size * 2.5);
      margin-left: rem.convert(- layout.$gutter-size * 2.5);
    }
  }


    /**
    ** Main
    ****************************************/

    .v-banner__main {

      @include mq.mq($from: xlarge) {
        flex: 1 1 50%;
      }

      @include mq.mq($from: xlarge, $until: wide) {
        padding-right: rem.convert(layout.$gutter-size * 2);
        padding-left: rem.convert(layout.$gutter-size * 2);
      }

      @include mq.mq($from: wide) {
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);
      }
    }


    /**
    ** Aside
    ****************************************/

    .v-banner__aside {

      @include mq.mq($until: medium) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 3);
        }
      }

      @include mq.mq($from: medium, $until: xlarge) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 4);
        }
      }

      @include mq.mq($from: xlarge) {
        flex: 1 1 50%;
      }

      @include mq.mq($from: xlarge, $until: wide) {
        padding-right: rem.convert(layout.$gutter-size * 2);
        padding-left: rem.convert(layout.$gutter-size * 2);
      }

      @include mq.mq($from: wide) {
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);
      }
    }


      /**
      ** Title
      ****************************************/

      .v-banner__title {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }
      }


      /**
      ** Description
      ****************************************/

      .v-banner__description {

        @include mq.mq($until: medium) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }
        }

        @include mq.mq($from: medium) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }
        }

        a {
          font-weight: fonts.$bold;
        }
      }


      /**
      ** Infos
      ****************************************/

      .v-banner__infos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-right: rem.convert(- layout.$gutter-size);
        margin-left: rem.convert(- layout.$gutter-size);

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }

        > * {
          padding: rem.convert(layout.$gutter-size);
        }
      }


        /**
        ** Publication
        ****************************************/

        .v-banner__publication {

          strong {
            font-weight: fonts.$bold;
          }
        }


      /**
      ** Mentions
      ****************************************/

      .v-banner__mentions {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 2.5);
        }
      }


        /**
        ** Mention
        ****************************************/

        .v-banner__mention {
          position: relative;
          padding-left: rem.convert(layout.$gutter-size * 4);

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }

          .v-banner__icon {
            position: absolute;
            display: block;
            top: rem.convert(3px);
            left: 0;
          }
        }


          /**
          ** Label
          ****************************************/

          .v-banner__label {

          }


          /**
          ** Value
          ****************************************/

          .v-banner__value {
            font-weight: fonts.$bold;
          }


      /**
      ** Specs
      ****************************************/

      .v-banner__specs {

        &:not(:first-child) {

          @include mq.mq($until: medium) {
            margin-top: rem.convert(layout.$gutter-size * 3);
          }

          @include mq.mq($from: medium, $until: xlarge) {
            margin-top: rem.convert(layout.$gutter-size * 4);
          }

          @include mq.mq($from: xlarge) {
            margin-top: rem.convert(layout.$gutter-size * 5);
          }
        }
      }


        /**
        ** Spec
        ****************************************/

        .v-banner__spec {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }
        }


          /**
          ** Icon
          ****************************************/

          .v-banner__icon {
            flex: 0 0 auto;
          }


          /**
          ** Text
          ****************************************/

          .v-banner__text {

            &:not(:first-child) {
              margin-left: rem.convert(layout.$gutter-size);
            }
          }

          .v-banner__text--stroke {
            text-decoration-line: line-through;
          }


          /**
          ** Suffix
          ****************************************/

          .v-banner__suffix {
            font-weight: fonts.$bold;
          }


      /**
      ** Figure
      ****************************************/

      .v-banner__figure {}


        /**
        ** Picture
        ****************************************/

        .v-banner__picture {
          display: block;
          border-radius: rem.convert(400px);
        }


        /**
        ** Caption
        ****************************************/

        .v-banner__caption {
          margin-top: rem.convert(layout.$gutter-size);
          padding-right: rem.convert(layout.$gutter-size);
          padding-left: rem.convert(layout.$gutter-size);
          @include fonts.small-text;
          text-align: right;
          color: colors.get("grey-900");
        }


/**
** Type: LARGE
****************************************/

.v-banner--large {

  .v-banner__container {

    @include mq.mq($until: xlarge) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

    .v-banner__main {

      @include mq.mq($until: xlarge) {
        order: 2;
      }

      @include mq.mq($from: xlarge) {
        flex: 0 1 rem.convert(840px);
        max-width: rem.convert(840px);
      }
    }

    .v-banner__aside {

      @include mq.mq($until: xlarge) {
        order: 1;

        &:not(:first-child) {
          margin-bottom: rem.convert(layout.$gutter-size * 3);
        }
      }

      @include mq.mq($from: xlarge) {
        flex: 0 1 rem.convert(480px);
        max-width: rem.convert(480px);
      }
    }

      .v-banner__description {
        @include fonts.medium-text;
      }
}


/**
** Type: EVENT
****************************************/

.v-banner--event {

  .v-banner__container {

    @include mq.mq($until: small) {
      padding-bottom: rem.convert(layout.$gutter-size * 15);
    }

    @include mq.mq($from: small, $until: medium) {
      padding-bottom: rem.convert(layout.$gutter-size * 18);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 21);
    }

    @include mq.mq($from: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 28);
    }
  }

  .v-banner__main {

    @include mq.mq($from: xlarge) {
      flex: 1 1 auto;
      width: auto;
      max-width: rem.convert(720px);
    }

    .v-banner__tag {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }
  }

  .v-banner__aside {
    position: relative;

    @include mq.mq($until: small) {
      margin-right: rem.convert(- layout.$gutter-size * 3);
    }

    @include mq.mq($from: small, $until: medium) {
      max-width: rem.convert(428px);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      max-width: rem.convert(560px);
    }

    @include mq.mq($from: small, $until: xlarge) {
      margin-right: auto;
      margin-left: auto;
    }

    @include mq.mq($from: xlarge, $until: wide) {
      flex: 0 0 rem.convert(520px);
      width: rem.convert(520px);
    }

    @include mq.mq($from: wide) {
      flex: 0 0 rem.convert(600px);
      width: rem.convert(600px);
    }

    .v-banner__tag {
      position: absolute;
      z-index: 1;

      @include mq.mq($until: small) {
        top: calc(100vw * 0.632 - #{rem.convert(39px)} - #{rem.convert(layout.$gutter-size * 3)});
      }

      @include mq.mq($from: small, $until: medium) {
        top: rem.convert(226px);
      }

      @include mq.mq($until: medium) {
        left: rem.convert(layout.$gutter-size * 3);
      }

      @include mq.mq($from: medium, $until: xlarge) {
        top: rem.convert(299px);
        left: rem.convert(layout.$gutter-size * 5);
      }

      @include mq.mq($from: xlarge, $until: wide) {
        top: rem.convert(258px);
        left: rem.convert(layout.$gutter-size * 3 + layout.$gutter-size * 4);
      }

      @include mq.mq($from: wide) {
        top: rem.convert(299px);
        left: rem.convert(layout.$gutter-size * 3 + layout.$gutter-size * 5);
      }
    }
  }

    .v-banner__picture,
    .v-banner__placeholder {

      @include mq.mq($until: small) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      @include mq.mq($from: small, $until: medium) {
        border-top-right-radius: rem.convert(44px);
        border-bottom-right-radius: rem.convert(44px);
      }

      @include mq.mq($until: medium) {
        border-top-left-radius: rem.convert(44px);
        border-bottom-left-radius: rem.convert(44px);
      }

      @include mq.mq($from: medium) {
        border-radius: rem.convert(60px);
      }
    }

    .v-banner__placeholder {
      position: relative;
      padding-top: 67.5%;
      color: colors.get("white");
      background-color: colors.get("grey-600");
    }

      .v-banner__watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;

        @include mq.mq($until: medium) {
          width: rem.convert(109px);
          height: rem.convert(169px);
        }

        @include mq.mq($from: xlarge, $until: wide) {
          width: rem.convert(124px);
          height: rem.convert(192px);
        }
      }

    .v-banner__main .v-banner__specs,
    .v-banner__main .v-banner__mentions {

      @include mq.mq($until: xlarge) {
        display: none;
      }
    }

    .v-banner__aside .v-banner__specs,
    .v-banner__aside .v-banner__mentions {

      @include mq.mq($from: xlarge) {
        display: none;
      }
    }
}


/**
** Type: POST
****************************************/

.v-banner--post {

  &:not(:last-child) {

    .v-banner__container {

      @include mq.mq($until: medium) {
        padding-bottom: rem.convert(layout.$gutter-size * 6);
      }

      @include mq.mq($from: medium, $until: xlarge) {
        padding-bottom: rem.convert(layout.$gutter-size * 21);
      }

      @include mq.mq($from: xlarge) {
        padding-bottom: rem.convert(layout.$gutter-size * 28);
      }
    }
  }

  .v-banner__main {

    @include mq.mq($from: xlarge) {
      flex: 1 1 auto;
      width: auto;
    }

    .v-banner__tag {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }
  }

  .v-banner__aside {
    position: relative;

    @include mq.mq($until: xlarge) {
      max-width: rem.convert(672px);
    }

    @include mq.mq($until: xlarge) {
      margin-right: auto;
      margin-left: auto;
    }

    @include mq.mq($from: xlarge, $until: wide) {
      flex: 0 0 rem.convert(520px);
      width: rem.convert(520px);
    }

    @include mq.mq($from: wide) {
      flex: 0 0 rem.convert(720px);
      width: rem.convert(720px);
    }

    .v-banner__tag {
      position: absolute;
      z-index: 1;

      @include mq.mq($until: medium) {
        top: calc(((100vw - #{layout.$gutter-size * 6}) * 0.666) - #{rem.convert(39px)} - #{rem.convert(layout.$gutter-size * 3)});
      }

      @include mq.mq($from: medium, $until: xlarge) {
        top: rem.convert(388px);
      }

      @include mq.mq($until: xlarge) {
        left: rem.convert(layout.$gutter-size * 3);
      }

      @include mq.mq($from: xlarge, $until: wide) {
        top: rem.convert(258px);
        left: rem.convert(layout.$gutter-size * 3 + layout.$gutter-size * 3);
      }

      @include mq.mq($from: wide) {
        top: rem.convert(390px);
        left: rem.convert(layout.$gutter-size * 3 + layout.$gutter-size * 3);
      }
    }
  }

    .v-banner__picture {
      border-radius: rem.convert(36px);
    }
}


/**
** Type: SERIES
****************************************/

.v-banner--series {

  .v-banner__container {

    @include mq.mq($from: large, $until: xlarge) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin-right: rem.convert(- layout.$gutter-size * 2);
      margin-left: rem.convert(- layout.$gutter-size * 2);
      padding-top: rem.convert(layout.$gutter-size * 28);
      padding-bottom: rem.convert(layout.$gutter-size * 16);
    }
  }

    .v-banner__main,
    .v-banner__aside {

      @include mq.mq($from: large, $until: xlarge) {
        padding-right: rem.convert(layout.$gutter-size * 2);
        padding-left: rem.convert(layout.$gutter-size * 2);
      }
    }

    .v-banner__main {

      @include mq.mq($from: large) {
        flex: 1 1 60%;
      }
    }

    .v-banner__aside {

      @include mq.mq($until: large) {
        max-width: rem.convert(440px);
        margin-right: auto;
        margin-left: auto;
      }

      @include mq.mq($from: large) {
        flex: 1 1 40%;
      }
    }

      .v-banner__picture {
        border-radius: rem.convert(60px);
      }
}


/**
** Type: STAGGERED
****************************************/

.v-banner--staggered {

  .v-banner__container {

    @include mq.mq($until: medium) {
      padding-bottom: rem.convert(layout.$gutter-size * 10);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 16.5);
    }

    @include mq.mq($from: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 23);
    }
  }
}


/**
** Type: CLASSIC
****************************************/

.v-banner--classic {

  .v-banner__container {

    @include mq.mq($until: medium) {
      padding-bottom: rem.convert(layout.$gutter-size * 5);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 9);
    }

    @include mq.mq($from: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 13);
    }
  }

    .v-banner__main {

      @include mq.mq($from: wide) {
        flex: 0 1 rem.convert(840px);
        max-width: rem.convert(840px);
      }
    }

    .v-banner__aside {

      @include mq.mq($from: wide) {
        flex: 0 1 rem.convert(600px);
        max-width: rem.convert(600px);
      }
    }
}


/**
** Type: CENTERED
****************************************/

.v-banner--centered {

  &.v-banner--notched {

    &:after {
      border-top-left-radius: rem.convert(100px);

      @include mq.mq($until: wide) {
        margin-left: 0;
        border-top-right-radius: rem.convert(100px);
      }

      @include mq.mq($from: wide) {
        margin-left: calc(100vw - #{rem.convert(1400px)} - ((100vw - #{rem.convert(1400px)}) / 2) - #{rem.convert(56px)});
      }
    }
  }

  .v-banner__container {

    @include mq.mq($until: medium) {
      padding-bottom: rem.convert(layout.$gutter-size * 5);
    }

    @include mq.mq($from: medium, $until: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 9);
    }

    @include mq.mq($from: xlarge) {
      padding-bottom: rem.convert(layout.$gutter-size * 13);
    }
  }

    .v-banner__title,
    .v-banner__description {
      max-width: rem.convert(680px);
      margin-right: auto;
      margin-left: auto;

      @include mq.mq($from: medium) {
        text-align: center;
      }
    }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-banner__container {
    padding-top: rem.convert(layout.$gutter-size * 10);
    padding-bottom: rem.convert(layout.$gutter-size * 10);
  }

  .v-banner__icon {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
  }
}
