/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Browse
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-browse {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: rem.convert(440px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: colors.get("grey");
  border-radius: rem.convert($border-radius);
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: rem.convert($border-width) solid colors.get("black");
    border-radius: rem.convert($border-radius);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;
  }

  &:hover {

    &:before {
      opacity: 1;
    }
  }

  @include mq.mq($until: small) {
    padding: rem.convert(layout.$gutter-size * 4);
  }

  @include mq.mq($from: small) {
    padding: rem.convert(layout.$gutter-size * 5);
  }
}


  /**
  ** Illustration
  ****************************************/

  .v-browse__illustration {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }


    /**
    ** Picture
    ****************************************/

    .v-browse__picture {

      @include mq.mq($until: small) {
        max-width: rem.convert(200px);
        height: auto;
      }
    }


  /**
  ** Title
  ****************************************/

  .v-browse__title {

    &:not(:first-child) {

      @include mq.mq($until: small) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }

      @include mq.mq($from: small) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }
  }


    /**
    ** Link
    ****************************************/

    .v-browse__link {
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: rem.convert($border-radius);
        z-index: 2;
      }

      &:hover {
        text-decoration: underline;
      }
    }


  /**
  ** Description
  ****************************************/

  .v-browse__description {
    @include fonts.medium-text;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size);
    }
  }


  /**
  ** Button
  ****************************************/

  .v-browse__button {
    width: 100%;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 2);
    }
  }



/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-browse {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
