/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Card
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: rem.convert(440px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: colors.get("primary");
  border: rem.convert($border-width) solid colors.get("primary");
  border-radius: rem.convert($border-radius);
  transition: border-color 0.2s ease;

  &:hover {
    border-color: colors.get("black");
  }

  @include mq.mq($until: small) {
    padding-top: rem.convert(layout.$gutter-size * 5 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 4 - $border-width);
  }

  @include mq.mq($from: small) {
    padding-top: rem.convert(layout.$gutter-size * 6 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 6 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 6 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 6 - $border-width);
  }

  > * {
    order: 2;
  }
}


  /**
  ** Picture
  ****************************************/

  .v-card__picture {
    order: 0;
    width: 100%;
    max-width: rem.convert(376px);
    height: auto;
    border-radius: rem.convert(36px);

    .v-card--large & {
      max-width: rem.convert(496px);
    }

    &:not(:last-child) {
      margin-bottom: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Tag
  ****************************************/

  .v-card__tag {
    order: 1;

    .v-card__picture ~ & {
      margin-top: rem.convert(- layout.$gutter-size * 3 - layout.$gutter-size * 2.5);
    }

    &:not(:last-child) {
      margin-bottom: rem.convert(layout.$gutter-size * 2);
    }
  }


  /**
  ** Title
  ****************************************/

  .v-card__title {

    &:not(:last-child) {
      margin-bottom: rem.convert(layout.$gutter-size);
    }
  }


    /**
    ** Title
    ****************************************/

    .v-card__link {

      &:before {
        content: '';
        position: absolute;
        top: rem.convert(-$border-width);
        right: rem.convert(-$border-width);
        bottom: rem.convert(-$border-width);
        left: rem.convert(-$border-width);
        border-radius: rem.convert($border-radius);
        z-index: 1;
      }

      @include mq.mq($from: large) {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }


  /**
  ** Description
  ****************************************/

  .v-card__description {

    &:not(:last-child) {
      margin-bottom: rem.convert(layout.$gutter-size * 3);

      .v-card--large & {
        margin-bottom: rem.convert(layout.$gutter-size);
      }
    }
  }


  /**
  ** Button
  ****************************************/

  .v-card__button {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;

    .v-card--large & {
      justify-content: flex-start;
    }
  }


/**
** Type: Pictured
****************************************/

.v-card--pictured {

  @include mq.mq($until: small) {
    padding: rem.convert(layout.$gutter-size * 3 - $border-width);
  }

  @include mq.mq($from: small) {
    padding-top: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 5 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 4 - $border-width);

    .v-card__title,
    .v-card__description {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);
    }
  }
}


/**
** Type: Large
****************************************/

.v-card--large {
  max-width: rem.convert(560px);

  @include mq.mq($until: small) {
    padding-top: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 3 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 3 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 3 - $border-width);

    &.v-card--pictured {
      padding-top: rem.convert(layout.$gutter-size * 2 - $border-width);
      padding-right: rem.convert(layout.$gutter-size * 2 - $border-width);
      padding-bottom: rem.convert(layout.$gutter-size * 3 - $border-width);
      padding-left: rem.convert(layout.$gutter-size * 2 - $border-width);
    }

    > *:not(.v-card__picture) {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);
    }

    .v-card__picture {
      border-radius: rem.convert(44px);
    }
  }

  @include mq.mq($from: small) {

    > *:not(.v-card__picture) {
      padding-right: rem.convert(layout.$gutter-size * 2);
      padding-left: rem.convert(layout.$gutter-size * 2);
    }
  }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-card {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
