/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: CTA
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

// @use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

@use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors:
  "grey"
  "<svg viewBox=\"0 0 398 382\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M368.88 239.38c.13-22.9-.35-41.18-1.1-53.73l-.04-.7-.06-.7C361.65 121.83 339.15 56.15 286.94 0H164.95a273.43 273.43 0 0 1 30.21 19.76l.08.06.08.06c65.33 48.1 90.6 110.04 96.63 170.97.37 6.47.67 14.85.82 24.94C191.02 176.56 129.2 125.56 95.46 72.57 71.55 35.03 73.83 12.03 79.26 0H.96c-4.13 33.65 4.93 73.43 30.38 113.4 48.13 75.56 133.32 138.82 260.1 182.81a1904.8 1904.8 0 0 1-5.65 85.79h76.3a1999.1 1999.1 0 0 0 4.5-65.75c10.6 1.8 21.07 3.14 31.41 4.02v-76.35a313.34 313.34 0 0 1-29.12-4.54Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\"398\" y1=\"382\" x2=\"383.71\" y2=\"-13.8\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".5\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".1\"/></linearGradient></defs></svg>"
  398px
  382px
  bottom
  true,
  "yellow"
  "<svg viewBox=\"0 0 215 173\" xmlns=\"http://www.w3.org/2000/svg\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M97.05 96.96c-11.02 12.3-20.17 34.81-21.02 76.04H0c.84-50.9 12-95.03 40.44-126.77C70.88 12.28 114.24 0 161.97 0H215v76h-53.03c-35.53 0-54.17 8.96-64.92 20.96Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\"-18.06\" y1=\"202.5\" x2=\"216.25\" y2=\"1.46\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".5\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".1\"/></linearGradient></defs></svg>"
  215px
  173px
  bottom
  false,
  "green"
  "<svg viewBox=\"0 0 145 325\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M76.28 50.18c-2.33 17.2 3.36 42.56 28.7 80.06L145 189.48V325L42.24 172.91C12.27 128.55-4.77 83.94 1.18 39.95A126.75 126.75 0 0 1 13.52 0h99.45c-25.4 18.5-34.66 35.18-36.7 50.18Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\"144\" y1=\"325.22\" x2=\"140.82\" y2=\".61\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".5\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".1\"/></linearGradient></defs></svg>"
  145px
  325px
  top
  false,
  "red"
  "<svg viewBox=\"0 0 170 231\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M68.1016 89.8611C81.6385 61.8143 106.779 28.3003 145.93 9.21493 153.613 5.46978 161.643 2.37473 170 0v82.832c-14.853 10.0854-26.283 25.175-33.441 40.006L84.354 231H0L68.1016 89.8611Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\"-.001473\" y1=\"229.501\" x2=\"136.888\" y2=\"-18.0326\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".5\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".1\"/></linearGradient></defs></svg>"
  170px
  231px
  bottom
  false,
  "blue"
  "<svg viewBox=\"0 0 330 382\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M323.08 248.14c-11.4 6.24-27.84 14.63-48.68 24.55C263.76 160.66 273.86 70.8 297.83 0h-79.56c-24.04 84.32-30.86 185.9-16.75 305.53C146.52 329.08 77.81 356.03 0 382h293.76a451.75 451.75 0 0 1-7.91-30.76c16.72-7.7 31.5-14.8 44.15-21.1V243.9c-2.3 1.44-4.6 2.86-6.92 4.25Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\".17\" y1=\"382\" x2=\"380.29\" y2=\"322.78\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".5\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".1\"/></linearGradient></defs></svg>"
  330px
  382px
  bottom
  true;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-cta {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: rem.convert(60px);
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: colors.get("primary");
    z-index: -1;
  }

  @include mq.mq($until: small) {
    padding-top: rem.convert(layout.$gutter-size * 5);
    padding-right: rem.convert(layout.$gutter-size * 4);
    padding-bottom: rem.convert(layout.$gutter-size * 4);
    padding-left: rem.convert(layout.$gutter-size * 4);
  }

  @include mq.mq($from: small, $until: large) {
    padding-top: rem.convert(layout.$gutter-size * 6);
    padding-right: rem.convert(layout.$gutter-size * 5);
    padding-bottom: rem.convert(layout.$gutter-size * 5);
    padding-left: rem.convert(layout.$gutter-size * 5);
  }

  @include mq.mq($from: large) {
    padding: rem.convert(layout.$gutter-size * 7);
  }
}


/**
** Colors
****************************************/

@each $color, $svg, $width, $height, $position, $fullsize in $colors {
  .v-cta--#{$color} {

    &:before {
      background-color: colors.get("pale-#{$color}");
    }

    &.v-cta--branded:after {
      width: rem.convert($width);
      height: rem.convert($height);
      #{$position}: 0;
      background-image: svg.icon($svg, colors.get("white"));

      @if $fullsize {
        min-height: 100%;
        background-position: left;
        background-size: cover;
      }
      @else {
        background-position: center;
      }
    }
  }
}


/**
** Type: Pictured
****************************************/

.v-cta--pictured {
  display: flex;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;

  @include mq.mq($until: small) {
    max-width: rem.convert(576px);
    padding: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small) {
    padding: rem.convert(layout.$gutter-size * 4);
  }

  @include mq.mq($from: small, $until: large) {
    max-width: rem.convert(592px);
  }

  @include mq.mq($until: large) {
    flex-direction: column;
  }

  @include mq.mq($from: large) {
    flex-direction: row;
    align-items: center;
    max-width: rem.convert(1160px);
  }
}


/**
** Type: Fullsize
****************************************/

.v-cta--fullsize {}


  /**
  ** Content
  ****************************************/

  .v-cta__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq.mq($until: large) {

      .v-cta--pictured:not(.v-cta--fullsize) & {
        order: 2;
        margin-top: rem.convert(layout.$gutter-size * 5);
      }

      .v-cta--fullsize & {
        padding-top: rem.convert(layout.$gutter-size * 3);
      }
    }

    @include mq.mq($from: large) {
      flex: 1 1 rem.convert(568px);
      flex-wrap: nowrap;
      justify-content: center;
      max-width: rem.convert(568px);
      padding-right: rem.convert(layout.$gutter-size * 5);
    }

    @include mq.mq($from: xlarge) {
      padding-left: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Label
    ****************************************/

    .v-cta__label {
      order: -1;

      @include mq.mq($until: large) {
        margin-bottom: rem.convert(layout.$gutter-size * 2);
      }

      @include mq.mq($from: large) {
        margin-bottom: rem.convert(layout.$gutter-size * 3);
      }
    }


    /**
    ** Title
    ****************************************/

    .v-cta__title {}


      /**
      ** Link
      ****************************************/

      .v-cta__link {

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: rem.convert(3px) solid rgba(map.get(colors.$usables, "black"), 0.001);
          border-radius: rem.convert(60px);
          z-index: 3;
          transition: border-color 0.2s ease;
        }

        &:hover {

          &:before {
            border-color: rgba(map.get(colors.$usables, "black"), 0.999);
          }
        }

        @include mq.mq($from: large) {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }


    /**
    ** Description
    ****************************************/

    .v-cta__description {
      @include fonts.medium-text;

      &:not(:first-child) {

        @include mq.mq($until: large) {
          margin-top: rem.convert(layout.$gutter-size * 2);
        }

        @include mq.mq($from: large) {
          margin-top: rem.convert(layout.$gutter-size * 3);
        }
      }
    }


    /**
    ** Button
    ****************************************/

    .v-cta__button {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }

      @include mq.mq($until: small) {
        width: 100%;
      }
    }


  /**
  ** Illustration
  ****************************************/

  .v-cta__illustration {
    display: block;
    align-self: stretch;

    @include mq.mq($until: large) {

      .v-cta--pictured:not(.v-cta--fullsize) & {
        order: 1;
      }
    }

    @include mq.mq($from: large) {
      flex: 0 1 rem.convert(528px);
      max-width: rem.convert(528px);
    }

    .v-cta--fullsize & {

      @include mq.mq($until: small) {
        margin-right: rem.convert(- layout.$gutter-size * 3);
        margin-bottom: rem.convert(- layout.$gutter-size * 3);
        margin-left: rem.convert(- layout.$gutter-size * 3);
      }

      @include mq.mq($from: small, $until: large) {
        margin-right: rem.convert(- layout.$gutter-size * 4);
        margin-bottom: rem.convert(- layout.$gutter-size * 4);
        margin-left: rem.convert(- layout.$gutter-size * 4);
      }

      @include mq.mq($until: large) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 3);
        }
      }

      @include mq.mq($from: large) {
        flex: 0 1 rem.convert(560px);
        max-width: rem.convert(560px);
        margin-top: rem.convert(- layout.$gutter-size * 4);
        margin-right: rem.convert(- layout.$gutter-size * 4);
        margin-bottom: rem.convert(- layout.$gutter-size * 4);
      }
    }
  }


    /**
    ** Picture
    ****************************************/

    .v-cta__picture {
      width: 100%;
      height: 100%;
      border-radius: rem.convert(44px);
      object-fit: cover;

      .v-cta--fullsize & {
        border-top-left-radius: 0;

        @include mq.mq($until: large) {
          border-top-right-radius: 0;
        }

        @include mq.mq($from: large) {
          border-bottom-left-radius: 0;
        }
      }
    }


/**
** Type: Branded
****************************************/

.v-cta--branded {

  &:after {
    content: '';
    position: absolute;
    width: rem.convert(398px);
    height: rem.convert(382px);
    right: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
  }

  > * {
    max-width: rem.convert(488px);
  }
}
