/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Enabler
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-enabler {
  position: relative;
  z-index: 5;

  @include mq.mq($until: large) {

    &:not(:first-child) {
      margin-top: rem.convert(-96px);
    }
  }

  @include mq.mq($from: large) {

    &:not(:first-child) {
      margin-top: rem.convert(-120px);
    }
  }

  @include mq.mq($from: medium) {
    // transition: margin-left 0.1s ease, border-bottom 0.1s ease, border-top-left-radius 0.1s ease, box-shadow 0.1s ease;

    &.is-fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 0;
      margin-left: 0;
      z-index: 9;
    }
  }
}


  /**
  ** Inner
  ****************************************/

  .v-enabler__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: rem.convert(layout.$gutter-size);
    padding-bottom: rem.convert(layout.$gutter-size);
    padding-left: rem.convert(layout.$gutter-size * 2);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: max(#{rem.convert(layout.$gutter-size * 3)}, calc(100vw - #{rem.convert(1448px)} - ((100vw - #{rem.convert(1448px)}) / 2) + #{rem.convert(24px)}));
      background-color: colors.get("background");
      border-bottom: rem.convert(1px) solid colors.get("grey-600");
      z-index: -1;

      .v-enabler.is-fixed & {
        left: 0;
        border-bottom: 0 none;
        border-top-left-radius: 0;
        box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
      }
    }

    @include mq.mq($until: large) {
      height: rem.convert(96px);

      &:before {
        border-top-left-radius: rem.convert(44px);
      }
    }

    @include mq.mq($from: large) {
      height: rem.convert(120px);

      &:before {
        border-top-left-radius: rem.convert(60px);
      }
    }
  }


    /**
    ** Picture
    ****************************************/

    .v-enabler__picture {

      @include mq.mq($until: medium) {

        svg {
          width: rem.convert(66px);
          height: rem.convert(36px);
        }
      }
    }


    /**
    ** Content
    ****************************************/

    .v-enabler__content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      &:not(:first-child) {
        margin-left: rem.convert(layout.$gutter-size * 2);
      }
    }


      /**
      ** Text
      ****************************************/

      .v-enabler__text {
        display: flex;
        flex-direction: column;
        max-width: rem.convert(205px);
        font-size: rem.convert(16px);
        line-height: 1.4;
      }


        /**
        ** Label
        ****************************************/

        .v-enabler__label {
          font-size: rem.convert(19px);
          font-weight: fonts.$bold;
        }


        /**
        ** Helper
        ****************************************/

        .v-enabler__helper {

          .v-enabler__value + & {
            max-width: rem.convert(190px);
            margin-left: rem.convert(layout.$gutter-size * 3);
            @include fonts.small-text;
          }
        }


        /**
        ** Value
        ****************************************/

        .v-enabler__value {
          flex: 0 0 auto;

          &:not(:first-child) {
            margin-left: rem.convert(layout.$gutter-size * 2);
          }
        }


      /**
      ** Button
      ****************************************/

      .v-enabler__button.c-button {

        @include mq.mq($until: medium) {

          .v-enabler:not(.v-enabler--alt) & {
            position: fixed;
            right: rem.convert(layout.$gutter-size * 3);
            bottom: rem.convert(layout.$gutter-size * 3);
            left: rem.convert(layout.$gutter-size * 3);
            box-shadow: rem.convert(0 50px 50px 50px) colors.get("background");
            z-index: 5;
            transition: opacity 0.2s ease-in-out;

            &.out {
              opacity: 0;
            }

            &.none {
              display: none;
            }
          }
        }

        @include mq.mq($from: medium) {
          flex: 0 0 auto;

          &:not(:first-child) {
            margin-left: rem.convert(layout.$gutter-size * 5);
          }
        }
      }

    /**
    ** Free
    ****************************************/

    .v-enabler--free {

      /**
      ** Text
      ****************************************/

      &.v-enabler__text {
        flex-direction: row;
        align-items: center;
        max-width: initial;
        line-height: 1.4;

        @include mq.mq($until: small) {
          gap: rem.convert(layout.$gutter-size * 2);
          font-size: rem.convert(12px);
        }

        @include mq.mq($from: small) {
          gap: rem.convert(layout.$gutter-size * 3);
        }

        @include mq.mq($from: small, $until: medium) {
          font-size: rem.convert(14px);
        }

        @include mq.mq($from: medium) {
          font-size: rem.convert(16px);
        }
      }


        /**
        ** Label
        ****************************************/

        .v-enabler__label {
          font-weight: fonts.$regular;
          font-family: fonts.$brand;

          @include mq.mq($until: small) {
            font-size: rem.convert(24px);
          }

          @include mq.mq($from: small, $until: medium) {
            font-size: rem.convert(28px);
          }

          @include mq.mq($from: medium) {
            font-size: rem.convert(32px);
          }
        }

        /**
        ** Helper
        ****************************************/

        .v-enabler__helper {
          max-width: rem.convert(215px);
        }
    }


/**
** Type: Alt
****************************************/

.v-enabler--alt {

  @include mq.mq($until: medium) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    .v-enabler__inner {
      height: rem.convert(104px);
      margin-right: rem.convert(- layout.$gutter-size);
      padding-left: 0;
      transition: opacity 0.2s ease-in-out;

      &.out {
        opacity: 0;
      }

      &.none {
        display: none;
      }

      &:before {
        left: 0;
        border-top-left-radius: rem.convert(28px);
        border-top-right-radius: rem.convert(28px);
        box-shadow: rem.convert(0 -5px 28px) rgba(#000, 0.15);
      }
    }

      .v-enabler__content {
        padding-right: rem.convert(layout.$gutter-size);
      }

        .v-enabler__label {
          @include fonts.small-text;
        }

      .v-enabler__button {
        flex: 0 0 auto;
      }
  }
}
