/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Event
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-event {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: rem.convert(320px);
  margin-right: auto;
  margin-left: auto;
  padding: rem.convert(layout.$gutter-size * 5 - $border-width);
  background-color: colors.get("primary");
  border: rem.convert($border-width) solid colors.get("primary");
  border-radius: rem.convert($border-radius);
  transition: border-color 0.2s ease;

  > * {
    order: 2;
  }

  &:hover {
    border-color: colors.get("black");
  }

  &:not(.v-event--horizontal) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;

    @include mq.mq($from: large) {

      &.v-event--pictured {
        min-height: rem.convert(440px);
      }
    }

    .v-event__title {
        flex: 1 0 auto;
    }
  }

  .l-grid__item & {
    height: 100%;
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-event--#{$color} {
    background-color: colors.get("pale-#{$color}");
    border-color: colors.get("pale-#{$color}");
  }
}


  /**
  ** Picture
  ****************************************/

  .v-event__picture {
    order: 0;
    width: 100%;
    max-width: rem.convert(288px);
    height: auto;
    border-radius: rem.convert(44px);
  }


  /**
  ** Tag
  ****************************************/

  .v-event__tag {
    order: 1;
    margin-bottom: rem.convert(layout.$gutter-size * 2);

    .v-event__picture ~ & {
      margin-top: rem.convert(-25px);
    }
  }


  /**
  ** Title
  ****************************************/

  .v-event__title {}


    /**
    ** Title
    ****************************************/

    .v-event__link {
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        top: rem.convert(-$border-width);
        right: rem.convert(-$border-width);
        bottom: rem.convert(-$border-width);
        left: rem.convert(-$border-width);
        border-radius: rem.convert($border-radius);
        z-index: 2;
      }

      &:hover {
        text-decoration: underline;
      }
    }


  /**
  ** Spec
  ****************************************/

  .v-event__spec {
    position: relative;
    padding-left: rem.convert(layout.$gutter-size * 4);
    font-size: rem.convert(17px);
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size);
    }

    strong {
      font-weight: fonts.$bold;
    }
  }


    /**
    ** Icon
    ****************************************/

    .v-event__icon {
      position: absolute;
      top: rem.convert(layout.$gutter-size * 0.25);
      left: 0;
      z-index: 1;
    }


    /**
    ** Text
    ****************************************/

    .v-event__text {

      &--stroke {
        text-decoration-line: line-through;
      }
    }


/**
** Type: Pictured
****************************************/

.v-event--pictured {
  padding-top: rem.convert(layout.$gutter-size * 2 - $border-width);
  padding-right: rem.convert(layout.$gutter-size * 2 - $border-width);
  padding-bottom: rem.convert(layout.$gutter-size * 4 - $border-width);
  padding-left: rem.convert(layout.$gutter-size * 2 - $border-width);

  > *:not(.v-event__picture) {
    padding-right: rem.convert(layout.$gutter-size * 2);
    padding-left: rem.convert(layout.$gutter-size * 2);
  }

  .v-event__tag {
    margin-bottom: 0;
  }

  .v-event__title {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);

      .v-event__tag + & {
        margin-top: rem.convert(10px);
      }
    }
  }

  &:not(.v-event--horizontal) {

    .v-event__spec {
      padding-left: rem.convert(layout.$gutter-size * 6);
    }

      .v-event__icon {
        left: rem.convert(layout.$gutter-size * 2);
      }
  }
}


/**
** Type: Horizontal
****************************************/

.v-event--horizontal {
  .v-event__content {
    display: flex;
    flex-direction: column;

    > * {
      order: 2;
    }
  }

    .v-event__tag {
      order: 0;
      margin-bottom: rem.convert(layout.$gutter-size * 4);
    }

  @include mq.mq($until: large) {
    border-radius: rem.convert(44px);
  }

  @include mq.mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: rem.convert(800px);

    .v-event__content {
      flex: 1 1 auto;
      padding-top: rem.convert(layout.$gutter-size);
      padding-bottom: rem.convert(layout.$gutter-size);
    }

      .v-event__title:not(:first-child) {
        margin-top: 0;
      }
  }


  // Not pictured

  &.v-event:not(.v-event--pictured) {

    .v-event__content {
      flex-wrap: nowrap;
    }

      .v-event__tag {
        order: 2;
        margin-top: rem.convert(layout.$gutter-size);
        margin-bottom: 0;
      }

      .v-event__title {
        order: 1;
        margin-top: 0;

        &:not(:first-child) {
          margin-bottom: rem.convert(layout.$gutter-size);
        }
      }

    @include mq.mq($until: large) {
      padding: rem.convert(layout.$gutter-size * 3 - $border-width);

      .v-event__specs {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }

    @include mq.mq($from: large) {
      padding: rem.convert(layout.$gutter-size * 4 - $border-width);

      .v-event__content {
        flex: 0 0 57%;
        width: 57%;
        padding-right: rem.convert(layout.$gutter-size * 2);
      }

        .v-event__tag {
          margin-top: auto;
          margin-bottom: 0;
        }

      .v-event__specs {
        flex: 0 0 43%;
        width: 43%;
        padding-top: rem.convert(layout.$gutter-size);
        padding-bottom: rem.convert(layout.$gutter-size);
      }
    }
  }


  // Pictured

  &.v-event--pictured {

    @include mq.mq($until: large) {
      padding-bottom: rem.convert(layout.$gutter-size * 3 - $border-width);

      .v-event__picture {
        margin-top: rem.convert(- layout.$gutter-size * 2);
        margin-right: rem.convert(- layout.$gutter-size * 2);
        margin-left: rem.convert(- layout.$gutter-size * 2);
        width: rem.convert(320px);
        max-width: calc(100% + layout.$gutter-size * 4);
        height: rem.convert(176px);
        border-top-left-radius: rem.convert(44px);
        border-top-right-radius: rem.convert(44px);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        object-fit: cover;
      }

      .v-event__content {
        padding-top: rem.convert(layout.$gutter-size * 2);
        padding-right: rem.convert(layout.$gutter-size);
        padding-left: rem.convert(layout.$gutter-size);
      }

        .v-event__tag {
          margin-top: rem.convert(- layout.$gutter-size * 4 - 39px);
        }

        .v-event__title:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 4);
        }
    }

    @include mq.mq($from: large) {
      padding-bottom: rem.convert(layout.$gutter-size * 2 - $border-width);

      .v-event__picture {
        flex: 0 0 auto;
        object-fit: cover;
      }

      .v-event__content {
        flex-wrap: nowrap;
      }

        .v-event__tag {
          position: absolute;
          max-width: rem.convert(252px);
          margin-bottom: 0;
          bottom: rem.convert(layout.$gutter-size * 2 + 18px);
          left: rem.convert(layout.$gutter-size * 2 + 18px);
          z-index: 1;
        }

        .v-event__title {
          flex: 1 0 auto;
        }
    }
  }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-event {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
  }

    .v-event__content {
      break-inside: avoid;
      background-color: #fff;
      color: #000;
    }

      .v-event__tag {
        position: relative;
      }

      .v-event__icon {
        font-size: 1.25em;
        width: 1em;
        height: 1em;
      }
}
