/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Events
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";
@use "../settings/layout" as layout;

/*******************************************************************************
 * Variables
*******************************************************************************/

// $stack-gutter: 24px !default;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-events {}


/**
** Types
****************************************/

.v-events--large {}


  /**
  ** Grid
  ****************************************/

  .v-events__grid {}


    /**
    ** Heading
    ****************************************/

    .v-events__heading {
      display: flex;
      flex-wrap: nowrap;

      @include mq.mq($until: xlarge) {

        .v-events & {
          flex: 0 0 100%;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
        }
      }

      @include mq.mq($from: xlarge) {

        .v-events:not(.v-events--large) & {
          flex: 1 0 25%;
          flex-direction: column;
          justify-content: flex-end;
        }

        .v-events--large & {
          flex: 0 0 100%;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
        }
      }
    }


      /**
      ** Content
      ****************************************/

      .v-events__content {

        @include mq.mq($until: medium) {
          max-width: rem.convert(320px);
          margin-right: auto;
          margin-left: auto;
        }
      }


        /**
        ** Label
        ****************************************/

        .v-events__label {}


        /**
        ** Title
        ****************************************/

        .v-events__title {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }
        }


        /**
        ** Description
        ****************************************/

        .v-explore__description {

          &:not(:first-child) {

            @include mq.mq($until: medium) {
              margin-top: rem.convert(layout.$gutter-size * 2);
            }

            @include mq.mq($from: medium) {
              margin-top: rem.convert(layout.$gutter-size * 3);
            }
          }
        }


      /**
      ** Action
      ****************************************/

      .v-events__action {

        @include mq.mq($until: medium) {
          display: none;
        }

        @include mq.mq($from: medium, $until: xlarge) {

          .v-events & {
            flex: 0 0 auto;
            margin-left: rem.convert(layout.$gutter-size * 2);
          }
        }

        @include mq.mq($from: xlarge) {

          .v-events:not(.v-events--large) & {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }

          .v-events--large & {
            flex: 0 0 auto;
            margin-left: rem.convert(layout.$gutter-size * 2);
          }
        }
      }


  /**
  ** Item
  ****************************************/

  .v-events__item {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** More
  ****************************************/

  .v-events__more {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: rem.convert(layout.$gutter-size * 3);

    @include mq.mq($until: medium) {
      justify-content: center;
    }

    @include mq.mq($from: medium) {

      .v-events:not(.v-events--horizontal) & {
        display: none;
      }
    }
  }
