/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Explore
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-explore {

  @include mq.mq($until: medium) {
    max-width: rem.convert(440px);
  }

  @include mq.mq($from: medium, $until: xlarge) {
    max-width: rem.convert(920px);
  }

  @include mq.mq($until: xlarge) {
    margin-right: auto;
    margin-left: auto;
  }
}


/**
** Type: Horizontal
****************************************/

.v-explore--horizontal {}


  /**
  ** Container
  ****************************************/

  .v-explore__container {

    @include mq.mq($from: xlarge) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-right: rem.convert(- layout.$gutter-size * 2.5);
      margin-left: rem.convert(- layout.$gutter-size * 2.5);
    }
  }


    /**
    ** Aside
    ****************************************/

    .v-explore__aside {

      @include mq.mq($from: xlarge) {
        flex: 0 0 33.333%;
        width: 33.333%;
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);
      }
    }


      /**
      ** Label
      ****************************************/

      .v-explore__label {}


      /**
      ** Title
      ****************************************/

      .v-explore__title {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }
      }


      /**
      ** Description
      ****************************************/

      .v-explore__description {

        &:not(:first-child) {

          @include mq.mq($until: medium) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }

          @include mq.mq($from: medium) {
            margin-top: rem.convert(layout.$gutter-size * 3);
          }
        }
      }


      /**
      ** Button
      ****************************************/

      .v-explore__button {

        .v-explore--horizontal &:not(:first-child) {

          @include mq.mq($until: medium) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }

          @include mq.mq($from: medium) {
            margin-top: rem.convert(layout.$gutter-size * 3);
          }
        }

        .v-explore:not(.v-explore--horizontal) &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 5);
        }
      }


    /**
    ** Main
    ****************************************/

    .v-explore__main {

      @include mq.mq($until: medium) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 3);
        }
      }

      @include mq.mq($from: medium, $until: xlarge) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 5);
        }
      }

      @include mq.mq($from: xlarge) {
        flex: 0 0 66.666%;
        width: 66.666%;
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);
      }
    }


      /**
      ** Items
      ****************************************/

      .v-explore__items {

        .v-explore--horizontal & {

          @include mq.mq($from: medium) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-right: rem.convert(- layout.$gutter-size * 2.5);
            margin-left: rem.convert(- layout.$gutter-size * 2.5);
          }
        }

        .v-explore:not(.v-explore--horizontal) & {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 5);
          }
        }
      }


        /**
        ** Item
        ****************************************/

        .v-explore__item {

          .v-explore--horizontal & {

            @include mq.mq($until: medium) {

              &:not(:first-child) {
                margin-top: rem.convert(layout.$gutter-size * 3);
              }
            }

            @include mq.mq($from: medium) {
              padding-right: rem.convert(layout.$gutter-size * 2.5);
              padding-left: rem.convert(layout.$gutter-size * 2.5);
            }
          }

          .v-explore--horizontal:not(.v-explore--horizontal) & {

            &:not(:first-child) {
              margin-top: rem.convert(layout.$gutter-size * 3);
            }
          }
        }
