/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Field
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "yellow", "green", "red", "violet";

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-field {
  padding-right: rem.convert(layout.$gutter-size);
  padding-left: rem.convert(layout.$gutter-size);

  @include mq.mq($until: small) {
    padding-top: rem.convert(layout.$gutter-size);
    padding-bottom: rem.convert(layout.$gutter-size);
  }

  @include mq.mq($from: small) {
    padding-top: rem.convert(layout.$gutter-size * 1.5);
    padding-bottom: rem.convert(layout.$gutter-size * 1.5);
  }
}


/**
** Types
****************************************/

.v-field--hint-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


  /**
  ** Heading
  ****************************************/

  .v-field__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > *:not(:last-child) {
      padding-right: rem.convert(layout.$gutter-size);
    }

    &--center {
        margin-right: auto;
        margin-left: auto;
    }
  }


  /**
  ** Control
  ****************************************/

  .v-field__control {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size);
    }

    .v-field--hint-inline & {
      flex: 0 0 100%;
      width: 100%;
    }
  }


/**
 * Small
*******************************************************************************/

.v-field--small {
  padding: rem.convert(8px);
}
