/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Files
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-files {
  padding-top: rem.convert(layout.$gutter-size * 6);
  padding-bottom: rem.convert(layout.$gutter-size * 6);
  background-color: colors.get("grey");

  @include mq.mq($until: small) {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small) {
    border-radius: rem.convert(60px);
  }

  @include mq.mq($from: small, $until: large) {
    padding-right: rem.convert(layout.$gutter-size * 4.5);
    padding-left: rem.convert(layout.$gutter-size * 4.5);
  }

  @include mq.mq($from: large) {
    padding-right: rem.convert(layout.$gutter-size * 6);
    padding-left: rem.convert(layout.$gutter-size * 6);
  }


  /**
  ** Colors
  ****************************************/

  @each $color in $colors {
    body.page-event-#{$color} &,
    body.page-article-#{$color} & {
      background-color: colors.get("pale-#{$color}");
    }
  }
}


  /**
  ** Title
  ****************************************/

  .v-files__title {

  }


  /**
  ** Description
  ****************************************/

  .v-files__description {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Items
  ****************************************/

  .v-files__items {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Item
    ****************************************/

    .v-files__item {
      padding: rem.convert(layout.$gutter-size * 3);
      background-color: colors.get("background");

      &:first-child {
        border-top-left-radius: rem.convert(24px);
        border-top-right-radius: rem.convert(24px);
      }

      &:not(:first-child) {
        border-top: rem.convert(1px) solid colors.get("grey-700");
      }

      &:last-child {
        border-bottom-left-radius: rem.convert(24px);
        border-bottom-right-radius: rem.convert(24px);
      }

      @include mq.mq($from: medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }
    }


      /**
      ** Content
      ****************************************/

      .v-files__content {

        @include mq.mq($from: medium) {
          flex: 1 1 auto;
          padding-right: rem.convert(layout.$gutter-size * 2);
        }
      }


        /**
        ** Subtitle
        ****************************************/

        .v-files__subtitle {
          @include fonts.medium-text;
          font-weight: fonts.$bold;
        }


        /**
        ** Label
        ****************************************/

        .v-files__label {
          @include fonts.small-text;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }
        }


      /**
      ** Button
      ****************************************/

      .v-files__button {

        @include mq.mq($until: medium) {
          margin-top: rem.convert(layout.$gutter-size * 2);
        }

        @include mq.mq($from: medium) {
          flex: 0 0 auto;
        }
      }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-files {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
