/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Footer
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

@use "../../vega/tools/svg";

@use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-footer {}


  /**
  ** Head
  ****************************************/

  .v-footer__head {
    position: relative;
    z-index: 2;

    @include mq.mq($until: footer-medium) {

      &:before {
        content: '';
        position: absolute;
        top: rem.convert(69px);
        right: 0;
        bottom: rem.convert(-1px);
        left: 0;
        background-color: colors.get("primary");
        z-index: -1;
      }
    }
  }


    /**
    ** Utils
    ****************************************/

    .v-footer__utils {

      @include mq.mq($from: footer-medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      @include mq.mq($from: footer-medium, $until: footer-large) {
        margin-right: rem.convert(- layout.$gutter-size);
        margin-left: rem.convert(- layout.$gutter-size);
      }

      @include mq.mq($from: footer-large, $until: footer-xlarge) {
        margin-right: rem.convert(- layout.$gutter-size * 1.5);
        margin-left: rem.convert(- layout.$gutter-size * 1.5);
      }

      @include mq.mq($from: footer-xlarge) {
        margin-right: rem.convert(- layout.$gutter-size * 2.5);
        margin-left: rem.convert(- layout.$gutter-size * 2.5);
      }
    }


      /**
      ** Util
      ****************************************/

      .v-footer__util {

        @include mq.mq($until: footer-medium) {
          max-width: rem.convert(480px);
          margin-right: auto;
          margin-left: auto;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }
        }

        @include mq.mq($from: footer-medium) {
          flex: 0 0 33.333%;
          width: 33.333%;
          min-height: rem.convert(130px);
        }

        @include mq.mq($from: footer-medium, $until: footer-large) {
          padding-right: rem.convert(layout.$gutter-size);
          padding-left: rem.convert(layout.$gutter-size);
        }

        @include mq.mq($from: footer-large, $until: footer-xlarge) {
          padding-right: rem.convert(layout.$gutter-size * 1.5);
          padding-left: rem.convert(layout.$gutter-size * 1.5);
        }

        @include mq.mq($from: footer-xlarge) {
          padding-right: rem.convert(layout.$gutter-size * 2.5);
          padding-left: rem.convert(layout.$gutter-size * 2.5);
        }
      }


  /**
  ** Body
  ****************************************/

  .v-footer__body {
    position: relative;
    background-color: colors.get("primary");
    overflow: hidden;
    z-index: 1;

    @include mq.mq($until: footer-medium) {
      padding-top: rem.convert(layout.$gutter-size * 7);
      padding-bottom: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($from: footer-medium) {
      margin-top: rem.convert(-65px);
      padding-top: rem.convert(layout.$gutter-size * 9 + 65px);
      padding-bottom: rem.convert(layout.$gutter-size * 6.5);

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: -1;
      }

      &:before {
        width: rem.convert(468px);
        height: rem.convert(222px);
        top: 0;
        background-image: svg.icon("<svg viewBox=\"0 0 468 222\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M439.596 105.488c-16.05 34.75-39.829 65.056-74.47 86.151C330.787 212.551 289.741 222 243.001 222H.001144C.00143 216 0 121 0 121h243.001c33.259 0 54.9-6.676 69.592-15.624 14.391-8.7634 25.987-22.0516 35.312-42.2392C355.906 45.8135 361.67 24.793 365.71 0h102.066c-5.17 38.5898-13.843 74.4479-28.18 105.488Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\".000002\" y1=\"222\" x2=\"167.978\" y2=\"-157.963\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".24\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".2\"/></linearGradient></defs></svg>", colors.get("white"));
      }

      &:after {
        width: rem.convert(226px);
        height: rem.convert(430px);
        bottom: 0;
        background-image: svg.icon("<svg viewBox=\"0 0 226 430\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M174.493 23.796C190.708 14.3173 207.753 6.39635 225.326 0v111.072C123.485 170.69 75.8149 292.517 113.467 429.551H10.1771C-24.8588 265.667 30.7241 107.839 174.493 23.796Z\" fill=\"url(#a)\"/><defs><linearGradient id=\"a\" x1=\"225.326\" y1=\".202517\" x2=\"-129.288\" y2=\"221.56\" gradientUnits=\"userSpaceOnUse\"><stop stop-color=\"%color%\" stop-opacity=\".2\"/><stop offset=\"1\" stop-color=\"%color%\" stop-opacity=\".2\"/></linearGradient></defs></svg>", colors.get("white"));
      }
    }

    @include mq.mq($from: footer-medium, $until: footer-xlarge) {

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    @include mq.mq($from: footer-xlarge, $until: footer-wide) {

      &:before {
        right: calc(50% + #{rem.convert(396px)});
      }

      &:after {
        left: calc(50% + #{rem.convert(638px)});
      }
    }

    @include mq.mq($from: footer-wide) {

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }


    /**
    ** Map
    ****************************************/

    .v-footer__map {

      @include mq.mq($from: footer-medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }


      /**
      ** Aside
      ****************************************/

      .v-footer__aside {

        @include mq.mq($from: footer-medium) {
          flex: 1 1 rem.convert(464px);
          padding-right: rem.convert(layout.$gutter-size * 3);
        }
      }


        /**
        ** Brand
        ****************************************/

        .v-footer__brand {}


          /**
          ** Logo
          ****************************************/

          .v-footer__logo {
            display: block;

            @include mq.mq($until: footer-medium) {
              margin-right: auto;
              margin-left: auto;
            }
          }


        /**
        ** Networks
        ****************************************/

        .v-footer__networks {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 3);
          }

          @include mq.mq($from: medium, $until: footer-medium) {
            width: rem.convert(320px);
            margin-right: auto;
            margin-left: auto;
          }
        }


          /**
          ** Network
          ****************************************/

          .v-footer__network {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding-top: rem.convert(layout.$gutter-size);
            padding-bottom: rem.convert(layout.$gutter-size);


            /**
            ** Icon
            ****************************************/

            .v-footer__icon {
              flex: 0 0 auto;
              margin-right: rem.convert(layout.$gutter-size);
            }


            /**
            ** Link
            ****************************************/

            .v-footer__link {
              font-weight: fonts.$bold;

              &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
              }
            }
          }


      /**
      ** Main
      ****************************************/

      .v-footer__main {

        @include mq.mq($until: medium) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 6);
          }
        }

        @include mq.mq($from: medium) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-right: rem.convert(- layout.$gutter-size * 1.5);
          margin-left: rem.convert(- layout.$gutter-size * 1.5);
        }

        @include mq.mq($from: medium, $until: footer-medium) {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 7);
          }
        }

        @include mq.mq($from: footer-medium) {
          flex: 1 1 rem.convert(936px);
        }
      }


        /**
        ** Menu
        ****************************************/

        .v-footer__menu {

          @include mq.mq($until: medium) {

            &:not(:first-child) {
              margin-top: rem.convert(layout.$gutter-size * 6);
            }
          }

          @include mq.mq($from: medium) {
            flex: 0 0 33.333%;
            width: 33.333%;
            padding-right: rem.convert(layout.$gutter-size * 1.5);
            padding-left: rem.convert(layout.$gutter-size * 1.5);
          }
        }


          /**
          ** Title
          ****************************************/

          .v-footer__title {
            padding-bottom: rem.convert(layout.$gutter-size * 2);
            @include fonts.medium-text;
            font-weight: fonts.$bold;
            color: colors.get("grey-800");
            border-bottom: rem.convert(1px) solid colors.get("grey-700");
          }


            /**
            ** List
            ****************************************/

            .v-footer__list {

              &:not(:first-child) {
                margin-top: rem.convert(layout.$gutter-size * 2);
              }
            }


              /**
              ** Item
              ****************************************/

              .v-footer__item {


                /**
                ** Link
                ****************************************/

                .v-footer__link {
                  display: inline-block;
                  padding-top: rem.convert(layout.$gutter-size);
                  padding-bottom: rem.convert(layout.$gutter-size);
                  @include fonts.small-text;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }

                  &[aria-current] {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                  }
                }
              }


    /**
    ** Partners
    ****************************************/

    .v-footer__partners {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @include mq.mq($until: footer-medium) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 4);
        }
      }

      @include mq.mq($from: footer-medium) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 7);
        }
      }
    }


      /**
      ** Partner
      ****************************************/

      .v-footer__partner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        min-width: rem.convert(105px);
        padding-top: rem.convert(layout.$gutter-size * 1.5);
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-bottom: rem.convert(layout.$gutter-size * 1.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);
      }


    /**
    ** Insert
    ****************************************/

    .v-footer__insert {
      padding: rem.convert(layout.$gutter-size * 3);
      background-color: colors.get("grey-200");
      border-radius: rem.convert(layout.$gutter-size * 3);

      @include mq.mq($until: footer-medium) {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 4);
        }
      }

      @include mq.mq($from: footer-medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 7);
        }
      }
    }


      /**
      ** Text
      ****************************************/

      .v-footer__text {
        @include fonts.small-text;

        @include mq.mq($until: footer-medium) {
          text-align: center;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 3);
          }

          &:not(:last-child) {
            padding-bottom: rem.convert(layout.$gutter-size * 3);
            border-bottom: rem.convert(1px) solid colors.get("grey-700");
          }
        }

        @include mq.mq($from: footer-medium) {

          &:not(:first-child) {
            margin-left: rem.convert(layout.$gutter-size * 3);
          }

          &:not(:last-child) {
            flex: 0 0 auto;
            padding-right: rem.convert(layout.$gutter-size * 3);
            border-right: rem.convert(1px) solid colors.get("grey-700");
          }

          &:last-child {
            flex: 1 1 auto;
            text-align: right;
          }
        }

        a {
          font-weight: fonts.$bold;
        }
      }
