/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Form
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "yellow", "green", "red", "violet";

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-form {

  @include mq.mq($from: small) {
    padding-top: rem.convert(layout.$gutter-size * 7);
    padding-right: rem.convert(layout.$gutter-size * 5);
    padding-bottom: rem.convert(layout.$gutter-size * 5);
    padding-left: rem.convert(layout.$gutter-size * 5);
    background-color: colors.get("background");
    border-radius: rem.convert(60px);
    box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
  }
}


  /**
  ** Title
  ****************************************/

  .v-form__title {
    text-align: center;
  }


  /**
  ** Description
  ****************************************/

  .v-form__description {

    &:not(:first-child) {

      @include mq.mq($until: small) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }

      @include mq.mq($from: small) {
        margin-top: rem.convert(layout.$gutter-size * 4);
      }
    }
  }

  .v-form__description--centered {
    text-align: center;
  }


  /**
  ** Message
  ****************************************/

  .v-form__message {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 2);
    }
  }


  /**
  ** Fields
  ****************************************/

  .v-form__fields {
    margin-right: rem.convert(- layout.$gutter-size);
    margin-left: rem.convert(- layout.$gutter-size);

    @include mq.mq($until: small) {
      margin-top: rem.convert(- layout.$gutter-size);
      margin-bottom: rem.convert(- layout.$gutter-size);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }

    @include mq.mq($from: small) {
      margin-top: rem.convert(- layout.$gutter-size * 1.5);
      margin-bottom: rem.convert(- layout.$gutter-size * 1.5);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 1.5);
      }
    }
  }


    /**
    ** Row
    ****************************************/

    .v-form__row {

      @include mq.mq($from: medium) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;

        > * {
          flex: 0 0 50%;
          width: 50%;
        }
      }
    }


  /**
  ** Actions
  ****************************************/

  .v-form__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }
