/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Heading
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-heading {

  @include mq.mq($from: medium) {
    display: grid;
    grid-template:
        'suptitle button' auto
        'title button' auto / 1fr auto;
    align-items: end;
  }
}


  /**
  ** Suptitle
  ****************************************/

  .v-heading__suptitle {
    grid-area: suptitle;
  }


  /**
  ** Title
  ****************************************/

  .v-heading__title {
    grid-area: title;
  }


  /**
  ** Button
  ****************************************/

  .v-heading__button {
    grid-area: button;

    @include mq.mq($until: medium) {
      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }
  }
