/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Header
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

@use "../../vega/tools/svg";

@use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-header {
  @include mq.mq($until: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: rem.convert(98px);
    padding-right: rem.convert(layout.$gutter-size * 1.5);
    padding-left: rem.convert(layout.$gutter-size * 1.5);
  }

  .is-sticky & {
    @include mq.mq($until: large) {
      height: rem.convert(80px);
    }

    @include mq.mq($from: large) {
      .v-header__main {
        height: rem.convert(80px);
        padding-top: rem.convert(11px);
        padding-bottom: rem.convert(11px);
      }
    }
  }
}


  /**
  ** Burger
  ****************************************/

  .v-header__burger {}


  /**
  ** Wrapper
  ****************************************/

  .v-header__wrapper {

    @include mq.mq($until: large) {
      position: fixed;
      display: none;
      top: rem.convert(98px);
      right: 0;
      bottom: 0;
      left: 0;
      background-color: colors.get("grey");
      border-top: rem.convert(1px) solid colors.get("grey-600");
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 99;

      &.is-visible {
        display: block;
      }

      &.is-sublevel {

        .v-header__navigation--primary .v-header__button,
        .v-header__aside {
          display: none;
        }
      }

      .is-sticky & {
        top: rem.convert(80px);
      }
    }
  }


  /**
  ** Aside
  ****************************************/

  .v-header__aside {

    @include mq.mq($until: large) {

    }

    @include mq.mq($from: large) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      background-color: rgba(map.get(colors.$usables, "black"), 0.1);
    }

    @include mq.mq($from: large, $until: xlarge) {
      justify-content: flex-end;
    }

    @include mq.mq($from: xlarge) {
      justify-content: space-between;
    }

    @include mq.mq($from: wide) {
      padding-right: rem.convert(layout.$gutter-size * 0.5);
      padding-left: rem.convert(layout.$gutter-size * 0.5);
    }
  }


  /**
  ** Main
  ****************************************/

  .v-header__main {

    @include mq.mq($until: large) {
      padding-bottom: rem.convert(layout.$gutter-size * 2);
      background-color: colors.get("background");
    }

    @include mq.mq($from: large) {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: rem.convert(98px);
      padding-top: rem.convert(layout.$gutter-size * 2.5);
      padding-right: rem.convert(layout.$gutter-size * 1.5);
      padding-bottom: rem.convert(layout.$gutter-size * 2.5);
      padding-left: rem.convert(layout.$gutter-size * 1.5);
    }
  }


    /**
    ** Navigation
    ****************************************/

    .v-header__navigation {}

    .v-header__navigation--externals,
    .v-header__navigation--secondary {

      @include mq.mq($until: large) {
        padding-top: rem.convert(layout.$gutter-size * 2);
        padding-bottom: rem.convert(layout.$gutter-size * 2);
        border-top: rem.convert(1px) solid colors.get("grey-600");
      }
    }

    .v-header__navigation--externals {

      @include mq.mq($from: large, $until: xlarge) {
        display: none;
      }
    }

    .v-header__navigation--primary {

      @include mq.mq($until: large) {

      }
    }


      /**
      ** Home
      ****************************************/

      .v-header__home {

        @include mq.mq($from: large) {
          padding-right: rem.convert(layout.$gutter-size * 1.5);
          padding-left: rem.convert(layout.$gutter-size * 1.5);
        }
      }

      .v-header__home--mobile {

        @include mq.mq($until: large) {
          padding-right: rem.convert(layout.$gutter-size * 1.5);
          padding-left: rem.convert(layout.$gutter-size * 1.5);
        }

        @include mq.mq($from: large) {
          display: none;
        }
      }

      .v-header__home--desktop {

        @include mq.mq($until: large) {
          display: none;
        }
      }


        /**
        ** Logo
        ****************************************/

        .v-header__logo {
          display: block;
          max-width: 100%;

          @include mq.mq($from: large, $until: wide) {
            width: rem.convert(200px);
            height: rem.convert(48px);
          }
        }


      /**
      ** List
      ****************************************/

      .v-header__list {

        @include mq.mq($from: large) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
        }
      }


        /**
        ** Item
        ****************************************/

        .v-header__item {

          @include mq.mq($until: large) {
            line-height: 2;

            &:not(:first-child) {
              margin-top: rem.convert(layout.$gutter-size);
            }
          }

          @include mq.mq($from: large) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            &:not(.v-header__item--alt) {
              @include fonts.small-text;
            }
          }

          @include mq.mq($from: xlarge) {
            padding-top: rem.convert(layout.$gutter-size * 0.5);
            padding-bottom: rem.convert(layout.$gutter-size * 0.5);
          }

          @include mq.mq($from: wide) {
            padding-right: rem.convert(layout.$gutter-size * 0.5);
            padding-left: rem.convert(layout.$gutter-size * 0.5);
          }
        }

        .v-header__item--menu {

          @include mq.mq($from: large) {
            position: relative;
          }
        }

        .v-header__item--alt {

          @include mq.mq($from: large) {
            line-height: 2;
          }

          @include mq.mq($from: xlarge, $until: wide) {
            padding-right: rem.convert(layout.$gutter-size * 0.5);
            padding-left: rem.convert(layout.$gutter-size * 0.5);
          }
        }


          /**
          ** Link, Button
          ****************************************/

          .v-header__link,
          .v-header__button {
            @include appearance.appearance;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            text-decoration: none;

            @include mq.mq($until: large) {
              width: 100%;
              padding: rem.convert(layout.$gutter-size * 2);
              font-weight: fonts.$bold;
            }

            @include mq.mq($from: large) {
              padding: rem.convert(layout.$gutter-size);
              background-color: rgba(map.get(colors.$usables, "white"), 0.001);
              border-radius: rem.convert(layout.$gutter-size * 2);
              transition: background-color 0.2s ease;

              .v-header__item--alt & {
                padding-right: rem.convert(layout.$gutter-size * 2);
                padding-left: rem.convert(layout.$gutter-size * 2);
                border-radius: rem.convert(layout.$gutter-size * 3);
              }

              &:hover,
              &:active,
              &[aria-expanded="true"] {
                background-color: rgba(map.get(colors.$usables, "white"), 0.999);
              }
            }
          }


          /**
          ** Link
          ****************************************/

          .v-header__link {

            &[aria-current] {
              text-decoration: underline;
            }
          }


          /**
          ** Button
          ****************************************/

          .v-header__button {
            cursor: pointer;

            .v-header__item[aria-current] & {
              text-decoration: underline;
            }

            &[aria-expanded] {
              z-index: 99;

              &:after {
                content: '';
                display: block;
                width: rem.convert(20px);
                height: rem.convert(20px);
                margin-left: rem.convert(layout.$gutter-size * 0.5);
                background-image: svg.icon("<svg viewBox=\"0 0 20 20\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M10.0004 13.9999C9.41707 13.9999 8.83373 13.7749 8.39206 13.3332L2.95873 7.89988C2.71706 7.65821 2.71706 7.25821 2.95873 7.01655C3.2004 6.77488 3.6004 6.77488 3.84206 7.01655L9.2754 12.4499C9.6754 12.8499 10.3254 12.8499 10.7254 12.4499L16.1587 7.01655C16.4004 6.77488 16.8004 6.77488 17.0421 7.01655C17.2837 7.25821 17.2837 7.65821 17.0421 7.89988L11.6087 13.3332C11.1671 13.7749 10.5837 13.9999 10.0004 13.9999Z\" fill=\"%color%\" /></svg>", colors.get("foreground"));
                background-position: center;
                background-repeat: no-repeat;
              }

              @include mq.mq($until: large) {

                &:after {
                  margin-right: 0;
                  margin-left: auto;
                }

                &:active {
                  background-color: rgba(map.get(colors.$usables, "black"), 0.1);
                }
              }
            }

            .v-header__navigation--primary &[aria-expanded="true"] {

              @include mq.mq($from: large) {

                &:after {
                  display: none;
                }
              }
            }
          }


          // menu

          .v-header__item--menu .v-header__button[aria-expanded="true"] {

            @include mq.mq($until: large) {

              &:after {
                transform: rotate(180deg);
              }
            }

            @include mq.mq($from: large) {
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;

              &:after {
                background-image: svg.icon("<svg viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M5.1065 18.8945c-.29289-.2929-.29289-.7678 0-1.0607L17.8344 5.1059c.2929-.29289.7678-.29289 1.0607 0 .2929.29289.2929.76777 0 1.06066L6.16716 18.8945c-.29289.2929-.76776.2929-1.06066 0Z\" fill=\"%color%\"/><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M5.10639 5.10591c.29289-.2929.76777-.2929 1.06066 0L18.895 17.8338c.2929.2929.2929.7678 0 1.0607-.2929.2929-.7678.2929-1.0607 0L5.10639 6.16657c-.29289-.2929-.29289-.76777 0-1.06066Z\" fill=\"%color%\"/></svg>", colors.get("foreground"));
              }
            }
          }


          // alt

          .v-header__item--alt .v-header__button {

            @include mq.mq($until: large) {

              &[aria-expanded]:after {
                transform: rotate(-90deg);
              }
            }

            @include mq.mq($from: large) {

              &[aria-expanded] {
                position: relative;
                font-weight: fonts.$bold;
              }

              &[aria-expanded]:after {
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: 0;
                transform: translate3d(-50%, -100%, 0);
                opacity: 0.001;
                z-index: 1;
                transition: transform 0.2s ease, opacity 0.2s ease;
              }

              &[aria-expanded]:hover,
              &[aria-expanded]:active,
              &[aria-expanded="true"] {

                &:after {
                  transform: translate3d(-50%, #{rem.convert(-3px)}, 0);
                  opacity: 0.999;
                }
              }

              &[aria-expanded="true"] {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
          }


            /**
            ** Icon
            ****************************************/

            .v-header__icon {

              @include mq.mq($until: large) {
                margin-right: rem.convert(layout.$gutter-size * 2);
              }

              @include mq.mq($from: large) {
                margin-right: rem.convert(layout.$gutter-size * 0.5);
              }
            }


          /**
          ** Menu
          ****************************************/

          .v-header__menu {
            padding-top: rem.convert(layout.$gutter-size * 4.5);
            padding-right: rem.convert(layout.$gutter-size * 3.5);
            padding-bottom: rem.convert(layout.$gutter-size * 4.5);
            padding-left: rem.convert(layout.$gutter-size * 3.5);
            background-color: colors.get("white");

            @include mq.mq($from: large) {
              position: absolute;
              min-width: rem.convert(320px);
              border-top-left-radius: rem.convert(layout.$gutter-size * 3);
              border-bottom-right-radius: rem.convert(layout.$gutter-size * 3);
              border-bottom-left-radius: rem.convert(layout.$gutter-size * 3);
              box-shadow: rem.convert(0px 32px 48px -16px) rgba(map.get(colors.$usables, "black"), 0.2);
              z-index: 999;
            }

            @include mq.mq($from: large, $until: xlarge) {
              top: 100%;
            }

            @include mq.mq($from: large, $until: wide) {
              right: 0;
            }

            @include mq.mq($from: xlarge) {
              top: calc(100% - #{rem.convert(layout.$gutter-size * 0.5)});
            }

            @include mq.mq($from: wide) {
              right: rem.convert(layout.$gutter-size * 0.5);
            }
          }


            /**
            ** Entry
            ****************************************/

            .v-header__entry {

              &:not(:first-child) {

                @include mq.mq($until: large) {
                  margin-top: rem.convert(layout.$gutter-size * 2.5);
                }

                @include mq.mq($from: large) {
                  margin-top: rem.convert(layout.$gutter-size * 1.5);
                }
              }
            }


              /**
              ** Sublink
              ****************************************/

              .v-header__sublink {
                &[aria-current] {
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }


          /**
          ** Panel
          ****************************************/

          .v-header__panel {

            @include mq.mq($until: large) {
              position: fixed;
              top: rem.convert(98px);
              right: 0;
              bottom: 0;
              left: 0;
              border-top: rem.convert(1px) solid colors.get("grey-600");
              overflow-x: hidden;
              overflow-y: auto;
              z-index: 99;

              .is-sticky & {
                top: rem.convert(80px);
              }
            }

            @include mq.mq($from: large) {
              position: absolute;
              width: rem.convert(1164px);
              max-height: calc(100vh - var(--header-height) - var(--alert-height));
              top: 100%;
              margin-top: rem.convert(-25px);
              border-radius: rem.convert(layout.$gutter-size * 4.5);
              box-shadow: rem.convert(0px 32px 48px -16px) rgba(map.get(colors.$usables, "black"), 0.2);
              z-index: 9;

              .v-header__item:last-child & {
                border-top-right-radius: 0;
              }

              .is-sticky & {
                max-height: calc(100vh - var(--header-height) + var(--header-top-height));
              }
            }

            @include mq.mq($from: large, $until: xlarge) {
              max-width: calc(100% - #{rem.convert(layout.$gutter-size * 3)});
              right: rem.convert(layout.$gutter-size * 1.5);
            }

            @include mq.mq($from: xlarge) {
              max-width: calc(100% - #{rem.convert(layout.$gutter-size * 4)});
              right: rem.convert(layout.$gutter-size * 2);
            }
          }
