/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Illustrated
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "yellow", "green", "red", "violet";

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-illustrated {

  @include mq.mq($until: xlarge) {
    max-width: rem.convert(800px);
    margin-right: auto;
    margin-left: auto;
  }

  @include mq.mq($from: xlarge) {

    &:not(.v-illustrated--flex) {
      max-width: rem.convert(800px);
      margin-right: auto;
      margin-left: auto;
    }
  }
}


/**
** Types
****************************************/

.v-illustrated--flex {

  @include mq.mq($from: xlarge) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: rem.convert(- layout.$gutter-size * 2.5);
    margin-left: rem.convert(- layout.$gutter-size * 2.5);

    .l-stack--narrow & {
      display: block;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.v-illustrated--reverse {}


  /**
  ** Figure
  ****************************************/

  .v-illustrated__figure {

    @include mq.mq($from: xlarge) {

      .v-illustrated--flex & {
        flex: 0 0 50%;
        width: 50%;
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);

        .l-stack--narrow & {
          width: auto;
          padding-right: 0;
          padding-left: 0;
        }
      }

      .v-illustrated--reverse & {
        order: 2;
      }
    }
  }


  /**
  ** Content
  ****************************************/

  .v-illustrated__content {

    @include mq.mq($until: small) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($from: small, $until: xlarge) {
      margin-top: rem.convert(layout.$gutter-size * 4);
    }

    @include mq.mq($from: xlarge) {

      .v-illustrated--flex & {
        flex: 0 0 50%;
        width: 50%;
        padding-right: rem.convert(layout.$gutter-size * 2.5);
        padding-left: rem.convert(layout.$gutter-size * 2.5);

        .l-stack--narrow & {
          width: auto;
          margin-top: rem.convert(layout.$gutter-size * 5);
          padding-right: 0;
          padding-left: 0;
        }
      }

      .v-illustrated--reverse & {
        order: 1;
      }

      .v-illustrated:not(.v-illustrated--flex) & {
        margin-top: rem.convert(layout.$gutter-size * 5);
      }
    }
  }


    /**
    ** Label
    ****************************************/

    .v-illustrated__label {}


    /**
    ** Text
    ****************************************/

    .v-illustrated__text {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }


    /**
    ** Button
    ****************************************/

    .v-illustrated__button {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }
