/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Immersive
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-immersive {}


  /**
  ** Label
  ****************************************/

  .v-immersive__label {}


  /**
  ** Content
  ****************************************/

  .v-immersive__content {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Button
  ****************************************/

  .v-immersive__button {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($until: small) {
      width: 100%;
    }
  }
