/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Logos
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "yellow", "green", "red", "violet";

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-logos {}


  /**
  ** Title
  ****************************************/

  .v-logos__title {
    text-align: center;
  }


  /**
  ** Items
  ****************************************/

  .v-logos__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: rem.convert(- layout.$gutter-size * 1.5);
    margin-right: rem.convert(- layout.$gutter-size * 2.5);
    margin-bottom: rem.convert(- layout.$gutter-size * 1.5);
    margin-left: rem.convert(- layout.$gutter-size * 2.5);

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 1.5);
    }
  }

  .v-logos__items--big {}

  .v-logos__items--small {

    @include mq.mq($until: medium) {
      margin-right: rem.convert(- layout.$gutter-size * 1.5);
      margin-left: rem.convert(- layout.$gutter-size * 1.5);
    }
  }


    /**
    ** Figure
    ****************************************/

    .v-logos__figure {
      padding-top: rem.convert(layout.$gutter-size * 1.5);
      padding-right: rem.convert(layout.$gutter-size * 2.5);
      padding-bottom: rem.convert(layout.$gutter-size * 1.5);
      padding-left: rem.convert(layout.$gutter-size * 2.5);

      .v-logos__items--big & {

        @include mq.mq($until: small) {
          flex: 0 0 100%;
          width: 100%;
        }
      }

      .v-logos__items--small & {

        @include mq.mq($until: small) {
          flex: 0 0 50%;
          width: 50%;
        }

        @include mq.mq($until: medium) {
          padding-right: rem.convert(layout.$gutter-size * 1.5);
          padding-left: rem.convert(layout.$gutter-size * 1.5);
        }
      }
    }


      /**
      ** Inner
      ****************************************/

      .v-logos__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background-color: rgba(map.get(colors.$usables, "black"), 0.05);

        @include mq.mq($until: small) {
          width: 100%;
        }

        .v-logos__items--big & {
          height: rem.convert(200px);

          @include mq.mq($from: small) {
            width: rem.convert(300px);
          }
        }

        .v-logos__items--small & {
          height: rem.convert(110px);

          @include mq.mq($from: small) {
            width: rem.convert(163px);
          }
        }
      }


        /**
        ** Picture
        ****************************************/

        .v-logos__picture {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
        }


      /**
      ** Caption
      ****************************************/

      .v-logos__caption {
        @include fonts.small-text;
        color: colors.get("grey-900");

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }
      }
