/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Meetings
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-meetings {
  padding-top: rem.convert(layout.$gutter-size * 6);
  padding-right: rem.convert(layout.$gutter-size * 3);
  padding-left: rem.convert(layout.$gutter-size * 3);
  background-color: colors.get("pale-blue");

  @include mq.mq($until: medium) {
    padding-bottom: rem.convert(layout.$gutter-size * 6);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: medium) {
    padding-bottom: rem.convert(layout.$gutter-size * 9);
    border-radius: rem.convert(60px);
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-meetings--#{$color} {
    background-color: colors.get("pale-#{$color}");
  }
}


  /**
  ** Title, Description
  ****************************************/

  .v-meetings__title,
  .v-meetings__description {
    max-width: rem.convert(920px);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .v-meetings__title {}

  .v-meetings__description {

    @include mq.mq($until: medium) {
      margin-top: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: medium) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Grid
  ****************************************/

  .v-meetings__grid {

    @include mq.mq($until: medium) {
      margin-top: rem.convert(layout.$gutter-size * 4);
    }

    @include mq.mq($from: medium) {
      margin-top: rem.convert(layout.$gutter-size * 3.5);
    }
  }
