/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Opac
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-opac {
  position: relative;
  padding-top: rem.convert(layout.$gutter-size * 3);
  padding-right: rem.convert(layout.$gutter-size * 5);
  padding-bottom: rem.convert(layout.$gutter-size * 5);
  padding-left: rem.convert(layout.$gutter-size * 5);
  background-color: colors.get("background");
  border-radius: rem.convert(60px);
  box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);
  overflow: hidden;

  @include mq.mq($until: small) {

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }
}


  /**
  ** Text
  ****************************************/

  .v-opac__text {
    @include fonts.medium-text;

    @include mq.mq($from: medium) {
      padding-right: rem.convert(206px + layout.$gutter-size * 3);
    }
  }


  /**
  ** Form
  ****************************************/

  .v-opac__form {
    margin-right: rem.convert(- layout.$gutter-size);
    margin-left: rem.convert(- layout.$gutter-size);

    @include mq.mq($until: small) {
      margin-top: rem.convert(- layout.$gutter-size);
      margin-bottom: rem.convert(- layout.$gutter-size);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }

    @include mq.mq($from: small) {
      margin-top: rem.convert(- layout.$gutter-size * 1.5);
      margin-bottom: rem.convert(- layout.$gutter-size * 1.5);

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 1.5);
      }
    }

    @include mq.mq($from: medium) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
    }

    > *:not(:last-child) {
      flex: 1 1 auto;
    }

    > *:last-child {
      flex: 0 0 auto;
    }
  }


    /**
    ** Submit
    ****************************************/

    .v-opac__submit {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);

      @include mq.mq($until: small) {
        padding-top: rem.convert(layout.$gutter-size);
        padding-bottom: rem.convert(layout.$gutter-size);
      }

      @include mq.mq($from: small, $until: medium) {
        padding-top: rem.convert(layout.$gutter-size * 0.5);
        padding-bottom: rem.convert(layout.$gutter-size * 0.5);
      }

      @include mq.mq($until: medium) {

        > * {
          width: 100%;
        }
      }

      @include mq.mq($from: medium) {
        padding-top: rem.convert(layout.$gutter-size * 1.5);
        padding-bottom: rem.convert(layout.$gutter-size * 1.5);
      }
    }


  /**
  ** Button
  ****************************************/

  .v-opac__button {

    @include mq.mq($until: medium) {
      width: 100%;

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }

    @include mq.mq($from: medium) {
      position: absolute;
      top: rem.convert(layout.$gutter-size * 3 - 2px);
      right: rem.convert(layout.$gutter-size * 5);
      z-index: 1;
    }
  }
