/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Pagination
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  @include mq.mq($until: small) {
    flex-wrap: wrap;

    > :first-child:not(.v-pagination__items) {
      order: 1;
    }

    > :last-child:not(.v-pagination__items) {
      order: 2;
    }
  }
}


  /**
  ** Items
  ****************************************/

  .v-pagination__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }


    /**
    ** Item
    ****************************************/

    .v-pagination__item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding-right: rem.convert(layout.$gutter-size * 0.5);
      padding-left: rem.convert(layout.$gutter-size * 0.5);
    }


      /**
      ** Button
      ****************************************/

      .v-pagination__button {}


      /**
      ** Link
      ****************************************/

      .v-pagination__link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: rem.convert(40px);
        height: rem.convert(40px);
        @include fonts.small-text;
        font-weight: fonts.$bold;
        text-decoration: none;
        border-radius: rem.convert(20px);
        transition: background-color 0.2s ease, transform 0.2s ease;

        &:hover {
          background-color: colors.get("grey");
        }

        &:active {
          transform: translate3d(0, #{rem.convert(1px)}, 0);
          background-color: colors.get("grey-600");
        }

        &[aria-current="true"] {
          color: colors.get("background");
          background-color: colors.get("foreground");
        }
      }


      /**
      ** Ellipsis
      ****************************************/

      .v-pagination__ellipsis {
        padding-right: rem.convert(layout.$gutter-size * 2);
        padding-left: rem.convert(layout.$gutter-size);
        @include fonts.small-text;
        font-weight: fonts.$bold;
        color: colors.get("grey-700");
      }
