/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Panel
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "sass:map";
@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

@use "../../vega/tools/svg";

@use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-panel {
  background-color: colors.get("white");

  @include mq.mq($until: large) {
    padding-top: rem.convert(layout.$gutter-size * 6.75);
    padding-right: rem.convert(layout.$gutter-size * 1.5);
    padding-bottom: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 1.5);
  }

  @include mq.mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: rem.convert(layout.$gutter-size * 3.5);
  }
}


  /**
  ** Container
  ****************************************/

  .v-panel__container {
    @include mq.mq($from: large) {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-y: auto;
    }
  }


  /**
  ** Title
  ****************************************/

  .v-panel__title {

    @include mq.mq($from: large) {
      display: none;
    }
  }


  /**
  ** Section
  ****************************************/

  .v-panel__section {

    @include mq.mq($until: large) {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size);
      }
    }

    @include mq.mq($from: large) {
      flex: 0 0 33.333%;
      width: 33.333%;
      padding: rem.convert(layout.$gutter-size * 1.5);
    }
  }

  .v-panel__section--jump {

    @include mq.mq($until: large) {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 4);
      }
    }

    @include mq.mq($from: large) {
      margin-top: rem.convert(layout.$gutter-size * 5.75);
    }
  }


    /**
    ** Subtitle
    ****************************************/

    .v-panel__subtitle {
      display: block;
      padding-bottom: rem.convert(layout.$gutter-size);
      @include fonts.medium-text;
      color: colors.get("grey-800");
      border-bottom: rem.convert(1px) solid colors.get("grey-700");

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size * 2);
      }

      @include mq.mq($until: large) {
        padding-top: rem.convert(layout.$gutter-size * 3);
      }
    }


    /**
    ** List
    ****************************************/

    .v-panel__list {}


      /**
      ** Item
      ****************************************/

      .v-panel__item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        min-height: rem.convert(66px);
        padding-top: rem.convert(layout.$gutter-size);
        padding-right: rem.convert(layout.$gutter-size);
        padding-bottom: rem.convert(layout.$gutter-size);
        padding-left: rem.convert(layout.$gutter-size * 2);
        background-color: rgba(map.get(colors.$usables, "grey"), 0.001);
        border-radius: rem.convert(layout.$gutter-size * 2.5);
        transition: background-color 0.2s ease;

        &:hover {
          background-color: rgba(map.get(colors.$usables, "grey"), 0.999);
        }

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }
      }


        /**
        ** Link, Label
        ****************************************/

        .v-panel__link {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          font-weight: fonts.$bold;
          text-decoration: none;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: rem.convert(layout.$gutter-size * 2.5);
            z-index: 1;
          }

          .v-panel__item:hover &,
          &[aria-current] {
            text-decoration: underline;
          }
        }


        /**
        ** Description
        ****************************************/

        .v-panel__description {
          @include fonts.small-text;
          color: colors.get("grey-800");
        }


    /**
    ** Jump
    ****************************************/

    .v-panel__jump {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      padding-top: rem.convert(layout.$gutter-size * 3);
      padding-right: rem.convert(layout.$gutter-size * 4);
      padding-bottom: rem.convert(layout.$gutter-size * 3);
      padding-left: rem.convert(layout.$gutter-size * 4);
      background-color: colors.get("grey");
      border: rem.convert(3px) solid colors.get("grey");
      border-radius: rem.convert(layout.$gutter-size * 2.5);
      transition: border-color 0.2s ease;

      &:hover {
        border-color: colors.get("black");
      }
    }


      /**
      ** Button
      ****************************************/

      .v-panel__button {

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size);
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: rem.convert(layout.$gutter-size * 2.5);
          z-index: 1;
        }
      }


  /**
  ** Close
  ****************************************/

  .v-panel__close {
    @include appearance.appearance;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    @include fonts.small-text;
    font-weight: fonts.$bold;
    text-decoration: underline;
    cursor: pointer;
    z-index: 1;

    &:hover {
      text-decoration: none;
    }
  }

  .v-panel__close--desktop {

    @include mq.mq($until: large) {
      display: none;
    }

    @include mq.mq($from: large) {
      top: rem.convert(layout.$gutter-size * 5);
      right: rem.convert(layout.$gutter-size * 5);

      .v-panel__container > & {
        top: rem.convert(layout.$gutter-size * 1.5);
        right: rem.convert(layout.$gutter-size * 1.5);
      }
    }
  }

  .v-panel__close--mobile {

    @include mq.mq($until: large) {
      top: rem.convert(layout.$gutter-size * 3);
      left: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: large) {
      display: none;
    }
  }


    /**
    ** Icon
    ****************************************/

    .v-panel__icon {
      flex: 0 0 auto;

      @include mq.mq($until: large) {
        order: -1;
        margin-right: rem.convert(layout.$gutter-size);
      }

      @include mq.mq($from: large) {
        margin-left: rem.convert(layout.$gutter-size);
      }
    }
