/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Podcast
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-podcast {}


  /**
  ** Title
  ****************************************/

  .v-podcast__title {}


  /**
  ** Container
  ****************************************/

  .v-podcast__container {
    background-color: colors.get("grey");
    border-radius: rem.convert(36px);

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($until: medium) {
      padding-top: rem.convert(layout.$gutter-size * 5);
      padding-right: rem.convert(layout.$gutter-size * 3);
      padding-bottom: rem.convert(layout.$gutter-size * 3);
      padding-left: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($from: medium) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: rem.convert(layout.$gutter-size * 4);
    }
  }


    /**
    ** Aside
    ****************************************/

    .v-podcast__aside {

      @include mq.mq($until: medium) {
        text-align: center;
      }

      @include mq.mq($from: medium) {
        flex: 0 0 rem.convert(160px);
        width: rem.convert(160px);
      }
    }


      /**
      ** Picture
      ****************************************/

      .v-podcast__picture {
        border-radius: rem.convert(8px);
      }


    /**
    ** Main
    ****************************************/

    .v-podcast__main {

      @include mq.mq($until: medium) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }

      @include mq.mq($from: medium) {
        flex: 1 1 auto;
        padding-left: rem.convert(layout.$gutter-size * 4);
      }
    }


      /**
      ** Subtitle
      ****************************************/

      .v-podcast__subtitle {

        @include mq.mq($until: medium) {
          text-align: center;
        }
      }


      /**
      ** Content
      ****************************************/

      .v-podcast__content {
        margin-top: rem.convert(layout.$gutter-size);

        @include mq.mq($until: medium) {
          text-align: center;
        }
      }


      /**
      ** Checkpoint
      ****************************************/

      .v-podcast__checkpoint {
        margin-top: rem.convert(layout.$gutter-size);
        background-color: colors.get("background");
        border-radius: rem.convert(16px);

        @include mq.mq($until: medium) {
          padding-top: rem.convert(layout.$gutter-size * 2);
          padding-right: rem.convert(layout.$gutter-size * 2.5);
          padding-bottom: rem.convert(layout.$gutter-size * 2);
          padding-left: rem.convert(layout.$gutter-size * 2.5);
        }

        @include mq.mq($from: medium) {
          padding: rem.convert(layout.$gutter-size * 3);
        }
      }


        /**
        ** Button
        ****************************************/

        .v-podcast__button {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }
        }


    /**
    ** Element
    ****************************************/

    .v-podcast__element {
      width: 100%;

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }

      .v-podcast--soundcloud & {
        height: rem.convert(166px);
      }

      .v-podcast--ausha & {

        @include mq.mq($until: 548px) {
          height: rem.convert(500px);
        }

        @include mq.mq($from: 548px) {
          height: rem.convert(220px);
        }
      }
    }


    /**
    ** Transcript
    ****************************************/

    .v-podcast__transcript {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-podcast__container {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
