/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Post
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-post {
  position: relative;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: colors.get("primary");
  border-radius: rem.convert($border-radius);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: rem.convert(3px) solid colors.get("black");
    border-radius: rem.convert($border-radius);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;
  }

  &:hover {

    &:before {
      opacity: 1;
    }
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-post--#{$color} {
    background-color: colors.get("pale-#{$color}");

    .v-post__content {
      background-color: colors.get("pale-#{$color}");
    }
  }
}


  /**
  ** Picture
  ****************************************/

  .v-post__picture {
    border-top-left-radius: rem.convert($border-radius);
  }


  /**
  ** Content
  ****************************************/

  .v-post__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: colors.get("primary");
    border-radius: rem.convert($border-radius);

    @include mq.mq($until: small) {
      padding-top: rem.convert(layout.$gutter-size * 3);
      padding-right: rem.convert(layout.$gutter-size * 4);
      padding-bottom: rem.convert(layout.$gutter-size * 3);
      padding-left: rem.convert(layout.$gutter-size * 4);
    }

    @include mq.mq($from: small) {
      padding-top: rem.convert(layout.$gutter-size * 5);
      padding-right: rem.convert(layout.$gutter-size * 5);
      padding-bottom: rem.convert(layout.$gutter-size * 4);
      padding-left: rem.convert(layout.$gutter-size * 5);
    }

    > * {
      order: 1;
    }
  }


    /**
    ** Title
    ****************************************/

    .v-post__title {}


      /**
      ** Link
      ****************************************/

      .v-post__link {
        text-decoration: none;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: rem.convert($border-radius);
          z-index: 1;
        }

        @include mq.mq($until: medium) {
          text-decoration: underline;
        }

        @include mq.mq($from: medium) {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }


    /**
    ** Headline
    ****************************************/

    .v-post__metas {
      order: 0;
      margin-bottom: rem.convert(layout.$gutter-size * 2);
    }


      /**
      ** Tag
      ****************************************/

      .v-post__tag {}


      /**
      ** Publication
      ****************************************/

      .v-post__publication {
        @include fonts.small-text;
        color: colors.get("grey-900");
      }


    /**
    ** Description
    ****************************************/

    .v-post__description {

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size * 2);
      }
    }


    /**
    ** Button
    ****************************************/

    .v-post__button {
      margin-top: auto;
      margin-bottom: 0;
    }



/**
** MODE: VERTICAL
****************************************/

.v-post:not(.v-post--horizontal) {

  .v-post__tag:not(:first-child) {
    margin-top: rem.convert(layout.$gutter-size * 2);
  }

  .v-post__title:not(:last-child) {
    margin-bottom: rem.convert(layout.$gutter-size * 2);
  }
}



/**
** MODE: PICTURED
****************************************/

.v-post--pictured {
  display: flex;
  flex-wrap: nowrap;

  .v-post__content {

    &:before {
      background-color: colors.get("primary");
    }
  }

  @each $color in $colors {
    &.v-post--#{$color} .v-post__content:before {
      background-color: colors.get("pale-#{$color}");
    }
  }
}



/**
** MODE: VERTICAL, PICTURED
****************************************/

.v-post--pictured:not(.v-post--horizontal) {
  flex-direction: column;
  max-width: rem.convert(440px);

  .v-post__picture {
    border-top-right-radius: rem.convert($border-radius);
  }

  .v-post__content {
    flex: 1 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:before {
      content: '';
      display: block;
      height: rem.convert(50px);
      border-top-left-radius: rem.convert(50px);
      border-top-right-radius: rem.convert(50px);
    }

    @include mq.mq($until: small) {
      padding-top: rem.convert(layout.$gutter-size * 4);

      &:before {
        width: calc(100% + #{ rem.convert(layout.$gutter-size * 8) });
        margin-top: rem.convert(- layout.$gutter-size * 4 - 50px);
        margin-right: rem.convert(- layout.$gutter-size * 4);
        margin-left: rem.convert(- layout.$gutter-size * 4);
      }
    }

    @include mq.mq($from: small) {

      &:before {
        width: calc(100% + #{ rem.convert(layout.$gutter-size * 10) });
        margin-top: rem.convert(- layout.$gutter-size * 5 - 50px);
        margin-right: rem.convert(- layout.$gutter-size * 5);
        margin-left: rem.convert(- layout.$gutter-size * 5);
      }
    }
  }

    .v-post__metas {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

      .v-post__publication {
        order: 2;
      }

      .v-post__tag {
        order: 1;

        &:first-child,
        &:not(:first-child) {
          margin-top: rem.convert(- 50px - layout.$gutter-size * 2.5);
        }

        &:not(:first-child) {

          @include mq.mq($until: small) {
            margin-bottom: rem.convert(layout.$gutter-size * 1.5);
          }

          @include mq.mq($from: small) {
            margin-bottom: rem.convert(layout.$gutter-size * 2);
          }
        }
      }
}



/**
** MODE: HORIZONTAL
****************************************/

.v-post--horizontal {

  .v-post__metas {

    @include mq.mq($from: small) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

    .v-post__publication {

      @include mq.mq($from: small) {
        order: 2;
      }
    }

    .v-post__tag {

      @include mq.mq($from: small) {
        order: 1;

        &:not(:first-child) {
          margin-right: rem.convert(layout.$gutter-size * 2);
        }
      }
    }

  .v-post__title:not(:last-child) {
    margin-bottom: rem.convert(layout.$gutter-size);
  }

  .v-post__description {

    @include mq.mq($from: large) {
      @include fonts.medium-text;
    }
  }
}



/**
** MODE: HORIZONTAL, NOT PICTURED
****************************************/

.v-post--horizontal:not(.v-post--pictured) {

  .v-post__tag {

    @include mq.mq($until: small) {

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 2);
      }
    }
  }
}



/**
** MODE: HORIZONTAL, PICTURED
****************************************/

.v-post--horizontal.v-post--pictured {

  @include mq.mq($until: medium) {
    flex-direction: column;
    max-width: rem.convert(440px);

    .v-post__picture {
      border-top-right-radius: rem.convert($border-radius);
    }

    .v-post__content {
      flex: 1 0 auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:before {
        content: '';
        display: block;
        height: rem.convert(50px);
        border-top-left-radius: rem.convert(50px);
        border-top-right-radius: rem.convert(50px);
      }

      @include mq.mq($until: small) {
        padding-top: rem.convert(layout.$gutter-size * 4);

        &:before {
          width: calc(100% + #{ rem.convert(layout.$gutter-size * 8) });
          margin-top: rem.convert(- layout.$gutter-size * 4 - 50px);
          margin-right: rem.convert(- layout.$gutter-size * 4);
          margin-left: rem.convert(- layout.$gutter-size * 4);
        }
      }

      @include mq.mq($from: small) {

        &:before {
          width: calc(100% + #{ rem.convert(layout.$gutter-size * 10) });
          margin-top: rem.convert(- layout.$gutter-size * 5 - 50px);
          margin-right: rem.convert(- layout.$gutter-size * 5);
          margin-left: rem.convert(- layout.$gutter-size * 5);
        }
      }
    }

      .v-post__metas {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
      }

        .v-post__publication {
          order: 2;
        }

        .v-post__tag {
          order: 1;

          &:first-child,
          &:not(:first-child) {
            margin-top: rem.convert(- 50px - layout.$gutter-size * 2.5);
          }

          &:not(:first-child) {

            @include mq.mq($until: small) {
              margin-bottom: rem.convert(layout.$gutter-size * 1.5);
            }

            @include mq.mq($from: small) {
              margin-bottom: rem.convert(layout.$gutter-size * 2);
            }
          }
        }
  }

  @include mq.mq($from: medium) {
    flex-direction: row;

    .v-post__picture {
      flex: 0 0 32.64%;
      width: 32.64%;
      border-bottom-left-radius: rem.convert($border-radius);
      object-fit: cover;
    }

    .v-post__content {
      flex: 1 1 auto;
      padding-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: rem.convert(50px);
        top: 0;
        bottom: 0;
        margin-left: rem.convert(- 50px);
        border-top-left-radius: rem.convert(50px);
        border-bottom-left-radius: rem.convert(50px);
      }
    }
  }
}

/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-post {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }

    .v-post__content {
      break-inside: avoid;
      background-color: #fff;
      color: #000;
    }

    .v-post__tag {
      position: relative;
    }

  .v-post.v-post--pictured {
    .v-post__content {
      &::before {
        z-index: 0;
        background-color: #fff !important;
      }
    }
  }
}
