/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Resource
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-resource {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: colors.get("primary");
  border: rem.convert($border-width) solid colors.get("primary");
  border-radius: rem.convert($border-radius);
  transition: border-color 0.2s ease;

  &:hover {
    border-color: colors.get("black");
  }

  &:not(.v-resource--horizontal) {
    max-width: rem.convert(440px);

    @include mq.mq($until: small) {
      padding-top: rem.convert(layout.$gutter-size * 2 - $border-width);
      padding-right: rem.convert(layout.$gutter-size * 2 - $border-width);
      padding-bottom: rem.convert(layout.$gutter-size * 3 - $border-width);
      padding-left: rem.convert(layout.$gutter-size * 2 - $border-width);
    }

    @include mq.mq($from: small) {
      padding-top: rem.convert(layout.$gutter-size * 4 - $border-width);
      padding-right: rem.convert(layout.$gutter-size * 4 - $border-width);
      padding-bottom: rem.convert(layout.$gutter-size * 5 - $border-width);
      padding-left: rem.convert(layout.$gutter-size * 4 - $border-width);
    }
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-resource--#{$color} {
    background-color: colors.get("pale-#{$color}");
    border-color: colors.get("pale-#{$color}");
  }
}


  /**
  ** Picture
  ****************************************/

  .v-resource__picture {
    width: 100%;
    max-width: rem.convert(376px);
    height: auto;
    border-radius: rem.convert(36px);

    &:not(:last-child) {
      margin-bottom: rem.convert(layout.$gutter-size * 3);
    }
  }


  /**
  ** Tag
  ****************************************/

  .v-resource__tag {}


  /**
  ** Title
  ****************************************/

  .v-resource__title {

    @include mq.mq($until: small) {
      padding-right: rem.convert(layout.$gutter-size * 2);
      padding-left: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: small) {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size);
      }
    }
  }


    /**
    ** Title
    ****************************************/

    .v-resource__link {

      &:before {
        content: '';
        position: absolute;
        top: rem.convert(-$border-width);
        right: rem.convert(-$border-width);
        bottom: rem.convert(-$border-width);
        left: rem.convert(-$border-width);
        border-radius: rem.convert($border-radius);
        z-index: 1;
      }

      @include mq.mq($from: large) {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }


  /**
  ** Description
  ****************************************/

  .v-resource__description {

    @include mq.mq($until: small) {
      padding-right: rem.convert(layout.$gutter-size * 2);
      padding-left: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: small) {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);
    }
  }


  /**
  ** Specs
  ****************************************/

  .v-resource__specs {
    margin-top: auto;
    margin-bottom: 0;

    @include mq.mq($until: small) {
      padding-right: rem.convert(layout.$gutter-size * 2);
      padding-left: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: small) {
      padding-right: rem.convert(layout.$gutter-size);
      padding-left: rem.convert(layout.$gutter-size);
    }
  }


    /**
    ** Spec
    ****************************************/

    .v-resource__spec {
      position: relative;
      padding-left: rem.convert(layout.$gutter-size * 4);
      font-size: rem.convert(17px);
      line-height: 1.5;

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size);
      }

      strong {
        font-weight: fonts.$bold;
      }
    }


      /**
      ** Icon
      ****************************************/

      .v-resource__icon {
        position: absolute;
        top: rem.convert(layout.$gutter-size * 0.25);
        left: 0;
        z-index: 1;
      }


      /**
      ** Text
      ****************************************/

      .v-resource__text {

        &--stroke {
          text-decoration-line: line-through;
        }
      }


/**
** Type: Default
****************************************/

.v-resource:not(.v-resource--horizontal) {

  .v-resource__description {

    @include mq.mq($until: small) {

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size * 2);
      }
    }

    @include mq.mq($from: small) {

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size * 3);
      }
    }
  }
}


/**
** Type: Default Pictured
****************************************/

.v-resource--pictured:not(.v-resource--horizontal) {

  .v-resource__tag {

    & + .v-resource__title {
      margin-top: rem.convert(layout.$gutter-size * 2)
    }

    @include mq.mq($until: small) {
      margin-bottom: rem.convert(layout.$gutter-size * 1.5);
      padding-left: rem.convert(layout.$gutter-size * 2);

      &:not(:first-child) {
        margin-top: rem.convert(- layout.$gutter-size * 3 - 20px);
      }
    }

    @include mq.mq($from: small) {
      margin-bottom: rem.convert(layout.$gutter-size * 5);
      padding-left: rem.convert(layout.$gutter-size * 2);

      &:not(:first-child) {
        margin-top: rem.convert(- layout.$gutter-size * 3 - 39px - layout.$gutter-size * 2);
      }
    }
  }
}


/**
** Type: Default Not Pictured
****************************************/

.v-resource:not(.v-resource--pictured.v-resource--horizontal) {

  .v-resource__tag {

    @include mq.mq($until: small) {
      margin-bottom: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: small) {
      margin-bottom: rem.convert(layout.$gutter-size * 3);
    }
  }
}


/**
** Type: Horizontal
****************************************/

.v-resource--horizontal {

  @include mq.mq($until: large) {
    max-width: rem.convert(327px);
  }

  @include mq.mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: rem.convert(800px);
    padding: rem.convert(layout.$gutter-size * 2 - $border-width);
  }

  .v-resource__content {

    @include mq.mq($until: small) {
      padding-right: rem.convert(layout.$gutter-size - $border-width);
      padding-left: rem.convert(layout.$gutter-size - $border-width);
    }

    @include mq.mq($from: small, $until: large) {
      padding-right: rem.convert(layout.$gutter-size * 2 - $border-width);
      padding-left: rem.convert(layout.$gutter-size * 2 - $border-width);
    }

    @include mq.mq($until: large) {
      padding-top: rem.convert(layout.$gutter-size * 2);
      padding-bottom: rem.convert(layout.$gutter-size * 3 - $border-width);
    }

    @include mq.mq($from: large) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: rem.convert(layout.$gutter-size);
    }
  }

    .v-resource__description {

      &:not(:last-child) {
        margin-bottom: rem.convert(layout.$gutter-size);
      }
    }
}


/**
** Type: Horizontal Pictured
****************************************/

.v-resource--horizontal.v-resource--pictured {

  @include mq.mq($until: large) {
    border-radius: rem.convert(44px);
  }

  .v-resource__illustration {

    @include mq.mq($until: large) {
      position: relative;
      margin-top: rem.convert(- $border-width);
      margin-right: rem.convert(- $border-width);
      margin-left: rem.convert(- $border-width);
      padding-top: 42.5%;
    }

    @include mq.mq($from: large) {
      flex: 0 1 rem.convert(288px);
    }
  }

    .v-resource__picture {

      @include mq.mq($until: large) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        border-top-left-radius: rem.convert(44px);
        border-top-right-radius: rem.convert(44px);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        object-fit: cover;
        z-index: 1;
      }
    }

  .v-resource__content {

    @include mq.mq($from: large) {
      flex: 0 1 rem.convert(364px);
    }
  }

    .v-resource__tag {
      display: none;
    }
}


/**
** Type: Horizontal Not Pictured
****************************************/

.v-resource--horizontal:not(.v-resource--pictured) {

  .v-resource__tag:not(:last-child) {
    margin-bottom: rem.convert(layout.$gutter-size);
  }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-resource {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }

    .v-resource__tag {
      z-index: 1;
    }

    .v-resource__icon {
      width: 1em;
      height: 1em;
      font-size: 1.25em;
    }
}
