/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: RSS
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-rss {
  padding: rem.convert(layout.$gutter-size * 3);
  background-color: colors.get("grey");
  border-radius: rem.convert(48px);

  @include mq.mq($until: large) {
    text-align: center;
  }

  @include mq.mq($from: large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}


  /**
  ** Illustration
  ****************************************/

  .v-rss__illustration {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: colors.get("grey-300");
    border-radius: rem.convert(30px);

    @include mq.mq($until: small) {
      width: rem.convert(64px);
      height: rem.convert(64px);
    }

    @include mq.mq($from: small) {
      width: rem.convert(86px);
      height: rem.convert(86px);
    }

    @include mq.mq($until: large) {
      margin-right: auto;
      margin-left: auto;
    }

    @include mq.mq($from: large) {
      flex: 0 0 auto;
    }
  }


    /**
    ** Icon
    ****************************************/

    .v-rss__icon {
      display: block;

    @include mq.mq($until: small) {
      width: rem.convert(32px);
      height: rem.convert(32px);
    }
    }


  /**
  ** Content
  ****************************************/

  .v-rss__content {

    @include mq.mq($until: small) {
      margin-top: rem.convert(layout.$gutter-size);
    }

    @include mq.mq($from: small, $until: large) {
      margin-top: rem.convert(layout.$gutter-size * 2);
    }

    @include mq.mq($from: large) {
      flex: 1 1 auto;
      padding-left: rem.convert(layout.$gutter-size * 3);
      padding-right: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Title
    ****************************************/

    .v-rss__title {}


    /**
    ** Description
    ****************************************/

    .v-rss__description {
      margin-top: rem.convert(layout.$gutter-size);

      a {
        font-weight: fonts.$bold;
      }
    }


  /**
  ** Button
  ****************************************/

  .v-rss__button {

    @include mq.mq($until: large) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }

    @include mq.mq($from: large) {
      flex: 0 0 auto;
    }
  }

/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-rss {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
