/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Search
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $colors: "yellow", "green", "red", "violet";

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-search {
  position: relative;
  z-index: 3;

  @include mq.mq($until: medium) {
    margin-top: rem.convert(- layout.$gutter-size * 5);
  }

  @include mq.mq($from: medium, $until: xlarge) {
    margin-top: rem.convert(- layout.$gutter-size * 9);
  }

  @include mq.mq($from: xlarge) {
    margin-top: rem.convert(- layout.$gutter-size * 13);
  }
}


  /**
  ** Form
  ****************************************/

  .v-search__form {
    padding: rem.convert(layout.$gutter-size * 3);
    background-color: colors.get("background");
    border-radius: rem.convert(44px);
    box-shadow: rem.convert(0 5px 28px) rgba(map.get(colors.$usables, "black"), 0.08);

    @include mq.mq($until: medium) {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }


    /**
    ** Main
    ****************************************/

    .v-search__main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: rem.convert(- layout.$gutter-size * 1.5);
      margin-right: rem.convert(- layout.$gutter-size);
      margin-bottom: rem.convert(- layout.$gutter-size * 1.5);
      margin-left: rem.convert(- layout.$gutter-size);

      @include mq.mq($until: small) {

        > * {
          flex: 0 0 100%;
          width: 100%;
        }
      }

      @include mq.mq($from: small, $until: large) {

        > *:first-child {
          flex: 0 0 100%;
          width: 100%;
        }

        > *:not(:first-child) {
          flex: 0 0 50%;
          width: 50%;
        }
      }

      @include mq.mq($from: large) {

        > *:first-child {
          flex: 0 0 66.666%;
          width: 66.666%;
        }

        > *:not(:first-child) {
          flex: 0 0 33.333%;
          width: 33.333%;
        }
      }

      &--center {
        justify-content: center;
      }
    }


    /**
    ** Additional
    ****************************************/

    .v-search__additional {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-top: rem.convert(layout.$gutter-size * 3);
      margin-right: rem.convert(- layout.$gutter-size);
      margin-bottom: rem.convert(- layout.$gutter-size * 1.5);
      margin-left: rem.convert(- layout.$gutter-size);
      padding-top: rem.convert(layout.$gutter-size * 1.5);

      &:before {
        content: '';
        position: absolute;
        height: rem.convert(1px);
        top: 0;
        right: rem.convert(layout.$gutter-size);
        left: rem.convert(layout.$gutter-size);
        background-color: colors.get("grey");
        z-index: 1;
      }

      > * {

        @include mq.mq($until: small) {
          flex: 0 0 100%;
          width: 100%;
        }

        @include mq.mq($from: small, $until: medium) {
          flex: 0 0 50%;
          width: 50%;
        }

        @include mq.mq($from: medium, $until: large) {
          flex: 0 0 33.333%;
          width: 33.333%;
        }

        @include mq.mq($from: large) {
          flex: 0 0 25%;
          width: 25%;
        }
      }
    }


    /**
    ** Actions
    ****************************************/

    .v-search__actions {
      margin-top: rem.convert(layout.$gutter-size * 3);

      @include mq.mq($until: small) {
        text-align: center;
      }

      @include mq.mq($from: small) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
      }
    }


      /**
      ** Toggle
      ****************************************/

      .v-search__toggle {

        &[aria-expanded="true"] {

          .c-button__icon {
            transform: rotate(180deg);
          }
        }
      }


      /**
      ** Submit
      ****************************************/

      .v-search__submit {

        @include mq.mq($until: small) {
          width: 100%;

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }
        }
      }


/*******************************************************************************
 * Modifiers
*******************************************************************************/

.v-search--classic {
  .v-search__main {
    @include mq.mq($from: small, $until: large) {
      > * {
        flex: 0 0 50%;
        width: 50%;
      }
    }

    @include mq.mq($from: large) {
      > * {
        flex: 0 0 33.333%;
        width: 33.333%;
      }
    }
  }
}
