/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Series
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

$border-width: 3px;
$border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-series {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: rem.convert(440px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: colors.get("primary");
  border: rem.convert($border-width) solid colors.get("primary");
  border-radius: rem.convert($border-radius);
  transition: border-color 0.2s ease;

  &:hover {
    border-color: colors.get("black");
  }

  @include mq.mq($until: small) {
    padding-top: rem.convert(layout.$gutter-size * 2 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 2 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 2 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 2 - $border-width);
  }

  @include mq.mq($from: small) {
    padding-top: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-right: rem.convert(layout.$gutter-size * 4 - $border-width);
    padding-bottom: rem.convert(layout.$gutter-size * 5 - $border-width);
    padding-left: rem.convert(layout.$gutter-size * 4 - $border-width);
  }

  > * {
    order: 2;
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-series--#{$color} {
    background-color: colors.get("pale-#{$color}");
    border-color: colors.get("pale-#{$color}");
  }
}


  /**
  ** Picture
  ****************************************/

  .v-series__picture {
    order: 0;

    @include mq.mq($until: small) {
      border-radius: rem.convert(48px);
    }

    @include mq.mq($from: small) {
      border-radius: rem.convert(24px);
    }
  }


  /**
  ** Title
  ****************************************/

  .v-series__title {

    @include mq.mq($until: small) {
      margin-top: rem.convert(layout.$gutter-size * 1.5);
    }

    @include mq.mq($from: small) {
      margin-top: rem.convert(layout.$gutter-size * 2.5);
      margin-bottom: rem.convert(layout.$gutter-size);
    }
  }


    /**
    ** Link
    ****************************************/

    .v-series__link {
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      &:hover {
        text-decoration: underline;
      }
    }


  /**
  ** Tag
  ****************************************/

  .v-series__tag {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: rem.convert(-20px);
  }


  /**
  ** Description
  ****************************************/

  .v-series__description {
    margin-bottom: rem.convert(layout.$gutter-size * 2);
  }


  /**
  ** Button
  ****************************************/

  .v-series__button {
    margin-top: auto;
    margin-bottom: 0;
  }


/**
** Type: HORIZONTAL
****************************************/

.v-series--horizontal {

  @include mq.mq($from: medium) {
    flex-direction: row;
    align-items: center;
    max-width: none;
    padding-bottom: rem.convert(layout.$gutter-size * 4 - $border-width);
    text-align: left;

    .v-series__picture {
      flex: 0 0 rem.convert(232px);
      width: rem.convert(232px);
    }

    .v-series__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > * {
        order: 2;
      }

      &:not(:first-child) {
        padding-left: rem.convert(layout.$gutter-size * 5);
      }
    }

      .v-series__tag {
        order: 1;
        justify-content: flex-start;
        margin-top: inherit;
      }
  }
}


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-series {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }

    .v-series__tag {
      position: relative;
    }
}
