/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Topics
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
@use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

$colors: "yellow", "green", "red", "blue";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-topics {
  background-color: colors.get("primary");

  @include mq.mq($until: small) {
    padding-right: rem.convert(layout.$gutter-size * 3);
    padding-left: rem.convert(layout.$gutter-size * 3);

    .l-container & {
      margin-right: rem.convert(- layout.$gutter-size * 3);
      margin-left: rem.convert(- layout.$gutter-size * 3);
    }
  }

  @include mq.mq($from: small) {
    border-radius: rem.convert(60px);
  }

  @include mq.mq($from: small, $until: medium) {
    padding-right: rem.convert(layout.$gutter-size * 4.5);
    padding-left: rem.convert(layout.$gutter-size * 4.5);
  }

  @include mq.mq($from: medium, $until: large) {
    padding-right: rem.convert(layout.$gutter-size * 6);
    padding-left: rem.convert(layout.$gutter-size * 6);
  }

  @include mq.mq($until: large) {
    padding-top: rem.convert(layout.$gutter-size * 6);
    padding-bottom: rem.convert(layout.$gutter-size * 6);
  }

  @include mq.mq($from: large) {
    padding: rem.convert(layout.$gutter-size * 8);
  }
}


/**
** Colors
****************************************/

@each $color in $colors {
  .v-topics--#{$color} {
    background-color: colors.get("pale-#{$color}");
  }
}


  /**
  ** Container
  ****************************************/

  .v-topics__container {

    @include mq.mq($from: large) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }


    /**
    ** Title
    ****************************************/

    .v-topics__title {

      @include mq.mq($until: large) {
        text-align: center;
      }

      @include mq.mq($from: large) {
        flex: 1 1 41.38%;
        width: 41.38%;
      }
    }


    /**
    ** Items
    ****************************************/

    .v-topics__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: rem.convert(- layout.$gutter-size);
      margin-bottom: rem.convert(- layout.$gutter-size);

      @include mq.mq($until: large) {
        justify-content: center;
        margin-right: rem.convert(- layout.$gutter-size);
        margin-left: rem.convert(- layout.$gutter-size);

        &:not(:first-child) {
          margin-top: rem.convert(layout.$gutter-size * 4);
        }
      }

      @include mq.mq($from: large) {
        flex: 1 1 58.62%;
        width: 58.62%;

        &:not(:first-child) {
          padding-left: rem.convert(layout.$gutter-size * 4);
        }
      }
    }


      /**
      ** Item
      ****************************************/

      .v-topics__item {
        padding: rem.convert(layout.$gutter-size);
      }


        /**
        ** Link
        ****************************************/

        .v-topics__link {
          position: relative;
          display: block;
          padding-top: rem.convert(layout.$gutter-size * 0.5);
          padding-right: rem.convert(layout.$gutter-size * 3);
          padding-bottom: rem.convert(layout.$gutter-size * 0.5);
          padding-left: rem.convert(layout.$gutter-size * 3);
          font-weight: fonts.$bold;
          text-align: center;
          text-decoration: none;
          background-color: colors.get("background");
          border: rem.convert(1px) solid colors.get("black");
          border-radius: rem.convert(24px);

          &:before {
            content: '';
            position: absolute;
            top: rem.convert(-1px);
            right: rem.convert(-1px);
            bottom: rem.convert(-1px);
            left: rem.convert(-1px);
            border: rem.convert(4px) solid colors.get("black");
            border-radius: rem.convert(24px);
            opacity: 0;
            z-index: 1;
            transition: opacity 0.15s ease;
          }

          &:hover {
            text-decoration: underline;

            &:before {
              opacity: 1;
            }
          }
        }


/*******************************************************************************
 * Print
*******************************************************************************/

@media print {
  .v-topics {
    break-inside: avoid;
    background-color: #fff;
    color: #000;
    border: rem.convert(2px) solid;
  }
}
