/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Video
 * Type: View
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use 'sass:math';
// @use "sass:map";

@use "sass-mq/mq";
@use "sass-rem/rem";

@use "../settings/layout" as layout;
@use "../settings/fonts" as fonts;
@use "../settings/colors" as colors;

// @use "../../vega/tools/svg";

// @use "../tools/appearance";

/*******************************************************************************
 * Variables
*******************************************************************************/

// $border-width: 3px;
// $border-radius: 60px;

/*******************************************************************************
 * Default styles
*******************************************************************************/

.v-video {}


  /**
  ** Title
  ****************************************/

  .v-video__title {}


  /**
  ** Container
  ****************************************/

  .v-video__container {
    position: relative;

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }


    /**
    ** Picture
    ****************************************/

    .v-video__picture {
      border-top-left-radius: rem.convert(36px);
      border-top-right-radius: rem.convert(36px);

      @include mq.mq($from: medium) {
        border-bottom-left-radius: rem.convert(36px);
        border-bottom-right-radius: rem.convert(36px);
      }
    }


    /**
    ** Main
    ****************************************/

    .v-video__main {
      background-color: colors.get("grey");

      @include mq.mq($until: medium) {
        padding: rem.convert(layout.$gutter-size * 3);
        border-bottom-right-radius: rem.convert(36px);
        border-bottom-left-radius: rem.convert(36px);
      }

      @include mq.mq($from: medium) {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        right: rem.convert(layout.$gutter-size * 2);
        bottom: rem.convert(layout.$gutter-size * 2);
        left: rem.convert(layout.$gutter-size * 2);
        border-radius: rem.convert(20px);
        overflow: hidden;
        z-index: 1;
      }
    }


      /**
      ** Inner
      ****************************************/

      .v-video__inner {

        @include mq.mq($from: medium) {
          flex: 0 0 60%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          width: 60%;
          padding: rem.convert(layout.$gutter-size * 4);
        }
      }


        /**
        ** Subtitle
        ****************************************/

        .v-video__subtitle {}


        /**
        ** Content
        ****************************************/

        .v-video__content {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size);
          }
        }


      /**
      ** Checkpoint
      ****************************************/

      .v-video__checkpoint {
        padding: rem.convert(layout.$gutter-size * 3);
        background-color: colors.get("background");

        @include mq.mq($until: medium) {
          margin-top: rem.convert(layout.$gutter-size * 2);
          border-radius: rem.convert(layout.$gutter-size * 1.5);
        }

        @include mq.mq($from: medium) {
          flex: 0 0 40%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          width: 40%;
        }
      }


        /**
        ** Button
        ****************************************/

        .v-video__button {

          &:not(:first-child) {
            margin-top: rem.convert(layout.$gutter-size * 2);
          }
        }


  /**
  ** Wrapper
  ****************************************/

  .v-video__wrapper {

    .v-video.is-active & {
      position: relative;
      padding-top: 56.25%;

      &:not(:first-child) {
        margin-top: rem.convert(layout.$gutter-size * 3);
      }
    }
  }


    /**
    ** Element
    ****************************************/

    .v-video__element {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }


  /**
  ** Transcript
  ****************************************/

  .v-video__transcript {

    &:not(:first-child) {
      margin-top: rem.convert(layout.$gutter-size * 3);
    }
  }
