{# *****************************************************************************
** Type: LAYOUT
** Name: Front
******************************************************************************** #}

<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        {% if app.environment != 'prod' or 'dcsrv.eu' in app.request.host %}
	        <meta name="robots" content="noindex,nofollow,noarchive,nosnippet">
        {% endif %}

        <title>{% if form|default and not form.vars.valid|default %}Erreur de saisie dans le formulaire - {% endif %}{% block title %}{{ page is defined ? page.metaTitle|default(page.title)|default }}{% endblock %} - Les Champs Libres</title>

        {% block metatags %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app-shop-entry', null, 'app.shop') }}
        {% endblock %}

        {{ sylius_template_event('sylius.shop.layout.head') }}

        {% block json_ld %}
            {% include '@SyliusShop/_layouts/front/microdata.html.twig' %}
        {% endblock %}
    </head>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <body class="pushable{% block body_class %}{% endblock %}" id="top">
        {{ sylius_template_event('sylius.shop.layout.before_body') }}



        {# ***********************************************
        ** SKIPLINKS
        ************************************************** #}

        {% block skiplinks %}
            {% include ui('skiplinks') with {
                showOnFocus: true,
                anchors: [
                    { label: 'luna.ui.front.skiplinks.content'|trans, url: "#main" },
                    { label: 'luna.ui.front.skiplinks.navigation'|trans, url: "#navigation" },
                    { label: 'luna.ui.front.skiplinks.footer'|trans, url: "#footer" },
                ]
            } only %}
        {% endblock %}



        {# ***********************************************
        ** MESSAGE
        ************************************************** #}

        {% block messages %}
            {{ render_esi(controller('App\\Controller\\FrontController::alertMessage')) }}
        {% endblock %}



        {# ***********************************************
        ** PAGE
        ************************************************** #}

        <div class="l-page pusher" id="page" data-route="{{ app.request.get('_route') }}">



            {# ***********************************************
            ** HEAD
            ************************************************** #}

            {% block header %}
                <div class="l-page__head js-page-head" id="page-head">
                    {{ render_esi(controller('App\\Controller\\FrontController::header', { currentUrl: app.request.uri, breadcrumb: breadcrumb|default([]) })) }}
                </div>
            {% endblock %}



            {# ***********************************************
            ** FLASHES
            ************************************************** #}

            {% include '@SyliusShop/_flashes.html.twig' %}



            {# ***********************************************
            ** BODY
            ************************************************** #}

            <div class="l-page__body" id="page-body">
                {{ sylius_template_event('sylius.shop.layout.before_content') }}



                {# ***********************************************
                ** MAIN
                ************************************************** #}

                {% block main %}
                    <main class="l-page__main l-main{% block main_class %}{% endblock %}" id="main" role="main" tabindex="-1">
                        {% block content %}
                        {% endblock %}
                    </main>
                {% endblock %}



                {{ sylius_template_event('sylius.shop.layout.after_content') }}
            </div>



            {# ***********************************************
            ** FOOT
            ************************************************** #}

            <div class="l-page__foot" id="page-foot">
                {% block footer %}
                    {{ render_esi(controller('App\\Controller\\FrontController::footer')) }}
                {% endblock %}
            </div>


        </div>



        {# ***********************************************
        ** JAVASCRIPTS
        ************************************************** #}

        {% block javascripts %}
            {% if app.environment|default('prod') == 'dev' %}
                <script id="__bs_script__">//<![CDATA[
                    (function() {
                        try {
                            var script = document.createElement('script');
                            if ('async') {
                                script.async = true;
                            }
                            script.src = 'http://localhost:3001/browser-sync/browser-sync-client.js?v=2.29.3';
                            if (document.body) {
                                document.body.appendChild(script);
                            } else if (document.head) {
                                document.head.appendChild(script);
                            }
                        } catch (e) {
                            console.error("Browsersync: could not append script tag", e);
                        }
                    })()
                //]]></script>
            {% endif %}

            {{ encore_entry_script_tags('app-shop-entry', null, 'app.shop') }}
        {% endblock %}



        {{ sylius_template_event('sylius.shop.layout.after_body') }}



    </body>
</html>
