{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Rubrique)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}

{% import '@SyliusShop/Macro/pagination.html.twig' as pagination %}



{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': taxon|default(page) } %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed_title}}" href="{{ feed_url }}" />
{% endblock %}



{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %}{% endblock %}



{# ***********************************************
** TITLE
************************************************** #}

{% set title = taxon.title|default(page.title) %}

{% if resources.data.currentPageResults|length %}
    {% set title = title ~ " : " ~ resources.data.currentPage ~ " sur " ~ resources.data.nbPages %}
{% endif %}

{% if taxon is not empty %}
    {% set title = title ~  " - Le Mag" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}



{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">

        {% include ui('banner') with {
            type: "staggered",
            notched: false,
            title: taxon.title|default(page.title),
            description: taxon.description|default,
            breadcrumb: breadcrumb|default,
        } only %}

        {% if not taxon_type or 'category' == taxon_type %}
            {% include '@SyliusShop/Article/_partials/_categories.html.twig' %}
        {% endif %}

    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">



                {# ***********************************************
                ** NO EMPTY
                ************************************************** #}

                {% if resources.data.currentPageResults|length %}
                    <section class="l-stack__item">



                        {# ***********************************************
                        ** RESULTS
                        ************************************************** #}

                        {% set item_current = resources.data.currentPageResults|length %}
                        {% set item_total = resources.data.nbResults %}
                        {% set page_current = resources.data.currentPage %}
                        {% set page_total = resources.data.nbPages %}

                        <div class="l-stack__element">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>



                        {# ***********************************************
                        ** GRID
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--xlarge">
                            <div class="l-grid l-grid--narrow">
                                {% for resource in resources.data %}
                                    <div class="l-grid__item">
                                        {% include ui('post') with {
                                            color: resource.color.value|default,
                                            picture: resource.mainImage,
                                            title: {
                                                level: 2,
                                                text: resource.title
                                            },
                                            tag: {
                                                icon: resource.category.icon,
                                                label: resource.category.title
                                            },
                                            publication_date: resource.publishedAt|formatted_date,
                                            link: {
                                                label: "Lire l'article",
                                                href: path('app_article_show', { page_slug: page_slug, category_slug: resource.category.slug, slug: resource.slug })
                                            }
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>



                        {# ***********************************************
                        ** RESULTS
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--large">
                            {% include ui('results') with {
                                items: { current: item_current, total: item_total },
                                pages: { current: page_current, total: page_total }
                            } only %}
                        </div>



                        {# ***********************************************
                        ** PAGINATION
                        ************************************************** #}

                        <div class="l-stack__element l-stack__element--large">
                            {{ pagination.simple(resources.data) }}
                        </div>



                    </section>



                {# ***********************************************
                ** AUCUN RÉSULTAT
                ************************************************** #}


                {% else %}
                    <section class="l-stack__item">
                        <div class="l-stack__element l-stack__element--xlarge s-richtext u-text-align-center">
                            <h2>Aucun article</h2>
                            <p>
                                Aucun résultat ne correspond à votre recherche.
                            </p>
                        </div>
                        <div class="l-stack__element u-flex-align-center">
                            {% include ui('button') with {
                                mode: false,
                                icon: 'arrow-right',
                                label: "Retourner à l'accueil du Mag",
                                attributes: {
                                    href: path('luna_page_show', { slug: under_pages_slug_by_code('articles') }),
                                }
                            } only %}
                        </div>
                    </section>
                {% endif %}



                {# ***********************************************
                ** RSS FEED
                ************************************************** #}

                <div class="l-stack__item">
                    {% include '@SyliusShop/Article/_partials/_feeds.html.twig' %}
                </div>



            </div>
        </div>
    </div>

{% endblock %}
