{# *****************************************************************************
** Type: TEMPLATE
** Name: Articles (Show)
******************************************************************************** #}

{% extends '@SyliusShop/_layouts/front.html.twig' %}

{# ***********************************************
** SEO
************************************************** #}

{% block metatags %}
    {{ parent() }}
    {% include '@SyliusShop/_layouts/front/head.html.twig' with { 'resource': article } %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed_title}}" href="{{ feed_url }}" />
{% endblock %}

{# ***********************************************
** BODY CLASS
************************************************** #}

{% block body_class %} page-article{{ article.color ? ' page-article-' ~ article.color.value }}{% endblock %}

{# ***********************************************
** MAIN CLASS
************************************************** #}

{% block main_class %} js-article-container-btn{% endblock %}

{# ***********************************************
** TITLE
************************************************** #}

{% block title %}{{ article.title }} - Le Mag{% endblock %}

{# ***********************************************
** JSON LD
************************************************** #}

{% block json_ld %}
    {% set _json_ld = {
        '@context': "https://schema.org",
        '@type': "NewsArticle",
        'headline': article.title,
        'datePublished': article.publishedAt|date("c"),
    } %}

    {% if article.updatedAt|default %}
        {% set _json_ld = _json_ld|merge({
            'dateModified': article.updatedAt|date("c"),
        }) %}
    {% endif %}

    {% if article.author|default %}
        {% set _json_ld = _json_ld|merge({
            'author': [{ '@type': "Person", 'name': article.author }],
        }) %}
    {% endif %}

    {% if article.mainImage|default %}
        {% set _json_ld = _json_ld|merge({
            'image': [ absolute_url(asset(article.mainImage.image)|imagine_filter('figure_large')) ],
        }) %}
    {% endif %}

    {% set json_ld = json_ld|default([])|merge([_json_ld]) %}

    {{ parent() }}
{% endblock %}

{# ***********************************************
** CONTENT
************************************************** #}

{% block content %}



    {# ***********************************************
    ** HEAD
    ************************************************** #}

    <div class="l-main__head">
        {% include ui('banner') with {
            type: "post",
            color: article.color.value|default,
            notched: true,
            breadcrumb: breadcrumb,
            title: article.title,
            cc_title: true,
            description: false,
            tag: {
                icon: article.category.icon,
                label: article.category.title,
                href: path('app_article_category_show', { 'slug': article.category.slug, 'page_slug': under_pages_slug_by_code('articles')})
            },
            mentions: [
                {
                    icon: "write",
                    label: "Écrit par",
                    value: article.author,
                    cc_author: true
                },
                {
                    icon: "papers",
                    label: "Licence",
                    value: article.license
                },
                {
                    icon: "calendar",
                    label: "Publié le",
                    value: article.publishedAt|formatted_date
                }
            ],
            picture: article.mainImage
        } only %}
    </div>



    {# ***********************************************
    ** BODY
    ************************************************** #}

    <div class="l-main__body">
        <div class="l-stack">
            <div class="l-container l-container--xlarge">

                {% set elements = monsieurbiz_richeditor_get_elements(article.blocks) %}

                {% if elements|default %}
                    {% for element in elements %}
                        {% set loop_element_id = "#{element.code}-#{loop.index}" %}
                        {{ element|monsieurbiz_richeditor_render_element }}
                    {% endfor %}
                {% endif %}

                <div class="l-stack__item">
                    {% include '@SyliusShop/Article/_partials/_feeds.html.twig' with { taxon: article.category } %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}
